body, input, textarea{
  font-size: 16px;
  color: #707070;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  color: #062D55;
  font-family: 'Arapey', serif;
}
h3 {
    font-size: 36px;
}
img{
  max-width: 100%;
  height: auto;
}
a{
  outline: none;
}
a:hover{
  text-decoration: none;
}
p{
  margin: 0 0 25px;
}
p b {
    color: #062d55;
}
.clear {
    clear: both;
}
.container {
    max-width: 1366px;
    margin: 0 auto;
}
.btn {
    border-color: transparent;
    outline: none;
    border: none;
}
.btn-warning {
    background: #CCC099;
    border-color: transparent;
    border-radius: 0;
}
.grad-btn {
    background: linear-gradient(to right, rgb(203,191,151), rgb(187,165,94));
}
/* Body CSS End */


/* Header CSS Start */
.header-top-wrap {
    padding: 20px 0;
}
.navbar-expand-lg {
    padding: 0;
}
.nav-wrap .navbar-expand-lg .navbar-nav .nav-link {
    color: #707070;
    font-size: 14px;
    padding: 0;
}
.nav-wrap .navbar-expand-lg .navbar-nav .nav-item {
    padding-right: 20px;
}
.nav-wrap .navbar-expand-lg .navbar-nav .nav-item:last-child {
    padding-right: 0;
}
.header-contact ul {
    padding: 0;
    margin: 0;
    text-align: right;
}
.header-contact li {
    list-style: none;
    font-size: 16px;
    color: #1C3243;
    font-family: 'Source Sans Pro', sans-serif;
}
.header-contact li a {
    color: #1C3243;
    font-weight: 700;
}


.header-btm-wrap {
    background: #062D55;
    padding: 15px 0;
}
.menu-bottom {
    padding: 0;
    margin: 0;
    /*margin-left: 30px;*/
}
.menu-bottom li {
    display: inline-block;
    border-right: 1px solid #CCC099;
    vertical-align: top;
}
.menu-bottom li:last-child {
    border-right: none;
}
.menu-bottom li a {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0 12px;
}
.payment-btn {
    text-align: right;
}
.payment-btn .btn-warning {
    font-size: 16px;
    padding: 0 15px;
    color: #1C3243;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}
/* Header CSS End */

/* BAnner CSS Start */

.banner-wrap {
    position: relative;
}
.banner-left {
    width: 50%;
    background: rgb(174, 197, 202, 0.1);
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 1%, 55% 100%, 20% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 1%, 55% 100%, 20% 100%, 0 100%, 0 0);
    position: relative;
    padding-top: 30px;
    height: 1000px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: -150px;
}
.banner-right {
    width: 61.3%;
     background: url(../images/hp-atf-bg.png) center center no-repeat; 
    background-size: cover;
    min-height: 530px;
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-left: -500px;
}
.banner-right img {
    width: 100%;
}

.banner-content {
    max-width: 406px;
    transform: translateX(100%);
}
.banner-content h3 {
    margin-bottom: 0;
    line-height: 1;
}
.banner-content span {
    font-size: 20px;
    color: #707070;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    text-align: right;
    display: block;
    padding-bottom: 20px;
}
.banner-content ul {
    padding: 0;
    margin: 0;
    padding-bottom: 30px;
}
.banner-content li {
    list-style: none;
    padding-left: 25px;
    position: relative;
}
.banner-content li:before {
    content: ' ';
    width: 5px;
    height: 5px;
    background: #2B4570;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 13px;
    border-radius: 50%;
}
.banner-content .btn-warning {
    padding: 10px 50px;
    color: #fff;
    font-weight: 600;
    border: none;
    position: relative;
    margin-top: 70px;
    line-height: 1.3;
}   
.banner-content .btn-warning:before {
    content: ' ';
    width: 2px;
    height: 39px;
    display: inline-block;
    background: #CCC099;
    position: absolute;
    top: -70px;
    right: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
} 

.btn-scroll {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 27%;
    text-align: center;
}
.btn-scroll a {
    font-size: 18px;
    font-weight: 600;
    color: #DCDCDD;
    position: relative;
    padding-left: 33px;
}
.btn-scroll a:before {
    content: ' ';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #AEC5CA;
    width: 12px;
    height: 12px;
    display: inline-block;
    position: absolute;
    left: 7px;
    top: 11px;
}
/* BAnner CSS End */ 


/* Law Sec CSS Start */
.law-wrap {
    position: relative;
}
.law-sec {
    max-width: 1190px;
    margin-left: auto;
}
.law-title {
    text-align: center;
    margin-top: -185px;
    padding-bottom: 60px;
}
.law-title h1 {
    font-size: 68px;
    line-height: 1;
    margin-bottom: 0;
}
.law-title h2 {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 0;
}

.img-sec {
    min-height: 370px;
    margin-bottom: 90px;
}
.img-sec img {
    height: 370px;
    width: 100%;
}
.law-text {
    padding: 0 70px 0 50px;
    margin-bottom: 90px;
}
.law-text p{
    margin-bottom: 0;
}
.law-wrap:before {
    content: ' ';
    width: 49%;
    height: 2px;
    background: rgb(28,50,67, 0.1);
    display: inline-block;
    position: absolute;
    right: 0;
    top: 22.5%;
}
/*.law-text:before {
    content: ' ';
    width: 640px;
    height: 2px;
    background: rgb(28,50,67, 0.1);
    display: inline-block;
    position: absolute;
    right: 0;
    top: -100px;
}*/

.tri-list {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 183px;
    right: 0;
    left: 26%;
    text-align: center;
}
.tri-list li {
    display: inline-block;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #AEC5CA;
    width: 20px;
    height: 20px;
    margin-right: 7px;
}


.rating-sec {
    padding-bottom: 90px;
}
.rating-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.rating-list li {
    display: inline-block;
    vertical-align: top;
}
.rating-list li  img{
    width: 100px;
    height: 100px;
}

/* Law Sec CSS End */

/* Lead text SEc Start */
.yellow-bg-wrap {
    background: rgb(204,192,153, 0.6);
    padding: 90px 0 40px;
}
.lead-text {
    max-width: 1070px;
    margin: 0 auto;#707070
}
.lead-text h3 {
    margin-bottom: 40px;
}
.lead-text-right p {
    padding-left: 40px;
}
.lead-text  p {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 40px;
    line-height: 1.7;
}
.lc-img{
    text-align: center;
}
.lc-img img {
    width: 165px;
    height: 150px;
}

/* Lead text SEc End */

/* Boxes Sec CSS Start */
.boxes-wrap {
    position: relative;
    padding: 50px 0 0 0;
}
.boxes-inner {
    max-width: 1070px;
    margin: 0 auto;
}

.txt-box {
    background: #1C3243;
    padding: 20px;
}
.box-content {
    border: 1px solid #455765;
    padding: 50px 60px 20px 20px;
}
.box-content h4 {
    font-size: 32px;
    color: #b8bcc0;
    margin-bottom: 20px;
    line-height: 1.1;
}
.box-content p {
    color: #b8bcc0;
    line-height: 2;
}
.doll-box {
    width: 610px;
    position: absolute;
    top: -180px;
    right: 15px;
}
.box-right .txt-box {
    margin-top: 60%;
}
.box-right .box-content {
    padding: 40px 30px 40px 20px;
}

.box-text-sec {
    margin-top: -180px; 
}
.box-text-sec p {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 2.2;
}

.legal-bg {
    background: url(../images/legal-advice-bg.png) 100% 100%no-repeat;
    background-size: contain;
    min-height: 415px;
    width: 100%;
    margin-top: -485px;
}

.box-text-sec.bottom {
    max-width: 1070px;
    margin: 130px auto 115px;
}
/* Boxes Sec CSS End */

/* Rights Sec CSS Start */
.rights-wrap {
    background: #e0d9c1;
    padding: 25px 25px;
}
.rights-inner {
    padding: 90px 0 140px;
    border: 2px solid #e6e0cc;
}
.right-content-title {
    padding-bottom: 35px;
}
.rights-content {
    max-width: 1070px;
    margin: 0 auto;
}

.contact-box {
    padding: 0 0 13px 0;
    margin-bottom: 45px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
}
.contact-box:after {
    content: ' ';
    width: 15px;
    height: 2px;
    background: #868fa8;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}
.contact-box span {
    display: block;
    margin-bottom: 7px;
}
.contact-box a {
    font-weight: 600;
    color: #707070;
}


.rights-bottom-wrap {
    background: #aec5ca;
    padding: 20px 20px;
    max-width: 1228px;
    margin: -125px auto 0;
    padding-bottom: 0;
    /*-webkit-box-shadow: 0px 0px 27px 3px #AEC5CA; 
    box-shadow: 0px 0px 27px 3px #AEC5CA;*/
}
.rights-bottom-inner {
    padding: 50px 0 0 0;
    border: 2px solid #bccfd3;
    border-bottom: none;
}
.rights-bottom-content {
    max-width: 1070px;
    margin: 0 auto;
    padding-bottom: 75px;
}

.rights-bottom-content p {
    color: #f0f4f5;
    line-height: 2;
    font-family: 'Source Sans Pro', sans-serif;
}
/* Rights Sec CSS End */


/* Laws Sec CSS Start */
.family-laws-wrap {
    background: #1C3243;
    padding: 75px 0;
}
.family-laws-content {
    max-width: 991px;
    margin: 0 auto;
}
.family-laws-content h3 {
    color: #fff;
}
.family-laws-content p {
    color: #fff;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 2;
    letter-spacing: 1px;
}
.family-laws-content a {
    color: #fff;
    text-decoration: underline;
}
.map-img {
    padding-bottom: 45px;
}
.map-img img {
    width: 315px;
    height: 170px;
}
.family-laws-content .grad-btn {
    text-decoration: none;
    padding: 15px 0;
    min-width: 315px;
    font-weight: 600;
}

.blog-box {
    padding: 35px 35px 50px 35px;
    border: 3px solid #aec5ca;
    margin-left: 50px;
    height: 100%;
}
.blog-box ul {
    padding: 0;
    margin: 0;
}
.blog-box li {
    color: #fff;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 2;
    letter-spacing: 1px;
    padding-bottom: 25px;
    list-style: none;
}
/* Laws Sec CSS End */

/* Contact Se Start */
.contact-wrap {
    background: url(../images/consultation-row-bg.jpg) center center no-repeat;
    background-size: cover;
    padding: 60px 0;
}
.contact-sec {
    max-width: 1228px;
    margin: 0 auto;
    background: rgb(255,255,255, 0.9);
    padding: 20px 20px;
}
.contact-inner {
    border: 2px solid rgb(28,50,67, 0.8);
}
.form-content {
    max-width: 965px;
    margin: 0 auto;
    padding: 50px 0;
}
.form-head {
    text-align: center;
    margin-bottom: 30px;
}
.form-head h1 {
    font-size: 68px;
    line-height: 1;
    margin-bottom: 0;
    color: #ccc099;
}
.form-head span {
    font-size: 36px;
    color: #707070;
    margin-bottom: 35px;
    text-align: right;
    line-height: 0.7;
    display: block;
    margin-right: 80px;
}
.form-head p,
.form-head a {
    color: #707070;
    margin-bottom: 20px;
    line-height: 1;
    font-family: 'Source Sans Pro', sans-serif;
}
.form-content .form-group {
    display: inline-block;
    vertical-align: top;
    width: 29.5%;
    margin: 0 50px 50px 0;
}
.form-content .form-group:nth-child(3) {
    margin-right: 0;
}
.form-content .form-group label  {
    color: #1C3243;
    font-family: 'Source Sans Pro', sans-serif;;
    font-weight: 600;
    padding: 5px 5px 0 5px;
    margin: 0;
}
.form-content  .form-control {
    border: none;
    background: transparent;
    border-bottom: 1px solid #101E2B;
    border-radius: 0;
    line-height: 2;
    padding-top: 0;
    padding-bottom: 0;
    color: #1C3243;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
.form-content  .form-control:focus {
    box-shadow: none;
}
.form-group.textarea {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
}
.form-content .form-check {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.form-content .form-check .form-check-input {
    width: 22px;
    height: 22px;
    background: #fff !important;
    margin-right: 10px;
    position: absolute;
    margin-top: 0;
}
.form-content .form-check  p {
    font-size: 12px;
    margin-bottom: 0;
    line-height: 1;
    margin-left: 10px;
}
.submit-sec {
    text-align: center;
}
.submit-sec span {
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    display: block;
    margin-bottom: 30px;
}
 .submit-sec .grad-btn {
    font-size: 18px;
    font-weight: 600;
    padding: 0 80px;
    line-height: 60px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
 }
/* Contact Se End */

/* Location Sec Start */
.location-wrap {
    background: #1C3243;
    border: 20px solid #fff;
    position: relative;
}
.location-content {
    max-width: 1085px;
    margin: 0 auto;
    padding: 80px 0 70px;
}
.loc-heading h1 {
    margin-bottom: 50px;
    font-size: 64px;
    color: #CCC099;
}
.location-content ul {
    padding: 0;
    margin: 0;
}
.loc-heading:after {
    content: ' ';
    width: 32.5%;
    height: 2px;
    background: #3c4f5d;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 175px;
}
.location-boxes {
    margin-bottom: 60px;
}
.contact-list li {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
}
.contact-list li a {
    color: #fff;
    font-weight: 400;
}
.contact-list li:after {
    content: '|';
    display: inline-block;
    padding: 0 10px;
}
.location-content .contact-list {
    text-align: center;
    width: 100%;
    margin-bottom: 34px;
}
.contact-list li:last-child:after {
    content: none;
}

.location-boxes ul{
    margin-bottom: 35px;
}
.loc-box li {
    font-size: 14px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none;
}
.loc-box li:first-child {
    font-weight: 600;
    letter-spacing: 1px;
}
.loc-box li a {
    color: #fff;
    text-decoration: underline;
}
.loc-tri-list {
    position: absolute;
    top: 170px;
}
.location-content .loc-tri-list li,
 .loc-tri-list-btm li{
    display: inline-block;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #AEC5CA;
    width: 25px;
    height: 25px;
    margin-right: 7px;
}


.location-bottom {
    position: relative;
}
.location-bottom:after {
    content: ' ';
    width: 57.5%;
    height: 2px;
    background: #3c4f5d;
    display: inline-block;
    position: absolute;
    right: 76%;
    bottom: 50px;
}
.location-bottom h3 {
    color: #CCC099;
    margin-bottom: 35px;
}
.social-list {
    margin-top: 10px;
}
.social-list {
    display: flex;
    flex-wrap:  wrap;
}
.social-list li {
    list-style: none;
    margin-right: 10px;
}
.social-list li:last-child {
    margin-right: 0;
}
.social-list li img {
    width: 35px;
    height: 25px;
}
.location-bottom .loc-heading {
    text-align: right;
    margin-bottom: 60px;
}
.location-bottom .loc-heading:after {
    content: none;
}
.location-bottom .loc-box ul {
    display: block;
}
.location-bottom .loc-box{
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.location-bottom .loc-box .loc-map {
    display: block;
    padding-left: 40px;
}
.location-wrap:after {
    content: ' ';
    width: 43%;
    height: 2px;
    background: #3c4f5d;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 376px;
}
.loc-tri-list-btm {
    position: absolute;
    bottom: 285px;
    right: 3%;
    z-index: 100;
}
/* Location Sec End */

/* Footer CSS Start */
.footer-wrap {
    padding: 55px 0 0 0;
    background: #CCC099;
    font-family: 'Source Sans Pro', sans-serif;
}
.footer {
    max-width: 1090px;
    margin: 0 auto;
}
.footer ul {
    padding: 0;
    margin: 0;
}
.ftr-sec ul li {
    list-style: none;
    padding-bottom: 10px;
}
.ftr-sec .search {
    background: transparent;
    border: none;
    padding: 7px 10px 7px 30px;
    border-bottom: 1px solid #fff;
    position: relative;
    color: #fff;
}
.ftr-sec .search::before {
    content: "\f002";
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    position: absolute;
    font-size: 17px;
}
.ftr-sec .search::placeholder {
    color: #fff;
}
.ftr-sec li span {
    font-size: 12px;
    color: #fff;
    display: block;
    padding-bottom: 7px;
}

.ftr-sec {
    text-align: center;
    margin-bottom: 30px;
}
ul.ftr-list {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
    border-right: 2px solid #7c8294;
    height: 100%;
}
.ftr-sec .ftr-list:first-child {
    padding-left: 0;
}
.ftr-sec .ftr-list:last-child {
    border-right: 0;
}
.ftr-list  li {
    list-style: none;
    padding-bottom: 10px;
    line-height: 1;
}
.ftr-list  li a {
    font-size: 12px;
    color: #fff;
    line-height: 1;
}

.ftr-logo {
    text-align: right;
}
.ftr-logo li {
    padding-bottom: 10px;
}
.ftr-sec .btn-primary {
    color: #DCDCDD;
    padding: 12px 15px;
    line-height: ;
    background: #062D55;
    display: inline-block;
    text-align: right;
    border-radius: 0;
    border: none;
}

.copyright {
    text-align: center;
}
.copyright p {
    font-size: 9px;
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 15px;
}
/* Footer CSS End */

/* Click menu CSS Start */
.click-menu-btn .bar1,
.click-menu-btn .bar2, 
.click-menu-btn .bar3 {
    width: 30px;
    height: 3px;
    background-color: #3d3d3d;
    margin-bottom: 6px;
    transition: 0.4s;
    display: block;
}
.click-menu-btn .bar3 {
    margin-bottom: 0;
}

.change-btn .bar1 {
    -webkit-transform: rotate(-50deg) translate(-5px, 8px);
    transform: rotate(-50deg) translate(-5px, 8px);
}
.change-btn .bar2 {
    opacity: 0;
}
.change-btn .bar3 {
    -webkit-transform: rotate(47deg) translate(-5px, -8px);
    transform: rotate(47deg) translate(-5px, -8px);
}
.navbar-toggler-icon {
    width: 30px;
    height: 21px;
}
/* Click menu CSS End */

/* Responsive Start */
@media (max-width: 1700px){
    .banner-content {
        transform: translateX(50%);
    }
    .location-bottom:after {
        right: 0;
        left: -173px;
    }
}

@media (max-width: 1500px){
    .banner-right {
        width: 70%;
    }
    .banner-left {
        width: 40%;
    }
    .banner-content {
        transform: translateX(20%);
    }
    .location-bottom:after {
        left: -106px;
    }
}

@media (max-width: 1366px) {
    .nav-wrap .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 12px;
    }
    .menu-bottom li a {
        padding: 0 6px;
        font-size: 12px;
    }
    .banner-right {
        width: 55%;
    }
    .banner-left {
        width: 50%;
    }
    .location-bottom:after {
        left: -23px;
    }
    .rights-bottom-wrap {
        margin: -125px 15px 0 15px;
    }
}

@media (max-width: 1199px) {
    .banner-right {
        width: 45%;
    }
    .banner-left {
        width: 55%;
    }
    .law-wrap:before {
        top: 160px;
    }
    .tri-list {
        top: 155px;
    }
    .rating-sec {
        text-align: center;
    }
    .rating-list li {
        margin-right: 50px;
    }
    .doll-box {
        width: 550px;
        top: -150px;
    }
    .family-laws-content {
        padding: 0 15px;
    }
    .contact-inner {
        padding: 10px;
    }
    .form-content .form-group {
        width: 28%;
    }
    .form-group.textarea {
        width: 96%;
    }
    .location-content {
        max-width: 1085px;
        margin: 0 auto;
        padding: 80px 15px 70px 15px;
    }
    .loc-tri-list {
        left: 110px;
    }
    .location-boxes{
        align-items: stretch;
    }
    .location-boxes .col-lg-3 {
        height: 100%;
    }
    .loc-box {
        height: 100% !important;
        display: inline-block;
    }
    .loc-map {
        height: 100%;
    }
    .loc-heading h1 {
        font-size: 57px;
    }
    .location-bottom:after {
        left: 0;
    }
    .loc-tri-list-btm {
        right: 100px;
    }
    ul.ftr-list {
        padding: 0 10px;
    }
    .footer {
        padding: 0 15px;
    }

}

@media (max-width: 991px) {
    .header-top-wrap {
        position: relative;
    }
    .logo {
        text-align: center;
        margin-bottom: 25px;
    }
    .logo img {
        max-width: 500px;
    }
    .nav-wrap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-left: 15px;
        margin-right: 15px;
        background: transparent;
        z-index: 100;
    }
    .navbar-toggler {
        border: none;
        padding: 0;
        outline: none;
        border-color: transparent;
        width: 30px;
        height: 21px;
        border: none;
    }
    .navbar-nav {
        margin: 10px 0 0 7px;
        z-index: 100;
        position: relative;
        background: #fff;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: none;
        outline: none;
        border-color: transparent;
        z-index: 100;
        position: relative;
        width: 30px;
        height: 21px;
    }
    .nav-wrap .navbar-expand-lg .navbar-nav .nav-item {
        border: none;
        padding: 5px 20px 5px 20px;
    }
    .nav-wrap .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 14px;
        width: 100%;
    }
    .payment-btn {
        text-align: center;
    }
    .menu-bottom {
        margin-bottom: 15px;
    }
    .menu-bottom li {
        width: 30%;
        margin-bottom: 10px;
    }
    .banner-left {
        width: 100%;
        -webkit-clip-path: none;
        clip-path: none;
        height: 100%;
        min-height: 430px;
        margin-bottom: 0;
        display: block;
        padding: 30px 0;
    }
    .banner-content {
        transform: none;
        max-width: 410px;
        margin: 0 auto;
    }
    .banner-right {
        width: 100%;
        background: url(../images/hp-atf-mobilebg.jpg) center center no-repeat;
        background-size: cover;
        min-height: 530px;
    }
    .law-title {
        margin-top: 30px;
    }
    .law-text{
        padding: 0;
    }
    .btn-scroll {
        bottom: -25px;
    }
    .law-wrap:before {
        top: 140px;
    }
    .tri-list {
        top: 135px;
    }
    .rating-list li {
        width: 30%;
        margin: 0 0 20px 0;
    }
    .doll-box {
        width: 450px;
    }
    .rights-inner {
        padding: 90px 15px 140px 15px;
    }
    .rights-bottom-inner {
        padding: 50px 15px 0 15px;
    }
    .form-content .form-group {
        width: 25%;
    }
    .form-group.textarea {
        width: 90%;
    }
    .location-content .loc-tri-list li, .loc-tri-list-btm li {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #AEC5CA;
        width: 20px;
        height: 20px;
    }
    .loc-tri-list {
        left: 70px;
    }
    .loc-heading h1 {
        font-size: 44px;
    }
    .location-bottom h3 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .social-list li {
        margin-bottom: 15px;
    }
    .location-bottom:after {
        width: 37%;
    }
    .location-bottom:after {
        bottom: 90px;
    }
}

@media (max-width: 767px){
    .doll-box {
        top: 26px;
        max-width: 610px;
        width: 100%;
    }
    .box-right .txt-box {
        margin-top: 78%;
    }
    .box-text-sec {
        margin-top: 25px;
    }
    .family-laws-content > .row > .col-md-5 {
        margin-bottom: 25px;
    }
    .blog-box {
        margin-left: 0;
    }
    .form-content .form-group {
        width: 100%;
        margin-right: 0;
    }
    .loc-heading:after {
        width: 50%;
        top: 155px;
    }
    .loc-tri-list {
        top: 150px;
        left: 90px;
    }
    .location-bottom > .col-md-4 {
        margin-bottom: 25px;
    }
    .loc-map {
        margin-bottom: 25px;
    }
    .location-wrap:after {
        bottom: 400px;
    }
    .loc-tri-list-btm {
        bottom: 310px;
    }
    .location-bottom:after {
        bottom: 480px;
    }
    .ftr-logo li img {
        max-width: 500px;
    }
    .location-boxes ul {
        margin-bottom: 15px;
    }
}

@media (max-width: 640px) {
    .menu-bottom li {
        width: 40%;
    }
    .location-bottom:after {
        width: 47%;
    }
    .location-wrap:after {
        width: 53%;
    }
    .law-title h2 {
        font-size: 46px;
    }
    .law-title h1 {
        font-size: 50px;
    }
    .law-wrap:before {
        width: 70%;
        top: 120px;
    }
    .tri-list {
        top: 115px;
    }
    .img-sec {
        margin-bottom: 50px;
    }
    .doll-box {
        max-width: 545px;
    }
    .form-head h1{
        font-size: 48px;
    }
    .form-head span {
        margin-right: 0;
        font-size: 30px;
    }
    .loc-heading h1 {
        line-height: 1;
    }
}

@media (max-width: 575px) {
    .doll-box {
        max-width: 450px;
        top: 19px;
    }
    .loc-heading:after {
        width: 70%;
        top: 195px;
    }
    .loc-tri-list {
        top: 189px;
        left: 130px;
    }
    .location-bottom:after {
        bottom: 482px;
    }
    .location-bottom:after {
        width: 55%;
    }
    .location-wrap:after {
        bottom: 370px;
    }
    .loc-tri-list-btm {
        right: 60px;
        bottom: 280px;
    }
    .rating-list li {
        width: 50%;
    }
    .lead-text-right p {
        padding-left: 0;
    }
    .box-content,
    .box-right .box-content  {
        padding: 20px 20px;
    }
    .right-content-title h3 {
        font-size: 30px;
    }
    .rights-inner {
        padding: 30px 15px 140px 15px;
    }
    .family-laws-content .grad-btn {
        min-width: 270px;
    }
    .blog-box {
        padding: 20px 20px;
    }
    .location-bottom .loc-box {
        display: block;
    }
    .location-bottom .loc-box ul {
        margin-bottom: 15px;
    }
    .location-bottom::after {
        bottom: 612px;
        width: 65%;
    }
    .location-wrap::after {
        bottom: 530px;
        width: 65%;
    }
    .loc-tri-list-btm {
        right: 70px;
        bottom: 440px;
    }
    .menu-bottom li {
        width: 100%;
    }
    .menu-bottom li:last-child {
        border-right: 1px solid #CCC099;
    }
    .menu-bottom li a {
        width: 100%;
        display: inline-block;
    }
}

@media (max-width: 505px) {
    .location-bottom::after {
        bottom: 670px;
    }
}

@media (max-width: 480px) {
    .banner-content {
        padding: 0 15px;
    }
    .law-title h2 {
        font-size: 33px;
    }
    .law-title h1 {
        font-size: 37px;
    }
    .doll-box {
        max-width: 290px;
        top: 10px;
    }
    .form-head span {
        line-height: 1.3;
    }
    .location-content {
        padding: 50px 15px 70px 15px;
    }
    .loc-heading::after { 
        width: 90%;
    }
    .loc-tri-list {
        left: 100px;
    }
    .social-list li img {
        width: 30px;
    }
}
/* Responsive End */