/*
Error: Undefined variable: "$headingFontFamily".
        on line 10 of scss/sass_files/banner.scss

5:     padding: 167px 0 88px 0;
6:     position: relative;
7:     h1 {
8:         text-align: center;
9:         position: relative;
10:         font-family: $headingFontFamily;
11:         text-transform: uppercase;
12:         font-weight: 300;
13:         margin: 0px;
14:         line-height: 43px;
15:         margin-bottom: 31px;

Backtrace:
scss/sass_files/banner.scss:10
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/script/tree/variable.rb:49:in `_perform'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:397:in `visit_prop'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:331:in `block in watch'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `call'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `on_change'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$headingFontFamily\".\A         on line 10 of scss/sass_files/banner.scss\A \A 5:     padding: 167px 0 88px 0;\A 6:     position: relative;\A 7:     h1 {\A 8:         text-align: center;\A 9:         position: relative;\A 10:         font-family: $headingFontFamily;\A 11:         text-transform: uppercase;\A 12:         font-weight: 300;\A 13:         margin: 0px;\A 14:         line-height: 43px;\A 15:         margin-bottom: 31px;"; }
