* { margin:0px; padding:0px; }
body { margin:0px; padding:0px; }
.container { max-width:1100px;}
.no-padding { padding:0px;}
.footer-container { width:1300px; max-width:100%;}

@font-face {
	font-family: 'Fira Sans SemiBold';
	src: url('../fonts/FiraSans-SemiBold.eot');
	src: url('../fonts/FiraSans-SemiBoldd41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-SemiBold.html') format('woff2'),
		url('../fonts/FiraSans-SemiBold.woff') format('woff'),
		url('../fonts/FiraSans-SemiBold.ttf') format('truetype'),
		url('../fonts/FiraSans-SemiBold.svg#FiraSans-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans Bold';
	src: url('../fonts/FiraSans-Bold.eot');
	src: url('../fonts/FiraSans-Boldd41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-Bold.html') format('woff2'),
		url('../fonts/FiraSans-Bold.woff') format('woff'),
		url('../fonts/FiraSans-Bold.ttf') format('truetype'),
		url('../fonts/FiraSans-Bold.svg#FiraSans-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Fira SansRegular';
	src: url('../fonts/FiraSans-Regular.eot');
	src: url('../fonts/FiraSans-Regulard41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans-Regular.html') format('woff2'),
		url('../fonts/FiraSans-Regular.woff') format('woff'),
		url('../fonts/FiraSans-Regular.ttf') format('truetype'),
		url('../fonts/FiraSans-Regular.svg#FiraSans-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

 
 @font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.html') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/*------------------Header------------------*/

header { position:fixed; width:100%; z-index:1; background:rgba(255,255,255,0.8); padding:18px 0; z-index:99;}
header .header-address { margin:0 0 14px 0;}
header .header-address p { font-size:15.2px; font-weight:bold; color:#22397B;font-family: 'Fira Sans Bold'; background:url(../images/address-icon.png) left center no-repeat; padding-left:20px; display:inline-block; margin:0px;}
header .header-address a {font-size:15.2px; font-weight:bold; color:#22397B;font-family: 'Fira Sans Bold'; background:url(../images/phone-icon.png) left center no-repeat; padding-left:17px; display:inline-block;  }
header .social-icon {}
header .social-icon ul { margin:0px; padding:0px; }
header .social-icon ul li { display:inline-block; margin:0 20px 0 0; padding:0px; }
header .social-icon ul li:last-child { margin-right:0px;}
header .header-menu { position:relative;}
header .header-menu a { padding:0 46px 0 62px; line-height:36px; border-radius:20px; background:url(../images/menu-icon.png) 36px center no-repeat #2e4d8f; display:inline-block; font-size:14px;font-family: 'Lato', sans-serif; font-weight:400; text-decoration:none; color:#fff;   -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;}
header .header-menu .mian-menu-items { position:absolute; top:57px; width:260px; background:rgba(0,0,0,0.6); right:0px; display:none;}
header .header-menu .mian-menu-items ul { margin:0px; padding:0px;}
header .header-menu .mian-menu-items ul li { margin:0px; padding:0px; list-style:none; display:block;}
header .header-menu .mian-menu-items ul li a { margin:0px; padding:0px; background:none; border-radius:0px; line-height:40px; padding:0 30px; display:block; text-transform:uppercase;}  
header .header-menu .mian-menu-items ul li a:hover { background:#5a70a3;}
header .header-menu a.menu.open  {background:url(../images/cross-icon.png) 36px center no-repeat #2e4d8f;}
header .header-menu a.menu.open + .mian-menu-items { display:block;}









/*------------------Banner------------------*/
.banner { position:relative;}
.banner img { max-width:100%;}
.banner .banner-detail { position:absolute; bottom:96px; width:100%; z-index:9; text-align:center;}
.banner .banner-detail p { font-size:26px; color:#FFFFFF; margin:0 0 26px 0; padding:0px; font-family: 'Fira Sans SemiBold'; font-weight:500; }
.banner .banner-detail a { font-size:16px; color:#fff; font-weight:400;font-family: 'Lato', sans-serif; text-decoration:none;}
.banner .banner-detail a span { display:block;  }
.banner .banner-detail a img {  margin:20px 0 0 0;}
.banner .banner-detail a .bounce { -moz-animation: bounce 2s infinite; -webkit-animation: bounce 2s infinite; animation: bounce 2s infinite; }

/*------------------Content------------------*/
.content {}
.content .welcome-content {  padding:73px 0 23px 0; text-align:center; background:url(../images/welcome-img.png) left center no-repeat #fefcf4;font-family: 'Lato', sans-serif; font-weight:700;}
.content .welcome-content h1 { font-size:36px; color:#22397B; margin:0px; padding:0px; line-height:24px; margin-bottom:48px;   }
.content .welcome-content p { font-size:18px; color:#545A63;font-family: 'Fira SansRegular'; font-weight:400; margin-bottom:30px;}
.content .welcome-content p:last-child { margin-bottom:66px;}
.content .about-waterhouse { position:relative; margin-bottom:15px;}
.content .about-waterhouse img { max-width:100%;}
.content .about-waterhouse .about-overlay { position:absolute; top:0; bottom:0px; width:100%; right:0px; left:0px; background:rgba(0,0,0,0.3);z-index:1;}
.content .about-waterhouse .about-detail { position:absolute; z-index:2; bottom:160px; width:100%; text-align:center;}
.content .about-waterhouse .about-detail a { width:106px; text-align:center; line-height:47px; border:2px solid #fff; font-size:16px; color:#FFFFFF;font-family: 'Lato', sans-serif; display:inline-block; text-decoration:none; margin-bottom:40px; }
.content .about-waterhouse .about-detail a:hover { background:#2e4d8f;}
.content .about-waterhouse .about-detail p { font-size:40px; color:#fff;font-family: 'Lato', sans-serif;  font-weight:bold; margin:0px; line-height:30px;}
.content .services-detail {}
.content .services-detail .service-thumbnail { position:relative; margin-bottom:15px; overflow:hidden;}
.content .services-detail .service-thumbnail img { max-width:100%;width: 100%;-webkit-transition: all .5s ease;-moz-transition: all .5s ease;-o-transition: all .5s ease;
-ms-transition: all .5s ease;transition: all .5s ease;}
.content .services-detail .service-thumbnail:hover img {-webkit-transform: scale(1.15);-moz-transform: scale(1.15);-ms-transform: scale(1.15);-o-transform: scale(1.15); transform: scale(1.15);}
.content .services-detail .service-detail { position:absolute; bottom:72px; width:100%; text-align:center;}
.content .services-detail .service-detail p {font-size:40px; color:#fff;font-family: 'Lato', sans-serif;  font-weight:bold; margin:0px; line-height:30px;}
.content .checkin-facebook { margin-bottom:18px; position:relative;}
.content .checkin-facebook img { width:100%;}
.content .checkin-facebook .facebook-text { position:absolute; padding:20px 0 0 0; top:0px;z-index:1; width:100%; text-align: center;}
.content .checkin-facebook .facebook-text p {font-family: 'montserratlight';font-size:37px; color:#000000; line-height:46px;}
.content .checkin-facebook .facebook-text p span { color:#E3168E; font-weight:bold;font-family: 'Montserrat', sans-serif; }
.content .checkin-facebook .facebook-text p strong { color:#000; font-weight:bold;font-family: 'Montserrat', sans-serif; }
.content .reviews-outer {}
.content .reviews-outer img { max-width:100%;}
.content .reviews-outer h4 { margin:0px; padding:4px 0 36px 0;}
.content .reviews-outer .yelp-outer { background:#e0e0e3; min-height:550px;}
.content .reviews-outer .yelp-outer .reviews-text img { margin-bottom:24px;}
.content .reviews-outer .google-outer { background:#d5d4d9;min-height:550px;}
.content .reviews-outer .yelp-reviews { width: 100%;text-align: center;max-width: 610px;float: right; padding-right:50px; box-sizing:border-box;}
.content .reviews-outer .google-reviews {width: 100%;text-align: center;max-width: 610px;float: left; padding-left:50px; box-sizing:border-box;}
.content .reviews-outer .google-reviews h4 { padding-top:8px;}
.content .reviews-outer a { font-size:16px; color:#fff; text-decoration:none; text-align: center; line-height:48px; background:#676d76; padding:0 34px; display:inline-block; margin:18px 0 0 0;  font-family: 'montserratlight';}
.content .photoboth-outer { margin-bottom:55px;}
.content .photoboth-outer h4 { font-size:36px; color:#22397B; font-weight:800;font-family: 'Lato', sans-serif; margin:0px; padding:40px 0 44px 0; text-align:center; }
.content .photoboth-outer .carousel-control.left { width:auto; background:none; box-shadow:none; left:-60px;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: -moz-translateY(-50%);bottom:auto;}
.content .photoboth-outer .carousel-control.right { width:auto; background:none; box-shadow:none;right:-60px;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: -moz-translateY(-50%); bottom:auto;	}
.content .photoboth-outer .item img { margin-right:5px; margin-bottom:5px; max-width:100%; height:268px; width:360px;}
.content .social-reviews {}
.content .social-reviews .reviews-inner { margin:0; padding:54px 0 50px 0 ; border-top:1px solid #e0e0e3; margin:0 50px;  }
.content .social-reviews .reviews-inner img { max-width:100%;}


/*------------------ inner page css ------------------*/

@font-face {
  font-family: 'ACaslonPro-Italic';
  src: url('../fonts/ACaslonPro-Italic.eot') format('embedded-opentype'),
  	   url('../fonts/ACaslonPro-Italic.woff') format('woff'),
  	   url('../fonts/ACaslonPro-Italic.ttf')  format('truetype'),
  	   url('../fonts/ACaslonPro-Italic.svg#ACaslonPro-Italic') format('svg');		
  font-weight: normal;
  font-style: normal;
}


.banner-innner>img { width: 100%; }
.banner-innner .banner-sec { position: absolute; bottom: 40px; width: 100%; }
.banner-innner .banner-caption { max-width: 515px; background:rgba(34,57,123,0.5); float: right; margin-right: 115px; text-align: center; padding : 17px 10px; }
.banner-innner .banner-caption p { margin: 0; font-size: 26px; color: #FFFFFF; line-height: 38px; font-weight: lighter; font-family: 'Fira SansRegular'; } 
.banner-innner .banner-caption span { display: inline-block; font-size: 26px; color: #FFFFFF; line-height: 23px; font-family: 'ACaslonPro-Italic'; }
.content .inner-content h1 { font-size: 36px; line-height: 40px; color: #22397B; font-weight: bold; font-family: 'Lato', sans-serif; text-align: center; margin: 25px 0;  text-transform:capitalize;}
.content .serv-sec { border-top: 6px solid #f7f7f7; margin-top: 15px; }
.content .serv-sec .serv-aside { width: 25%; float: right; border-left: 1px solid #e3e4e5; margin-top: 40px; padding-left: 25px; padding-bottom: 60px; }
.content .serv-sec .serv-main  { float: left; width: 71%; padding-left: 25px; padding-bottom: 60px; }
.content .inner-content { padding-top: 10px; }
.content .inner-content .serv-sec h4 { font-size: 27px; color: #676d76; line-height: 30px; padding-bottom: 15px; border-bottom: 1px solid #eaebeb;  font-family: 'Lato', sans-serif; font-weight: 600; margin: 37px 0;  text-transform:uppercase;}
.content .inner-content .serv-sec p { font-size: 15px; line-height: 26px; font-weight: lighter; color: #4B4B4B; font-family: 'Fira SansRegular'; margin-bottom: 30px; }
.content .serv-sec .img-responsive { margin-top: 40px; }
.content a.downlink { font-size: 18px; line-height: 42px; color: #545A63; font-weight: normal; font-family: 'Fira SansRegular'; border: 2px solid #f1a419; padding: 0 20px; display: inline-block; text-decoration: none; margin-bottom: 30px; -webkit-transition: all ease 0.5s; -moz-transition: all ease 0.5s; -ms-transition: all ease 0.5s; -o-transition: all ease 0.5s; -transition: all ease 0.5s; }
.content a.downlink:hover { background-color: #2e4d8f; color: #ffffff; }
.content .serv-sec .serv-aside h5 { font-size: 18px; line-height: 37px; color: #545A63;  font-family: 'Fira SansRegular'; font-weight: bold; border-bottom: 3px solid #98a4c4; padding-right: 60px; display: inline-block; margin-bottom: 20px; display:block; }
.content .serv-sec .nav-tabs>li { display: block; width: 100%; margin-bottom: 25px; }
.content .serv-sec .nav-tabs>li>a { margin: 0; padding: 0; border: none; font-size: 16px; line-height: 15px; color: #676d76; font-weight: normal;  font-family: 'Fira SansRegular'; }
.content .serv-sec .nav-tabs>li.active>a, .content .serv-sec .nav-tabs>li.active>a:focus, .content .serv-sec .nav-tabs>li.active>a:hover { border:none; color: #cbcdd0; }
.content .serv-sec .nav-tabs>li>a:hover {  color: #cbcdd0; background-color: transparent; border:none; margin: 0; padding: 0; border:none; }
.content .serv-sec .nav-tabs { border-bottom: none; }


/*------------------Low stress ------------------*/
.low-stress-content { padding-top:40px;}
.low-stress-content .top-thumbnail { margin-bottom:35px;}
.low-stress-content .top-thumbnail img { max-width:100%;}
.low-stress-content a { font-size:17px; color:#0948A8; margin-bottom:15px; display:inline-block;}

.content .testimonial-detail {padding: 20px;border-left: 2px solid #2d43a3; margin: 0 0 40px 0;box-sizing: border-box;border-radius: 5px;background: #fff;}
.content .text-pewter {color: #3C5884;padding: 0 10px;display: inline-block;}
.content .testimonial-detail p { margin-bottom:0px !important;}
.content .testimonial-detail p span {display: block;font-weight: bold;margin-left: 100px;font-size: 20px;font-weight: bold;color: #2D2C32;margin-top: 20px;}
/*------------------ Our staff ------------------*/
.banner-staff .banner-caption { background:rgba(34,57,123,0.5); } 
.content .inner-content h4 { font-size: 26px; color: #2D2E33; font-weight: 600; font-family: 'Lato', sans-serif; text-align: center; }
.content .staff-slider .item { background: transparent; padding: 50px 0px; margin: 5px; color: #FFF; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; text-align: center; }
.content .staff-slider   .item { background: transparent; padding: 10px 0px; margin: 5px; color: #FFF; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; text-align: center; cursor: pointer; margin: 0; padding: 0; }
.content .staff-slider   .item h1 { font-size: 18px; }
.content .staff-slider  .synced .item { background: #0c83e7; }
.staff-slider  .item { background-color: transparent; }
.content .staff-slider { margin-top: 30px; position: relative; }
.content .staff-slider  .synced .item { background-color: transparent; }
.content .staff-slider .item { background-color: transparent; margin: 0; padding: 0; }
.content .staff-slider   .item img { position: relative; }
.content .staff-slider   .item .sync-name { display:none; position: absolute; bottom: 0; width: 100%; background: rgba(0,0,0,0.5); padding: 10px; text-transform: capitalize; }
.content .staff-slider .item span { font-size: 16px; line-height: 20px; color: #FFFFFF; font-weight: bold; font-family: 'Fira SansRegular'; }
.content .staff-slider .owl-item.synced .sync-name { display: block; }
.content .staff-slider .item .item-inner { width: auto; }
.content .staff-slider .item h4 { margin-top:50px; font-size: 16px; line-height: 15px; color:#2D2E33; font-weight: bold; font-family: 'Fira SansRegular'; text-align: left; }
.content .staff-slider .item h4 span { display: inline-block; font-size: 15px; color: #A0A0A0; font-weight: 600; font-family: 'Fira SansRegular'; border-left: 2px solid #2e4d8f; margin-left: 5px; padding-left: 10px; }
.content .staff-slider .item p { color: #4B4B4B; font-size: 15px; line-height: 26px; font-weight: lighter; font-family: 'Fira SansRegular'; text-align: left; } 
.content .staff-slider .owl-theme .owl-controls .owl-buttons div { position: absolute; width: 23px; height: 36px;font-size: 0; top: -115px; }
.content .staff-slider .owl-theme .owl-controls { position: absolute; top: 0; margin: 0; width: 100%; }
.content .staff-slider .owl-theme .owl-controls .owl-prev { display: none; left: 0; left: -45px; background: url(../images/left-arrow.png) center center no-repeat; }
.content .staff-slider .owl-theme .owl-controls .owl-next { right: -45px; background: url(../images/right-arrow.png) center center no-repeat; }
.content .staff-wrapper { padding: 20px 0 100px 0; }
.content .staff-wrapper.staff-wrapper-2 { background:#f7f7f7;}
.content .hospital-tour-content { padding:70px 0 78px 0; background:#2d43a3; }
.content .hospital-tour-content .hospital-thumbnail { position:relative; overflow:hidden; margin-bottom:22px; cursor:pointer;}
.content .hospital-tour-content .hospital-thumbnail img {max-width:100%;width: 100%;-webkit-transition: all .5s ease;-moz-transition: all .5s ease;-o-transition: all .5s ease;-ms-transition: all .5s ease;transition: all .5s ease; min-height:400px;}
.content .hospital-tour-content .hospital-thumbnail:hover img {-webkit-transform: scale(1.15);-moz-transform: scale(1.15);-ms-transform: scale(1.15);-o-transform: scale(1.15); transform: scale(1.15);}
.content .hospital-tour-content .hospital-thumbnail .hospital-disc { position:absolute; z-index:9; bottom:70px; padding:0 30px; text-align:center; width:100%; box-sizing:border-box;}
.content .hospital-tour-content .hospital-thumbnail .hospital-disc p { font-size:18px; color:#FFFFFF; line-height:26px; margin-bottom:17px; font-family: 'Fira SansRegular'; display:none;}
.content .hospital-tour-content .hospital-thumbnail .hospital-disc h4 { font-size:40px; margin:0px; line-height:26px; color:#fff;font-family: 'Lato', sans-serif; font-weight:bold; display:block;}

.content .hospital-tour-content .hospital-thumbnail .overlay { background:rgba(34,57,123,0.72); position:absolute; z-index:1; top:0px; bottom:0px; width:100%; display:none;}
.content .hospital-tour-content .hospital-thumbnail.active .overlay{ display:block;}
.content .hospital-tour-content .hospital-thumbnail.active .hospital-disc p{ display:block;}



/*------------------Footer------------------*/
footer .socail-icons { padding:22px 0 24px 0 ; background:#2d43a3; text-align:center;}
footer .socail-icons ul { display:inline-block;}
footer .socail-icons ul li { display:inline-block; margin:0 26px 0 0;}
footer .socail-icons ul li:last-child { margin-right:0x;}
footer .footer-detail { background:#373c42; padding:36px 0 0 0; }
footer .footer-detail .footer-left strong { font-size:38px; color:#FFFFFF; font-weight:bold;font-family: 'Fira Sans Bold'; margin:0px; display:inline-block; line-height:30px; margin-bottom:40px;}
footer .footer-detail .footer-left span { font-size:35px; color:#FFFFFF; font-weight:bold;font-family: 'Fira Sans Bold'; margin:0px; display:block; line-height:30px; margin-bottom:20px;}
footer .footer-detail .footer-left .office-time { margin-bottom:38px;}
footer .footer-detail .footer-left .office-time + .office-time { margin-bottom:50px;}
footer .footer-detail .footer-left .office-time p {font-size:22px; color:#FFFFFF; font-weight:400; line-height:16px; margin:0px; display:block;font-family: 'Fira SansRegular';}
footer .footer-detail .footer-left .contact-detail {}
footer .footer-detail .footer-left .contact-detail p {font-size:22px; color:#FFFFFF; font-weight:400; line-height:34px; margin:0px; display:block;font-family: 'Fira SansRegular';}
footer .footer-detail .footer-left .contact-detail a { color:#ECCC16; text-decoration:underline; font-size:17px;font-family: 'Fira SansRegular'; margin-bottom:30px; display:inline-block; margin-top:10px;  }
footer .footer-detail .footer-left .contact-detail .email-detail p { font-size:20px; color:#FFFFFF;font-family: 'Fira SansRegular'; margin-bottom:0; line-height:24px; }
footer .footer-detail .footer-left .contact-detail .email-detail p  span{ font-size:22px; color:#FFFFFF;font-family: 'Fira Sans Bold'; display:inline-block; margin:0px;  }
footer .footer-detail .footer-left .contact-detail .email-detail a {color:#0094D0;}
footer .footer-detail .footer-left .contact-detail .email-detail img { display:block; margin-bottom:70px; }
footer .footer-detail .footer-links {}
footer .footer-detail .footer-links a { font-size:17px;font-family: 'Fira SansRegular'; color:#fff; display:inline-block; text-decoration:none; margin-bottom:16px; display:block;}
footer .copy-right {}
footer .copy-right p { font-size:15px; color:#fff;font-family: 'Fira SansRegular'; margin:0 0 60px 0; text-align:center;}
footer .copy-right p a { color:#fff; text-decoration:underline;}

@media screen and (max-width:1600px) {
	.content .services-detail .service-detail p { font-size:28px;}
	.content .hospital-tour-content .hospital-thumbnail .hospital-disc h4 { font-size:30px;}
	.content .hospital-tour-content .hospital-thumbnail .hospital-disc { bottom:50px;}
	.content .hospital-tour-content .hospital-thumbnail .hospital-disc p { font-size:14px; line-height:22px;}
 }
@media screen and (max-width:1200px) {
	.content .welcome-content { background:#fefcf4;}
	.content .checkin-facebook .facebook-text p { font-size:28px; line-height:30px;}
	.logo img { max-width:90%;}
	.banner .banner-detail p { font-size:22px;}
	.banner .banner-detail { bottom:36px;}
	.content .welcome-content p br { display:none;}
	.content .about-waterhouse .about-detail { bottom:50px;}
	.content .services-detail .service-detail p { font-size:20px;}
	.content .checkin-facebook .facebook-text p { font-size:20px; line-height:24px;}
	.content .photoboth-outer .carousel-control.left{ left:0px;}
	.content .photoboth-outer .carousel-control.right  { right:0px;}
	.content .photoboth-outer .item img { width:320px; height:250px;}
	footer .footer-detail .footer-links a { font-size:16px;}
	.content .services-detail .service-detail { bottom:32px;}
	.content .staff-slider .owl-theme .owl-controls .owl-next { right:0px;}
}
@media screen and (max-width:992px) {
	.banner .banner-detail p { font-size:18px; margin-bottom:10px;}
	header .header-address p ,header .header-address a { font-size:12px;}
	header .social-icon ul li { margin-right:12px;}
	header .header-menu a { padding-right:36px;}
	.content .services-detail .service-detail p { font-size:18px;}
	.content .about-waterhouse .about-detail { bottom:40px;}
	.content .about-waterhouse .about-detail a { margin-bottom:20px;}
	.content .about-waterhouse .about-detail p { font-size:30px; margin-bottom:0px;}
	.content .photoboth-outer .item img { height:200px; width:246px;}
	.content .reviews-outer .google-outer , .content .reviews-outer .yelp-outer { min-height:400px;}
	footer .footer-detail .footer-left strong { font-size:28px; line-height:22px;}
	footer .footer-detail .footer-left span { font-size:26px; line-height:24px;}
	footer .footer-detail .footer-left .office-time p { font-size:18px;}
	footer .footer-detail .footer-left .contact-detail p { font-size:18px; line-height:26px;}
	footer .footer-detail .footer-left .contact-detail .email-detail p,footer .footer-detail .footer-left .contact-detail .email-detail p span { font-size:18px;}
	footer .copy-right p { margin-top:60px;}
	.banner-innner > img { min-height:350px;}
	.content .hospital-tour-content .hospital-thumbnail .hospital-disc { padding:0 10px;}
}
@media screen and (max-width:767px) {
	.banner .banner-detail { bottom:10px;}
	header .logo { text-align:center; margin-bottom:20px;}
	header .header-address{ text-align:center;}
	header .header-address p, header .header-address a { float:none !important; display:inline-block; margin-right:15px;}
	header .social-icon {float: none !important;text-align: center;}
	header .social-icon ul { display:inline-block;}
	header .header-menu {float: none !important;text-align: center;}
	header .header-menu a{ display:inline-block; margin-top:10px;}
	header { position:static;}
	.content .welcome-content h1 { font-size:30px;}
	.content .welcome-content p:last-child { margin-bottom:20px;}
	.content .reviews-outer .google-outer , .content .reviews-outer .yelp-outer { min-height:0; padding:20px 0;}
	.content .services-detail .service-detail p , .content .about-waterhouse .about-detail p { font-size:24px;}
	.banner .banner-detail { padding:0 15px;}
	.content .reviews-outer .yelp-reviews  ,.content .reviews-outer .google-reviews{ padding:0 15px;}
	.content .photoboth-outer .carousel-inner .item { text-align:center;}
	footer .footer-detail .footer-links  { margin-top:50px;}
	.content .about-waterhouse img { min-height:200px;}
	.content .welcome-content p { padding:0 15px;}
	.content .welcome-content h1 { line-height:30px;}
	.map { max-width:100% !important;}
	.banner-innner > img { min-height:200px;}
	.banner-innner .banner-caption { margin-right:45px;}
	.content .serv-sec .serv-aside { float:none; width:100%; padding-bottom:0px; padding-left:0px; border:0px;}
	.content .serv-sec .serv-main { padding-left:0px; width:100%;}
	.banner-innner .banner-sec { display:none;}
 
}
@media screen and (max-width:480px) {
	.content .services-detail .service-detail p, .content .about-waterhouse .about-detail p { font-size:18px;}
}




