/*Responsive Styleetsheet*/

@media only screen and (max-width:1030px) {
	* { box-sizing:border-box; margin:0px ; }
	h2 { font-size:22px  !important;}
	h2.inner { font-size:17px !important;}
	#active { margin: 10% 0 0 !important;}
	#controls {margin: -29% 0 0 0;}
	iframe { max-width:100% !important;}
	img { max-width:100% !important; height:auto !important;}
	.info { max-width:100%;}
	.container {padding:0 15px;max-width:100%;box-sizing:border-box;}
	#hide {overflow: hidden; width: 100%;}
	.info .col,.video-box { width:50% !important;}
	.col1 { width:48% !important;}
	.col2 { width:48% !important; text-align:center;}
	.col2 > div { float:none !important;}
	.classname{ margin:20px 0; font-size:12px; padding:6px 10px; }
	.seprator { max-width:100% !important;}
	.text { max-width:100% !important;}
	.nav ul li.first{ padding-left:10px;}
	.logo { width:25% !important;}
}

@media only screen and (max-width:767px) { 
	.video-box { text-align:center; }
	.info .col,.video-box { width:100% !important;}
	.info .col:first-child { margin-bottom:30px; padding-right:0px !important;}
	#controls { margin:-34% 0 0 0;}
	.header { background-size:cover;}
	.col2 { padding-top:0px !important;}
	ul li { list-style-position:inside;}
	.col1 { width:100% !important;}
	.col2 { width:100% !important; text-align:center;}
	h2 br { display:none !important;}
	.text { width:100% !important;}
	#reveslides .tooltip  { height:auto !important; padding:10px 0; min-height:60px;}
	#reveslides .tooltip h1 { line-height:20px; font-size:14px;  padding-left:0px;  padding-right:0px; }
	h2 { font-size:16px !important; margin-bottom:15px;}
	h2.inner { line-height:20px; margin-bottom:20px; font-size:15px !important;margin-bottom:15px;}
	h3 { margin-bottom:15px; }
	p { margin-bottom:15px; } 
	.link { padding-top:15px; }
		.logo { width:100% !important;}

}
@media only screen and (max-width:640px) {
	.nav ul , .nav ul li { display:block !important; } 
	.header { padding:28px;}
	#active { display:none;}
	#controls {margin: 0;position: absolute;top: 0;bottom: 0;margin: auto;}
	.info { padding-top:30px !important; }
	iframe { height:auto !important;}
	ul, ol, dl { list-style-position:outside; margin:0 15px; }
	.nav ul { margin:0px;}
	ul li { list-style-position:outside;}
}
@media only screen and (max-width:480px) { 
.header {  background:url(../images/header-mobile-bg.png) no-repeat; background-size:cover;}
	#wrapper #controls label { margin-top:-30px;}
	h2 { font-size:16px !important; margin-bottom:15px;}
	h2.inner { line-height:20px; margin-bottom:20px; font-size:15px !important;margin-bottom:15px;}
	h3 { margin-bottom:15px; }
	p { margin-bottom:15px; } 
	.footer-tm { background:#000;}
	.box2 { padding-top:0 !important;}
	.three-col ul li { font-size:12px; margin-bottom:3px;}
	.box1,.box2 { padding-right:0px !important; padding-left:0 !important; width:100% !important;}
	.video-box { margin-bottom:30px; }

}
