/* ACF panel header */

.acf-flexible-content .layout .acf-fc-layout-handle {
	background-color: #f1f1f1;
}

/* ACF WYSIWYG height */
.acf-fields td:not(.original-height) .wp-editor-container .wp-editor-area,
.acf-fields td:not(.original-height) .acf-editor-wrap iframe {
	height: 100px !important;
}

.acf-feilds td.original-height:before {
	content: ' ';
	display: block;
	clear: left;
}
