*{ margin:0px; padding:0px; }
body { margin:0px; padding:0px;font-family: 'Alef', sans-serif; }
.wrapper {}
a,button {-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;transition: all ease 0.5s; outline:none;}
img { outline:none; border:0px;}
.clear-small { clear:both; display:none;}

/*---------header-----------------*/
header { background:url(../images/shape-header.png) repeat #fff; padding:24px 0 10px 0; }
header .logo { text-align:center; }
header .logo a { display:inline-block; text-align:center;}
header .logo a img { display:inline;}

/*---------Navbar-----------------*/
nav.navbar-default { background:#989469; margin:0px; padding:0px; border:0px; border-top:1px solid #aeab8a; border-bottom:1px solid #b5b294; border-radius:0px; min-height:0px; text-align:center;max-height:69px;}
nav .navbar-nav { float:none; display:inline-block; }
nav.navbar-default .navbar-nav li a { color:#fff; margin:0px; padding:0px; line-height:67px; padding:0 11px 0 14px ; font-size:30px;  border-left:2px solid #b3b191; }
nav.navbar-default .navbar-nav li {}
nav.navbar-default .navbar-nav li:last-child a{ border-left:0px;}
nav.navbar-default .navbar-nav li a:hover {color:#6b0233; background:none;}
nav.navbar-default .navbar-nav li.active a {color:#6b0233; background:none;}
nav.navbar-default .navbar-nav li.active a:hover { background:none;color:#6b0233; }
nav.navbar-default .dropdown-menu { background:rgba(152,148,105,0.9);  border-top:3px solid #6b0233; border-bottom:3px solid #6b0233; border-left:1px solid rgba(152,148,105,0.9);}
nav.navbar-default .dropdown-menu li a { border:0px; line-height:30px; margin:20px 0; padding-right:16px;}

/*---------Silder-----------------*/
.slider { border-bottom:4px solid #989469; max-height:665px; overflow:hidden; }
.carousel-inner>.item { max-height:665px; overflow:hidden;}
.slider  .item img { width:100%;}


/*---------Content-----------------*/
.border-image { position:absolute; height:1px; z-index:1; width:100%; left:0px; right:0px; background:#989469; z-index:-1; margin-top:34px; text-align:center;}
.split-row { position:absolute; height:1px; z-index:1; width:100%; left:0px; right:0px; background:#989469; z-index:-1  text-align:center;}
.border-image span { display:inline-block; height:22px;width:28px; background:#fff; display:inline-block;}
.content { padding:83px 0 183px 0; background:#fff; position:relative; z-index:1;} 
.content .top-title { text-align:center;}
.content h1 { background:#989469; border:3px solid #636363; margin:0px; line-height:61px; padding:0 33px; font-size:30px; color:#ffffff;  font-weight:bold;  margin:0 auto; display:inline-block; margin-bottom:32px; letter-spacing:-0.4px; text-align:center; }
.content .top-title h1:before { content:""; height:1px; background:#989469; position:absolute; left:0px; right:0%;z-index:-1; top:117px;}
.content .padding-10 { padding:0 10px;}
.content .menu-item { text-align:center; margin-bottom:73px; }
.content .menu-item .menu-thumbnail{position:relative; margin:0 0 14px 0; height:271px; overflow:hidden; }
.content.menu-inner .menu-thumbnail{position:relative; margin:0 0 14px 0; height:263px; overflow:hidden; }
.content .menu-item a { font-size:22px; line-height:26px; color:#989469; display:block; text-decoration:none; overflow:hidden; }
.content .menu-item img { max-width:100%;width:100%; }
.content .menu-item .hover-div { position:absolute; right:0px; left:0px;bottom:0; opacity:0; height:100%; background:rgba(107,2,51,0.8); -webkit-transition: all ease 0.5s;-moz-transition: all ease 0.3s;-o-transition: all ease 0.5s;transition: all ease 0.5s; outline:none;}
.content .menu-item a:hover { color:#6b0233;}
.content .menu-item a:hover .hover-div { display:block; top:0px; bottom:0px;opacity:1;}
.content .menu-item .hover-div img { height:auto; position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin:auto; width:auto; }
.content .home-bottom { margin-top:73px;}
.content .content-right { text-align:right; }
.content .content-right h2 { background:#989469; border:3px solid #636363; margin:0px; line-height:61px; padding:0 33px; font-size:30px; color:#ffffff;  font-weight:bold;  margin:0 auto; display:inline-block; margin-bottom:32px; letter-spacing:-0.4px; text-align:center; margin-bottom:28px; width:100%;}
.content .live-show-detail {   border-bottom:1px solid #989469; margin-bottom:16px; padding:0px 34px 0 0;}
.content .live-show-detail:last-child { border-bottom:0px none; margin-bottom:45px;}
.content .live-show-detail h3 { margin:0 0 17px 0; padding:0px; font-size:30px; line-height:19px; color:#6b0233; font-weight:bold;}
.content .live-show-detail p {margin:0 0 12px 0; padding:0px; font-size:30px; line-height:19px; color:#6b0233; font-weight:400;}
.content .live-show-detail span { display:block; margin:0 0 12px 0; padding:0px; font-size:30px; line-height:27px; color:#6b0233; font-weight:400;}
.content .content-right-bottom { text-align:right; position:relative;}
.content .content-right-bottom h4 { background:#989469; border:3px solid #636363; margin:0px; line-height:61px; padding:0 33px; font-size:30px; color:#ffffff;  font-weight:bold;  margin:0 auto; display:inline-block; margin-bottom:32px; letter-spacing:-0.4px; text-align:center; margin-bottom:28px; width:100%;margin-bottom:11px;  }
.content .content-right-bottom a {background:#989469;width:100%;  max-width:100%; margin:0px; line-height:67px; padding:0 64px; font-size:30px; color:#ffffff;  font-weight:400; text-decoration:none;  margin:0 auto; display:inline-block; margin-bottom:9px; letter-spacing:-0.4px; text-align:center;}
.content .content-right-bottom a:hover { font-weight:bold; color:#6b0233;}
.content .content-right-bottom a:last-child { margin-bottom:0px;}
.content .content-left {  text-align:right;}
 .content .content-left .facebook-plugin { margin:6px 0 99px 0;}
  .content .content-left h2 ,  .content .content-left h3 {background:#989469; border:3px solid #636363; margin:0px; line-height:61px;  font-size:30px; color:#ffffff;  font-weight:bold;  margin:0 auto; display:inline-block; margin-bottom:32px; letter-spacing:-0.4px; text-align:center; margin-bottom:28px;  width:100%;}
.content .content-left .facebook-plugin img { max-width:100%;}
.content .content-left .opening-hours {}
.content .content-left .opening-hours ul { margin:0px; padding:0px 36px 0 0; }
.content .content-left .opening-hours ul li { display:block; margin-bottom:50px;}
.content .content-left .opening-hours ul li:last-child { margin-bottom:32px;}
.content .content-left .opening-hours ul li p{ display:block;font-size:30px; line-height:30px; color:#6b0233; margin:0px;}
.content .content-left .opening-hours ul li span { font-weight:bold; font-size:30px; line-height:20px; color:#6b0233; display:block; margin-bottom:10px;}
.content .content-left .opening-hours a {background:#989469;width:100%;  margin:0px; line-height:67px; padding:0; font-size:30px; color:#ffffff;  font-weight:400; text-decoration:none;  margin:0 auto; display:inline-block; margin-bottom:0; letter-spacing:-0.4px; text-align:center;}
.content .content-left .opening-hours a:hover { font-weight:bold; color:#6b0233;}

/*---------About Us page-----------------*/
.content.about-us-content{ padding-top:57px;}
.content.about-us-content .top-title h1:before { top:90px;}
.content.about-us-content .content-right h1 { margin-bottom:37px;}
.content.about-us-content .about-banner { margin-bottom:40px;max-height:290px; overflow:hidden; }
.content.about-us-content .about-banner img {  width:100%; }
.content.about-us-content .about-detail {}
.content.about-us-content .about-detail p { font-size:22px; line-height:36px; color:#989469; margin-bottom:50px;}
.content.about-us-content .content-left h1 { font-size:22px;width:100%;   margin-bottom:14px;}
.content.about-us-content .content-left h1:before { display:none;}
.content.about-us-content .content-left .facebook-plugin { margin-bottom:30px;}
.content.about-us-content .live-show-detail { margin-left:0px;}
.content.about-us-content .live-show-detail h2 {font-size: 30px;line-height: 36px;color: #6b0233;font-weight: bold;margin: 0px;padding: 0px;}
.content.about-us-content .live-show-detail p { font-size:22px;}
.content.about-us-content .live-show-detail h3 { margin:0 0 17px 0; padding:0px; font-size:30px; line-height:19px; color:#6b0233; font-weight:bold; background:none; border:0px; text-align:right;}
.content.about-us-content .live-show-detail span { font-size:22px;}
.content.about-us-content .live-show-detail:last-child { margin-bottom:23px;}
.content.about-us-content .content-right-bottom {}
.content.about-us-content .content-right-bottom h1 {font-size:22px;width:100%;  margin-bottom:53px;}
.content.about-us-content .content-right-bottom h1 + h1 { margin-bottom:20px;}
.content.about-us-content .side-bar-special {}
.content.about-us-content .side-bar-special ul { margin:0px; padding:0px; }
.content.about-us-content .side-bar-special ul li { display:block; padding:12px 8px 12px 0; border-bottom:1px solid #989469; }
.content.about-us-content .side-bar-special ul li:last-child { border-bottom:0px none;}
.content.about-us-content .side-bar-special ul li a { display:block; text-decoration:none;}
.content.about-us-content .side-bar-special ul li .special-thumbnail { float:none; width:29%; display:inline-block;}
.content.about-us-content .side-bar-special ul li .special-thumbnail img { width:100px; height:100px; max-width:100%;}
.content.about-us-content .side-bar-special ul li p { text-align:right; margin:0 10px 0 0; font-size:22px; line-height:26px; color:#989469; width:63%; vertical-align:middle; display:inline-block; letter-spacing:-0.1px;}

/*---------Customers page-----------------*/
.content .panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a { background:url(../images/minus-icon.png) right 16px no-repeat; font-size:30px; line-height:36px; color:#6b0233; font-weight:bold;text-decoration:none; padding-right:58px;}
.content .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body { border:0px; padding:18px 0 0 0px; margin:0px;font-size:30px; line-height:36px; color:#989469; padding-right:58px;}
.content .panel-group .panel { border:0px; border-radius:0px; box-shadow:none; padding:21px 0 31px; border-bottom:1px solid #989469;}
.content .panel-default>.panel-heading { background:none; border:0px; padding:0px; margin:0px; }
.content .panel-title>.small, .panel-title>.small>a.collapsed, .panel-title>a.collapsed, .panel-title>small.collapsed, .panel-title>small>a.collapsed{ background:url(../images/plus-icon.png) right 12px no-repeat;}

/*---------Main Menu page-----------------*/
.content.main-menu { padding-bottom:90px;}
.content.menu-inner .menu-detaildescription {margin:0 0 50px 0;}
.content.menu-inner .menu-detaildescription h2 { font-size:30px; line-height:34px; color:#6b0233; margin:0 0 25px 0; padding:0px; }
.content.menu-inner .menu-detaildescription p { font-size:22px; line-height:34px; color:#6b684a;  padding:0px; }
.content.menu-inner .price-tag { text-align:center; width: 112px;height: 112px;background: #6b0233;border: 2px solid #989469;border-radius: 50% 50%; box-sizing: border-box; font-size:22px; line-height:24px; color:#ffffff; display:table;}
.content.menu-inner .price-tag p { margin:0px; padding:0px; display:table-cell;vertical-align:middle; color:#fff;}
.content.menu-inner .price-tag i { margin:0 8px; display:inline-block; font-size:14px;}
.content.menu-inner .pagination-menu { text-decoration:none; text-align:center; border-top:1px solid #b3b191; padding:24px 0;}
.content.menu-inner .pagination-menu a  {text-decoration:none; font-size:34px; line-height:34px; color:#6b0233;}
.content.menu-inner .pagination-menu .disable-next a {color:#c5c5c7;}

.content.contact-detail {}
.content.contact-detail .top-title p { font-size:30px; line-height:36px; color:#6b0233; margin-bottom:44px;}
.content.contact-detail .top-title p span { font-weight:bold;}
.content.contact-detail form {}
.content.contact-detail form .form-row{ margin-bottom:23px;}
.content.contact-detail form label { font-size:22px; min-width:86px; line-height:36px; color:#989469; vertical-align:top;  }
.content.contact-detail form label.required:before { content:"*"; color:#6b0233;}
.content.contact-detail form input[type="text"],textarea { padding:12px; border:3px solid #989469; outline:none;width:80%;} 
.content.contact-detail form  textarea { resize:none; min-height:233px;}
.content.contact-detail form p { text-align:center; color:#6b0233; font-size:22px; margin:0px; padding:0px; width:90%; float:left;}
.content.contact-detail .contact-bottom { text-align:center; margin-top:84px;}
.content.contact-detail .contact-bottom h1 { width:100%; margin-top:70px;}
.content.contact-detail .contact-bottom ul { margin:0px; padding:0px; text-align:right;}
.content.contact-detail .contact-bottom ul li { display:block; margin-bottom:40px;}
.content.contact-detail .contact-bottom ul li h2 { font-size:30px; line-height:36px; color:#6b0233; font-weight:bold; margin:0px; padding:0px;}
.content.contact-detail .contact-bottom ul li p{font-size:30px; line-height:36px; color:#6b0233; font-weight:400; margin:0px; padding:0px;}

/*---------Live Show page-----------------*/
.content .live-show-content {}
.content .live-show-content ul { margin:0px; padding:0px; }
.content .live-show-content ul li { display:block; padding-bottom:14px; border-bottom:1px solid #989469; margin-bottom:14px; }
.content .live-show-content ul li .live-show-timeing { width:112px; height:112px; background:#989469;border:2px solid #989469; border-radius:50% 50%;  box-sizing:border-box; float:right; margin-left:30px; display:table;}
.content .live-show-content ul li:last-child { border-bottom:0px;}
.content .live-show-content ul li .live-show-timeing p { color:#fff; font-size:22px; line-height:24px; text-align:center; display:table-cell; vertical-align:middle;}
.content .live-show-content ul li .live-show-description { padding:22px 0 0 0; float:right; width:80%; }
.content .live-show-content ul li .live-show-description h2 {font-size: 30px;line-height: 34px;color: #989469; background:none; text-align:right; border:0px; margin:0px; padding:0px; font-weight:bold;}
.content .live-show-content ul li .live-show-description p { font-size:30px; line-height:36px; color:#989469; margin:0px; padding:0px;}
.content .live-show-content ul li.current-month .live-show-timeing { background:#6b0233;} 
.content .live-show-content ul li.current-month .live-show-description h2 , .content .live-show-content ul li.current-month .live-show-description p { color:#6b0233;} 
.content .content-right-bottom-live {}
.content.about-us-content .content-right-bottom-live h1 { margin-top:40px; margin-bottom:23px; font-size:30px; max-width:438px;}
.content.about-us-content .content-right-bottom-live a { max-width:438px;}
.contact-banner{max-height:665px; overflow:hidden;border-bottom:5px solid #989469 !important;}
.contact-banner img { width:100%; }
/*---------Footer-----------------*/
footer { background:url(../images/shape-header.png) repeat #fff; padding:48px 0 0 0; border-top:2px solid #c8c6af;}
footer .footer-detail { background:#989469; padding:22px 0; margin-bottom:48px;}
footer .footer-detail ul { margin:0 0 10px 0; padding:0px; text-align:center;}
footer .footer-detail ul li { display:inline-block; font-size:30px; line-height:26px; color:#ffffff; padding:0 10px; border-left:2px solid #fff;}
footer .footer-detail ul li:last-child { border-left:0px;}
footer .footer-detail ul li a { text-decoration:none; color:#fff; font-weight:bold;}
footer .footer-detail ul + ul { margin-bottom:0px;}
footer .footer-detail ul + ul li a { font-weight:400;}
footer .footer-detail ul + ul li a:hover { color:#6b0233; }
footer .footer-bottom { background:#fff; color:#989469; border-top:2px solid #c8c6af; }
footer .footer-bottom p { font-size:22px; line-height:58px; margin:0px; padding:0px;}
footer .footer-bottom p span { font-weight:bold;}
footer .footer-bottom .fotter-bottom-left { text-align:left;}

@media (min-width:768px){
.dropdown:hover .dropdown-menu { display:block;}
}
 
@media screen and (max-width:1200px) {
nav.navbar-default .navbar-nav li a { font-size:26px;}
.content { padding:83px 0;}
.content .menu-item a { font-size:20px;}
.content .content-right h2 , .content .content-left h2 , .content .content-left h3 ,.content .content-right-bottom h4 { font-size:22px; text-align:center;}
.content .content-right .live-show-detail h3 , .content .content-right .live-show-detail p , .content .content-right .live-show-detail span ,.content .content-left .opening-hours ul li 	span,.content .content-left .opening-hours ul li p , .content.about-us-content .live-show-detail h3 { font-size:24px;}
.content .content-right-bottom a , .content .content-left .opening-hours a{ font-size:24px;}
.content .content-right .live-show-detail p { margin-bottom:0px;}
.content .content-right .live-show-detail span { margin-bottom:10px;}
footer .footer-detail ul li { font-size:24px;}   
.content.about-us-content .content-left h1 { font-size:18px;}
.content.about-us-content .live-show-detail h2 , .content.about-us-content .live-show-detail p , .content.about-us-content .live-show-detail span { font-size:18px;} 
.content.menu-inner .pagination-menu a { font-size:26px;}
.content .menu-item .menu-thumbnail { height:222px;}
}
@media screen and (max-width:992px) {
nav.navbar-default .navbar-nav li a { font-size:20px; padding:0 9px;}
.content .menu-item a{ font-size:16px; letter-spacing:-0.5px;}
.content h1 { padding:0 15px; font-size:18px; line-height:50px; }
.content .content-right h2, .content .content-left h2, .content .content-left h3, .content .content-right-bottom h4 { font-size:18px;}
.content .content-right h2 , .content .content-left h2 , .content .content-left h3 ,.content .content-right-bottom h4, .content .content-right .live-show-detail p, .content .content-right .live-show-detail span, .content .content-left .opening-hours ul li span, .content .content-left .opening-hours ul li p ,.content .content-right .live-show-detail h3 ,.content.about-us-content .live-show-detail h3,{ font-size:18px; padding:0px;}
.content .panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a , .content .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{ font-size:18px; display:block;}
 .content .content-right .live-show-detail { margin-bottom:5px;}
.content .content-right-bottom a, .content .content-left .opening-hours a { font-size:18px; line-height:50px;}
.content .content-right .live-show-detail:last-child { margin-bottom:12px;}
footer .footer-detail ul li { font-size:18px;}
footer .footer-bottom p { font-size:18px;}
.content.about-us-content .content-left h1 { font-size:18px; padding:0px;}
.content.about-us-content .live-show-detail { padding:0px;}
.content.about-us-content .live-show-detail h2, .content.about-us-content .live-show-detail p, .content.about-us-content .live-show-detail span { font-size:16px;}
.content.about-us-content .about-detail p { font-size:18px;}
.content.about-us-content .content-right-bottom h1 { font-size:18px;}
.content.about-us-content .side-bar-special ul li { text-align:center;}
 
.content.contact-detail form input[type="text"], textarea { width:73%;}
.content.contact-detail form p { width:70%; font-size:18px;}
.content.contact-detail .top-title p { font-size:24px;}
.content.contact-detail .contact-bottom ul li { margin-bottom:20px;}
.content.contact-detail .contact-bottom ul li h2 , .content.contact-detail .contact-bottom ul li p { font-size:24px;}
.content .live-show-content ul li .live-show-description { width:68%;}
.content .live-show-content ul li .live-show-description p ,.content .live-show-content ul li .live-show-description h2{ font-size:22px;}
.content.menu-inner .menu-detaildescription h2  { font-size:24px;}
.content.menu-inner .menu-detaildescription p { font-size:20px;}
.content.menu-inner .pagination-menu a { font-size:19px;}
.content .menu-item .menu-thumbnail { height:167px;}
.content.about-us-content .side-bar-special ul li {padding-right:0px;}
.content.about-us-content .side-bar-special ul li .special-thumbnail { text-align:right;}
 
}
@media screen and (max-width:767px) {
nav.navbar-default { max-height:100%; display:block;}
nav .navbar-nav { display:block;}
nav.navbar-default .navbar-nav li a { font-size:18px; text-align:right; line-height:40px; border:0px;}
.navbar-nav .open .dropdown-menu {background: rgba(152, 148, 105, 0.9) none repeat scroll 0 0;border-bottom: 3px solid #6b0233;border-left: 1px solid rgba(152, 148, 105, 0.9);border-top: 3px solid #6b0233;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a { color:#fff;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{ color:#6b0233;}
nav.navbar-default .dropdown-menu li a { margin:10px 0;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover { background:none; color:#fff;}
header .logo a img { width:70%;}
.clear-small { display:block;}
.content .menu-item img { width:100%;}
.content .menu-item .menu-thumbnail { height:271px;}
.content .menu-item .menu-thumbnail img { min-height:271px;}
.content .menu-item .hover-div img { width:auto; min-height:0px;}
.content { padding:40px 0;}
.content .menu-item { margin-bottom:30px;}
.content .content-right { text-align:center;}
.content .content-right .live-show-detail { text-align:right; margin-left:0px; }
.content .content-left .opening-hours ul { padding:0px; text-align:right;}
.content .content-right-bottom {text-align:center; margin-bottom:0;}
.content .content-right-bottom-live { margin-bottom:30px;}
.content.about-us-content .content-right-bottom h1 + h1 { margin-top:20px;}
.content .content-left { text-align:right; }
.content .content-left h1 , .content .content-right h1{ width:100%;}
.content .content-left .facebook-plugin { margin-bottom:40px;}
.content .content-left .opening-hours ul li { margin-bottom:15px;}
.content .content-left .opening-hours a {width:100%; max-width:100%;}
.content.about-us-content .side-bar-special ul li p { margin-top:5px; margin-right:0px;}
.content.about-us-content .content-right-bottom h1 { margin-bottom:20px;}
.navbar-toggle { float:right; margin-right:15px;}
.navbar-default .navbar-toggle { border-radius:0px; border-color:#6b0233;}
.navbar-default .navbar-toggle .icon-bar { background-color:#6b0233;}
footer .footer-bottom p { font-size:17px; text-align:center;line-height:40px;}
.content .top-title h1::before { top:67px;}
.google-map iframe.map { height:300px !important;}
.contact-thumbnail { text-align:center;}
.contact-thumbnail img { display:inline-block; margin-bottom:20px;}
.content.contact-detail .top-title p { font-size:18px;}
.content.contact-detail .contact-bottom { margin-top:24px;}
.content.contact-detail .contact-bottom ul { text-align:right;}
.content .top-title { padding:0 15px;}
.content .top-title h1 { width:100%;}
.content .padding-10 { padding:0 15px;}
.content .live-show-detail { padding:0px;}
.content.about-us-content .live-show-detail h3 { text-align:right;}
.content.menu-inner .menu-thumbnail { height:auto;}
.content.about-us-content .content-right-bottom-live h1 ,.content.about-us-content .content-right-bottom-live a{ max-width:100%;}
.accordian-detail { text-align:right;}
.content.contact-detail form { margin-top:20px;}
.content .content-right .live-show-detail h3, .content .content-right .live-show-detail p, .content .content-right .live-show-detail span, .content .content-left .opening-hours ul li span, .content .content-left .opening-hours ul li p, .content.about-us-content .live-show-detail h3 { font-size:18px;}
.content .panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a, .content .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body { font-size:18px;}
.content.contact-detail .contact-bottom ul li h2, .content.contact-detail .contact-bottom ul li p { font-size:18px;}
.content .live-show-content ul li .live-show-description p, .content .live-show-content ul li .live-show-description h2 { font-size:18px; text-align:right;}
.content.about-us-content .side-bar-special ul li p { font-size:18px;}
.content.menu-inner .menu-detaildescription h2 { font-size:20px;}
.content.menu-inner .menu-detaildescription p { font-size:18px;}
}


@media screen and (max-width:640px) { 
footer .footer-detail ul li { border:0px;}
}
@media screen and (max-width:480px) {.content .padding-10.col-xs-6 {width:100%;}
.content .live-show-content ul li .live-show-timeing { float:none; margin:0 auto;}
.content .live-show-content ul li .live-show-description { width:100%; text-align:center;}
.content.about-us-content .live-show-detail { text-align:right;}
.content.menu-inner .pagination-menu a { font-size:15px;}
.content .live-show-content ul li .live-show-description p, .content .live-show-content ul li .live-show-description h2 { font-size:18px; text-align:center;} 
 }
@media screen and (max-width:380px) {
	.content.contact-detail form label { display:block; text-align:center;}
	.content.contact-detail form input[type="text"], textarea { width:100%;}
	.content.contact-detail form p { width:100%; text-align:center;}
	

 }