/* General styles for all menus */
.cbp-spmenu {
	background: #1c1c1c;
	position: fixed;
}
.cbp-spmenu li {
	line-height: 90px;
}
 .cbp-spmenu a {
	text-align: left;
	font-size: 26px;
	color: #858585;
	padding: 0px;
	font-family: 'open_sanslight';
	text-transform: uppercase;
	padding: 0 0 0 75px;
	display: block;
	text-decoration: none;
}
.cbp-spmenu li a:hover {
	background-color: #131313;
}
 
.cbp-spmenu li:hover a { color:#19d5db;}
 
/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
	width: 640px;
	height: 100%;
	top: 0;
	z-index: 1000;
	overflow-y: scroll;
}
.cbp-spmenu-vertical a {
	border-bottom: 1px solid #0d0d0d;
}
.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}
.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}
.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}
/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
	left: -640px;
}
.cbp-spmenu-right {
	right: -240px;
}
.cbp-spmenu-left.menu-open {
	left: 0px;
}
.cbp-spmenu-right.menu-open {
	right: 0px;
}
/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}
.cbp-spmenu-bottom {
	bottom: -150px;
}
.cbp-spmenu-top.menu-open {
	top: 0px;
}
.cbp-spmenu-bottom.menu-open {
	bottom: 0px;
}
/* Push classes applied to the body */
.push-body {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.push-body-toright {
	left: 240px;
}
.push-body-toleft {
	left: -240px;
}
/* Transitions */
.cbp-spmenu, .push-body {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
