*{ margin:0px; padding:0px; }
body { font-family: 'Lato', sans-serif; background:#eee;  }
.container {width:640px; margin:0 auto;  position:relative; }
.clear {clear:both;}

/*----------------Global----------------*/
input[type="text"],input[type="email"],input[type="password"] { font-size:24px; line-height:56px; color:#5e5e5e; font-weight:600; text-transform:uppercase; width:100%; border:0px;background:none; outline:none;}
::-webkit-input-placeholder {color:#5e5e5e;}
:-moz-placeholder {color:#5e5e5e;}
::-moz-placeholder {color:#5e5e5e;}
:-ms-input-placeholder {color:#5e5e5e;}
::-ms-input-placeholder {color:#5e5e5e;}
:placeholder-shown {color:#5e5e5e;}

/*----------------Slide Menu----------------*/
.left-slide-menu {}
.left-slide-menu .cbp-spmenu .menu-inner {padding:60px 0 0 0; width:550px; float:left ;}
.left-slide-menu .cbp-spmenu .menu-right-icon { width:70px; background:#fff; float:right; position:relative; height:100%; top:0px; bottom:0px; padding:70px 0 0 0; text-align:center; box-sizing:border-box;}
.left-slide-menu .cbp-spmenu .menu-right-icon a { margin:0px; padding:0px; border:0px; display:inline-block;}
.left-slide-menu .cbp-spmenu {  box-sizing:border-box;}
.left-slide-menu .cbp-spmenu .user-name { padding:0 44px 60px 44px; border-bottom:1px solid #0d0d0d;}
.left-slide-menu .cbp-spmenu .user-name .user-avatar { float:left; width:80px;}
.left-slide-menu .cbp-spmenu .user-name h1 { font-size:34px; color:#fff; font-weight:400; margin:29px 0 0 32px; float:left; 
line-height:28px; }
.left-slide-menu .cbp-spmenu .setting-icon { float:right; margin:30px 0 0 0;}
.left-slide-menu .cbp-spmenu .setting-icon a { padding:0px; margin:0px; border:0px;}
.left-slide-menu .cbp-spmenu ul { margin:0px; padding:0px; }
.left-slide-menu .cbp-spmenu ul li { display:block; padding:0 44px; border-bottom:1px solid #0d0d0d;}
.left-slide-menu .cbp-spmenu ul li:last-child { border-bottom:0px;}
.left-slide-menu .cbp-spmenu ul li a { font-size:28px; line-height:24px; color:#cacaca; text-decoration:none; border-bottom:0px;font-family: 'Lato', sans-serif; font-weight:600; text-transform:uppercase; padding:0 0 0 56px; margin:0px; line-height:100px;}
.left-slide-menu .cbp-spmenu ul li a:hover { background:none; color:#cacaca; }
.left-slide-menu .cbp-spmenu ul li.account a{ background:url(../images/my-account-icon.png) left center no-repeat;}
.left-slide-menu .cbp-spmenu ul li.friends a{ background:url(../images/friend-icon.png) left center no-repeat;}
.left-slide-menu .cbp-spmenu ul li.feeds { padding:0px;}
.left-slide-menu .cbp-spmenu ul li.feeds a{ background:url(../images/feed-icon.png) 44px center no-repeat , url(../images/dropdown-arrow.png) 92% center no-repeat; padding:0 100px;}
.left-slide-menu .cbp-spmenu ul li.messages a{ background:url(../images/messages-icon.png) left center no-repeat  ;}
.left-slide-menu .cbp-spmenu ul li.logout a{ background:url(../images/logout-icon.png) left center no-repeat;}
.left-slide-menu .cbp-spmenu ul li.photos a{ background:url(../images/photos-icon.png) 44px center no-repeat #131313;}
.left-slide-menu .cbp-spmenu ul li.videos a{ background:url(../images/video-icon.png) 44px center no-repeat #131313;}
.left-slide-menu .cbp-spmenu ul li.text a {  background:url(../images/text-icon.png) 44px center no-repeat #131313;}
.left-slide-menu .cbp-spmenu ul li ul { display:none;}
.left-slide-menu .cbp-spmenu ul li ul li { padding:0px;}
 



/*----------------Splash Page----------------*/
.splash-outer { }
.splash-outer .sign-up-btn { text-align:right;}
.splash-outer .sign-up-btn a { font-size:24px; color:#cf2d1d; text-decoration:none; text-transform:uppercase; margin:58px 36px 0 0; line-height:18px; display:inline-block; font-weight:600; letter-spacing:1.1px; }
.splash-outer .logo { margin:150px 0 247px 0;}
.splash-outer .logo img { max-width:100%;}
.splash-outer .go-arrow { text-align:center; margin:0 0 228px 0;}


/*----------------Sign In Page----------------*/
.top-bar { background:#cf2d1d; padding:70px 25px 25px 31px; max-height:144px;}
.top-bar .back-arrow { float:left; width:25px; }
.top-bar .menu-icon { float:left; width:30px; }
.top-bar .page-title { float:left; width:534px; text-align:center;}
.top-bar .page-title-profile { float:left; width:484px; text-align:center;}
.top-bar .page-title span { font-size:34px; color:#ffffff; line-height:26px; display:inline-block;}
.top-bar .cross-btn { width:21px; display:inline-block;}
.top-bar .save-profile a { width:21px; display:inline-block; font-size:24px; color:#ffffff; line-height:20px; text-transform:uppercase; text-decoration:none;}
.top-bar .navbar {}
.top-bar .navbar ul { margin:0px; padding:60px 0 0 0; }
.top-bar .navbar ul li { margin:0 53px 0 0; display:inline-block; list-style:none; }
.top-bar .navbar ul li:last-child { margin:0px;} 
.top-bar .navbar ul li.active{ border-bottom:4px solid #fff;}
.top-bar .navbar ul li.active a { font-weight:bold;}
 .top-bar .navbar ul li a { font-size:18px; line-height:36px; color:#ffffff; text-decoration:none;text-transform:uppercase;}
 
 
/*----------------Content----------------*/
.content {}
.content .logo {padding:60px 0 70px 0; }
.content .logo img { max-width:100%;}
.content .sign-in-form { padding:0 60px;}
.content .sign-up-form {padding:114px 60px 0 60px;}
.content .password-form {padding:77px 60px 0 60px;}
.content .change-password-form {padding:113px 60px 0 60px;}
.content form .email-field { background:url(../images/email-icon.png) left center no-repeat; padding:0 0 0px 52px; border-bottom:1px solid #aaaaaa; margin:0 0 63px 0;}
.content form .name-field { background:url(../images/user-icon.png) left center no-repeat; padding:0 0 0px 52px; border-bottom:1px solid #aaaaaa; margin:0 0 63px 0;}
.content form .password-field  { background:url(../images/password-icon.png) left center no-repeat; padding:0 0 0px 52px; border-bottom:1px solid #aaaaaa; margin:0 0 63px 0; position:relative;}
.content form .password-field .info { position:absolute; right:0px; bottom:8px;}
.content form .singin-btn { text-align:center;}
.content form input[type="button"]{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none; width:310px; margin:19px auto 109px auto; background:#22c064; font-size:24px; color:#ffffff; letter-spacing:1px; line-height:80px; border:0px; border-radius:40px; text-transform:uppercase; display:inline-block; font-weight:600; cursor:pointer; outline:none;}
.content form .fb-btn { text-align:center;}
.content form .fb-btn input[type="button"]{ background:url(../images/fb-icon.png) 4px center no-repeat #375c90 ;width:427px; margin-bottom:63px; padding-left:73px;}


.content .contact-detail { padding:35px 0 23px 0; border-bottom:1px solid #dbdbdb;}
.content .contact-detail .contact-logo { float:left; width:272px;}
.content .contact-detail .contact-info { float:right; padding:18px 0 8px 0; width:368px; }
.content .contact-detail .contact-info .contact-inner { padding:0 0 38px 0;}
.content .contact-detail .contact-info .contact-inner:last-child { padding:0px;}
.content .contact-detail .contact-info h1 { font-size:24px; color:#606060; font-weight:600; line-height:18px; margin:0 0 6px 0; }
.content .contact-detail .contact-info h1 span { font-size:18px;}
.content .contact-detail .contact-info p { font-size:24px; color:#cf2d1d; line-height:24px;  }
.content .contact-form { background:#fff; padding:44px 92px 50px 80px; border-top:2px solid #f2f2f2; }
.content .contact-form p { color:#5d5d5d; font-size:18px; text-align:center; line-height:22px; margin-bottom:50px;}
.content form .contact-field { background:url(../images/phone-icon.png) left center no-repeat; padding:0 0 0px 52px; border-bottom:1px solid #aaaaaa; margin:0 0 63px 0;}
.content form .age-field { background:url(../images/age-icon.png) left center no-repeat; padding:0 0 0px 52px; border-bottom:1px solid #aaaaaa; margin:0 0 63px 0;}
.content form .comment-field {}
.content form .comment-field label {font-size:24px; line-height:56px; color:#5e5e5e; font-weight:600; text-transform:uppercase; width:100%; display:block; background:url(../images/comment-icon.png) left center no-repeat; padding:0 0 0px 52px; border-bottom:1px solid #aaaaaa; box-sizing:border-box; }
.content form .comment-field textarea { resize:none; border:0px;border-bottom:1px solid #aaaaaa; width:100%; padding:15px; box-sizing:border-box; min-height:140px; box-sizing:border-box;}
.content form .gender-field label {font-size:24px; line-height:56px; color:#5e5e5e; font-weight:600; text-transform:uppercase; width:100%; display:block; background:url(../images/gender-icon.png) left center no-repeat; padding:0 0 0px 52px; box-sizing:border-box; }
.content form .gender-field ul { float:left; margin:8px 0 0 44px;}
.content form .gender-field ul li { display:block; margin-bottom:18px;}
.content form .gender-field ul li label { font-size:18px; color:#5d5d5d; line-height:18px; background:none; margin:0px; padding:0px; font-weight:400; cursor:pointer; }
.content form .gender-field ul li label input[type="radio"] { display:none;}
.content form .gender-field ul li label span { background:url(../images/checkbox.png) left center no-repeat; padding:0 0 0 24px;}
.content form .gender-field ul li label input[type="radio"]:checked + span  { background:url(../images/checkbox-checked.png) left center no-repeat; padding:0 0 0 24px;}
.content form .gender-field input[type="button"] { float:right; width:220px; margin:0px;}

/*----------------News page----------------*/
.content .news-content { padding:15px 12px; }
.content .news-content .news-detail { background:#fff; padding:11px 10px;-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.1);
-moz-box-shadow:0px 0px 6px 0px rgba(50, 50, 50, 0.1);box-shadow:0px 0px 6px 0px rgba(50, 50, 50, 0.1); margin-bottom:16px;}
.content .news-content .news-detail .news-thumbnail { float:left; width:133px;}
.content .news-content .news-detail .news-description {background: url(../images/right-arrow.png) 98% center no-repeat; float:right; width:443px; padding:8px 0 0 0;}
.content .news-content .news-detail .news-description a { text-decoration:none;}
.content .news-content .news-detail .news-description h1 { font-size:25px; color:#525252; line-height:20px; font-weight:600; margin:0px; text-transform:uppercase; margin-bottom:14px;}
.content .news-content .news-detail .news-description p { font-size:20px; line-height:26px; color:#5e5e5e; font-weight:600; letter-spacing:0.3px;}
.content .news-content .news-detail .news-description span { font-size:18px; line-height:24px; color:#adadad; display:inline-block; margin:10px 0 0 0; text-transform:uppercase;}


/*----------------Training page----------------*/
.content .training-content { padding:16px 14px; }
.content .training-content .training-detail {   margin-bottom:14px; max-height:275px;}
.content .training-content .training-thumbnail { float:left; width:297px; font-size:0px;}
.content .training-content .training-thumbnail img {width:100%;height:275px;}
.content .training-content .training-description { float:right;background:#fff;-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.1);
-moz-box-shadow:0px 0px 6px 0px rgba(50, 50, 50, 0.1);box-shadow:0px 0px 6px 0px rgba(50, 50, 50, 0.1); padding:24px 36px 28px 36px; width:315px; box-sizing:border-box; height:275px;}
.content .training-content .training-description h1 { font-size:25px; color:#525252; font-weight:bold; margin:0px; padding:0px; text-transform:uppercase; line-height:30px;}
.content .training-content .training-description ul { margin:25px 0 0 0; padding:0px;}
.content .training-content .training-description ul li { display:block; font-size:16px; line-height:18px; text-transform:uppercase; color:#5d5d5d; line-height:24px; background:url(../images/callender-icon.png) left center no-repeat; padding:0 0 0 40px; margin-bottom:14px;}
.content .training-content .training-description ul li.time{ background:url(../images/clock-icon.png) left center no-repeat;}
.content .training-content .training-description ul li.username{ background:url(../images/user-icon-2.png) left center no-repeat;}
.content .training-content .training-description ul li.location{ background:url(../images/location-icon.png) left center no-repeat;}
.content .training-content .training-description ul li:last-child { margin-bottom:0px;}
.content .training-content .training-description p { font-size:20px; line-height:30px; color:#7e7e7e; text-transform:uppercase; margin:20px 0 16px 0;}
.content .training-content .training-description span { font-size:30px; line-height:30px; color:#cf2d1d; display:block; margin:0 0 22px 0;}
.content .training-content .training-description a { line-height:53px; background:#22c064; text-align:center; width:165px; font-size:18px; color:#ffffff; display:inline-block; text-transform:uppercase; text-decoration:none; border-radius:24px;}

/*----------------Profile page----------------*/
.content .profile-detail {}
.content .profile-detail .user-profile { text-align:center;}
.content .profile-detail .user-profile a {  padding:78px 0 72px; display:inline-block;font-size:24px; color:#9d9d9d; text-decoration:none; text-transform:uppercase; line-height:15px; background:#efefef; width:100%; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc;}
.content .profile-detail .user-profile form { }
.content .profile-detail .user-profile form ul { margin:0px; padding:0px; }
.content .profile-detail .user-profile form ul li { background:#fff; display:block; width:100%; box-sizing:border-box;   border-bottom:1px solid #aaaaaa; padding:30px 40px 32px 31px;}
.content .profile-detail .user-profile form ul li  label { float:left; text-transform:uppercase; font-size:24px; color:#5e5e5e; line-height:56px; background:url(../images/profile-name-icon.png) left center no-repeat; padding:0 0 0 41px;}
.content .profile-detail .user-profile form ul li.city label{ background:url(../images/city-icon.png) left center no-repeat;}
.content .profile-detail .user-profile form ul li.about label { background:url(../images/about-icon.png) left center no-repeat; width:100%; text-align:left; float:none; display:block;}
.content .profile-detail .user-profile form ul li.email { border-top:1px solid #aaaaaa; margin:29px 0 0 0;}
.content .profile-detail .user-profile form ul li.email label { background:url(../images/email-icon.png) left center no-repeat;}
.content .profile-detail .user-profile form ul li input[type="text"]{ float:right; width:auto; text-transform:none; text-align:right; color:#555555;}
.content .profile-detail .user-profile form ul li input[type="email"]{ float:right; width:auto; text-transform:none; text-align:right; color:#555555;}
.content .profile-detail .user-profile form ul li p{ display:block; width:100%; border:0px none; resize:none; font-size:24px; line-height:30px; color:#5e5e5e; text-align:left; }