@media (max-width:1300px) {
	header .nav a { font-size:1.4em; margin:0 4px;}
	header h2 { left:40%;}
	.middle p { margin-right:80px;}
}
@media (max-width:1024px) {
header {height:240px;}
.bottom-h { margin-top:235px;}
#start-sharing { margin-top:65px;}
header h1 { float:none; width:100%; text-align:center; margin-top:0px; padding-top:25px; left:0px; margin-left:0px;}
header h2 { position:static; width:100%; text-align:center;}
header #center-nav { right:0px; width:100%; text-align:center;}
#lan { float:none;}
header .nav{ margin-top:10px;}
header #wiki-nav { width:100%; text-align:center; display:none;}
.container-header { height:210px;}
body #second h3 { top:290px;}
#second .center-v { margin-top:0px;}
#news_content { display:none;}
}
@media (max-width:992px) {
	.scrollsections { padding-top:240px !important;}
	body  { padding-top:260px;}
	.center-v { top:25% !important;}
	#news_content_2 { display:none;}
	#four h2 { position:static;}
	#section-counter .heading-row { position:static;}
	#second .center-v { height:auto; text-align:center;}
	#second .middle { display:none;}
	#second .middle.right { display:block; width:100%;}
	#second .middle.right p { margin:0px; text-align:center; padding:0 15px;}
	body #second h3,#four h2 { position:static; margin-top:50px;}
	#second .center-v { position:static !important;}
	body #second h3 ,#four h2 ,#howtoshare h3,#section-counter .heading-row h2 em{ font-size:24px; line-height:1.4;}
	.center-v { position:static;}
	#four ul { width:100%; margin:0px;}
	#four ul li { float:none;  text-align:center; height:auto; width:100% !important; padding:0 10px; box-sizing:border-box;}
	#four .center-v { min-width:0px;}
	#howtoshare .flex-viewport .slides { top:25%;}
	#howtoshare .slide-3 .titleright { display:none;}
	#section-counter .center-v { margin-top:0px;}
	.marcas-container { width:100%;}
	#section-counter h3,#section-counter .data-shared h3 span { font-size:60px; text-align:center; display:block; float:none;}
	#section-counter .data-shared h3 span { display:inline-block;}
	#section-counter .data-shared h3 { font-size:60px;}
	#section-counter h4 { float:none; text-align:center; background:rgba(0, 0, 0, 0) url("../img/icon-counter.jpg") no-repeat scroll top center;}
	#section-counter .data-shared h4 { float:none; text-align:center; background:rgba(0, 0, 0, 0) url("../img/icon-shared.jpg") no-repeat scroll top center; width:100%; box-sizing:border-box; margin-left:0px; padding-left:10px; padding-right:10px;}
	#section-counter .heading-row { padding-top:0;}
	.marcas-container { padding-bottom:0px;}
	#howtoshare .cont-circles .circle { display:none;}
	#howtoshare { display:none;}
	#share-for-good { width:100%;}
	#last .center { top:10%;}
	#last h4 { display:none;}
	#last .center { height:auto;}
	#last .inner { height:auto;}
	.footer-path { padding:0 10px; box-sizing:border-box;}
	#footer { padding:10px 0;}
	#footer .centered_container { width:100%;}
	#share-for-good li { margin-right:20px;}
	.full_container { width:100%; min-width:0px;}
	#footer .navegacion_footer ul li { display:block; text-align:center;}
	#footer .navegacion_footer ul li:nth-child(even) { display:none;}
	#footer .navegacion_footer { float:none;}
	#footer .footer_social { float:none; text-align:center;}
	#footer .footer_social ul li { float:none; display:inline-block;}
	#last .center { position:static;}
}
