@font-face {
  font-family: 'VanDijkICGBold';
  src: url("fonts/VanDijkICGBoldd41d.eot?#iefix") format("embedded-opentype"), url("fonts/VanDijkICGBold.woff") format("woff"), url("fonts/VanDijkICGBold.ttf") format("truetype"), url("fonts/VanDijkICGBold.svg#VanDijkICGBold") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Avenir Next';
  font-size: 18px;
  background-color: #F9F9F9; }

a {
  text-decoration: none; }

a, input, textarea, button {
  transition: all 0.25s; }

textarea {
  resize: none; }

button {
  cursor: pointer;
  outline: none;
  font-family: 'Avenir Next'; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column; }

.container {
  padding: 0 30px; }

input[type="text"], textarea {
  outline: none;
  font-family: 'Avenir Next';
  font-style: 16px;
  font-weight: 100;
  border: 2px solid #CECECE;
  padding: 11px 16px;
  color: #2D2D2D;
  letter-spacing: .8px;
  line-height: 26px;
  border-radius: 3px;
  margin: 6px 0; }
  input[type="text"]:focus, textarea:focus {
    border: 2px solid #11D170; }

.btn {
  padding: 12px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 100;
  letter-spacing: 0.75px;
  font-size: 21px;
  border: none;
  display: table; }
  .btn_navy {
    color: #fff;
    background-color: #000000; }
    .btn_navy:hover {
      background-color: rgba(0, 0, 0, 0.25); }
  .btn_green {
    color: #fff;
    background-color: #11D170; }
    .btn_green:hover {
      background-color: #000000; }

header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 30px 0px; }

.header {
  position: relative;
  top: 0;
  z-index: 100; }
  .header .active {
    background-color: rgba(255, 255, 255, 0.18); }
  .header a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 1px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center; }
  .header__right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center; }
    .header__right a {
      padding: 7px 17px;
      border-radius: 3px;
      margin: 0 10px; }
      .header__right a:hover {
        background-color: rgba(255, 255, 255, 0.18); }
      .header__right a::before {
        content: '';
        display: inline-block;
        background-repeat: no-repeat;
        margin-right: 10px; }
  .header a[data-navbarItemName='home']::before {
    width: 20px;
    height: 18px;
    background-image: url(svg/nav-home.svg); }
  .header a[data-navbarItemName='about']::before {
    width: 25px;
    height: 21px;
    background-image: url(svg/nav-users.svg); }
  .header a[data-navbarItemName='contact']::before {
    width: 19px;
    height: 19px;
    background-image: url(svg/nav-phone-call.svg); }

.section-welcome {
  min-height: 100vh;
  width: 100vw;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-image: url(img/people-processed.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 100%; }
  .section-welcome__content {
    margin-bottom: 300px; }
  .section-welcome h1, .section-welcome h3 {
    margin: 0;
    text-align: center; }
  .section-welcome h1 {
    font-family: 'VanDijkICGBold';
    font-size: 90px;
    letter-spacing: 4px;
    text-shadow: 0px 2px 40px rgba(77, 62, 62, 0.1);
    margin: 20px 0px; }
  .section-welcome h3 {
    font-size: 28px;
    letter-spacing: 1.2px;
    font-weight: 100; }

.page-title {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0; }
  .page-title_icon {
    width: 50px;
    height: 50px; }
  .page-title_header {
    margin: 10px 0;
    margin-top: 20px; }
    .page-title_header h2 {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 5px;
      text-align: center; }
      .page-title_header h2 b {
        font-weight: 700; }
  .page-title_subheader {
    letter-spacing: 1px;
    margin: 0;
    font-weight: 100; }

.services-tree_category {
  font-size: 24px;
  letter-spacing: 1px;
  color: #9D9D9D;
  margin-bottom: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-top: 50px; }

.services-tree_branch-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  font-weight: 100;
  letter-spacing: .75px;
  margin: 15px 0; }

.services-tree_branch-parent {
  color: #fff;
  background-color: #F9F9F9;
  position: relative;
  z-index: 10; }

.services-tree_branch-child::before {
  content: '';
  width: 19px;
  height: 44px;
  background-image: url(svg/tree-corner-long.svg);
  background-repeat: no-repeat;
  margin-left: 30px;
  margin-right: 10px;
  margin-top: -40px; }

.services-tree_branch-child-first {
  border-top: 10px solid #F9F9F9; }
  .services-tree_branch-child-first::before {
    content: '';
    width: 19px;
    height: 21px;
    background-image: url(svg/tree-corner.svg);
    background-repeat: no-repeat;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: -20px; }

.services-tree_icon {
  min-width: 25px;
  height: 25px;
  margin-right: 10px;
  display: inline-block; }

.services-tree_text {
  padding: 3px 8px;
  border-radius: 3px; }

footer {
  margin-top: 150px;
  background-color: #11D270;
  color: #fff; }
  footer span {
    font-weight: 100; }

.footer-rect {
  position: relative; }

.footer-rect_gray {
  width: 0;
  height: 0;
  border-bottom: 150px solid #EDECED;
  border-left: 50vw solid transparent;
  position: absolute;
  right: 0;
  top: -150px; }

.footer-rect_green {
  width: 0;
  height: 0;
  border-bottom: 150px solid #11D270;
  border-right: 100vw solid transparent;
  position: absolute;
  top: -150px; }

.footer {
  padding: 20px 0; }
  .footer_top {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between; }
    .footer_top span {
      font-size: 30px;
      letter-spacing: 0.75px;
      margin: 10px 0; }
  .footer_bottom {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.75px; }
    .footer_bottom span {
      font-size: 16px;
      margin: 10px 0; }
    .footer_bottom a {
      color: #fff;
      font-weight: 100; }

.contact-form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 200px; }
  .contact-form__left {
    padding-left: 0;
    margin-bottom: -5px; }
  .contact-form__right {
    padding: 30px; }
    .contact-form__right h3 {
      font-size: 30px;
      letter-spacing: 2px;
      font-weight: 500; }
    .contact-form__right button {
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 4px;
      width: 116px;
      margin-top: 10px; }
  .contact-form__map {
    overflow: hidden; }
    .contact-form__map img {
      width: 200%; }

.icon-block__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }
  .icon-block__content-left {
    width: 50%; }
  .icon-block__content-right {
    width: 50%; }

.icon-block {
  margin: 30px 0px;
  margin-left: 40px;
  line-height: 26px; }
  .icon-block::before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 20px;
    margin-left: -40px; }
  .icon-block__address::before {
    background-image: url(svg/contacts-placeholder.svg); }
  .icon-block__phone::before {
    background-image: url(svg/contacts-phone-call.svg); }
  .icon-block__mail::before {
    background-image: url(svg/contacts-envelope.svg); }

section {
  margin-top: 230px; }

.footer_top {
  flex-direction: column; }

.footer_bottom {
  flex-direction: column; }

.section-welcome {
  margin-top: 0; }
  .section-welcome__content {
    margin-bottom: 0px; }
  .section-welcome h1 {
    font-size: 36px; }
  .section-welcome h3 {
    font-size: 20px; }

.header__right {
  flex-direction: column; }
  .header__right a {
    margin: 10px 0; }

.icon-block__content {
  flex-direction: column; }
  .icon-block__content-left {
    width: 100%; }
  .icon-block__content-right {
    width: 100%; }

.contact-form__left {
  padding-right: 0; }

.services-tree_branch-parent {
  white-space: wrap; }

@media only screen and (min-width: 48em) {
  section {
    margin-top: 100px; }
  .footer_top {
    flex-direction: row; }
  .footer_bottom {
    flex-direction: row; }
  .section-welcome__content {
    margin-bottom: 300px; }
  .section-welcome h1 {
    font-size: 64px; }
  h3 {
    font-size: 24px; }
  .header__right {
    flex-direction: row; }
  .icon-block__content {
    flex-direction: row; }
    .icon-block__content-left {
      width: 50%; }
    .icon-block__content-right {
      width: 50%; }
  .contact-form__left {
    padding-right: .5rem; }
  .services-tree_branch-parent {
    white-space: nowrap; } }

@media only screen and (min-width: 64em) {
  .section-welcome h1 {
    font-size: 90px; }
  .section-welcome h3 {
    font-size: 28px; } }
