$themeColor: #333333;
$secondaryColor: #4c4c4c;
$linkColor: #3ca0e6;
$blackColor: #000;
$whiteColor: #ffffff;
$grayColor: #f9f9f9;
$lightGrayColor: #cdcdcd;
$lightergray: #eeeeee;
$secondaryGrayColor: #666;
$darkgrayColor: #999;
$dangerColor: #cc0000;
$baseFontSize: 16;
$fontProximaRegular: 'Proxima Nova Regular';
$fontProximaBold: 'Proxima Nova Bold';
$fontProximaRegularItalic: 'Proxima Nova RegularIt';