* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

.wrapper {
    position: relative;
    min-height: 100vh;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    color: #00415e;
    display: inline-block;
    margin: 0 0 0 -7px;
    padding: 0px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    line-height: 21px;
    text-align: left;
    color: #00415e;
    margin: 0 0 38px 0;
}

[type='text'],
[type='password'],
textarea,
input[type="text"]:focus,
input[type="password"]:focus,
select {
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    color: #00415e;
    padding-bottom: 8px;
    border: 0px;
    outline: none;
    width: 100%;
    border-bottom: 1px solid #47768a;
    border-radius: 0px !important;
    -webkit-appearance: none;
    background: none;
    box-shadow: none;
    padding-left: 0;
}
select {
    padding-left: 15px;
}
input[type="submit"] {
    background-color: #46a2e7;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    padding: 17px 20px 13px;
    text-align: center;
    color: #ffffff;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    max-width: 400px;
    display: block;
    margin: auto;
}

input[type="submit"]:focus {
    background-color: #358bc5;
    outline: none;
    border: 0;
}

select {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background: url(../images/drop-down.svg)center right no-repeat;
}

select:focus {
    outline: none;
    box-shadow: none;
}

::-webkit-input-placeholder {
    color: rgba(0, 65, 94, 0.53);
}

 ::-moz-placeholder {
    color: rgba(0, 65, 94, 0.53);
}

 :-ms-input-placeholder {
    color: rgba(0, 65, 94, 0.53);
}

 :-moz-placeholder {
    color: rgba(0, 65, 94, 0.53);
}

.content .white-card {
    padding: 16px;
    margin-bottom: 16px;
}

.form_row {
    position: relative;
    margin-bottom: 43px;
}

form label {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: rgba(0, 65, 94, 0.53);
    -moz-transition: color 0.3s, top 0.3s;
    -o-transition: color 0.3s, top 0.3s;
    -webkit-transition: color 0.3s, top 0.3s;
    transition: color 0.3s, top 0.3s;
    margin: 0px;
}

form label.active {
    position: absolute;
    top: -10px;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #47768a;
}

p.error {
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    color: #c20430;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -20px;
    right: 0;
}

header {
    padding: 16px 16px 12px 16px;
    background-color: #46a2e7;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 60px;
}

header .header-right {}

header .header-right .dropdown.menu>li.is-dropdown-submenu-parent>a {
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 25px;
}

header .header-right .dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    border-color: #fff transparent transparent;
}

.banner {
    padding: 16px;
    margin: 0 0 16px 0;
}

.banner-inner {
    background-color: #d8d8d8;
    padding: 100px 0;
    text-align: center;
}

.breadcrumbs {
    margin-bottom: 50px;
}

.breadcrumbs li {
    list-style: none;
}

.breadcrumbs li a.active {
    font-weight: bold;
    color: #00415e;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px 0;
}

footer p {
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    color: #00415e;
    margin: 0;
    line-height: 25px;
}

footer ul {
    margin: 0;
    display: block;
    text-align: right;
    padding: 0;
}

footer ul li {
    margin: 0 30px 0 0;
    padding: 0;
    display: inline-block;
}

footer ul li:last-child {
    margin: 0;
}

footer ul li a {
    color: #00415e;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

footer ul li a:hover {
    color: #46a2e7;
    text-decoration: underline;
}
.table-outer {
    overflow-x: scroll;
}

table {
    border-collapse: collapse;
    min-width: 1000px;
}

table.unstriped tbody {
    background-color: transparent;
}

table th {
    background-color: #d8d8d8;
}

table select {
    border: 1px solid #47768a;
    border-right: 0;
}
table select:focus {
     border: 1px solid #47768a;
    border-right: 0;
}

table ul {
    margin: 0;
    list-style: none;
}

table ul li {
    display: block;
}
table input[type="submit"] { border-radius: 0 4px 4px 0 !important; }
table select { border-radius: 4px 0 0 4px !important; }


table ul li a,
table td {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #00415e;
}
table td span {
    display: block;
}
table ul li a:hover {
    text-decoration: underline;
}
table tbody tr {
    border-bottom: 1px solid #eee;
}

table tbody tr:nth-child(even) {
    background: none;
}


@media only screen and (max-width: 767px) {
    h2 {
        font-size: 16px;
    }
    footer {
        position: static;
    }
    footer ul {
        text-align: center;
    }
    footer ul li {
        margin: 0 10px 0 0;
    }
    footer ul li a {
        font-size: 12px;
    }
}