/*--------------------Fonts--------------------*/

@font-face {
    font-family: 'Avenir Medium';
    src: url('../fonts/Avenir-Medium.eot');
    src: url('../fonts/Avenir-Mediumd41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Avenir-Medium.html') format('woff2'),
    url('../fonts/Avenir-Medium.woff') format('woff'),
    url('../fonts/Avenir-Medium.ttf') format('truetype'),
    url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}


















/*--------------------Global--------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: url(../images/main-background.png) top left no-repeat #b8b1ab;
    /*background-size: 100% 100%;*/
    min-height: 100%;
    font-family: 'PT Sans', sans-serif;
}

body.open {
    overflow: hidden;
}

body.inner-template {
    background: url(../images/inner-bg.png) top left no-repeat #fff;
    /*background-size: 100% 100%;*/
    min-height: 100%;
}

.clear {
    clear: both;
}

.container {
    width: 100%;
    max-width: 1031px;
    margin: 0 auto;
}

a,
button {
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    outline: none;
}

img {
    outline: none;
    border: 0px;
    vertical-align: bottom;
    max-width: 100%;
}

.right-space {
    margin-right: 16px;
}

.bottom-space {
    margin-bottom: 16px;
}





















/*--------------------Header--------------------*/

header {
    padding: 21px 0 23px 0;
}

header .logo {
    padding: 0 10px;
    float: left;
    font-size: 0;
}

header .header-right {
    float: right;
    padding: 24px 0 0 0;
    width: 83.8%;
}

header .navbar {
    float: left;
    padding: 9px 0 0 0;
}

header .navbar ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    max-height: 28px;
}

header .navbar ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
}

header .navbar ul li:after {
    position: absolute;
    right: 0;
    width: 1px;
    background: #000;
    content: "";
    height: 12px;
    top: -1px;
    bottom: 0;
    margin: auto;
}

header .navbar ul li:last-child:after {
    display: none;
}

header .navbar ul li a {
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.6px;
    font-family: 'Avenir Medium';
    text-decoration: none;
    line-height: 28px;
    display: inline-block;
    padding: 0 10px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

header .navbar ul li a.home {
    padding-right: 16px;
}

header .navbar ul li a.home:hover,
header .navbar ul li a.home.active {
    background: url(../images/home-hover.png) left center no-repeat;
}

header .navbar ul li a.about-us:hover,
header .navbar ul li a.about-us.active {
    background: url(../images/about-us-hover.png) center bottom no-repeat;
}

header .navbar ul li a.our-work:hover,
header .navbar ul li a.our-work.active {
    background: url(../images/our-work-hover.png) center bottom no-repeat;
}

header .navbar ul li a.testimonials:hover,
header .navbar ul li a.testimonials.active {
    background: url(../images/testimonial-hover.png) center bottom no-repeat;
}

header .navbar ul li a.clients:hover,
header .navbar ul li a.clients.active {
    background: url(../images/clients-hover.png) center bottom no-repeat;
}

header .navbar ul li a.contact-us:hover,
header .navbar ul li a.contact-us.active {
    background: url(../images/contact-us-hover.png) center bottom no-repeat;
}

header .navbar ul li a.ftp-access:hover,
header .navbar ul li a.ftp-access.active {
    background: url(../images/ftp-hover.png) center bottom no-repeat;
}

header .navbar ul li a.whats-new:hover,
header .navbar ul li a.whats-new.active {
    background: url(../images/whats-new-hover.png) center bottom no-repeat;
}

header .social-icons {
    float: right;
    margin: 0 -23px 0 0;
}

header .social-icons ul {
    margin: 0;
    padding: 0;
    font-size: 0;
}

header .social-icons ul li {
    display: inline-block;
    margin: 0 7px 0 0;
}

header .social-icons ul li:last-child {
    margin: 0;
}

header .social-icons ul li a {
    text-decoration: none;
}

header .social-icons ul li a:hover {
    opacity: 0.7;
}


#nav-icon3 {
    display: none;
    width: 30px;
    height: 22px;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #000;
    border-radius: 0;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 9px;
}

#nav-icon3 span:nth-child(4) {
    top: 18px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

















/*--------------------Content--------------------*/

.content {}

.content .content-left {
    float: left;
    width: 629px;
}

.content .content-right {
    float: right;
    width: 386px;
}

.content .content-left .bx-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    border: 0;
    box-shadow: none;
    background: transparent;
}

.content .column {
    position: relative;
}

.content .column a {
    display: inline-block;
}

.content .column a.branding:before {
    position: absolute;
    background: url(../images/branding-box-hover.png) left top no-repeat;
    content: "";
    top: -2px;
    bottom: -4px;
    left: -6px;
    right: -2px;
    margin: auto;
    opacity: 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.content .column a.branding:hover:before {
    opacity: 1;
}

.content .column a.whats-new:before {
    position: absolute;
    background: url(../images/whats-new-box-hover.png) left top no-repeat;
    content: "";
    top: -7px;
    bottom: -5px;
    left: -6px;
    right: -2px;
    margin: auto;
    opacity: 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.content .column a.whats-new:hover:before {
    opacity: 1;
}

.content .column a.logos:before {
    position: absolute;
    background: url(../images/logos-box-hover.png) left top no-repeat;
    content: "";
    top: -7px;
    bottom: -5px;
    left: -6px;
    right: -2px;
    margin: auto;
    opacity: 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.content .column a.logos:hover:before {
    opacity: 1;
}

.content .column a.adds:before {
    position: absolute;
    background: url(../images/adds-box-hover.png) left top no-repeat;
    content: "";
    top: -7px;
    bottom: -5px;
    left: -2px;
    right: -2px;
    margin: auto;
    opacity: 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.content .column a.adds:hover:before {
    opacity: 1;
}

.content .column a.reports:before {
    position: absolute;
    background: url(../images/reports-box-hover.png) left top no-repeat;
    content: "";
    top: -7px;
    bottom: -5px;
    left: -2px;
    right: -4px;
    margin: auto;
    opacity: 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.content .column a.reports:hover:before {
    opacity: 1;
}

.content .column a.display:before {
    position: absolute;
    background: url(../images/display-box-hover.png) left top no-repeat;
    content: "";
    top: -4px;
    bottom: -4px;
    left: -7px;
    right: -9px;
    margin: auto;
    opacity: 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.content .column a.display:hover:before {
    opacity: 1;
}

.content .column a.website:before {
    position: absolute;
    background: url(../images/website-box-hover.png) left top no-repeat;
    content: "";
    top: -9px;
    bottom: -4px;
    left: -7px;
    right: -9px;
    margin: auto;
    opacity: 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.content .column a.website:hover:before {
    opacity: 1;
}

.content .column a.clients:before {
    position: absolute;
    background: url(../images/clients-box-hover.png) left top no-repeat;
    content: "";
    top: -2px;
    bottom: -4px;
    left: -5px;
    right: -5px;
    margin: auto;
    opacity: 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.content .column a.clients:hover:before {
    opacity: 1;
}

.content .column a.testimonials:before {
    position: absolute;
    background: url(../images/testimonial-box-hover.png) left top no-repeat;
    content: "";
    top: -2px;
    bottom: -4px;
    left: -5px;
    right: -5px;
    margin: auto;
    opacity: 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.content .column a.testimonials:hover:before {
    opacity: 1;
}

.content .column a.aboutus:before {
    position: absolute;
    background: url(../images/about-box-hover.png) left top no-repeat;
    content: "";
    top: -4px;
    bottom: -4px;
    left: -5px;
    right: -5px;
    margin: auto;
    opacity: 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.content .column a.aboutus:hover:before {
    opacity: 1;
}

.content .column a.publications:before {
    position: absolute;
    background: url(../images/publications-box-hover.png) left top no-repeat;
    content: "";
    top: -4px;
    bottom: -4px;
    left: -5px;
    right: -5px;
    margin: auto;
    opacity: 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.content .column a.publications:hover:before {
    opacity: 1;
}

.content .content-right .content-right-top {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: space-between;
}

.two-col,
.three-col {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: space-between;
}

.rtl {
    justify-content: flex-end;
}

.content .textual-div {
    background: rgba(255, 255, 255, 0.6);
    padding: 15px;
}

.content .textual-div p {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 15px;
    line-height: 20px;
}

.content .textual-div p strong {
    font-weight: bold;
}













/*Footer*/

footer p {
    font-size: 15px;
    line-height: 16px;
    color: #fff;
    font-weight: bold;
    padding: 40px 0;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

.inner-template footer p {
    padding-left: 179px;
}

.inner-template footer p,
.inner-template footer p a {
    color: #000;
}












/*----------------------About Us----------------------*/

.about-content {
    padding-left: 179px;
    padding-top: 8px;
    min-height: 1000px;
}

.about-content h1 {
    font-size: 27px;
    line-height: 28px;
    letter-spacing: 1px;
    color: rgb(4, 111, 194);
    font-weight: 500;
    margin-bottom: 8px;
    font-family: 'Domine', serif;
}

.about-content h2 {
    font-size: 20px;
    line-height: 35px;
    color: #563088;
    margin: 0;
    font-weight: bold;
}

.about-content p {
    font-size: 13px;
    line-height: 18px;
    color: #000;
    margin: 0 0 8px 0;
    font-weight: bold;
}

.about-content .about-top-left {
    float: left;
    width: 400px;
}

.about-content .about-top-right {
    float: left;
    padding: 30px 0 0 0;
    width: 420px;
}

.about-content .about-top-right img {
    max-width: 100%;
}

.about-content .about-para {
    padding: 35px 0 30px 0;
}

.about-content .about-para p {
    font-size: 19px;
    line-height: 27px;
    color: rgb(4, 111, 194);
    margin: 0;
    font-weight: 400;
    max-width: 570px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 0.3px;
}

.about-content .about-box {
    background: #4b89ac;
    padding: 24px 0;
    max-width: 730px;
}

.about-content .about-box p {
    font-family: 'Domine', serif;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 400;
    margin: 0 0 9px 0;
}

.about-content .about-box p:last-of-type {
    margin-bottom: 0;
}

.about-content .about-box .thumbnail {
    float: left;
    width: 193px;
    text-align: right;
}

.about-content .thumbnail img {
    margin-bottom: 11px;
}

.about-content .thumbnail .user-detail {
    text-align: left;
    padding: 7px 11px 6px 12px;
    background: #f5c538;
}

.about-content .thumbnail .user-detail p {
    font-size: 15px;
    color: #000000;
    margin: 0 0 5px 0;
    line-height: 16px;
}

.about-content .thumbnail .user-detail span {
    font-size: 11px;
    color: #000000;
    margin: 0;
    display: block;
}

.right-content {
    float: left;
    width: 490px;
    margin-left: 25px;
}











/*----------------------Testimonials----------------------*/

.testimonial-box {
    padding: 34px 0 0 0;
}

.testimonial-box p {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
}

.testimonial-box span {
    font-size: 16px;
    color: #469bd2;
    padding-left: 26px;
}











/*----------------------Clients----------------------*/

.clients-list {
    margin: 0;
    padding: 30px 0;
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.clients-list li {
    display: block;
    font-size: 14px;
    color: #000000;
    font-family: 'Domine', serif;
    margin: 0 0 10px 0;
}

.clients-list li:last-child {
    margin-bottom: 0;
}











/*----------------------Contact----------------------*/

.contact-content {}

.contact-content .contact-left {
    float: left;
    width: 375px;
}

.contact-content .contact-left p {
    font-size: 14px;
    color: #000000;
    margin: 0px;
    font-family: 'Domine', serif;
    font-weight: 400;
    margin: 0 0 30px 0;
}

.contact-content .contact-left .field-row {
    margin-bottom: 15px;
}

.contact-content .contact-left .field-row label {
    font-size: 14px;
    color: #000000;
    margin: 0 0 5px 0;
    display: block;
    width: 100%;
    font-family: 'Domine', serif;
    line-height: 12px;
}

.contact-content .contact-left .field-row input,
.contact-content .contact-left .field-row textarea {
    width: 100%;
    border: 0px;
    background: #e6e6e6;
    outline: none;
    vertical-align: top;
    padding: 10px;
    resize: none;
}

.contact-content .contact-left .field-row textarea {
    min-height: 80px;
}

.contact-content .contact-left .field-row p {
    font-size: 11px;
    margin: 4px 0 0 0;
    line-height: 14px;
}

.contact-content .contact-left .field-row input.enter-code {
    max-width: 100px;
}

.contact-content .contact-left .field-row input[type="submit"] {
    line-height: 22px;
    border: 1px solid #000;
    border-radius: 20px;
    font-size: 13px;
    padding: 0 20px;
    font-weight: bold;
    width: auto;
    background: none;
    cursor: pointer;
    transition: all ease 0.7s;
}

.contact-content .contact-left .field-row input[type="submit"]:hover {
    background: #000;
    color: #fff;
}

.contact-content .contact-right {
    margin-left: 20px;
    width: 326px;
    float: left;
    padding-left: 20px;
    border-left: 2px solid #979797;
}

.contact-content .contact-right h2,
.contact-content .contact-right h3,
.ftp-content h1 {
    font-size: 27px;
    line-height: 28px;
    letter-spacing: 1px;
    color: rgb(4, 111, 194);
    font-weight: 500;
    margin-bottom: 22px;
    font-family: 'Domine', serif;
}

.contact-content .contact-right p,
.ftp-content p {
    font-size: 14px;
    color: #000000;
    font-family: 'Domine', serif;
    font-weight: 400;
    margin: 0 0 30px 0;
}

.contact-content .contact-right p a {
    color: #000;
    text-decoration: none;
}

.contact-content .contact-right p a:hover {
    text-decoration: underline;
}

.contact-content .contact-right hr {
    margin: 0 0 16px 0;
    border: 0;
    border-top: 1px solid #979797;
}

.contact-content .contact-right ul {
    margin-bottom: 33px;
}

.contact-content .contact-right ul li {
    font-size: 14px;
    color: #000000;
    font-family: 'Domine', serif;
    font-weight: 400;
    margin: 0 0 6px 0;
    display: block;
}

.contact-content .contact-right ul li a {
    color: #000;
}

.contact-content .contact-right ul li span {
    display: inline-block;
    width: 80px;
}







/*----------------------Whatsnew----------------------*/

.whatsnew-content {}

.whatsnew-content .top-title {
    padding-top: 12px;
    margin-bottom: 25px;
}

.whatsnew-content .top-title img {
    display: inline-block;
    vertical-align: top;
}

.whatsnew-content .top-title p {
    display: inline-block;
    vertical-align: top;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    max-width: 460px;
    margin: 10px 0 0 25px;
}

.whatsnew-content .bottom-content {
    display: flex;
    justify-content: space-between;
}

.whatsnew-content .bottom-content .left-content {
    padding: 30px 0;
    background: #fff;
    width: 815px;
    max-width: 100%;
}

.whatsnew-content .post-box {
    margin-bottom: 20px;
}

.whatsnew-content .post-box:last-child {
    margin-bottom: 0;
}

.whatsnew-content .post-box .post-date {
    padding: 8px;
    width: 80px;
    background: #b3b3b3;
    text-align: center;
    float: left;
    margin-left: -22px;
    position: relative;
}

.whatsnew-content .post-box .post-date:after {
    width: 0;
    height: 0;
    border-top: 22px solid rgb(100, 100, 100);
    border-left: 22px solid transparent;
    position: absolute;
    left: 0;
    bottom: -22px;
    content: "";
}

.whatsnew-content .post-box .post-date span {
    display: block;
    font-size: 13px;
    color: #fff;
    font-family: 'Domine', serif;
    margin-bottom: 5px;
}

.whatsnew-content .post-box .post-date span:last-of-type {
    margin-bottom: 0;
}

.whatsnew-content .post-box .post-date strong {
    display: block;
    font-size: 28px;
    font-family: 'Domine', serif;
    margin-bottom: 5px;
    color: #fff;
    line-height: 24px;
}

.whatsnew-content .post-content {
    width: 730px;
    float: right;
    vertical-align: top;
    padding-bottom: 25px;
    border-bottom: 2px solid #d8d8d8;
}

.whatsnew-content .post-content .post-title {
    margin-bottom: 20px;
}

.whatsnew-content .post-content .post-title h2 {
    font-size: 27px;
    color: #046fc2;
    margin: 0 0 8px 0;
    font-family: 'Domine', serif;
}

.whatsnew-content .post-content .post-title p {
    font-size: 14px;
    color: #808080;
    margin: 0;
    line-height: 14px;
}

.whatsnew-content .post-content .post-thumbnail {
    width: 290px;
    float: left;
}

.whatsnew-content .post-content .post-detail {
    width: 360px;
    float: left;
    margin-left: 32px;
}

.whatsnew-content .post-content .post-detail p {
    font-size: 14px;
    line-height: 18px;
    font-family: 'Domine', serif;
    color: #000000;
}

.whatsnew-content .post-content .post-detail p a {
    color: #046fc2;
    text-decoration: none;
}

.whatsnew-content .articles-details {
    width: 198px;
}

.whatsnew-content .articles-details img {
    margin-bottom: 12px;
}

.whatsnew-content .articles-details ul {
    background: #fff;
    padding: 18px 14px;
}

.whatsnew-content .articles-details ul li {
    display: block;
    margin-bottom: 25px;
}

.whatsnew-content .articles-details ul li a {
    color: #000;
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-weight: bold;
}

.whatsnew-content .articles-details ul li a:hover {
    color: rgb(70, 155, 210);
}

.whatsnew-content .articles-details ul li span {
    display: block;
    font-size: 15px;
    color: #000;
}

.ourwork-content {
    padding: 10px 0 0 0;
}

.ourwork-content .top-navigation {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    max-width: 828px;
    align-items: baseline;
}

.ourwork-content .top-navigation p {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    letter-spacing: 0.95px;
}

.ourwork-content .top-navigation p span {
    font-size: 27px;
    color: #469bd2;
    font-family: 'Domine', serif;
    display: inline-block;
    margin-left: 27px;
}

.ourwork-content .top-navigation ul {
    display: inline-block;
    margin: 0;
}

.ourwork-content .top-navigation ul li {
    display: inline-block;
    margin: 0 20px 0 0;
}

.ourwork-content .top-navigation ul li:last-child {
    margin: 0;
}

.ourwork-content .top-navigation ul li a {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

.ourwork-content .top-navigation ul li a:hover {
    color: #469bd2;
}

.ourwork-content .left-portfolio {
    display: inline-block;
    width: 80%;
    max-width: 100%;
}

.ourwork-content .top-thumbnail {
    position: relative;
    overflow: hidden;
}

.ourwork-content .portfolio-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 85px 150px;
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -o-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transition: all ease 0.5s;
}
.ourwork-content .portfolio-content.active {
    transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
}

.ourwork-content .portfolio-content p {
    margin-bottom: 10px;
    font-size: 15px;
    color: #000000;
    font-family: 'Domine', serif;
    line-height: 21px;
}

.ourwork-content .portfolio-content p:last-child {
    margin-bottom: 0;
}
.ourwork-content .portfolio-content .close {
    position: absolute;
    top: 20px;
    right: 20px;
}
.ourwork-content .portfolio-share {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    padding-top: 6px;
    border-top: 3px solid #aeadad;
    margin-bottom: 24px;
}

.ourwork-content .portfolio-share ul {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.ourwork-content .portfolio-share ul li {
    display: inline-block;
    margin: 0 6px 0 0;
}
.ourwork-content .portfolio-share ul li:last-child {
    margin: 0;
}
.ourwork-content .portfolio-share .view-site {
    background: #469bd2;
    padding: 5px;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.ourwork-content .portfolio-share .project-info {
    background:url(../images/project-info-bg.png) top center no-repeat;
    padding:0;
    background-size: 100%;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    text-decoration: none; 
    min-width: 150px;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -6px;
}
.ourwork-content .bottom-thumbnail {
    text-align: center;
    margin-bottom: 120px;
}
.portfolio-outer {
    display: flex;
    justify-content: space-between;
}
.right-sidebar {
    width: 15%;
}
.right-sidebar h3 {
    font-size: 18px;
    color: #469bd2;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #469bd2;
}
.right-sidebar ul {
    margin: 0 0 50px 0;
    padding: 0;
}
.right-sidebar ul li {
    display: block;
    margin-bottom: 10px;
}
.right-sidebar ul li:last-child {
    margin-bottom: 0;
}
.right-sidebar ul li a {
    font-size: 15px;
    color: #000000;
    text-decoration: none;
}
.right-sidebar ul li a.active {
    font-weight: bold;
}

.ftp-content {
	min-height: 1000px;
}
/*----------------------Media Queries----------------------*/

@media only screen and (max-width: 1100px) {
    .container {
        padding: 0 15px;
    }
    header .navbar ul li a {
        padding: 0 6px;
    }
    header .social-icons {
        margin: 0;
    }
    .content .content-left {
        width: 58%;
    }
    .content .content-right {
        width: 40%;
    }
    .content .content-left #slideshow {
        max-width: 100%;
    }
    .content .content-left #slideshow>div img {
        max-width: 100%;
    }
    .content .column img {
        max-width: 100%;
    }
    .about-content,
    .inner-template footer p {
        padding-left: 0;
    }
    .whatsnew-content .bottom-content .left-content {
        width: 78%;
    }
    .whatsnew-content .articles-details {
        width: 20%;
    }
    .whatsnew-content .post-content {
        width: 89%;
    }
    .whatsnew-content .post-content .post-thumbnail {
        width: 43%;
    }
    .whatsnew-content .post-content .post-detail {
        width: 50%;
    }
    .ourwork-content .portfolio-content {
        padding: 80px;
    }
}

@media only screen and (max-width: 991px) {
    header .navbar ul li a {
        font-size: 12px;
        padding: 0 4px;
    }
    header .header-right {
        width: 81%;
        padding: 7px 0 0 0;
    }
    header .navbar {
        padding: 0;
    }
    .about-content .about-top-right {
        max-width: 330px;
    }
    .whatsnew-content .top-title p {
        max-width: 400px;
        margin-top: 0;
    }
    .ourwork-content .portfolio-content {
        padding: 15px;
    }
}

@media only screen and (max-width: 767px) {
    body {
        background-size: cover;
    }
    header {
        padding: 10px 0;
    }
    header .social-icons {
        float: left;
    }
    header #nav-icon3 {
        float: right;
        display: block;
        margin: 7px 0;
    }
    header .header-right {
        width: 100%;
    }
    header .navbar ul {
        transform: translateX(-100%);
        transition: all ease 0.7s;
        position: fixed;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        padding: 15px;
        max-height: none;
        background: #fff;
        z-index: 9;
        max-width: 80%;
    }
    header .navbar ul.active {
        transform: translateX(0);
    }
    header .navbar ul li {
        display: block;
        margin-bottom: 15px;
    }
    header .navbar ul li a {
        width: auto;
        font-size: 14px;
    }
    header .navbar ul li:after {
        display: none;
    }
    header .logo {
        padding: 0;
        float: none;
        text-align: center;
    }
    header .logo img {
        max-width: 70%;
    }
    .content .content-left,
    .content .content-right {
        float: none;
        width: 100%;
    }
    .content .content-right .content-right-top,
    .two-col {
        justify-content: center;
    }
    .right-space {
        margin-right: 5px;
    }
    .bottom-space {
        margin-bottom: 10px;
    }
    .content .column a:before {
        display: none !important;
    }
    .about-content .about-top-left {
        width: 100%;
    }
    .about-content .about-top-right {
        max-width: 100%;
        width: 100%;
        text-align: center;
    }
    .about-content .about-box .thumbnail {
        margin-bottom: 30px;
    }
    .right-content {
        max-width: 100%;
        padding: 0 15px;
        margin-left: 0;
        width: 100%;
    }
    .testimonial-box span {
        padding-left: 0;
    }
    .clients-list {
        width: 100%;
    }
    .clients-list:first-of-type {
        padding-bottom: 10px;
    }
    .clients-list:last-child {
        padding-top: 0;
    }
    .contact-content .contact-left {
        margin-bottom: 50px;
    }
    .contact-content .contact-right,
    .contact-content .contact-left {
        margin-left: 0;
        width: 100%;
        float: none;
        padding-left: 0;
        border-left: 0;
    }
    .whatsnew-content .bottom-content {
        flex-direction: column;
    }
    .whatsnew-content .bottom-content .left-content {
        margin-bottom: 20px;
    }
    .whatsnew-content .bottom-content .left-content,
    .whatsnew-content .articles-details {
        width: 100%;
    }
    .whatsnew-content .post-content {
        width: 78%;
        padding-right: 15px;
    }
    .whatsnew-content .post-content .post-thumbnail {
        width: 100%;
        margin-bottom: 15px;
    }
    .whatsnew-content .post-content .post-detail {
        margin-left: 0;
        width: 100%;
    }
    .whatsnew-content .post-content .post-title h2 {
        font-size: 16px;
    }
    .whatsnew-content .post-content .post-detail p {
        font-size: 12px;
    }
    .whatsnew-content .top-title p {
        margin-left: 0;
    }
    .portfolio-outer {
        flex-direction: column-reverse;
    }
    .ourwork-content .top-navigation {
        flex-direction: column;
    }
    .right-sidebar ,.ourwork-content .left-portfolio {
        width: 100%;
    }
    .ourwork-content .portfolio-content {
        display: none;
    }
    .ftp-content,.about-content  {
    	min-height: 0;
    }

}

