.switchable-holder {
	display: inline-block;
	box-sizing: border-box;
	width: 36px;
	height: 26px;
	border-radius: 999px;
	background-color: #d8d9db;
	margin: 0 10px 0 0;
	-webkit-transition: background-color cubic-bezier(.25, .46, .45, .94) .2s;
	-moz-transition: background-color cubic-bezier(.25, .46, .45, .94) .2s;
	transition: background-color cubic-bezier(.25, .46, .45, .94) .2s;
	float: left;
	width:32px;
 	height: 12.6px;
  	opacity:1;
	margin:0px;
    background-color: rgba(34, 31, 31, 0.26);
}
 

.switchable-holder .switchable-switcher {
	margin:-3px 10px 0 0;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	display: inline-block;
	background-color: #f1f1f1;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
	-moz-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
	transition-timing-function: cubic-bezier(.25, .46, .45, .94);
	cursor: pointer;
	box-shadow: #888 1px 1px 4px;
}

.switchable-holder.switchable-checked {
	width:32px;
	height: 12.6px;
  	opacity: 1;
  	background-color:#7ecaef;
	margin:0px;
	text-align:right;
}

.switchable-holder.switchable-checked .switchable-switcher {
	-webkit-transform: translateX(10px);
	-moz-transform: translateX(10px);
	-ms-transform: translateX(10px);
	-o-transform: translateX(10px);
	transform: translateX(10px);
	width: 16px;
  	height: 16px;
  	background-color: #039be5;
 	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  	border-style: solid;
  	border-width: 0.5px;
  	border-image-source: linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.06) 20%, rgba(255, 255, 255, 0));
  	border-image-slice: 1;
}