* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
    background: #47121c;
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    align-items: center;
}

.content {
    text-align: center;
    padding: 0;
}

.content .logo {
    margin-bottom: 151px;
}

.content .logo img {
    max-width: 146px;
}

.content .talents {
    margin: 0 0 47px 0;
}

.content .talents ul {
    margin: 0;
    padding: 0;
}

.content .talents ul li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0 24px 0 3px;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    line-height: 26px;
    letter-spacing: 0.8px;
}

.content .talents ul li:after {
    content: "/";
    font-size: 18px;
    color: #ffffff;
    position: absolute;
    right: 0;
}

.content .talents ul li:last-child {
    padding-right: 0;
}

.content .talents ul li:last-child:after {
    content: "";
}

.content .contact-info {}

.content .contact-info p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    line-height: 26px;
    letter-spacing: 0.8px;
}

.content .contact-info p a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    line-height: 26px;
    letter-spacing: 0.8px;
}


@media only screen and (max-width: 767px) {
    .content .logo img {
        max-width: 104px;
    }
    .content .logo {
        margin-bottom: 73px;
    }
    .content .talents ul li {
        display: block;
        padding: 0;
    }
    .content .talents ul li:after {
        display: none;
    }
    .content .talents {
        margin-bottom: 35px;
    }
}

@media only screen and (orientation : landscape) {
	.content  {
		margin-top: 40px;
	}
	.content .logo img {
        max-width: 80px;
    }
    .content .logo {
        margin-bottom: 20px;
    }
    .content .talents {
        margin-bottom: 20px;
    }
    .content .talents ul li {
        display: inline-block;
        padding: 0 24px 0 3px;
    }
    .content .talents ul li:after {
        display: inline-block;
    }
} 