@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Regular.html");
  src: url("../fonts/SFProDisplay-Regulard41d.html?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular-2.html") format("woff2"), url("../fonts/SFProDisplay-Regular-3.html") format("woff"), url("../fonts/SFProDisplay-Regular-4.html") format("truetype"), url("../fonts/SFProDisplay-Regular-5.html#SFProDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Bold.html");
  src: url("../fonts/SFProDisplay-Boldd41d.html?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Bold-2.html") format("woff2"), url("../fonts/SFProDisplay-Bold-3.html") format("woff"), url("../fonts/SFProDisplay-Bold-4.html") format("truetype"), url("../fonts/SFProDisplay-Bold-5.html#SFProDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Medium.html");
  src: url("../fonts/SFProDisplay-Mediumd41d.html?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Medium-2.html") format("woff2"), url("../fonts/SFProDisplay-Medium-3.html") format("woff"), url("../fonts/SFProDisplay-Medium-4.html") format("truetype"), url("../fonts/SFProDisplay-Medium-5.html#SFProDisplay-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }
* {
  margin: 0px;
  padding: 0px;
  font-family: "SF Pro Display", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a,
button {
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s; }

body {
  background-color: #f0f0f0;
  padding-top: 106px;
  position: relative; }
  @media (max-width: 799px) {
    body {
      padding-top: 66px;
      background-color: #ededed; } }

img {
  max-width: 100%; }

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 5px; }
  @media (max-width: 1249px) {
    .container {
      max-width: 1010px; } }
  @media (max-width: 999px) {
    .container {
      max-width: 760px; } }
  @media (max-width: 799px) {
    .container {
      max-width: 500px; } }
  @media (max-width: 799px) {
    .container {
      max-width: 375px;
      padding: 0 13px; } }

.btn {
  text-align: center;
  width: 170px;
  padding: 0 15px;
  height: 44px;
  border-radius: 40px;
  outline: none; }

.list li {
  list-style: none; }

.flex {
  display: flex; }

.justify-space {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }

.v_center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.section-title {
  padding: 33px 0 20px 0; }
  @media (max-width: 999px) {
    .section-title .flex {
      flex-direction: column; } }
  .section-title .title {
    width: 240px;
    line-height: 40px;
    box-shadow: 0.5px 0.5px 2px 0 rgba(255, 255, 255, 0.75);
    background: rgba(168, 187, 193, 0.3);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.9px;
    text-align: center;
    color: #013f56;
    margin-right: 30px; }
    @media (max-width: 999px) {
      .section-title .title {
        margin-bottom: 13px; } }
    @media (max-width: 799px) {
      .section-title .title {
        width: 100%;
        margin: 0 0 20px 0; } }
  .section-title strong {
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: 0px;
    text-align: left;
    color: #013f56;
    margin-bottom: 10px; }
  .section-title p {
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0px;
    color: #013f56;
    max-width: 700px; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #013f56; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #013f56; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #013f56; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #013f56; }

.btn-done {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.4px;
  text-align: center;
  background: #0d81ff;
  color: #fff;
  width: 64px;
  line-height: 34px;
  border: 0;
  outline: none;
  border-radius: 8px;
  opacity: 0.5;
  float: right;
  position: relative;
  z-index: 3;
  cursor: pointer; }
  .btn-done.active {
    opacity: 1; }

.hidden {
  display: none; }

@media (max-width: 1249px) {
  .hidden-xl {
    display: none; } }

@media (max-width: 999px) {
  .hidden-lg {
    display: none; } }

@media (max-width: 999px) {
  .visible-lg {
    display: block; } }

@media (max-width: 799px) {
  .hidden-sm {
    display: none; } }

@media (max-width: 799px) {
  .visible-sm {
    display: block; } }

@media (max-width: 799px) {
  .hidden-xs {
    display: none; } }

@media (max-width: 799px) {
  .visible-xs {
    display: block; } }

@media (max-width: 799px) {
  .sm-wrap {
    flex-wrap: wrap; }
    .sm-wrap .column {
      margin-bottom: 10px !important; } }

header {
  padding: 38px 0 18px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: rgba(255, 255, 255, 0.7); }
  @media (max-width: 799px) {
    header {
      padding: 7.5px 0; } }
  @media (max-width: 799px) {
    header ul li:not(:last-child) {
      margin-right: 28px; } }
  header ul li a img {
    font-size: 0;
    vertical-align: bottom;
    opacity: 0.3;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s; }
  header ul li a:hover img {
    opacity: 1; }
  header ul li.active a img {
    opacity: 1; }
  header .container {
    position: relative; }
  header .header-right a {
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.05;
    letter-spacing: 0.2px;
    text-align: right;
    color: #013f56; }
    header .header-right a strong {
      font-weight: 900; }
  @media (max-width: 799px) {
    header .header-left {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center; } }

main .row {
  margin-bottom: 10px; }
  main .row:last-of-type {
    margin-bottom: 0; }
  main .row .sm-wrap .faded {
    margin-bottom: 10px; }
  main .row .faded {
    background: #fff;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.3);
    max-height: 240px; }
    main .row .faded .column {
      opacity: 0; }
  main .row .column {
    margin: 0;
    width: 240px;
    height: 240px;
    overflow: hidden; }
    main .row .column.robot-wrapper {
      border: 1px solid #D8D8D8; }
      @media (max-width: 799px) {
        main .row .column.robot-wrapper {
          width: 100%; } }
      @media (max-width: 799px) {
        main .row .column.robot-wrapper {
          width: 100%; } }
      main .row .column.robot-wrapper .robot {
        opacity: 0; }
    main .row .column.empty {
      border: 1px solid #D8D8D8; }
      main .row .column.empty.not-empty img {
        opacity: 1; }
      main .row .column.empty img {
        opacity: 0;
        transition: all ease 0.4s; }
    main .row .column.textual {
      background: #013f56;
      padding: 15px; }
      main .row .column.textual p {
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #e5f6ff;
        margin-bottom: 10px; }
        main .row .column.textual p a {
          text-decoration: underline;
          color: #008bff; }
        main .row .column.textual p.yellow {
          color: #eefff1;
          font-weight: 400; }
        main .row .column.textual p:last-child {
          margin-bottom: 0; }
    @media (max-width: 799px) {
      main .row .column.email-wrapper {
        height: 60px;
        margin-bottom: 20px; }
        main .row .column.email-wrapper .email {
          padding: 15px; } }
    @media (max-width: 799px) {
      main .row .column.email-wrapper {
        height: 60px;
        margin-bottom: 20px; }
        main .row .column.email-wrapper .email {
          padding: 15px; } }
    main .row .column.message-wrapper, main .row .column.email-wrapper {
      position: relative; }
      @media (max-width: 799px) {
        main .row .column.message-wrapper, main .row .column.email-wrapper {
          width: 100%; } }
      @media (max-width: 799px) {
        main .row .column.message-wrapper, main .row .column.email-wrapper {
          width: 100%; } }
    main .row .column .email {
      position: absolute;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: url("../images/tiles/message-bg.png") center center no-repeat;
      background-size: cover;
      padding: 23px 18px; }
      main .row .column .email::before {
        content: "";
        background: rgba(240, 240, 240, 0.5);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 1; }
      main .row .column .email input[type="email"] {
        position: relative;
        z-index: 1;
        border: 0;
        background: transparent;
        resize: none;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: 0px;
        color: #013f56;
        outline: none;
        outline: none;
        caret-color: #ff9500;
        width: 100%;
        border-left: 2px solid #ff9500;
        padding-left: 15px; }
      main .row .column .email .icon {
        text-align: center;
        margin-top: 31px;
        position: relative;
        z-index: 3; }
    main .row .column .message {
      position: absolute;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: url("../images/tiles/message-bg.png") center center no-repeat;
      background-size: cover;
      padding: 23px 18px; }
      main .row .column .message textarea {
        border: 0;
        background: transparent;
        resize: none;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: 0px;
        color: #013f56;
        outline: none;
        min-height: 145px;
        width: 100%;
        caret-color: #ff9500; }
    main .row .column .robot {
      text-align: center; }
      main .row .column .robot.active {
        opacity: 1; }
      main .row .column .robot .icon {
        padding: 90px 0 50px 0; }
      main .row .column .robot img {
        display: inline-block;
        width: 40px !important;
        height: auto !important; }
      main .row .column .robot .btn-done {
        float: none;
        width: calc(100% - 20px);
        margin: 0 10px;
        text-align: center; }
  main .row:last-of-type {
    margin-right: 0; }
  main .row img {
    width: 240px;
    height: 240x;
    vertical-align: bottom; }
main .mobile-content .lid .lid-logo {
  position: relative; }
main .mobile-content .lid img {
  max-width: 100%; }
main .mobile-content .lid .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center; }
  main .mobile-content .lid .icon img {
    vertical-align: bottom; }
main .mobile-content .lid-content {
  text-align: center;
  padding: 22px 0; }
  main .mobile-content .lid-content h1 {
    text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.7);
    font-size: 21px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: 0px;
    text-align: center;
    color: #013f56;
    margin-bottom: 15px; }
  main .mobile-content .lid-content p {
    text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.7);
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0px;
    text-align: center;
    color: #013f56; }
main .mobile-content .slick-list {
  padding: 0 100px 0 0 !important; }
main .mobile-content .slider-init-ltr .slick-list {
  padding: 0 0 0 100px !important; }
main .mobile-content .item {
  width: 100%;
  margin: 0 5px;
  margin-bottom: 10px; }
main .mobile-content .in-house-box {
  padding: 70px 20px 0;
  min-height: 600px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.35);
  margin-bottom: 10px; }
  main .mobile-content .in-house-box p {
    text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.8);
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0px;
    margin-bottom: 15px;
    color: #013f56; }
    main .mobile-content .in-house-box p a {
      color: #008bff;
      text-decoration: underline; }
    main .mobile-content .in-house-box p:last-child {
      margin-bottom: 0; }
main .mobile-content .psynapp {
  padding: 16px 22px;
  background: rgba(245, 247, 250, 0.8);
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.35); }
  main .mobile-content .psynapp img {
    margin-bottom: 16px; }
  main .mobile-content .psynapp p {
    text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.8);
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0px;
    margin-bottom: 15px;
    color: #013f56; }
    main .mobile-content .psynapp p a {
      color: #008bff;
      text-decoration: underline; }
    main .mobile-content .psynapp p:last-child {
      margin-bottom: 0; }

.loader {
  height: 20px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white; }

.loader--dot:first-child {
  background-color: #e6ecf0;
  animation-delay: 0.5s; }

.loader--dot:nth-child(2) {
  background-color: #d6dfe5;
  animation-delay: 0.4s; }

.loader--dot:nth-child(3) {
  background-color: #c6d2da;
  animation-delay: 0.3s; }

.loader--dot:nth-child(4) {
  background-color: #b8c6cf;
  animation-delay: 0.2s; }

.loader--dot:nth-child(5) {
  background-color: #abbac4;
  animation-delay: 0.1s; }

.loader--dot:nth-child(6) {
  background-color: #98a8b3;
  animation-delay: 0s; }

.loader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto; }

.loader--text:after {
  content: "Loading";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite; }

@keyframes loader {
  15% {
    transform: translateX(0); }
  45% {
    transform: translateX(230px); }
  65% {
    transform: translateX(230px); }
  95% {
    transform: translateX(0); } }
@keyframes loading-text {
  0% {
    content: "Loading"; }
  25% {
    content: "Loading."; }
  50% {
    content: "Loading.."; }
  75% {
    content: "Loading..."; } }
.sending-mobile,
.thankyou-mobile {
  display: none; }

@media (max-width: 799px) {
  .thankyou.column {
    width: 100% !important;
    height: auto !important; }
  .thankyou img {
    width: 100% !important; } }
@media (max-width: 799px) {
  .thankyou.column {
    width: 100% !important;
    height: auto !important; }
  .thankyou img {
    width: 100% !important; } }

footer {
  text-align: center;
  padding: 160px 0 200px 0; }
  @media (max-width: 799px) {
    footer {
      padding: 50px 0; } }
  footer .footer-logo {
    margin-bottom: 30px; }
  footer .footer-copy p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0px;
    text-align: center;
    color: #013f56; }
    footer .footer-copy p strong {
      font-weight: 900; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*# sourceMappingURL=theme.css.map */
