* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

body {
    background: #e5ebf1;
}

.wrapper {
    width: 100%;
}

.clear {
    clear: both;
}

a,
button {
    transition: all ease .3s;
    outline: none;
}

.container {
    width: 1440px;
    max-width: 100%;
}

.no-padding {
    padding: 0px;
}













/*--------------------Header--------------------*/

header {
    background: #00284b;
    -webkit-box-shadow: -5px 9px 20px 0px rgba(0, 116, 217, 0.3);
    -moz-box-shadow: -5px 9px 20px 0px rgba(0, 116, 217, 0.3);
    box-shadow: -5px 9px 20px 0px rgba(0, 116, 217, 0.3);
}

header .header-top {
    border-bottom: 1px solid #001c34;
}

header .regestered-links {
    text-align: right;
}

header .regestered-links ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

header .regestered-links ul li {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    text-align: center;
}

header .regestered-links ul li a {
    line-height: 57px;
    padding: 0 45px;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-top: 2px;
}

header .regestered-links ul li a.login {
    background: url(../images/login-icon.png) 17px center no-repeat;
}

header .regestered-links ul li a.signup {
    background: #ffca05;
    color: #45464b;
}

header .logo {
    padding: 19px 10px 20px 10px;
}

header .logo img {
    max-width: 100%;
}

header .header-menu {
    padding: 20px 0 3px 0;
    text-align: center;
    position: relative;
}

header .header-menu ul {
    margin: 0 92px 0 0;
    padding: 0px;
    display: inline-block;
}

header .header-menu ul li {
    display: inline-block;
    text-align: center;
    margin: 0 30px 0 0;
    vertical-align: middle;
}

header .header-menu ul li:nth-child(2) {
    margin-right: 41px;
}

header .header-menu ul li:last-child {
    margin: 0px;
}

header .header-menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    opacity: 0.5;
    padding: 0 0 7px 0;
    border-bottom: 2px solid transparent;
    letter-spacing: 0.3px;
}

header .header-menu ul li a.active,
header .header-menu ul li a:hover {
    opacity: 1;
    border-bottom: 2px solid #fff;
}

header .header-menu ul li a img {
    display: block;
    margin: auto;
    margin-bottom: 16px;
}

header .select-currency {
    padding: 13px 0 0 0;
    display: inline-block;
    vertical-align: top;
}

header .select-currency select {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    background: none;
    border: 0px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    display: inline-block;
    margin: 0 0 34px 0;
    outline: none;
}

header .select-currency .dropdown-menu {
    padding: 0px;
    margin: 26px 0 0 0px;
    left: -100px;
    right: auto;
    box-shadow: none;
    width: 277px;
    border-radius: 5px;
    border: 0px;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(183, 188, 193, 0.55);
    -moz-box-shadow: 0px 10px 10px 0px rgba(183, 188, 193, 0.55);
    box-shadow: 0px 10px 10px 0px rgba(183, 188, 193, 0.55);
}


header .select-currency .base-currency .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-transform: uppercase;
}

header .select-currency .bs-searchbox {
    padding: 20px;
    border-bottom: 1px solid #e5ebf1;
}

header .select-currency .bs-searchbox input {
    outline: none;
    box-shadow: none;
    border: 1px solid #c3cfdb;
    padding: 14px 21px;
    font-size: 14px;
    color: #45464b;
    font-style: italic;
    height: auto;
    border-radius: 25px;
    background: url(../images/glass-icon-black.png) 90% center no-repeat;
}

header .select-currency .bootstrap-select.btn-group .dropdown-menu li {
    display: block;
    margin: 0px;
}

header .select-currency .bootstrap-select.btn-group .dropdown-menu li a {
    display: block;
    font-size: 15px;
    color: #45464b;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 43px;
    padding: 0;
    opacity: 1;
    text-align: left;
    padding: 0 31px;
    border-bottom: 1px solid #e5ebf1;
}

header .select-currency .bootstrap-select.btn-group .dropdown-menu li a:hover,
header .select-currency .dropdown-menu>.active>a,
header .select-currency.dropdown-menu>.active>a:focus,
header .select-currency .dropdown-menu>.active>a:hover {
    background: #e5ebf1;
}

header .select-currency .base-currency {
    display: inline-block;
    margin: 0 30px 0 0;
}

header .select-currency .rate-currency {
    display: inline-block;
}

header .select-currency label {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    display: block;
    color: #fff;
    letter-spacing: 0.3px;
}

header .select-currency .bootstrap-select {
    width: auto !important;
    background: none;
    border: 0px;
    margin-bottom: 21px;
}

header .select-currency .bootstrap-select .btn {
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: #fff !important;
    padding: 0 15px;
    background: url(../images/select-caret.png) right center no-repeat transparent !important;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.3px;
    outline: none !important;
}

header .select-currency .bootstrap-select .bs-caret {
    display: none;
}

header .header-search {
    position: absolute;
    top: 37px;
    right: 33px;
}

header .header-search input[type="text"] {
    padding: 7.5px 25.5px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.1);
    font-style: italic;
    border: 1px solid #001c34;
    border-radius: 20px;
    background: url(../images/search-glass.png) 155px center no-repeat;
    outline: none;
}

header .header-search input[type="text"]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.1);
}

header .header-search input[type="text"]::-moz-placeholder {
    color: rgba(255, 255, 255, 0.1);
}

header .header-search input[type="text"]:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.1);
}

header .header-search input[type="text"]:-moz-placeholder {
    color: rgba(255, 255, 255, 0.1);
}

.content {
    padding: 51px 0 100px 0;
}

.content .left-table {
    -webkit-box-shadow: 1px 1px 0px 0px rgba(229, 235, 241, 1);
    -moz-box-shadow: 1px 1px 0px 0px rgba(229, 235, 241, 1);
    box-shadow: 1px 1px 0px 0px rgba(229, 235, 241, 1);
    background: #f5f7f9;
    border-radius: 4px;
}

.content .left-table .top-filters {
    padding: 24px 21px 23px 21px;
}

.content .left-table .top-filters .selected-filter {
    position: relative;
}

.content .left-table .top-filters .selected-filter input {
    max-width: 100%;
    border: 2px solid #0074d9;
    outline: none;
    border-radius: 20px;
    padding: 7px 20px 7px 73px;
    max-width: 211px;
    font-size: 15px;
    color: #45464b;
    line-height: 23px;
    background: none;
}

.content .left-table .top-filters .selected-filter input::-webkit-input-placeholder {
    color: #45464b;
}

.content .left-table .top-filters .selected-filter input::-moz-placeholder {
    color: #45464b;
}

.content .left-table .top-filters .selected-filter input:-ms-input-placeholder {
    color: #45464b;
}

.content .left-table .top-filters .selected-filter input:-moz-placeholder {
    color: #45464b;
}

.content .left-table .top-filters .selected-filter:before {
    width: 47px;
    height: 100%;
    position: absolute;
    left: 0;
    background: url(../images/filter-icon.png) center center no-repeat #0074d9;
    content: "";
    border-radius: 20px 0 0 20px;
    max-width: 100%;
}

.content .left-table .top-filters .search-filter {
    text-align: right;
}

.content .left-table .top-filters .search-filter input {
    padding: 9px 20px 9px;
    border: 2px solid #c3cfdb;
    border-radius: 20px;
    background: url(../images/glass-icon-black.png) 184px center no-repeat;
    color: rgba(69, 70, 75, .5);
    font-style: italic;
    outline: none;
    min-width: 217px;
}



.content .data-table table {
    width: 100%;
    margin: 0;
}

.content .left-col .data-table table {
    width: 100%;
    margin: 0;
    min-width: 930px;
    overflow-x: scroll;
}

.content .data-table thead {
    background: transparent;
    border-top: 1px solid #e5ebf1;
    border-bottom: 1px solid #e5ebf1;
}

.content .data-table thead th {
    border-bottom: 0px;
    padding: 16px 0 14px 0;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    color: #45464b;
    font-weight: bold;
    text-transform: uppercase;
    border-right: 1px solid #e5ebf1;
    vertical-align: middle;
}

.content .data-table thead th:last-of-type {
    border: 0;
}

.content .data-table thead th a {
    font-size: 14px;
    line-height: 19px;
    color: #45464b;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 18px 0 0;
    background: url(../images/sort-icon.png) right center no-repeat;
}

.content .data-table thead th span {
    font-size: 13px;
    line-height: 19px;
    color: #ffffff;
    padding: 0 9px;
    background: #9d9ea2;
    display: inline-block;
    margin-left: 9px;
    border-radius: 12px;
    font-weight: 400;
}

.content .data-table thead th:nth-child(2) {
    text-align: left;
    padding: 0 16px;
}

.content .data-table tbody {
    background: #fff;
}

.content .data-table tbody tr td {
    padding: 12px 0 13px 0;
    text-align: center;
}

.content .data-table tbody tr:nth-child(even) td {
    background: #fcfeff;
}

.currency-name {
    display: flex;
    text-align: left;
    padding: 0 15px;
}

.currency-name .currency-detail {
    padding: 0 11px;
}

.currency-name .currency-detail strong {
    display: block;
    font-size: 15px;
    line-height: 12px;
    color: #0074d9;
    margin-bottom: 5px;
    font-weight: bold;
}

.currency-icon {
    flex: 0 0 36px;
    text-align: center;
}

.currency-name .currency-detail span {
    display: block;
    font-size: 15px;
    line-height: 12px;
    color: #45464b;
    font-weight: 400;
    text-transform: uppercase;
}

.content .data-table tbody tr td {
    line-height: 13px;
    vertical-align: middle;
}

.content .data-table tbody tr td p {
    padding: 0 17px;
    margin: 0;
    display: inline-block;
    line-height: 13px;
}

.content .data-table tbody tr td p.profit {
    background: url(../images/up-arrow.png) right center no-repeat;
    color: #6ea34a;
}

.content .data-table tbody tr td p.loss {
    background: url(../images/down-arrow.png) right center no-repeat;
    color: #e02954;
}

.content .left-table tfoot {
    text-align: center;
    background: #fff;
}

.content .left-table tfoot td {
    padding: 43px 0 50px 0;
}

.content .left-table tfoot a {
    font-size: 14px;
    line-height: 37px;
    color: #0074d9;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #0074d9;
    min-width: 333px;
    display: inline-block;
    border-radius: 20px;
}

.content .left-table tfoot a:hover {
    background: #0074d9;
    color: #fff;
}

.content .pagination {
    margin: 0;
    display: block;
    text-align: center;
}

.content .pagination ul {
    margin: 51px 0 99px 0;
    padding: 0;
    border-radius: 4px;
    display: inline-block;
    font-size: 0;
}

.content .pagination ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.content .pagination ul li:first-of-type a {
    border-radius: 4px 0 0 4px;
}

.content .pagination ul li:last-of-type a {
    border-right: 1px solid #c3cfdb;
    border-radius: 0 4px 4px 0;
}

.content .pagination ul li a {
    padding: 0 14px;
    font-size: 13px;
    line-height: 34px;
    color: #c3cfdb;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    display: block;
    border: 1px solid #c3cfdb;
    margin-right: -1px;
}

.content .pagination ul li a.page-num {
    color: #45464b;
}

.content .pagination ul li a.active,
.content .pagination ul li a:hover {
    color: #fff;
    background: #0074d9;
    border-color: #0074d9;
}

.content .right-content {
    padding: 90px 0 0 0;
}

.content .total-market-cap {
    padding: 56px 0;
    text-align: center;
    border: 1px solid #c3cfdb;
    border-radius: 4px;
    margin-bottom: 51px;
}

.content .total-market-cap img {
    margin-top: -153px;
    margin-bottom: 49px;
}

.content .total-market-cap h2 {
    margin: 0 0 20px 0;
    padding: 0px;
    font-size: 24px;
    line-height: 24px;
    color: #0074d9;
    font-weight: bold;
    text-transform: capitalize;
}

.content .total-market-cap p {
    font-size: 34px;
    line-height: 34px;
    color: #45464b;
    font-weight: 300;
    margin: 0px;
}

.content .heading-style {
    margin-bottom: 29px;
}

.content .heading-style h3 {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    color: #45464b;
    padding-bottom: 23px;
    position: relative;
    font-weight: bold;
}

.content .heading-style h3:after {
    height: 3px;
    width: 25px;
    background: #0074d9;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
}

.content .right-content-table {
    -webkit-box-shadow: 1px 1px 0px 0px rgba(229, 235, 241, 1);
    -moz-box-shadow: 1px 1px 0px 0px rgba(229, 235, 241, 1);
    box-shadow: 1px 1px 0px 0px rgba(229, 235, 241, 1);
    border: 1px solid #dde3e9;
    margin-bottom: 53px;
}

.content .right-content-table thead {
    background: #f5f7f9;
    border-bottom: 1px solid #e5ebf1;
}

.content .right-content-table thead th {
    text-align: left;
    line-height: 49px;
    padding: 0 19px;
    t font-size: 14px;
    color: #45464b;
    font-weight: bold;
    border-right: 1px solid #e5ebf1;
}

.content .right-content-table thead th:last-child {
    border-right: 0;
}

.content .right-content-table tbody {
    background: #ffffff;
}

.content .biggest-gainer {
    background: #fff;
}

.content .biggest-gainer .biggest-gainer-top {
    padding: 25px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5ebf1;
}

.content .biggest-gainer .biggest-gainer-top p {
    font-size: 16px;
    line-height: 18px;
    color: #45464b;
    font-weight: bold;
    padding: 0 20px 0 0;
    margin: 0;
}

.content .biggest-gainer .biggest-gainer-graph {
    padding: 31px 0 27px 0;
    text-align: center;
}

.content .bottom-content {
    padding: 34px 45px;
    border: 1px solid #c3cfdb;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content .bottom-content .content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .bottom-content .content-box .content-detail {
    margin-left: 21px;
}

.content .bottom-content .content-box strong {
    font-size: 15px;
    color: #45464b;
    font-weight: bold;
    line-height: 13px;
    margin-bottom: 6px;
    display: block;
}

.content .bottom-content .content-box p {
    font-size: 15px;
    color: #45464b;
    font-weight: 400;
    line-height: 13px;
    margin: 0;
}

.content .social-icon {}

.content .social-icon ul {
    margin: 0;
    padding: 23px 0 0 0;
    text-align: center;
}

.content .social-icon ul li {
    display: inline-block;
    margin: 0 27px 0 0;
}

.content .social-icon ul li:last-child {
    margin: 0;
}

.content .social-icon ul li a {
    line-height: 46px;
    display: inline-block;
    width: 46px;
    background: #0074d9;
    border-radius: 25px;
    text-align: center;
}

.content .social-icon ul li a:hover {
    opacity: .7;
}

footer {
    background: #00284b;
    text-align: center;
    padding: 20px 0;
}

footer p {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, .5);
    margin: 0 80px 0 0;
}

footer ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

footer ul li {
    display: inline-block;
    margin: 0 28px 0 0;
}

footer ul li:last-child {
    margin: 0;
}

footer ul li a {
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
}

.toggle-btn {
    display: none;
}

.toggle-btn span {
    display: block;
    width: 22px;
    height: 3px;
    margin-bottom: 3px;
    background: #fff;
}


@media only screen and (max-width: 1440px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .right-col {
        margin-left: 0px !important;
        width: 33.33% !important;
    }
    .content .data-table {
        overflow-x: scroll;
    }
}

@media only screen and (max-width: 1199px) {
    header .header-search {
        position: static;
        margin: 15px 0;
    }
}

@media only screen and (max-width: 991px) {
    .right-col {
        width: 100% !important;
    }
    header .header-menu ul {
        margin: 0 30px 0 0;
    }
}

@media only screen and (max-width:767px) {
    header .header-menu ul {
        display: block;
        margin: 0;
    }
    header .header-menu ul li,
    header .header-menu ul li:nth-child(2) {
        margin: 0 0 10px 0;
        display: block;
        text-align: left;
        padding: 0 25px;
    }
    header .select-currency {
        display: block;
    }
    header .header-menu ul li a img {
        display: none;
    }
    header .select-currency .base-currency,
    header .select-currency .rate-currency {
        display: block;
        margin: 0;
        padding: 0 25px;
        text-align: left;
        margin-bottom: 10px;
    }
    header .select-currency .bootstrap-select .btn {
        padding-left: 0;
    }
    header .select-currency .bootstrap-select {
        margin-bottom: 0;
    }
    header .select-currency {
        padding: 0px;
    }
    header .regestered-links ul li a {
        padding: 0 30px;
    }
    header .regestered-links ul li a.login {
        background: url(../images/login-icon.png) 0px center no-repeat;
    }
    .menu-inner {
        display: none;
    }
    .menu-inner.active {
        display: block;
    }
    header .header-menu {
        padding: 0;
    }
    .header-search {
        display: flex;
        justify-content: space-between;
        padding: 0 25px;
        align-items: center;
    }
    .toggle-btn {
        display: inline-block;
    }
    .content .left-table tfoot td {
        text-align: left;
        padding-left: 25px;
        padding-right: 25px;
    }
    .content .pagination ul {
        margin: 50px 0;
    }
    .content .pagination ul li a {
        padding: 0 10px;
    }
    .content .left-table .top-filters .search-filter input {
        min-width: 0;
        background: url(../images/glass-icon-black.png) 90% center no-repeat;
        width: 100%;
    }
    .content .left-table .top-filters .selected-filter input {
        max-width: 100%;
    }
    header .select-currency .dropdown-menu {
        left: auto;
    }
    header .select-currency .bootstrap-select.btn-group .dropdown-menu li {
        padding: 0;
    }
}

@media only screen and (max-width:639px) {
    .content .bottom-content .content-box {
        flex: 0 0 50%;
        margin-bottom: 15px;
        justify-content: baseline;
    }
}

@media only screen and (max-width:479px) {
    .full-width {
        width: 100%;
    }
    header .logo {
        padding: 10px 0;
    }
    header .regestered-links ul li a {
        padding: 0 15px;
        line-height: 40px;
        font-size: 11px;
    }
    .content .left-table .top-filters .selected-filter {
        margin-bottom: 20px;
    }
    .content .pagination ul li:first-of-type a {
        border-radius: 0;
    }
}