*{ margin:0px; padding:0px; }
body { font-family: 'Lato', sans-serif; background:#eee;  }
.container {width:640px; margin:0 auto;  position:relative; }
.clear {clear:both;}

/*----------------Global----------------*/
input[type="text"],input[type="email"],input[type="password"] { font-size:24px; line-height:56px; color:#5e5e5e; font-weight:500; text-transform:uppercase; width:100%; border:0px;background:none; outline:none;}
::-webkit-input-placeholder {color:#5e5e5e;}
:-moz-placeholder {color:#5e5e5e;}
::-moz-placeholder {color:#5e5e5e;}
:-ms-input-placeholder {color:#5e5e5e;}
::-ms-input-placeholder {color:#5e5e5e;}
:placeholder-shown {color:#5e5e5e;}

/*----------------Splash Page----------------*/
.splash-outer { }
.splash-outer .sign-up-btn { text-align:right;}
.splash-outer .sign-up-btn a { font-size:24px; color:#cf2d1d; text-decoration:none; text-transform:uppercase; margin:8.9% 5.7% 0 0; line-height:18px; display:inline-block; font-weight:600; letter-spacing:1.1px; }
.splash-outer .logo { margin:23.5% 0 38.6% 0;}
.splash-outer .logo img { max-width:100%;}
.splash-outer .go-arrow { text-align:center; margin:0 0 35.6% 0;}


/*----------------Sign In Page----------------*/
.top-bar { background:#cf2d1d; padding:11% 28px 4.4% 31px; max-height:144px;}
.top-bar .back-arrow { float:left; width:4.4%; }
.top-bar .page-title { float:left; width:91.9%; text-align:center;}
.top-bar .page-title span { font-size:34px; color:#ffffff; line-height:26px; display:inline-block;}
.top-bar .cross-btn { width:3.7%; display:inline-block;}

/*----------------Content----------------*/
.content {}
.content .logo {padding:9.4% 0 11% 0; }
.content .logo img { max-width:100%;}
.content .sign-in-form { padding:0 9.3%;}
.content .sign-in-form form .email-field { background:url(../images/email-icon.png) left center no-repeat; padding:0 0 0px 52px; border-bottom:1px solid #aaaaaa; margin:0 0 12% 0;}
.content .sign-in-form form .name-field { background:url(../images/user-icon.png) left center no-repeat; padding:0 0 0px 52px; border-bottom:1px solid #aaaaaa; margin:0 0 12% 0;}
.content .sign-in-form form .password-field  { background:url(../images/password-icon.png) left center no-repeat; padding:0 0 0px 52px; border-bottom:1px solid #aaaaaa; margin:0 0 12% 0; position:relative;}
.content .sign-in-form form .password-field .info { position:absolute; right:0px; bottom:8px;}
.content .sign-in-form form .singin-btn { text-align:center;}
.content .sign-in-form form input[type="button"]{ width:59.6%; margin:3.6% auto 21% auto; background:#22c064; font-size:24px; color:#ffffff; letter-spacing:1px; line-height:80px; border:0px; border-radius:40px; text-transform:uppercase; display:inline-block; font-weight:500; cursor:pointer; outline:none;}
.content .sign-in-form form .fb-btn { text-align:center;}
.content .sign-in-form form .fb-btn input[type="button"]{ background:url(../images/fb-icon.png) 4px center no-repeat #375c90 ;width:82%; margin-bottom:12%; padding-left:14%;}




@media screen and (max-width: 480px) {
	.splash-outer .sign-up-btn a { font-size:18px;}
}
