
/*_ Variables _*/

$font_family: 'Rubik', sans-serif;
$color_light: #fff;
$color_danger: #EA1821;
$color_secondary: #212B36;
$color_success: #05C469;
$border_color: #E5E5E5;
$light_grey: #EBEEF0;
$color_grey: #AFB1B3;
$dark_blue: #212B36;
$btn_light_hover: #c7bdbd;
$dark_grey: #496078;
$btn_danger_hover: #f25f66;
$purple_color: #5053ab;
$dark_light: #BEC1D5;
$dark_color: #121424;
$color_red:  #ea1821;

/*_ BreakPoints _*/
$large_break: 1199px;
$medium_break: 991px;
$small_break: 767px;
$xsmall_break: 480px;