/* Media queries for width */
@media screen and (max-width:1700px) { 
	.capabilities-section .block-cont { padding-top:25px; }
	.contact-section h2 { padding-top:0; }
	.headshots-cont .grid-cont .caption-cont p { padding:0 5px; padding-top:20px; }
	.headshots-cont .grid-cont .caption-cont ul { padding-top:25px; }
}
@media screen and (max-width:1600px) {
	header nav ul li { padding:30px 0 0 0; }
	header nav ul li a { font-size:17px; }
	header .hire-btn { margin:20px 20px 0 26px; }
	header .hire-btn a.btn { font-size:17px; }
	.home h1 { font-size:50px; }
	.about-cont h2 { font-size:50px; }
	.home p { font-size:30px; }
	.about-cont h3 { font-size:30px; }
	.home .btn-line a { font-size:20px; line-height:80px; width:315px; font-size:20px; }
	.headshots-cont .grid-cont img { height:100%; }
	.portfolio-section .grid-cont .grid-col img { height:100%; }
	.headshots-cont .grid-cont .caption-cont h2 { font-size:38px; }
	.portfolio-section .grid-cont .caption-icon img { height:auto; }
}
@media screen and (max-width:1500px) {
	.capabilities-section .inner { max-width:1300px; }
	.capabilities-section .block-cont { padding:25px 0 0 15px; }
	
	/* Explor Solution */
	.solution-wrapper .center-cont { width:auto; max-width:1400px; padding:0 20px; }
	.solution-wrapper .upper-cont .left-cont { width:35%; }
	.solution-wrapper .upper-cont .right-cont { padding:20px 0 0 3%; width:58%; }
	.solution-wrapper .upper-cont h2 { font-size:35px; line-height:38px; }
	.solution-wrapper .content-area { padding-top:100px; }
	
}
@media screen and (max-width:1440px) {
	.headshots-cont .grid-cont .caption-cont p { padding:15px 15px 0; }
	.headshots-cont .grid-cont .caption-cont ul { padding-top:15px; }
	.capabilities-section .inner { width:100%; }
	footer .left-nav { padding-top:60px; }
	footer .left-nav ul li { font-size:14px; padding:0 1px; }
	footer .social-icons { padding:50px 10px 0; }
	footer .social-icons li { padding:0 14px; }
	footer .copyright { padding:0 0 0 25px; margin:43px 0 0 25px; font-size:14px; }
	header nav ul li a { padding:10px; }
}
@media screen and (max-width:1340px) {
	.about-section .inner { max-width:1000px; }
	header nav ul li a { padding:10px; }
	header .hire-btn { margin:20px 10px 0; }
	.about-cont .detail-cont .left-cont { margin:0; width:47%; padding:0 1.5%; }
	.solution .grid-cont .text-cont { font-size:25px; line-height:30px; }
	.solution .grid-cont .detail-cont { padding:25% 0 0; }
}
@media screen and (max-width:1280px) {
	.home h1 { font-size:40px; }
	.home p { font-size:25px; }
	.home .btn-line a { font-size:16px; line-height:65px; width:260px; margin: 0 5px; }
	.home .btn-line { padding-top:40px; }
	.about-cont h2 { font-size:40px; }
	.about-cont h3 { font-size:25px; }
	.contact-section h2 { font-size:40px; }
	.contact-section h3 { font-size:25px; }
	.capabilities-section h2 { font-size:40px; }
	.capabilities-section h3 { font-size:25px; }
	.solution .grid-cont .text-cont { font-size:25px; line-height:30px; }
	.solution .grid-cont .icon-cont img { width:40px; }
	.about-section .inner { padding:0 15px; }
	footer .quotes .text-cont { font-size:26px; }
	.headshots-cont .grid-cont .caption-cont h2 { padding-top:30px; }
	.capabilities-section .inner { max-width:1170px; }
	.capabilities-section .block-cont { width:275px; }
}



/* Media queries for height */
@media screen and (max-height:900px) {
	.headshots-cont .grid-cont .caption-cont p { font-size:14px; }
	footer .quotes .text-cont { margin-top:10px; }
	footer .footer-logo { margin-left:46px;  }
	.about-cont { margin:8% 0 0 0; }
	.about-cont .detail-cont { padding:0 20px; padding-top:130px; }
	.menu-section .social-media { bottom:auto; margin-top:15px; }
	footer .hire-btn { margin-top:10px; }
	footer .copyright { margin-top:15px; }
	footer .left-nav { padding-top:30px; }
	footer .social-icons { padding-top:25px; }
}
@media screen and (max-height:850px) {
	.contact-section .form-line { margin-top:20px; }
	.capabilities-section .block-cont { padding-top:15px; }
	.capabilities-section .block-cont p { font-size:14px; line-height:20px; }
	.capabilities-section .block-cont { min-height:200px; }
	.headshots-cont .grid-cont .caption-cont h2 { padding-top:20px; }
}
@media screen and (max-height:790px) {
	.contact-section p { padding-top:30px; }
	footer .quotes .text-cont { margin-top:13px; line-height:55px; }
}
@media screen and (max-height:750px) {
	footer .footer-logo { margin-top:10px; }
	.about-cont .detail-cont { padding-top:90px; }
	.headshots-cont .grid-cont .caption-cont p { line-height:20px; }
	.contact-section form textarea { height:175px; }
	.contact-section .form-line { margin-top:15px; }
	footer .copyright { margin-top:18px; line-height:50px; }
	footer .left-nav { padding-top:30px; }
	footer .social-icons { padding-top:35px; }
	footer .quotes .text-cont { margin-top:10px; line-height:55px; font-size:25px; }
	footer .hire-btn a.btn { width:130px; line-height:40px; }
	footer .copyright { margin-top:15px; }
	footer .footer-logo.last-logo { padding-top:0px; }
	footer .social-icons { padding-top:25px; }
}
@media screen and (max-height:700px) {
	.contact-section .form-line { margin-top:10px;  }
	.contact-section form input[type="submit"] { margin:0; }
	.capabilities-section .detail-sec { padding: 10px 0 0; }
	footer .quotes .text-cont { margin-top:5px; }
	footer .hire-btn { margin-top:6px; }
	footer .footer-logo { margin-top:6px; }
}
@media screen and (max-height:674px) {
	header nav { display:none; }
}
@media screen and (max-height:640px) {
	.menu-section nav { padding-top:20px; }
}


/* without plugin  */
@media screen and (max-width:1200px) {
	header .hire-btn { position:absolute; top:60px; right:0px; }
	header .hire-btn .bottom-arrow { display:none; }
	footer .quotes .text-cont { padding-right:20px; margin-right:20px; }
	footer .hire-btn { margin-right:20px; }
	.capabilities-section .block-cont p {   overflow: hidden; text-overflow: ellipsis; height:63px; }
	.headshots-cont .grid-cont .caption-cont p { padding-top:10px; }
	.headshots-cont .grid-cont .caption-cont h2 { padding-top:15px; }
	.headshots-cont .grid-cont .caption-cont p { line-height:17px; }
	.headshots-cont .grid-cont .caption-cont ul { padding-top:10px; }
	.capabilities-section .block-cont { height: 120px; min-height: 0; overflow: hidden; text-overflow: ellipsis; }
	footer .social-icons li { padding: 0 8px; font-size:13px; }
	footer .footer-logo.last-logo { margin:25px 0 0 15px; }
	footer .footer-logo.last-logo img { width:160px;  }
	footer .copyright { padding:0 0 0 20px; margin-left:20px; }
	
	/* Explor Solution */
	.solution-wrapper .upper-cont .left-cont { width:38%; }
	.solution-wrapper .upper-cont .right-cont { padding:20px 0 0 3%; width:58%; }
	.solution-wrapper .upper-cont h2 { font-size:28px; line-height:30px; }
	.solution-wrapper .upper-cont ul li { font-size:14px; }
	.solution-wrapper .content-area { padding-top:100px; }
	.solution-wrapper .upper-cont .right-cont p { font-size:15px; line-height:25px; }
	.solution-wrapper .middle-cont .caption-text { font-size:20px; }
	.solution-wrapper .middle-cont .caption-text span { font-size:14px; }
	.solution-wrapper .middle-cont .text-cont h3 { font-size:16px; line-height:18px; }
	.solution-wrapper .middle-cont .text-cont p { font-size:14px; line-height:18px }
	.solution-wrapper .middle-cont .arrow-cont { margin-top:5px; }
	
	
}
@media screen and (max-width:1100px) {
	header .logo { margin:20px 0 0 20px; }
	footer .copyright { margin-left: 10px; padding: 0 0 0 10px; }
}
@media screen and (max-width:979px) {
	header nav { display:none; }
	.solution .grid-cont .grid-col { width:50%; height:auto; }
	.capabilities-section .block-cont { height:auto;  float:none; display:inline-block; }
	.capabilities-section .block-cont p { height:auto; }
	.about-cont .detail-cont .left-cont { box-sizing:border-box; }
	
	
	/* Explor Solution */
	.solution-wrapper .upper-cont h2 { font-size:23px; line-height:25px; }
	.solution-wrapper .upper-cont .right-cont p { line-height:21px; font-size:14px; }
	.solution-wrapper .middle-cont .col-box { width:50%; }
}
@media screen and (max-width:1042px) {
	.solution .grid-cont .text-cont { padding:14px 5px 0 5px; }
}



@media screen and (max-width: 979px) , screen and (max-height:674px) {
	.solution .grid-cont,.headshots-cont .grid-cont,.portfolio-section .grid-cont, footer { position:relative; z-index:0; }
	.solution .grid-cont::after,.headshots-cont .grid-cont::after,.portfolio-section .grid-cont:after { clear:both; display:block; content:''; }
	.home { margin:150px 0 0 0; padding-bottom:170px; }
	.about-cont { margin:0; }
	footer .footer-logo { padding:25px 0 25px 25px; margin:0; }
	footer .hire-btn { margin:25px 25px 0 0; }
	footer .quotes .text-cont { margin-top:25px; line-height:60px; }
	.about-cont { padding:100px 0 100px 0; }
	.about-cont .detail-cont { padding-top:70px; }
	.contact-section { padding:50px 0 50px 0; }
	.menu-section .menu-cont { bottom:0; }
	.menu-section .social-media { bottom:20px; }
	.menu-section .close-icon { background-size:cover; height:20px; width:20px; }
	.menu-section nav ul { font-size:24px; }
	.menu-section .menu-cont { width:325px; }
	.menu-section nav ul li { margin:10px 0 0 40px; }
}
@media screen and (max-width:979px) {
	.headshots-cont .grid-cont .grid-col { width:50%; height:auto; }
	.portfolio-section .grid-cont .grid-col { width:50%; height:auto; }
	.headshots-cont .grid-cont .caption-cont h2 { padding-top:56px; }
	.headshots-cont .grid-cont .caption-cont p { font-size:16px; line-height:20px; }
	.headshots-cont .grid-cont .caption-cont ul { padding-top:20px; }
	.capabilities-section .inner { padding:0 15px; box-sizing:border-box; }
	.portfolio-section .grid-cont .caption-icon img { width:150px; }
	footer .footer-logo.last-logo { float:none; text-align:center; }
	footer .copyright { border:0; padding-left:0; margin-left:10; }
	footer .social-icons { padding-bottom:35px; }
	footer { z-index:0; }
	.capabilities-section { padding-bottom:50px; }
}
@media screen and (max-width:979px) {
	.solution .grid-cont .text-cont { padding:14px 5px 0 5px; }
	footer .footer-logo { float:none; padding:0 0 0 0; text-align:center; }
	footer .quotes { float:none; margin:0; text-align:center; }
	footer .quotes .text-cont { float:none; border:0; padding:0; margin:10px 0 0 0; line-height:35px; }
	footer .hire-btn { float:none; margin:10px auto 0 auto; width:172px; }
	footer { padding:20px 0; }
	.about-cont .detail-cont { padding-top:50px; }
	.about-cont .detail-cont .left-cont { margin:0; width:100%; }
	.about-cont .detail-cont .left-cont:last-child { margin:0; }
	.about-cont .detail-cont p { margin:10px 0 0 0; font-size:14px; }
	.headshots-cont .grid-cont .caption-cont h2 { padding-top:30px; }
	.headshots-cont .grid-cont .caption-cont p { font-size:14px; line-height:20px; }
	.headshots-cont .grid-cont .caption-cont ul { padding-top:15px; }
	.capabilities-section .block-cont { padding-left:0; width:47%; margin:0 1%; }
	.contact-section .inner { padding:0 15px; box-sizing:border-box; }
	.contact-section form input[type="text"] { width:49%; }
	.contact-section form input[type="text"]:last-child { margin-left:0; }
	.contact-section form textarea { width:98%; }
	footer .copyright { float:none; text-align:center; margin:0; line-height:38px; }
	footer .left-nav { float:none; padding:0; }
	footer .left-nav ul { float:none; }
	footer .social-icons { float:none; padding-bottom:0; padding-top:15px; }
	footer { padding:20px 15px; box-sizing:border-box; }
}

@media screen and (max-width:960px) {
	.home .inner { padding:0 15px; }
	.home .btn-line { padding-top:30px; }
}
@media screen and (max-width:840px) {
	.headshots-cont .grid-cont .caption-cont p { display:none; }
	.headshots-cont .grid-cont .caption-cont img { width:32px; }
	.headshots-cont .grid-cont .caption-cont h2 { font-size:30px; padding-top:70px; }
	.headshots-cont .grid-cont .caption-cont h3 { font-size:20px; }
}
@media screen and (max-width:768px) {
	.portfolio-section .grid-cont .grid-col { width:50%; }
}
@media screen and (max-width:640px) {
	.home .btn-line { padding-top:0px; }
	.home .btn-line a { margin-top:15px; }
	.home { margin:100px 0 0 0; padding-bottom:100px; }
	.about-cont .detail-cont { padding:20px 0 0 0; }
	.about-cont .detail-cont p { margin:10px 0 0 0; }
	.headshots-cont .grid-cont .caption-cont h2 { padding-top:35px; }
	.contact-section form input[type="text"] { width:98%; }
	.contact-section form input[type="text"]:last-child { margin-top:10px; }
	.mobile-disable { display:none; }
	.contact-section .form-line { margin-top:10px; }
	
	
	/* Explor Solution */
	.solution-wrapper .upper-cont .left-cont { width:100%; border:0; }
	.solution-wrapper .upper-cont .right-cont { width:100%; padding:0; }
	.solution-wrapper .content-area { padding-top:50px; }
	.solution-wrapper .middle-cont { padding-bottom:25px; }
	.solution-wrapper .middle-cont .col-cont { padding-top:25px; }
	.solution-wrapper .logo-small { margin:30px 0 0 20px; }
}
@media screen and (max-width:580px) {
	.menu-section .men-text { display:none; }
	.menu-section .men-icon { right:15px; top:25px; }
	header .logo { margin:25px 0 0 20px; }
	.menu-section .close-icon { right:15px; top:25px; }
	.menu-section .close-text { display:none; }
	.home { margin:50px 0 0 0; padding-bottom:50px; }
	.home h1 { font-size:30px }
	.home p { font-size:20px; }
	.about-cont h2 { font-size:30px; }
	.about-cont h3 { font-size:20px; }
	.capabilities-section h2 { font-size:30px; }
	.capabilities-section h3 { font-size:20px; }
	.contact-section h2 { font-size:30px; }
	.contact-section h3 { font-size:20px; }
	.home .btn-line a { line-height:55px; }
	.home .btn-line { padding-top:20px }
	.headshots-cont .grid-cont .caption-cont img { width:22px; }
	.headshots-cont .grid-cont .caption-cont ul li { padding:0 20px; }
	.capabilities-section .block-cont { padding-left:0; width:98%; margin:0 1%; }
	.solution .grid-cont .detail-cont { padding:10% 0 0; }
	.menu-section nav { padding-top:80px; }
	
	/* Explor Solution */
	.solution-wrapper .middle-cont .text-cont p { display:none; }
	.solution-wrapper .middle-cont .text-cont h3 { width:50px; height:18px; overflow:hidden; }
	.solution-wrapper .middle-cont .text-cont { margin-top:11px; }
}
@media screen and (max-width:480px) {
	.solution .grid-cont .grid-col { width:100%; }
	.headshots-cont .grid-cont .grid-col { width:100%; }
	.headshots-cont .grid-cont .caption-cont h2 { padding-top:50px; }
	.portfolio-section .grid-cont .grid-col { width:100%; }
	.contact-section form input[type="submit"] { width:290px; }
	.solution .grid-cont .detail-cont { padding:15% 0 0 0; }
	.headshots-cont .grid-cont .caption-cont h2 { padding:65px 0 0 0; }
	.menu-section .menu-cont { width:320px; }
	
	/* Explor Solution */
	.solution-wrapper .middle-cont .col-box { width:100%; }
	.solution-wrapper .content-area { padding-top:20px; }
}


/* Media queries for Last height */
@media screen and (max-height:480px) {
	.menu-section .social-media { bottom:auto; }
	.menu-section nav ul { font-size:20px; }
	.menu-section nav { padding-top:17px; }
	.menu-section .social-media { margin-top:25px; }
}
