body { font-family: 'Raleway', sans-serif; }

* { margin:0; padding:0; }
a { text-decoration:none; }
.first-sec { background:url(../images/first-section.jpg) no-repeat 0 0; background-size:cover; }

/*font-family: 'Droid Serif', serif;*/

header { top:0; position:relative; }
header::after { clear:both; content:""; display:block; }
header .logo { float:left; margin:25px 0 0 25px; width:175px; }
header .logo img { width:100%; }
header nav { float:right; }
header nav::after { clear:both; content:""; display:block; }
header nav ul { list-style:none; float:left; }
header nav ul li { display:inline-block; border-top:6px solid transparent; padding:25px 0 0 0; }
header nav ul li a { font-size:18px; color:#fff; font-weight:600; text-decoration:none; padding:10px 20px; }
header nav ul li.active { border-top:6px solid #00afab; }
header .hire-btn { display:inline-block; margin:20px 25px 0 25px; }
header .hire-btn:hover { opacity:0.9; }
header .hire-btn a.btn { background:#00afab; width:172px; line-height:50px; font-size:18px; font-weight:600; color:#fff; display:block; text-align:center; cursor:pointer; }
header .hire-btn .bottom-arrow { background:url(../images/botton-icon.png) no-repeat 0 0; width:29px; height:19px; margin:0 0 0 16px; }

.home { text-align:center; margin:14% 0 0 0; }
.home .inner { max-width:1188px; margin:0 auto; }
.home h1 { font-size:60px; color:rgba(255,255,255,1); font-weight:700; text-shadow:3px 3px 8px rgba(0,0,0,.24); }
.home p { font-family: 'Droid Serif', serif; font-style:italic; color:#fff; text-shadow:3px 3px 8px rgba(0,0,0,.24); font-size:36px; margin:14px 0 0 0; }
.home .btn-line { padding-top:71px; }
.home .btn-line a {  width:250px; line-height:66px; display:inline-block; text-align:center; background:#fff; margin:0 15px; font-size:22px; font-weight:700; }
.home .btn-line a.about-us { color:#444; background:#fff; }
.home .btn-line a.see-results { color:#fff; background:#00afab; }
.home .btn-line a:hover { opacity:.9; }


.menu-section { position:fixed; right:0; z-index:101; height:100%; display: none; }
.menu-section .men-icon { color:#fff; background:url(../images/menu-btn.png) 0 0 no-repeat; width:24px; height:20px; top:28px; right:31px; position:absolute; cursor:pointer;  }
.menu-section .men-text { font-size:14px; font-weight:700; line-height:37px; color:#fff; top:22px; right:86px; position:absolute; }
.menu-section .menu-cont { width:435px; background:#d0112b; z-index:11; position: absolute; right: 0; bottom:10%; top: 0; display:none; }
.menu-section .close-icon { color:#fff; background:url(../images/close-btn.png) 0 0 no-repeat; width:24px; height:24px; top:28px; right:45px; position:absolute; cursor:pointer; }
.menu-section .close-text { font-size:14px; font-weight:700; line-height:37px; color:#fff; top:22px; right:86px; position:absolute; cursor:pointer; }
.menu-section nav { padding-top:103px; }
.menu-section nav ul { font-size:42px; list-style:none; }
.menu-section nav ul li { margin:11px 0 0 44px; }
.menu-section nav ul li a { color:#fff; font-weight:700; }
.menu-section nav ul li a.active { color:#9e041a; }
.menu-section .social-media { width:100%; text-align:center; position:absolute; bottom:236px; }
.menu-section .social-media ul { list-style:none; }
.menu-section .social-media ul li { display:inline-block; padding:0 18px; }

.solution .grid-cont { width:100%; height:100%; position:absolute; }
.solution .grid-cont .grid-col { float:left; width:33.333%; height:45%; vertical-align:top; position:relative; font-size:0; }
.solution .grid-cont img { width:100%; height:100%; }
.solution .grid-cont .detail-cont { text-align:center; padding:18% 0 0 0; position:absolute; width:100%; }
.solution .grid-cont .icon-cont { text-align:center; width:auto; }
.solution .grid-cont .icon-cont img { width:60px; }
.solution .grid-cont .text-cont { text-align:center; color:#fff; font-size:32px; font-weight:300; line-height:45px; padding-top:14px; }
.solution .grid-cont .grid-col {}
.solution .grid-cont .tile-hover { visibility: hidden; opacity: 0; position: absolute; top: 0; left: 0; right: 0; bottom: 0; text-align: center; height: 100%; background-color: rgba(208,17,34,0.90); color: #fff; -webkit-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s; transition: opacity 0.2s ease-out, visibility 0s linear 0.2s; z-index:10; }
.solution .grid-cont .grid-col:hover .tile-hover {visibility: visible; opacity: 1.0; -webkit-transition: opacity 0.2s ease-out, visibility 0s linear; transition: opacity 0.2s ease-out, visibility 0s linear; }
.solution .grid-cont .learn-btn { display: inline-block; padding: 0 1.8em; cursor: pointer; font-size: 14px; font-weight:700; text-transform: capitalize; text-decoration: none; color: #d0112b;  background-color: #fff; line-height: 36px; margin-top:30%; }




.about-section { background:url(../images/third-section.jpg) no-repeat 0 0; background-size:cover; }
.about-section .inner { max-width:1230px; margin:0 auto; }
.about-cont { margin:14% 0 0 0; text-align:center; }
.about-cont h2 { font-size:72px; color:rgba(255,255,255,1); font-weight:700; text-shadow:3px 3px 8px rgba(0,0,0,.24); }
.about-cont h3 { font-family: 'Droid Serif', serif; font-style:italic; color:#fff; text-shadow:3px 3px 8px rgba(0,0,0,.24); font-size:36px; margin:6px 0 0 0; font-weight:400; }
.about-cont .detail-cont { padding:126px 0 0 0; }
.about-cont .detail-cont::after { clear:both; content:""; display:block; }
.about-cont .detail-cont .left-cont { float:left; width:575px; margin-right:40px; }
.about-cont .detail-cont .left-cont:last-child { margin-right:0; }
.about-cont .detail-cont p { font-size:16px; color:#fff; font-family: 'Open Sans', sans-serif; text-align:left; font-style:normal; }


footer { background:#fff; position:absolute; bottom:0; width:100%; z-index:110; height:10%; }
footer::after { clear:both; content:""; display:block; }
footer .footer-logo { float:left; margin:25px 0 0 46px; }
footer .quotes { float:right; }
footer .quotes::after { clear:both; content:""; display:block; }
footer .quotes .text-cont { border-right:1px solid #b2b2b2; line-height:60px; font-size:30px; color:#444; font-weight:300; padding:0 43px 0 0; margin:20px 50px 0 0; float:left; }
footer .hire-btn { float:right; margin:18px 45px 0 0; }
footer .hire-btn:hover { opacity:.9; }
footer .hire-btn a.btn { background:#00afab; width:172px; line-height:50px; font-size:18px; font-weight:600; color:#fff; display:block; text-align:center; cursor:pointer; }
footer .hire-btn .bottom-arrow { background:url(../images/botton-icon.png) no-repeat 0 0; width:29px; height:19px; margin:0 0 0 16px; }
footer .copyright { border-left:1px solid #b2b2b2; line-height:59px; float:left; color:#444; padding:0 0 0 49px; font-size:16px; margin:20px 0 0 51px; font-family: 'Open Sans', sans-serif; font-weight:300; }
footer .left-nav {  float:left; font-family: 'Open Sans', sans-serif; padding:40px 0 0 0; }
footer .left-nav::after { clear:both; content:""; display:block; }
footer .left-nav ul { float:left; font-size:16px; list-style:none; }
footer .left-nav ul li { color:#444; font-size:16px; font-weight:300; display:inline-block; padding:0px 2px; }
footer .left-nav ul li a { color:#444; font-weight:700; }
footer .left-nav ul li.lite a { font-weight:300; }
footer .social-icons { float:left; padding:35px 53px 0 22px; }
footer .social-icons ul { list-style:none; }
footer .social-icons li { display:inline-block; padding: 0 18px }
footer .social-icons li:hover img { opacity:.8; } 


.headshots-cont .grid-cont { position:absolute; width:100%; height:100%; }
.headshots-cont .grid-cont .grid-col { float:left; width:33.333%; height:45%; vertical-align:top; position:relative; font-size:0; }
.headshots-cont .grid-cont img { width:100%; height:100%; }
.headshots-cont .grid-cont .caption-cont { text-align:center; position:absolute; background:#00afab; left:0; right:0; top:0; bottom:0; display:none; }
.headshots-cont .grid-cont .grid-col:hover .caption-cont { display:block; }
.headshots-cont .grid-cont .caption-cont h2 { color:#fff; font-size:48px; font-weight:700; padding-top:55px; }
.headshots-cont .grid-cont .caption-cont h3 { font-size:24px; font-weight:400; font-family: 'Droid Serif', serif; font-style:italic; color:#fff; padding-top:4px; }
.headshots-cont .grid-cont .caption-cont p { font-size:16px; line-height:24px; color:#fff; font-weight:300; max-width:525px; margin:0 auto; padding-top:44px; }
.headshots-cont .grid-cont .caption-cont img { width:30px; }
.headshots-cont .grid-cont .caption-cont ul { padding:40px 0 0 0; }
.headshots-cont .grid-cont .caption-cont ul li { display:inline-block; padding:0 20px; }


.capabilities-sec { background:url(../images/fifth-section.jpg) no-repeat 0 0; background-size:cover; }
.capabilities-section { /*padding-top:2.8%; */}
.capabilities-section .inner { max-width:1400px; margin:0 auto; text-align:center; }
.capabilities-section h2 { color:#fff; font-size:48px; font-weight:700; padding-top:55px; }
.capabilities-section h3 { font-size:24px; font-weight:400; font-family: 'Droid Serif', serif; font-style:italic; color:#fff; padding-top:4px; }
.capabilities-section .detail-sec { padding:26px 0 0 0; }
.capabilities-section .detail-sec::after { clear:both; content:""; display:block; }
.capabilities-section .block-cont { float:left; width:300px; padding:63px 0 0 50px; text-align:left; min-height:230px; }
.capabilities-section .block-cont h4 { font-size:24px; font-weight:700; color:#fff; }
.capabilities-section .block-cont h4 img { vertical-align:middle; margin-right:13px; }
.capabilities-section .block-cont p { color:#fff; font-family: 'Open Sans', sans-serif; font-size:16px; line-height:24px; padding-top:16px; }


.portfolio-section .grid-cont { height:100%; width:100%; position:absolute; }
.portfolio-section .grid-cont .grid-col { float:left; width:33.333%; height:45%; vertical-align:top; position:relative; font-size:0; }
.portfolio-section .grid-cont .grid-col img { width:100%; height:100%; }
.portfolio-section .grid-cont .caption-cont { position:absolute; width:100%; height:100%; text-align:center; vertical-align:middle; }
.portfolio-section .grid-cont .caption-icon { position:relative; height:100%; width:100%; }
.portfolio-section .grid-cont .caption-icon img { width:180px; height:auto; position:absolute; left:0; right:0; top:0; bottom:0; margin:auto;  }
.portfolio-section .grid-cont .tile-hover { visibility: hidden; opacity: 0; position: absolute; top: 0; left: 0; right: 0; bottom: 0; text-align: center; height: 100%; background-color: rgba(208,17,34,0.90); color: #fff; -webkit-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s; transition: opacity 0.2s ease-out, visibility 0s linear 0.2s; z-index:10;  }
.portfolio-section .grid-cont .tile-hover>div { position: relative; top: 50%; -webkit-transform: translate(0, -50%); -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -o-transform: translate(0, -50%); transform: translate(0, -50%); }
.portfolio-section .grid-cont .tile-hover h4 { margin: 0 0 10px; font-weight: 700; font-size: 18px; text-transform: uppercase; }
.portfolio-section .grid-cont .tile-hover ul { padding: 0; margin: 0 0 15px; list-style-type: none; }
.portfolio-section .grid-cont .tile-hover li { margin: 5px 0; font-size:16px; }
.portfolio-section .grid-cont .tile-hover a { margin: 5px 0; font-size:14px; }
.portfolio-section .grid-cont .learn-btn { display: inline-block; padding: 0 1.8em; cursor: pointer; font-weight: 700; font-size: 14px; text-transform: capitalize; text-decoration: none; color: #d0112b;  background-color: #fff; line-height: 36px;  }
.portfolio-section .grid-cont .grid-col:hover .tile-hover {visibility: visible; opacity: 1.0; -webkit-transition: opacity 0.2s ease-out, visibility 0s linear; transition: opacity 0.2s ease-out, visibility 0s linear; }




.contact-sec  { background:url(../images/sixth-section.jpg) no-repeat 0 0; background-size:cover; }
.contact-section { padding-top:2.8%; }
.contact-section .inner { margin:0 auto; max-width:962px; text-align:center; }
.contact-section h2 { color:#fff; font-size:48px; font-weight:700; padding-top:55px; }
.contact-section h3 { font-size:24px; font-weight:400; font-family: 'Droid Serif', serif; font-style:italic; color:#fff; padding-top:4px; }
.contact-section p { color:#fff; font-size:16px; line-height:24px; font-family: 'Open Sans', sans-serif; padding:0 10px; padding-top:55px; }
.contact-section form {  }
.contact-section .form-line { margin:39px 0 0 0; }
.contact-section form input[type="text"] { background:rgba(255,255,255,.8); padding:26px 30px; font-size:16px; line-height:19px; width:460px; box-sizing:border-box; border:0; font-size:16px; color:#444; margin:0; font-weight:700; outline:none; font-family: 'Raleway', sans-serif; }
.contact-section form textarea { background:rgba(255,255,255,.8); padding:26px 30px; font-size:16px; line-height:19px; width:962px; box-sizing:border-box; border:0; font-size:16px; color:#444; margin:0; font-weight:700; outline:none; height:204px; resize:none; font-family: 'Raleway', sans-serif; }
.contact-section form input[type="text"]:last-child { margin-left:37px; }
.contact-section form input[type="submit"] { background:#00afab; color:#fff; font-size:24px; font-weight:700; line-height:70px; height:70px; width:390px; display:inline-block; border:0; font-family: 'Raleway', sans-serif; cursor:default; margin:3px 0 0 0; cursor:pointer; }
.contact-section form input[type="submit"]:hover {  }




/* Explor Solution */
.solution-wrapper { background:url(../images/body-bg.jpg) 0 0 repeat-x #fff; }
.solution-wrapper .logo-small { float:left; margin:25px 0 0 31px; }
.solution-wrapper .content-area { padding-top:163px; }
.solution-wrapper .center-cont { width:1420px; margin:0 auto; }
.solution-wrapper .upper-cont {}
.solution-wrapper .upper-cont::after { clear:both; content:''; display:block; }
.solution-wrapper .upper-cont h2 { font-size:42px; line-height:46px; color:#3e0206; }
.solution-wrapper .upper-cont ul { list-style:none; padding:10px 0 0 0; }
.solution-wrapper .upper-cont ul li { display:inline-block; color:#3e0206; font-size:16px; }
.solution-wrapper .upper-cont ul li a { color:#3e0206; }
.solution-wrapper .upper-cont .left-cont { float:left; width:473px; border-right:1px solid #9c0a1d; padding:18px 0 15px 0; }
.solution-wrapper .upper-cont .bred-crumbs {}
.solution-wrapper .upper-cont .right-cont { float:left; width:800px; padding:36px 0 0 32px; }
.solution-wrapper .upper-cont .right-cont p { color:#fff; font-size:18px; line-height:25px; font-family: 'Open Sans', sans-serif; }
.solution-wrapper .middle-cont { position:relative; padding-bottom:88px;  }
.solution-wrapper .middle-cont::after { clear:both; content:''; display:block; }
.solution-wrapper .middle-cont .col-box { float:left; width:33.333%; position:relative; font-size:0; background:#009c9b; }
.solution-wrapper .middle-cont .col-cont { padding-top:54px; }
.solution-wrapper .middle-cont .col-cont::after { clear:both; content:''; display:block; }
.solution-wrapper .middle-cont .caption-text { position:absolute; width:100%; bottom:40%; text-align:center; font-size:30px; color:#fff; font-weight:700; margin-top:40px; }
.solution-wrapper .middle-cont .caption-text span { font-size:16px; font-weight:400; }
.solution-wrapper .middle-cont .col-img img { width:100%; }
.solution-wrapper .middle-cont .left-cont { float:left; margin:22px 0 0 0 }
.solution-wrapper .middle-cont .left-cont::after { clear:both; content:''; display:block; }
.solution-wrapper .middle-cont .arrow-cont { float:left; background:url(../images/left-arrow.png) no-repeat; width:16px; height:30px; margin-right:28px; margin-top:8px; }
.solution-wrapper .middle-cont .text-cont { float:left;; }
.solution-wrapper .middle-cont .text-cont h3 { color:#444; font-size:24px; font-family: 'Raleway', sans-serif; line-height:24px; }
.solution-wrapper .middle-cont .text-cont p { font-size:16px; color:#676767; font-family: 'Droid Serif', serif; font-style:italic; line-height:24px; }
.solution-wrapper .middle-cont .right-cont { float:right; margin:22px 0 0 0 }
.solution-wrapper .middle-cont .right-cont::after { clear:both; content:''; display:block; }
.solution-wrapper .middle-cont .right-cont .arrow-cont { background:url(../images/right-arrow.png); margin-left:28px; margin-right:0; } 

.solution-wrapper  footer { position:relative; padding-bottom:22px; }
.solution-wrapper .menu-section { display:block; }
.solution-wrapper .menu-section .menu-cont { bottom:0; }
.solution-wrapper .middle-cont .right-cont .text-cont h3 { text-align:right; }
.solution-wrapper .middle-cont .right-cont .text-cont p { text-align:right; }