/*Rest CSS*/
* { margin:0; padding:0; outline:none; box-sizing:border-box; }
img { border:0; }

/* Fonts */
@font-face {
	font-family: 'Futura Bk';
	src: url('../fonts/Futura-Book.eot');
	src: url('../fonts/Futura-Bookd41d.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Futura-Book.woff') format('woff'),
		 url('../fonts/Futura-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ITCCaslon224W01';
	src: url('../fonts/ITCCaslon224W01-Bold.eot');
	src: url('../fonts/ITCCaslon224W01-Boldd41d.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ITCCaslon224W01-Bold.woff') format('woff'),
		 url('../fonts/ITCCaslon224W01-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


/*Globel CSS*/
body { line-height:16px; font-family: 'Futura Bk';  }
.wrapper { width:100%; }
.clear { clear:both; }
.main-container { width:1026px; margin:0 auto; }
.main-container::after { clear:both; content:''; display:block; }
.main-container .leftbar { float:left; width:230px; padding:29px 0 0 29px; }
.main-container .leftbar .logo {}
.main-container .leftbar .logo img {width: 159px;}
.main-container .leftbar nav { font-family: 'ITCCaslon224W01'; font-size:19px; color:#c1b8af; padding:23px 0 0 0; }
.main-container .leftbar nav ul { list-style:none; }
.main-container .leftbar nav li { display:block; padding:10px 0; }
.main-container .leftbar nav a { color:#c1b8af; text-decoration:none; }
.main-container .leftbar nav a:hover { color:#bc6124; }
.main-container .leftbar nav li.active a { color:#bc6124; }
.main-container .rightcont { float:left; width:796px; padding:0; }
.main-container .rightcont::after { clear:both; content:''; display:block; }

/*Footer CSS*/
footer { padding:15px 26px 40px 0; text-align:right; }
footer img { width:96px; }

/*Home page CSS*/
.main-container .home-cont { padding:15px 28px 0 17px; }
.home-cont .top-cont {  }
.home-cont .top-cont::after { clear:both; content:''; display:block; }
.home-cont .top-cont .first-col { float:left; width:240px; padding:15px 0 0 0; }
.home-cont .top-cont .second-col { float:left; width:496px; margin:0 0 0 15px; }
.home-cont .top-cont .second-col .text-box { float:left; width:241px; height:228px; line-height:31px; font-family: 'ITCCaslon224W01'; font-size:31px; padding:122px 0 0 14px; margin:15px 0 0 0; }
.home-cont .top-cont .second-col .text-box h1{ line-height:31px; font-family: 'ITCCaslon224W01'; font-size:31px; padding:0; margin:0; }
.home-cont .top-cont .second-col .second-img { float:left; width:241px; height:241px; margin:0 0 0 14px; }
.home-cont .top-cont .second-col .big-img { padding-top:13px; }
.home-cont .bottom-cont { padding:13px 0 15px 0; }
.home-cont .bottom-cont::after { clear:both; content:''; display:block; }
.home-cont .bottom-cont .text-box { float:left; width:241px; height:240px; line-height:31px; font-family: 'ITCCaslon224W01'; font-size:31px; padding:145px 0 0 14px; }
.home-cont .bottom-cont .text-box h2 {line-height:31px; font-family: 'ITCCaslon224W01'; font-size:31px; margin:0px; padding:0px;}
.home-cont .bottom-cont .text-box.dark { background:#c2b7af; margin:0 0 0 15px; color:#fff; padding:111px 0 0 14px; }
.home-cont .bottom-cont .text-box.dark h3 { color:#fff;line-height:31px; font-family: 'ITCCaslon224W01'; font-size:31px; margin:0px; padding:0px;}
.home-cont .bottom-cont .logo-box { float:left; position:relative; width:241px; height:240px; }
.home-cont .bottom-cont .logo-box img { position:absolute; right:0; bottom:0; width:96px; }

/*Page 1 CSS*/
.main-container .page1-cont { padding:29px 25px 0 22px; }
.page1-cont h1 { font-family: 'ITCCaslon224W01'; line-height:52px; font-size:60px; margin:8px 0 0 0; }
.page1-cont .first-section { padding:35px 0 0 0; }
.page1-cont .first-section::after { clear:both; content:''; display:block; }
.page1-cont .col-one { width:303px; float:left; }
.page1-cont .col-two { width:432px; float:left; margin-left:14px; }
.page1-cont .first-text-cont { padding:113px 0 0 0; }
.page1-cont .first-text-cont p { font-size:18px; line-height:18px; color:#000; padding:18px 45px 0 6px; line-height:18px; }
.page1-cont .second-section { padding:47px 0 0 0; }
.page1-cont .second-section::after { clear:both; content:''; display:block; }
.page1-cont .third-section { padding-bottom:15px; }
.page1-cont .third-section .image1 { margin:126px 0 0 0; }
.page1-cont .third-section .image2 { margin:373px 0 0 0; }
.page1-cont .third-section::after { clear:both; content:''; display:block; }
.page1-cont .fourth-section { padding:0 0 84px 0; }
.page1-cont .fourth-section::after { clear:both; content:''; display:block; }
.page1-cont .fourth-section h2 { font-family: 'ITCCaslon224W01'; line-height:52px; font-size:60px; margin:8px 0 0 0; }
.page1-cont .fourth-section .image1 { margin:300px 0 0 0;  }
.page1-cont .fourth-section .colored-box { background:#bd6122; padding:20px 0 53px 0; margin:175px 0 0 0; }
.page1-cont .fourth-section .colored-box p { font-size:18px; line-height:18px; color:#fff; padding:18px 0 0 35px; max-width:255px; }

/*Page 2 CSS*/
.main-container .page2-cont { padding:25px 25px 0 22px; }
.page2-cont h1 { font-family: 'ITCCaslon224W01'; line-height:52px; font-size:60px; margin:0px; }
.page2-cont .col-one { width:303px; float:left; }
.page2-cont .col-two { width:432px; float:left; margin-left:14px; }
.page2-cont .first-section { padding:35px 0 0 0; }
.page2-cont .first-section::after { clear:both; content:''; display:block; }
.page2-cont .first-section .image1 { margin:35px 0 0 0; }
.page2-cont .first-section .image2 { margin:220px 0 0 0; }
.page2-cont .first-section .colored-box { background:#bd6122; padding:45px 28px 46px 26px; margin:186px 0 0 0; }
.page2-cont .first-section .colored-box p { font-size:18px; color:#fff; padding:0 ; max-width:255px; line-height:22px; }
.page2-cont .second-section  { padding:68px 0 70px 0;  }
.page2-cont .third-section { padding:28px 0 114px 0; }
.page2-cont .third-section h2 { font-family: 'ITCCaslon224W01'; line-height:52px; font-size:60px; margin:0px; }
.page2-cont .third-section::after { clear:both; content:''; display:block; }
.page2-cont .third-section .image1 { margin:125px 0 0 0; }
.page2-cont .third-section .image2 { margin:241px 0 0 0; }
.page2-cont .third-section .text-cont { padding:144px 0 0 0; }
.page2-cont .third-section .text-cont p { font-size:18px; line-height:18px; color:#000; padding:16px 35px 0 2px; line-height:18px; }

/*Gallery CSS*/
.main-container .gallery-cont { padding:0 0 0 15px; }

/*Contact us CSS*/
.main-container .contactus-cont { padding:14px 58px 0 16px; }
.contactus-cont .top-cont {  }
.contactus-cont .top-cont::after { clear:both; content:''; display:block; }
.contactus-cont .top-cont .first-line-img { float:left; width:229px; height:228px; margin:0 1px 0 11px; }
.contactus-cont .bottom-cont { padding:12px 0 0 0; }
.contactus-cont .bottom-cont::after { clear:both; content:''; display:block; }
.contactus-cont .bottom-cont .first-col { margin:0 0 0 11px; float:left; }
.contactus-cont .bottom-cont .second-col { margin:0; float:left; }
.contactus-cont .bottom-cont .top-line { padding:0 0 12px 0; }
.contactus-cont .bottom-cont .top-line::after { clear:both; content:''; display:block; }
.contactus-cont .bottom-cont .mid-image { float:left; margin:0 0 0 12px }
.contactus-cont .address-box { background:#bd6122; min-height:182px; margin:0 0 0 12px; padding:27px 0 0 42px; }
.contactus-cont .address-box h2 { font-family: 'ITCCaslon224W01'; color:#fff; font-size:40px; line-height:50px; margin-left:-4px; }
.contactus-cont .address-box p.title { margin-bottom:2px; }
.contactus-cont .address-box p { color:#fff; font-size:14px; line-height:19px; }
.contactus-cont .address-box p a { color:#fff; text-decoration:none; line-height:23px; }


.menu-icon { display:none; width:45px; height:40px; position:absolute; top:140px; right:20px; }
.menu-icon .inner { position: absolute; width: 45px; height: 5px; display: block; }
.menu-icon .inner, .menu-icon .inner:after, .menu-icon .inner:before { background-color: #c2b8b3; display:block; content:''; }
.menu-icon .inner:before { top: -12px; position: absolute; width: 45px; height: 5px; }
.menu-icon .inner:after { top:12px; position: absolute; width: 45px; height: 5px; }

.mobile-content { display:none; }

.middle-hide { display:block; }
.middle-show { display:none; }


@media only screen and (max-width: 1024px){ 
	img { max-width:100%; }
	.main-container { width:962px; }
	.main-container .leftbar { width:200px; padding:20px 0 0 20px; }
	.main-container .rightcont { width:780px; }
	.main-container .home-cont { padding: 15px 20px 0 15px; }
	.home-cont .top-cont .first-col { width:230px; }
	.home-cont .top-cont .second-col { width:481px; }
	.home-cont .top-cont .second-col .text-box { width:230px; height: 215px; padding:90px 0 0 14px; }
	.home-cont .top-cont .second-col .second-img { width:230px; height:230px; }
	.home-cont .bottom-cont .text-box { width:230px; height: 215px; padding:124px 0 0 14px; }
	.home-cont .bottom-cont .text-box.dark { width:230px; height: 215px; padding:90px 0 0 14px; }
	.home-cont .bottom-cont .logo-box {  width:252px; height:215px; }
	.main-container .rightcont { width:761px; }
	.page1-cont .col-two { width:396px; }
	.page2-cont .col-two { width:396px; }
	.contactus-cont .top-cont .first-line-img { width:200px; height:200px; }
	.contactus-cont .bottom-cont .first-col { width:200px; height:200px; }
	.contactus-cont .bottom-cont .mid-image { width:200px; }
	.contactus-cont .address-box { min-height: 157px; padding: 12px 0 0 18px; }
	
}
@media only screen and (max-width: 991px){
	.main-container { width:768px; }
	.home-cont .top-cont .first-col { display:none; }
	.main-container .leftbar { padding:15px 0 0 15px; }
	.main-container .rightcont { width:568px; }
	.home-cont .top-cont .second-col { width:100%; }
	.home-cont .top-cont .second-col .second-img { width:240px; height:240px; }
	.home-cont .top-cont .second-col .text-box { height: 225px; width: 240px; padding:111px 0 0 14px; }
	.home-cont .bottom-cont .text-box.dark { height: 215px; padding:111px 0 0 14px; width: 240px; }
	.home-cont .bottom-cont .text-box { width:240px; }
	.home-cont .bottom-cont { padding-left:15px; }
	.home-cont .bottom-cont .logo-box { height:70px; width:95%; }
	.page1-cont .col-one { width:auto; float:none; }
	.page1-cont .col-two { width:auto; margin:0; float:none; text-align:center; }
	.page1-cont .first-text-cont { padding:15px 0 35px 0; }
	.page1-cont .fourth-section .colored-box p { text-align:left; max-width: 100%; padding:18px 125px 0 35px; }
	.page1-cont .col-one.col-mobile { float:left; width:50%; padding-right:5px; }
	.page1-cont .col-two.col-mobile { float:left; width:50%; padding-left:5px; }
	.page1-cont .third-section .image2 { margin:180px 0 0 0; }
	.page1-cont .third-section .image1 { margin:36px 0 0 0; }
	.page1-cont .fourth-section .image1 { margin:35px 0 0 0; }
	.page1-cont .fourth-section .colored-box { margin:25px 0 0 0; }
	
	
	.page2-cont .col-one { width:auto; float:none; }
	.page2-cont .col-two { width:auto; margin:0; float:none; text-align:center; }
	.page2-cont .col-one.col-mobile { float:left; width:50%; padding-right:5px; }
	.page2-cont .col-two.col-mobile { float:left; width:50%; padding-left:5px; }
	.middle-hide { display:none; }
	.middle-show { display:block; }
	.page2-cont .first-section .colored-box { margin:25px 0 0 0; }
	.page2-cont .first-section .colored-box p { max-width:100%; padding-right:50px; }
	.page2-cont .second-section  { padding:35px 0 35px 0;  }
	.page2-cont .third-section .image1 { margin:60px 0 0; }
	.page2-cont .third-section .text-cont { padding:55px 0 0 0; }
	.contactus-cont .address-box { padding:15px 20px 15px 20px; margin:15px 0 0 0; }
	.contactus-cont .address-box h3 { font-family: 'ITCCaslon224W01'; color:#fff; font-size:20px; line-height:20px; margin-left:-4px; padding-bottom:5px; }
	
	
	
}
@media only screen and (max-width: 767px){
	.main-container { width:640px; }
	.main-container .leftbar { float:none; width:auto; padding:15px 15px 0 15px; position:relative; }
	.main-container .rightcont { float:none; width:auto; }
	.main-container .leftbar .logo { width:152px; }
	.menu-icon { display:block; cursor:pointer; }
	.main-container .leftbar nav { display:none; padding:72px 0 70px 20px; position:absolute; background:#fff; left:0; right:0;z-index:9;}
	.main-container .leftbar nav a { font-size:45px; }
	.main-container .leftbar nav li { padding:28px 0; }
	.desktop-content { display:none; }
	.mobile-content { display:block; padding:25px 15px 0 15px; }
	.section-cont { padding-bottom:14px;  }
	.section-cont::after { clear:both; content:''; display:block; }
	.mobile-content .cont-left { width:50%; float:left; padding-right:7.5px; }
	.mobile-content .cont-right { width:50%; float:left; padding-left:7.5px; }
	.mobile-content .section-cont .text-cont { font-size:45px; font-family: 'ITCCaslon224W01'; line-height:51px; padding:120px 0 0 0; }
	.page1-cont h1,.page1-cont .fourth-section h2 { font-size:50px; line-height:45px; }
	.page2-cont h1,.page2-cont .third-section h2 { font-size:50px; line-height:45px; }
	.main-container .contactus-cont { padding:25px 15px 0 15px; }
	.main-container .gallery-cont { margin:0; padding:0; }
	.main-container .gallery-cont h2 { font-family: 'ITCCaslon224W01'; color:#000; font-size:50px; line-height:45px; padding:20px 0 20px 20px; }
	.bx-wrapper .bx-viewport { left:0 !important; }
}
@media only screen and (max-width: 640px){
	.main-container { width:100%; }	
	.mobile-content .section-cont .text-cont {  font-size:40px; line-height:45px;  padding:90px 0 0 0; }
	.page1-cont .fourth-section .colored-box p { padding:18px 55px 0 35px; }
	.page1-cont .first-text-cont p { padding: 18px 6px 0; }
	
	.page2-cont .third-section { padding:28px 0 35px; }
	.main-container .page2-cont { padding:55px 25px 0 22px; }
	
	.main-container .gallery-cont h2 { font-size:40px; line-height:36px; }
	
}
@media only screen and (max-width: 540px){
	.mobile-content .section-cont .text-cont { font-size: 30px; line-height: 30px; padding: 110px 0 0;	}
	.page2-cont .first-section .image1 { margin:30px 0 0 0; }
	.page2-cont .first-section .image2 { margin:145px 0 0; }
	.main-container .page2-cont { padding:37px 25px 0 22px; }
	.page2-cont .first-section { padding:15px 0 0 0; }
	.page2-cont .third-section .image1 { margin:35px 0 0 0; }
	.page2-cont .third-section .image2 { margin:150px 0 0 0; }
	.page2-cont .third-section .text-cont { padding:20px 0 0; }
	.page2-cont .third-section .text-cont p { padding:16px 15% 0 2px; }
	.page2-cont .first-section .colored-box { padding:25px 28px 20px 26px; }
	
}
@media only screen and (max-width: 480px){ 
	.mobile-content .section-cont .text-cont { font-size:26px; padding:70px 0 0; }
	.main-container .leftbar nav a { font-size:30px; }
	.main-container .leftbar nav li { padding:18px 0; }
	.page1-cont h1, .page1-cont .fourth-section h2 { font-size: 40px;  line-height: 37px; }
	.page1-cont .first-text-cont { padding:15px 0 20px; }
	.page1-cont .third-section .image1 { margin:20px 0 0 0; }
	.page1-cont .third-section .image2 { margin:100px 0 0 0; }
	.page1-cont .fourth-section .colored-box p { padding:18px 15px 0 15px; }
	.page1-cont .fourth-section { padding-bottom:15px; }
	.page2-cont .first-section .image2 { margin:95px 0 0; }
	.page2-cont .first-section .colored-box p { padding-right:10px; }
	.page2-cont .first-section .colored-box { margin:20px 0 0 0; }
	.page2-cont .second-section { padding:20px 0 0 0; }
	.page2-cont .third-section .image2 { margin:95px 0 0 0; }
	.page2-cont h1, .page2-cont .third-section h2 { font-size: 38px; line-height: 42px; }
	.contactus-cont .address-box h2 { font-size:35px;  }

}
@media only screen and (max-width: 400px){ 
	.mobile-content .section-cont .text-cont { font-size: 23px; line-height: 26px; padding: 50px 0 0; }
	.contactus-cont .address-box h2 { font-size:26px; }
	
}













