*{ margin:0px; padding:0px; box-sizing:border-box;}
body { margin:0px; padding:0px;font-family: 'Roboto', sans-serif; background:#f1f1f1;}
.wrapper {}
.container {width:100%; max-width:1140px; margin:0 auto; padding:0px;}
.clear { clear:both;}

/*----------------Header----------------*/

header { margin:0px;padding:0px; background:#37407d;max-height:64px; padding:}
header .header-menu { padding:23px 24px 27px 25px; width:70px; float:left; border-right:1px solid rgba(255,255,255,0.1);} 
header .header-menu a { display:block;}
header .header-menu a span { width:20px; background:#fff;border:0px none; height:2px ; margin:0 0 4px 0; display:block;}
header .header-menu a span:last-child {margin-bottom:0px;}
header .logo {float:left; padding:15px 19px 0 24px;}

/*----------------Content----------------*/

.content .top-titlebar { border-bottom:1px solid #d7d7d7; background:#fff; text-align:center; margin:0 0 80px 0;}
.content .top-titlebar h3 {font-size: 15px;font-weight: normal;text-align: center;color: #3f4b86; display:inline-block; padding:25px 16.4px; border-bottom:2px solid #49ac4c; float:left;margin-left:46.8%; margin-bottom:0px; margin-top:0px; margin-bottom:-1px; padding-bottom:21px; }
.content .top-titlebar .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) { width:128px;}
.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover { background:none; outline:none !important;font-size: 15px;font-weight: normal;text-align: left;color: #3f4b86; }
.content .top-titlebar .bootstrap-select.open:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) { width:128px;}
.content .top-titlebar .btn-info:hover { background:none;font-size: 15px;font-weight: normal;text-align: left;color: #3f4b86; border:0px; outline:none;}
.content .top-titlebar .btn-group.open .dropdown-menu {box-shadow:none; outline:none;width: 128px; background:#fafafa;outline:none;}
.content .top-titlebar .btn-group.open .dropdown-menu>li>a { float:none; margin:0px; padding:0px; width:100%; outline:none; line-height:32px; opacity: 0.54;font-size: 15px;font-weight: normal;font-style: normal;font-stretch: normal;letter-spacing: normal;text-align: left;
  color: #000000; display:block;height:auto; padding:0 25px;}
  .content .top-titlebar .btn-group.open .dropdown-menu>li>a:hover ,.bootstrap-select.btn-group .dropdown-menu li.selected a { background:#eeeeee; color:#000 !important; opacity:1 !important;}
  .btn.active, .btn:active { box-shadow:none;}
.content .top-titlebar .bootstrap-select>.dropdown-toggle { padding-right:0px; margin-top:3px;}
.content .top-titlebar .btn-group.open .dropdown-toggle { box-shadow:none; outline:none;width: 128px; background:#fafafa; padding-left:23px;padding-right:23px; outline:none;}
.content .top-titlebar .btn-group .dropdown-toggle { padding-left:23px; padding-right:23px;} 
.content .top-titlebar .right-filter { position:relative; float:right;}
.content .top-titlebar .right-filter select  , .btn-info ,.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info{font-size: 15px;font-weight: normal;text-align: left; opacity:0.87;color: #000000; border:0px; padding:19px 0; margin:0; outline:none; background:none;}
 .open>.dropdown-toggle.btn-info { color:#000; border-radius:2px 2px 0 0 ;}
.content .top-titlebar .btn-group.open .dropdown-toggle .caret { right:23px;}
.content .top-titlebar .btn-group .dropdown-toggle .caret { right:23px;}
.bootstrap-select.btn-group .dropdown-menu { margin:0px; padding:0px;box-shadow:none; border:0px;}
.content .top-titlebar .right-filter a { width:14px; height:14px;color: #000000; float:right; margin:25px 0;}
.content .top-titlebar .right-filter a img { vertical-align:top;}
.content .top-titlebar .top-filter { position:absolute; margin:0px; float:left;  width: 165px;border-radius: 2px;
margin:8px 52px 0 0; right:0; z-index:99; padding:8px 0 0 0; text-align:right;}
.content .top-titlebar .top-filter.open {background-color: #fafafa;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12); text-align:left; z-index:9999; }
.content .top-titlebar .top-filter.open ul {display:block;}
.content .top-titlebar .top-filter a.dropdown { background:url(../images/ic-arrow-drop-down-black.png) right center no-repeat; opacity:1;}
.content .top-titlebar .top-filter.open a.dropdown { background:url(../images/ic-arrow-drop-up-black.png) 87% center no-repeat; opacity:1; padding-left:23px; }
.content .top-titlebar .top-filter.open a.dropdown:hover {background:url(../images/ic-arrow-drop-up-black.png)87% center no-repeat #eee;}
.content .top-titlebar .top-filter a.dropdown:hover {background:url(../images/ic-arrow-drop-down-black.png)right center no-repeat;}
.content .top-titlebar .top-filter a { width:auto; height:auto; margin:0px; display:block; opacity: 0.54;font-size: 15px;
font-weight: normal;color: #000000; float:none;line-height:32px; padding:0 25px; text-decoration:none; }
.content .top-titlebar .top-filter a:hover { background:#eeeeee; opacity:0.8;}
.content .top-titlebar .top-filter ul{ padding:25px 0 0 0; display:none;}
.content .top-titlebar .top-filter ul li { display:block;}
.content .top-titlebar .top-filter ul li a { float:none;line-height:32px; padding:0 15px 0 23px;}
.content .data-table .table-detail { width:100%;  background-color: #ffffff;box-shadow: -2px 2px 2px 0 rgba(119, 151, 177, 0.16); position:relative;}
.content .data-table table { width:100%;}
.content .data-table table tr th{border-bottom:1px solid #e4e4e4;}
.content .data-table table th { text-align:left; padding:15px 0 14px 0; vertical-align:top;}
.content .data-table .table-responsive.task-detail-outer table th.title {width:110px !important;} 
.content .data-table .table-responsive.task-detail-outer table{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.content .data-table .short-text { display:none;}
.long-text ,.short-text  { margin:0px;}
.content .data-table .table-responsive.task-detail-outer table .long-text { display:none;}
.content .data-table .table-responsive.task-detail-outer table .short-text { display:block; width:110px;} 
.content .data-table table th a {opacity: 0.54;font-size: 14px;font-weight: 500;text-align: left;color: #000000;text-transform:uppercase; text-decoration:none;}
.content .data-table table th:first-child { padding-left:19px;}
.content .data-table table th:last-child { padding-right:20px;}
.content .data-table table th a img {margin-left:0px;}
.content .data-table table td{ opacity: 0.87; padding:16px 0 16px 0;border-bottom:1px solid #e4e4e4;font-size: 13px;font-weight: normal; font-style: normal;letter-spacing: normal;color: #000000;}
.content .data-table table tbody tr td:last-child img { margin-left:6px;}
.content .data-table table tbody tr td:last-child { padding-right:20px;}
.content .data-table table tbody tr td:first-child { border-left:2px solid transparent; padding-left:19px;}
.content .data-table table tbody tr:hover ,.content .data-table table tbody tr:hover td:first-child {background-color: #fafafa; border-left:2px solid #3e4a85;}
.table-responsive {overflow-x: auto; width:100%;}
.content .data-table .pagination { margin:0px; text-align:center; padding:47px 0; display:block; width:100%;}
.content .data-table .pagination ul { display:inline-block;text-align:center;}
.content .data-table .pagination ul li { display:inline-block;}
.content .data-table .pagination ul li a{ display:inline-block; opacity: 0.55;font-size: 14px;font-weight: normal;font-style: normal;
color: #000000; width:37px; text-align:center; line-height:37px; text-decoration:none; border: solid 1px transparent; border-radius:50%;}
.content .data-table .pagination ul li span{display:inline-block; opacity: 0.55;font-size: 14px;font-weight: normal;font-style: normal;
color: #000000; width:17px; text-align:center; line-height:37px; text-decoration:none; border: solid 1px transparent;}
.content .data-table .pagination ul li a:hover ,.content .data-table .pagination ul li a.active{border: solid 1px #e4e4e4; }

/*----------------Task Detail----------------*/
.content .data-table .task-detail-outer { width:72.5%; float:left;}
.content .data-table .task-detail-outer table tr th:last-child { width:80px !important;}
.content .data-table .task-detail-outer table tr th:last-child { padding-right:0px;} 
.content .data-table .task-detail-outer table tr td:last-child { padding-right:0px;}
.content .data-table .task-detail { width:315px; background:#fff; border-left:1px solid #e7e7e7; float:right; padding:20px 22px;}
.content .data-table .task-detail h3 { margin:0 0 6px 0; padding:0px;opacity: 0.87;font-size: 18px;font-weight: 500;font-style: normal;font-stretch: normal;letter-spacing: normal;color: #000000; line-height:24px;}
.content .data-table .task-detail h4 {opacity: 0.54;font-size: 12px; color: #000000; font-weight:normal; margin:0 0 31px 0;}
.content .data-table .task-detail .quotes-detail h4 { font-size:18px; text-align:center;opacity: 0.54;
font-size: 18px;font-weight: 500; color: #000000; margin-top:23px;}

.content .data-table .task-detail .nav-tabs { padding:0;}
.content .data-table .task-detail .nav-tabs li a { margin:0px; padding:0 16px 9px 14px; border:0px;font-size: 14px;
  font-weight: 500;letter-spacing: 0.5px;text-align: center;color: #4e4e4e;}
.content .data-table .task-detail .nav-tabs>li.active>a,.content .data-table .task-detail .nav-tabs>li.active>a:focus,.content .data-table .task-detail .nav-tabs>li.active>a:hover,.content .data-table .task-detail .nav-tabs>li >a:hover {   background:none; margin:0px;}
.content .data-table .task-detail .nav-tabs li.blocked {background:url(../images/red-dot.png) 90% top no-repeat;}
.content .data-table .task-detail .nav-tabs li.active a { border-bottom:2px solid #49ad4c;}
.content .data-table .task-detail .tab-content { padding:32px 0 0 0;}
.content .data-table .task-detail .detai-content { padding-left:2px;}
.content .data-table .task-detail .detai-content a.edit {font-size: 13px;font-weight: 500;font-style: normal; text-decoration:none; background:url(../images/edit-icon.png) left center no-repeat; line-height:14px; color: #3f4b86; padding-left:20px; margin:0 0 21px 2px; display:block; vertical-align:top;}
 .content .data-table .task-detail .detai-content .task-id.half { float:left; width:50%;}
.content .data-table .task-detail .detai-content .task-id span { opacity: 0.54;font-size: 12px;font-weight: normal;color: #000000; margin-bottom:8px; display:block; line-height:10px;}
.content .data-table .task-detail .detai-content .task-id p ,.content .data-table .task-detail .detai-content .task-id>a {font-size: 13px;font-weight: 500;color: rgba(0, 0, 0, 0.87); margin-bottom:18px; text-decoration:none;}
.content .data-table .task-detail .detai-content .task-id a img { margin-left:5px; }
.content .data-table .task-detail .detai-content .task-id { position:relative;}
.content .data-table .task-detail .detai-content .task-id .right-filter a { width:14px; height:14px;color: #000000; float:right; margin:25px 0;}
.content .data-table .task-detail .detai-content .task-id .right-filter a img { vertical-align:top;}
.content .data-table .task-detail .detai-content .task-id .top-filter { position:absolute; margin:0px; float:left;  width: 165px;border-radius: 2px;margin:7px 47px 0 0; right:0; z-index:99; padding:10px 0 0 0; text-align:right; top:14px; display:none;}
.content .data-table .task-detail .detai-content .task-id .top-filter.open {background-color: #fafafa;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12); text-align:left; z-index:9999; display:block; } 
.content .data-table .task-detail .detai-content .task-id .top-filter a.dropdown { background:url(../images/ic-arrow-drop-down-black.png) right center no-repeat; opacity:1;}
.content .data-table .task-detail .detai-content .task-id .top-filter.open a.dropdown { background:url(../images/ic-arrow-drop-up-black.png) 87% center no-repeat; opacity:1;}
.content .data-table .task-detail .detai-content .task-id .top-filter.open a.dropdown:hover {background:url(../images/ic-arrow-drop-up-black.png)87% center no-repeat #eee;}
.content .data-table .task-detail .detai-content .task-id .top-filter a.dropdown:hover {background:url(../images/ic-arrow-drop-down-black.png)right center no-repeat;}
.content .data-table .task-detail .detai-content .task-id .top-filter a { width:auto; height:auto; margin:0px; display:block; opacity: 0.54;font-size: 15px;
font-weight: normal;color: #000000; float:none;line-height:32px; padding:0 25px; text-decoration:none; }
.content .data-table .task-detail .detai-content .task-id .top-filter a:hover { background:#eeeeee; opacity:0.8;}
.content .data-table .task-detail .detai-content .task-id .top-filter ul{ padding:23px 0 15px 0;}
.content .data-table .task-detail .detai-content .task-id .top-filter ul li { display:block; margin-bottom:0px;}
.content .data-table .task-detail .detai-content .task-id .top-filter ul li a { float:none;line-height:32px;padding: 0 15px 0 25px;}

.content .data-table .task-detail.show-sidebar {display:block;}
.content .data-table .task-detail  {position: absolute;top: 0;bottom: 0;height: 100%;right: 0; z-index:999; display:none;}
.content .data-table .task-detail .cross-icon { position:absolute; top:22px; right:24px; z-index:99;}
.content .data-table .task-detail .cross-icon i {width: 14px;height: 14px;color: #757575; font-size:14px;}
.content .data-table .task-detail .detai-content .task-id  ul { margin:0px; padding:0px;}
.content .data-table .task-detail .detai-content .task-id  ul li { margin:0; padding:0px; display:block; margin-bottom:5px; }
.content .data-table .task-detail .detai-content .task-id  ul li a{ margin:0px; padding:0px;  font-size: 13px;font-weight: 500;color: #3f4b86; text-decoration:none;}
.content .data-table .task-detail .detai-content .task-id  ul li a i { width:8px; height:8px; color:#757575; font-weight:300; margin-left:3px;}
.content .data-table .task-detail .activity-content { margin-bottom:26px;}
.content .data-table .task-detail .activity-content h4 { opacity: 0.54;font-size: 12px;font-weight: normal;color: #000000; margin:0px;}
.content .data-table .task-detail .activity-content h4.block { background:url(../images/red-dot.png) left center no-repeat; padding-left:10px;}
.content .data-table .task-detail .activity-content p { margin:4px 0 0 0;opacity: 0.87;font-size: 13px;font-weight: normal;
  letter-spacing: normal;color: #000000;}
.content .data-table .task-detail .activity-content p a { color: #2a2e6a; text-decoration:none;}
.content .data-table .task-detail .send-message {position: absolute;width: 100%;box-sizing: border-box;max-width: 267px;bottom: 24px;}
.content .data-table .task-detail .send-message input[type="text"]{ width:100%; padding:10px 36px 10px 10px;height: 37px;
  border: solid 1px #e3e3e3; opacity: 0.54;font-size: 12px;font-weight: normal;font-style: normal;font-stretch: normal;
  line-height: normal;letter-spacing: normal;color: #000000; outline:none;}
.content .data-table .task-detail .send-message button { background:none; border:0px; position:absolute; top:8px; right:14px; outline:none;}
.content .data-table .task-detail .chat-detail {position: absolute;width: 100%;box-sizing: border-box;max-width: 267px;bottom: 24px;height: 106px;border-radius: 2px;border: solid 1px #e3e3e3; padding:16px; padding-right:0px; padding-top:12px; }
.content .data-table .task-detail .chat-detail textarea { resize:none; border:0px; height:100%; width:100%; padding:0px; margin:0px; outline:none; text-align:left;height: 106px;}
.content .data-table .task-detail .mCSB_scrollTools .mCSB_draggerRail { width:2px; background-color:#c7c7c7 !important; display:block ;}
.content .data-table .task-detail .mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools, .mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools { opacity:1 !important;}
.content .data-table .task-detail .mCSB_scrollTools { right:0;  }
.content .data-table .task-detail .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background:#3f51b5 !important;}

.content .data-table .task-detail .mCSB_inside > .mCSB_container { margin:0px; padding-right:16px;}
.content .data-table .task-detail .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {border-radius:0px; height:25px; width:2px; margin:0px; right:-5px;}
.content .data-table .mCSB_scrollTools .mCSB_draggerContainer { right:4px;}


.modal.fade .modal-dialog { top:144px; box-shadow:none; width:612px; border:0px;border-radius: 2px;background-color: #fafafa;box-shadow: 0 19px 38px 0 rgba(0, 0, 0, 0.3), 0 15px 12px 0 rgba(0, 0, 0, 0.22);border-style: solid;border-width: 0.5px;border-image-source: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0));border-image-slice: 1;}
.modal-content { box-shadow:none; border:0px; border-radius:0px;}
.modal-open .modal { background:rgba(0,0,0,0.7); padding:0 !important;}
.modal-header { padding:24px; background:#f4f4f4; padding-right:0px; border-radius:2px 2px 0 0;}
.modal-header ul { margin:0px; padding:0px; text-align:left;}
.modal-header ul li { margin:0px; padding:0px; display:inline-block; width:250px; text-align:left; position:relative; }
.modal-header ul li span {width: 24px;height: 24px;background-color: rgba(117, 117, 117, 0.5); border-radius:50%; display:inline-block; line-height:24px;color:#fff; text-align:center;}
.modal-header ul li p { margin:0px; line-height:24px; display:inline-block; margin-left:5px; opacity: 0.87;font-size: 13px;font-weight: normal;color: #000000;}
.modal-header ul li p:after { border-top:1px solid #e0e0e0; content:""; height:1px; width:148px; position:absolute; top:0; bottom:0; margin:auto; margin-left:8px;}
.modal-header ul li + li { width:233px;}
.modal-header ul li + li p:after { width:87px;}
.modal-header ul li +li+li { width:90px;}
.modal-header ul li:last-child p:after  {width:0px; height:0px;}
.modal-header ul li.active span { background:#37407d;}
.modal-body { padding:22px 23px; background:#fafafa;}
.content .data-table .task-detail .quotes-detail a.addquote {font-size: 13px;font-weight: 500;font-style: normal;font-stretch: normal;letter-spacing: normal;color: #3f4b86; text-decoration:none; background:url(../images/plus-icon.png) left center no-repeat; padding-left:20px; line-height:12px; display:inline-block; vertical-align:top; margin:1px 0 0 3px; outline:none;}
.content .data-table .task-detail .quotes-detail h4 { display:block; text-align:center;opacity: 0.54;font-size: 18px;font-weight: 500;color: #000000; margin:25px 0 0 0;}
.content .data-table .task-detail .quotes-detail a + h4 { margin-top:48px;}
.content .add-new-quote {}
.content .add-new-quote .modal.fade .modal-dialog {width: 432px;background-color: #ffffff;box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26); border-radius:0px;}
.content .delete-task-modal .modal.fade .modal-dialog {width: 432px;background-color: #ffffff;box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26); border-radius:0px;}                          

 /*----------------Delete Modal----------------*/ 
.delete-task-modal .modal.fade .modal-dialog {width: 432px;background-color: #ffffff;box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26); border-radius:0px; margin-top:1px;}
.delete-task-modal h4 { text-align: left; opacity: 0.87;font-size: 18px;font-weight: 500;font-style: normal; margin: 0 0 9px 0; color: #000000;  padding: 0 23px;}
.delete-task-modal p {   border-bottom: solid 1px #dddddd;font-size: 15px;font-weight: normal;letter-spacing: -0.1px;color: rgba(0, 0, 0, 0.87); text-align: left; padding: 0 23px;padding-bottom: 42px; margin: 0 0 14px 0;}
.delete-task-modal .form-action-btn { padding: 0 19px; }
.delete-task-modal p span { font-weight: 500;  }
.delete-task-modal .modal-body { padding-left: 0px; padding-right: 0px; padding-bottom: 11px; background:#fff;  }
.form-action-btn {}
.form-action-btn ul { margin:0px; padding:0px; text-align:right;}
.form-action-btn ul li { margin:0px; padding:0px; display:inline-block; }
.form-action-btn ul li a.cancel { margin:0px; padding:0px;font-size: 14px;font-weight: 500;text-align: left; color: #000000; text-transform:uppercase; width:auto; margin-right:19px; text-decoration:none; }
.form-action-btn ul li a.next { margin:0px; padding:0px;font-size: 14px;font-weight: 500;text-align: left; color: #37407d; text-transform:uppercase;width:auto; text-decoration:none;}

/*----------------Add Quote Modal----------------*/ 
.add-new-quote .modal.fade .modal-dialog {width: 432px;background-color: #ffffff;box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26); border-radius:0px;}
.add-new-quote .modal-body { background:#fff; padding:18px 0 11px 0;}
.add-new-quote .add-quote-field { border-bottom:1px solid #dddddd; padding:0 21px 52px 21px; margin-bottom:14px;}
.add-new-quote .add-quote-field strong { opacity: 0.87;font-size: 18px;font-weight: 500;color: #000000; display:block; margin-bottom:20px;}
.add-new-quote .add-quote-field input[type="text"] { width:100%; height:40px; border-radius:0px; box-shadow:none; outline:none;border-radius: 3px 0 0 3px;border: dashed 1px #979797; border-right:0px;font-size: 15px;font-weight: normal;letter-spacing: -0.1px;
color: rgba(0, 0, 0, 0.87);}
.add-new-quote .add-quote-field .input-group-btn {border-radius: 0 3px 3px 0;border: dashed 1px #979797; border-left:0px; padding-right:10px; cursor:pointer; position:relative;}
.add-new-quote .form-action-btn { padding-right:20px;}
.add-new-quote .input-group-btn .tool-tip {position: absolute;top: 100%;width: 87px;border-radius: 2px;background-color: #727272; font-size: 10px;font-weight: 500;text-align: center;color: #ffffff;line-height: 22px;right:0px;margin-top:3px;z-index: 9999;display:none;}
.add-new-quote .add-quote-field .input-group-btn:hover .tool-tip { display:block; }
.add-new-quote .form-action-btn ul li a.cancel { margin-right:16px;}

.content .added-quotes { padding-left:2px; }
.content .added-quotes ul { margin:0px; padding:0px; }
.content .added-quotes ul li { margin:10px 0 0 0; display:block; padding-bottom:6px; border-bottom:1px solid #e3e3e3;}
.content .added-quotes ul li .quote-name-date { float:left; width:200px;}
.content .added-quotes ul li .quote-name-date p { font-size: 13px;font-weight: 500;color: rgba(0, 0, 0, 0.87); 
margin:0px;}
.content .added-quotes ul li .quote-name-date span {opacity: 0.54;font-size: 12px;font-weight: normal;color: #000000; display:block;}
.content .added-quotes ul li .quote-delete { width:6px; float:right; position:relative;}
.content .added-quotes ul li .quote-delete { padding:6px 15px 0 0;}
.content .added-quotes ul li .quote-delete ul { position:absolute; width: 70px;height: 28px;background-color: #ffffff;
box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26); text-align:center; right:0px;  display:none; top:39px;}
.content .added-quotes ul li .quote-delete ul li { padding:0px; margin:0px; border:0px; line-height:28px;}
.content .added-quotes ul li .quote-delete ul li a {opacity: 0.54;font-size: 12px;font-weight: normal;color: #000000; text-decoration:none; display:block;}   
.content .added-quotes ul li .quote-delete:hover ul { display:block;}
.content .added-quotes ul li .quote-delete ul:before { background:url(../images/top-arrow-icon.png) right center no-repeat; content:""; right:0; position:absolute; display:block; width:20px; height:20px; top:-14px; right:9px;}

/*----------------View Pdf----------------*/                     
.view-pdf-quote {}  
.view-pdf-quote .modal.fade .modal-dialog {width: 924px; max-width:100%; height:705px; background-color: #ffffff;box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26); border-radius:0px;}
.view-pdf-quote .modal-body { background:#fff; padding:114px 0 11px 0;}
.view-pdf-quote h3 {  opacity: 0.54;font-size: 34px;font-weight: normal;text-align: center;color: #000000;}

/*----------------Additional Info ----------------*/
 
.input-field { position:relative; margin-bottom:37px;}
.input-field label { position:absolute; top:7px; left:0px; margin:0px;opacity: 0.87;font-size: 15px;font-weight: normal;letter-spacing: normal;color: #000000; -moz-transition: color 0.3s, top 0.3s, background-color 0.8s;-o-transition: color 0.3s, top 0.3s, background-color 0.8s;-webkit-transition: color 0.3s, top 0.3s, background-color 0.8s;transition: color 0.3s, top 0.3s, background-color 0.8s;}
.input-field label.active { top:-13px;opacity: 0.54;font-size: 12px;font-weight: normal;color: #000000;}
.input-field input[type="text"],.input-field textarea { border:0px; margin:0px; padding:0px; background:none; outline:none; padding:7px; width:100%;  border-bottom: solid 1px rgba(0, 0, 0, 0.12); padding-bottom:5px; padding-left: 0px; font-size:15px; }
.input-field textarea { min-height: 80px; resize: none; border-bottom:0px;}
.input-field input[type="text"]:focus { border-bottom: solid 2px #5eb55e;}
.add-new-task .modal.fade .modal-dialog { min-height:483px; margin-top:1px; }
.add-new-task .modal-body { min-height:408px; padding-top:52px; }
.add-new-task .form-action-btn { position:absolute; bottom:14px; right:22px; }
.add-new-task .input-field { margin-bottom:29px; }
.add-new-task .form-action-btn ul li a.cancel { margin-right:23px; }



.add-new-task-2 .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {margin-bottom: 34px;} 
.add-new-task-2 .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn),
.add-new-task-2  .bootstrap-select.open:not([class*=col-]):not([class*=form-control]):not(.input-group-btn),
.add-new-task-2  .btn-group.open .dropdown-menu,
.add-new-task-2 .btn-group.open .dropdown-toggle  
{ width:45%; text-align: right; }
.add-new-task-2 .btn-group.open .dropdown-toggle { width: 100% !important; }         
.add-new-task-2 .detail-additional {background-color: #eeeeee; padding-top: 26px; padding-bottom: 19px;}
.add-new-task-2 .detail-additional ul { margin:0px; padding: 0px;  }
.add-new-task-2 .detail-additional ul li { margin-top: 0px; padding: 0px; display: inline-block; width: auto; margin-right: 29px; }
.add-new-task-2 .detail-additional ul li a { margin-top: 0px; padding: 0px; display: inline-block;opacity: 0.54;font-size: 13px;font-weight: normal;
color: #000000; text-decoration: none; width: auto; height: auto; margin: 0; }
.add-new-task-2 .detail-additional ul li.active a { opacity:0.87; color: #000000; border-bottom:1px solid #4a5289;  }
.add-new-task-2 .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) { float:right;}
.add-new-task-2 .btn-group .dropdown-toggle { padding:0px; margin:0px;}
.add-new-task-2 .btn-group .dropdown-toggle { padding:0px; padding-left:5px; padding-right:0px; margin:0px;}
.add-new-task-2 .btn-group.open .dropdown-toggle { padding-left:5px; padding-right:0px ;}
.add-new-task-2 .btn-group.open .dropdown-menu>li>a { padding-left:5px; padding-right:0px;}
.add-new-task-2 .assigned-to { margin-bottom:36px; margin-top: -17px;}
.add-new-task-2.assigned-to.assigned-to-dif  p { display:block;}
.add-new-task-2 .assigned-to.assigned-to-dif  p span { float:right; opacity: 0.54;}
.add-new-task-2 .assigned-to.assigned-to-dif  p span:after {content:""; display:block;clear:both;}
.add-new-task-2 .assigned-to p { display:block;  opacity: 0.87;font-size: 15px; font-weight: normal;letter-spacing: normal;color: #000000; margin:0px;}
.add-new-task-2 .assigned-to  input[type="text"]{ border:0px; background:none; outline:none; text-shadow:none;  line-height: 23px;
opacity: 0.87;font-size: 15px;font-weight: 500;box-shadow:none;letter-spacing: normal;color: #000000; padding:0;}
.add-new-task-2 .assigned-to  input[type="text"]::-webkit-input-placeholder {color: #000000;}
.add-new-task-2 .assigned-to  input[type="text"]::-moz-placeholder {color: #000000;}
.add-new-task-2 .assigned-to  input[type="text"]:-ms-input-placeholder {color:#000000;}
.add-new-task-2 .assigned-to  input[type="text"]:-moz-placeholder {color: #000000;}
.add-new-task-2 .assigned-to .attachment-list {}
.add-new-task-2 .assigned-to .attachment-list ul { margin:12px 0 0 0px; padding: 0 }
.add-new-task-2 .assigned-to .attachment-list ul li { margin: 0px; padding: 0 ;display:block;margin-bottom: 9px; }
.add-new-task-2 .assigned-to .attachment-list ul li:last-child{margin-bottom: 0px;}
.add-new-task-2 .assigned-to .attachment-list ul li a { float: none; display: inline-block; opacity: 0.87;font-size: 15px;font-weight: normal;color: #000000; margin: 0px; width: auto;height: auto; text-decoration: none; 
line-height: 16px; padding-right: 24px; background: url('../images/cross-icon.png') right center no-repeat;	}
.add-new-task-2 .assigned-to  .input-group-btn {  opacity: 0.87;font-size: 15px; font-weight: normal;letter-spacing: normal;color: #000000; margin:0px;}
.add-new-task-2 .assigned-to  .input-group-btn img {margin:0 6px 0 17px; cursor:pointer;}


/*----------------login-page----------------*/ 
.login-page header { margin-bottom:70px;}
.login-page header .logo { padding:15px 70px 19px 70px;}
.login-page header .login-link { float:right; padding:22px 70px;}
.login-page header .login-link a { opacity: 0.8; font-size: 13px; text-align: center;color: #ffffff; padding:0 0 0 33px; display:inline-block; background:url(../images/login-icon.png) left center no-repeat; }
.login-page .login-form { height: 876px;background-color: #ffffff;box-shadow: -2px 2px 2px 0 rgba(119, 151, 177, 0.16); padding:224px 0 237px 0; }
.login-page .login-form h1 { line-height: 43px;opacity: 0.87;font-size: 34px;text-align: center; color: #000000; margin:0 0 67px 0;}
.login-page .login-form input[type="text"] ,.login-page .login-form input[type="email"],.login-page .login-form input[type="password"],.login-page .login-form input[type="url"],.login-page .login-form input[type="tel"] {padding:11px 0px 4px 0; border:0px; border-bottom:1px solid #cecece; outline:none; width:100%;margin:0px; opacity: 0.8;  font-size: 15px;font-weight: normal;
color: #000000; }
.login-page .login-form form {width:568px; margin:0 auto;}
.login-page .login-form input:focus { border-bottom:2px solid #4cae4f;}
.login-page .login-form .input-field { position:relative; margin:0 0 27px 0;}
.login-page .login-form input.required { border-bottom:2px solid #d04c32;}
.login-page .login-form .input-field .error { margin:4px 0 -17px 0px; padding:0px; text-align:left;opacity: 0.8;font-size: 12px;color: #c52100; line-height:12px;}
.login-page .login-form .input-field label { position:absolute; top:14px; left:0px; opacity: 0.54;font-size: 12px;font-weight: normal;color: #000000; margin:0px; padding:0px;    -moz-transition: color 0.3s, top 0.3s, background-color 0.8s;-o-transition: color 0.3s, top 0.3s, background-color 0.8s;-webkit-transition: color 0.3s, top 0.3s, background-color 0.8s;transition: color 0.3s, top 0.3s, background-color 0.8s; }
.login-page .login-form .input-field label.active { top:-10px;}
.login-page .login-form button { width: 100px; line-height: 38px; border-radius: 2px;background-color: #4cae4f;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);font-size: 15px; font-weight: 500; text-align: center;color: #ffffff; border:0px; margin:0 auto; display:block; }
.login-page .login-form .forgot-password { margin-bottom:55px; padding-top:10px;}
.login-page .login-form .forgot-password a { opacity: 0.87;font-size: 15px; text-decoration:none; color: #37407d;}
 .login-page .login-form .forgot-password label {opacity: 0.54;font-size: 12px;font-weight: normal;color: #000000; margin:0px; padding:0px;    -moz-transition: color 0.3s, top 0.3s, background-color 0.8s;-o-transition: color 0.3s, top 0.3s, background-color 0.8s;-webkit-transition: color 0.3s, top 0.3s, background-color 0.8s;transition: color 0.3s, top 0.3s, background-color 0.8s; }
.login-page .login-form p { line-height: 17px;font-size: 12px; text-align: center;color:rgba(0,0,0,.54); margin:36px 0 0 0;}
.login-page .login-form p a {  color: #37407d; text-decoration:none; opacity:1; text-transform:capitalize; }
.login-page footer { text-align:center; padding:26px 0; }
.login-page footer p { opacity: 0.54; font-size: 12px;text-align: center; color: #000000; display:inline-block; padding:0;}
.login-page footer ul { margin:0px; padding:0px; display:inline-block; }
.login-page footer ul li { display:inline-block; }
.login-page footer ul li a { opacity: 0.87; font-size: 12px;text-align: center;color: #37407d; padding:0 5px; text-decoration:none;}
.login-page footer .social-footer { margin:23px 0 0 0; }
.login-page footer .social-footer a { padding:0 10px; display:inline-block;}
.login-page .password-contain-detail {width: 333.4px;height: 161.6px;background-color: #ffffff;box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26); position:absolute; right:-300px;  z-index:999; bottom:-65px; padding:20px 17px 4px 20px }
.login-page .password-contain-detail:before { content:""; background:url(../images/pass-arrow.png) left top no-repeat; display:block; position:absolute; bottom:auto; top:47px; left:-16px; width:16px; height:25px; }
.login-page .password-contain-detail ul { margin:0px; padding:0px; }
.login-page .password-contain-detail ul li { margin:0px; padding:0px; opacity: 0.87;font-size: 15px;letter-spacing: -0.1px;color: rgba(0, 0, 0, 0.87); display:block; margin-bottom:24px; line-height:12px; padding-left:27px; background:url(../images/tick-arrow.png) left top no-repeat; opacity:1; }
.login-page .password-contain-detail ul li.incorrect { background:url(../images/cross-icon-2.png) left top no-repeat;  opacity: 0.4;}


/*----------------Profile Page----------------*/ 
.content .top-titlebar.porfile-bar { margin-bottom:70px; }
.content .personal-detail { width: 612px;background-color: #ffffff;box-shadow: -2px 2px 2px 0 rgba(119, 151, 178, 0.16); margin:0 auto; padding:20px 25px 21px 25px; margin-bottom:20px; }
.content .personal-detail h1 { line-height: 19px;opacity: 0.87;font-size: 18px;font-weight: 500; color: #000000; margin:0 0 38px 0;}
.content .personal-detail .input-field { margin-bottom:31px;}
.content .personal-detail .input-field label {  line-height: 14px;opacity: 0.54;font-size: 15px; color: #000000; margin-bottom:5px;}
.content .personal-detail .input-field input[type="text"],.content .personal-detail .input-field input[type="email"] ,.content .personal-detail .input-field input[type="password"] { line-height: 23px;opacity: 0.84;font-size: 15px;color: #000000; border:0px; width:100%;  border-bottom:2px solid #eaeaea; outline:none; padding-bottom:3px; padding-top:5px; }

.content .personal-detail .input-field input[type="text"]:focus,.content .personal-detail .input-field input[type="email"]:focus ,.content .personal-detail .input-field input[type="password"]:focus{
	border-bottom:2px solid #4cae4f; }

.content .personal-detail .input-field label.active { top:-13px;font-size: 12px; }
.content .personal-detail .input-field span { line-height: 23px;opacity: 0.54;font-size: 15px;color: #000000; display:block; padding:6px 0 0 0 ;}
.content .personal-detail .input-field .correct-password { background:url(../images/tick-arrow.png) right center no-repeat !important;}
.content .personal-detail .input-field .error-field { border-color:#c52100 !important;}
.content .personal-detail .input-field .error { position:absolute;}
.content .personal-detail .input-field .error strong {line-height: 14px;font-size: 12px;color: #c52100; font-weight:400;}
.content .personal-detail button { margin:17px 0 0 0px; padding:0px; float:right; border:0px; background:none;line-height: 16px;font-size: 14px;  font-weight: 500;text-align: left;color: #37407d; outline:none; }

.content .personal-detail.notification-setting { padding-bottom:4px;}
.content .personal-detail.notification-setting h1 { margin-bottom:10px;}
.content .personal-detail.notification-setting p {line-height: 23px;opacity: 0.54;font-size: 15px;letter-spacing: -0.1px;color: rgba(0, 0, 0, 0.87); margin-bottom:39px; padding-left:1px;}
.content .personal-detail.notification-setting ul { margin:0px; padding:0px; width:372px;padding-left:1px; }
.content .personal-detail.notification-setting ul li { margin:0 0 42px 0; padding:0px; display:block; }
.content .personal-detail.notification-setting ul li span { float:left;line-height: 23px;opacity: 0.87;font-size: 15px;color: #000000;}
.content .personal-detail.notification-setting ul li .switchable-holder { float:right; margin:5px 0; }

.delete-account { width: 612px;background-color: #ffffff;box-shadow: -2px 2px 2px 0 rgba(119, 151, 178, 0.16); margin:0 auto; }
.delete-account a { line-height: 46px;opacity: 0.87;font-size: 14px;font-weight: 500;text-align: center;color: #c52100; display:block;  text-decoration:none; }
.delete-account .delete-confirmation { padding:20px 25px 37px 25px;  border-bottom: solid 2px rgba(0, 0, 0, 0.12);}
.delete-account .delete-confirmation strong {line-height: 19px;opacity: 0.87;font-size: 18px;font-weight: 500; color: #000000; margin:0 0 9px 0; display:block;}
.delete-account .delete-confirmation p {line-height: 23px;opacity: 0.54;font-size: 15px;letter-spacing: -0.1px;color: rgba(0, 0, 0, 0.87); margin-bottom:0; padding-left:1px;}

/*----------------Footer----------------*/ 
footer { padding:30px 0; text-align:center;}
footer p { margin:0px; padding:0px; opacity: 0.54;font-size: 12px;text-align: center;color:#000000; }  

@media only screen and (max-width: 1140px) {
     .container { padding:0 25px; box-sizing:border-box;}
	 .content .data-table table { width:100%; min-width:1140px; overflow:scroll;} 
	 .content .data-table .pagination.pagination-2 { width:70%;}
	 .content .data-table .task-detail-outer { width:70%;}
	 .content .data-table .task-detail-outer table { min-width:1000px;}
	 .content .assin-product-detail .product-detail { width:23.4%; padding-left:10px; padding-right:10px;}
	 .content .assin-product-detail .product-detail a {margin-bottom:5px;}
	 .content .product-description .product-detail-description { width:530px;}
	 .content .product-description .product-detail-description h2 { font-size:28px; line-height:34px;}
	 .content .product-description .product-detail-description .product-review ul { margin:0 10px 0 0;}
	 .content .product-description .product-detail-description .product-review span { font-size:16px;}
	 .content .product-review-table table {width: 100%;min-width: 1140px;overflow: scroll;}
	 .content .product-review-table .product-review-top .right-detail a.total-rate .total-rate-detail table { min-width:0px;}
	 .content .product-review-table .product-review-top .left-detail { width:260px;}
}
@media only screen and (max-width:992px) {
	.content .data-table .task-detail-outer { width:56%;}
	.content .data-table .pagination.pagination-2 { width:56%;}
	.content .data-table .pagination.pagination-2  ul li a { width:28px; line-height:28px;}
	.content .assin-product-detail .product-detail { width:31.3%;}
	.content .assin-product-detail .product-detail img { width:100%;}
	.content .assin-product-detail .product-detail:nth-child(4n+4){ margin-right:17px;}
	.content .assin-product-detail .product-detail:nth-child(3n+3) { margin-right:0px;}
	.content .product-description .product-thumbnail { width:200px;}
	.content .product-description .product-detail-description { width:440px;}
	.content .product-description .product-detail-description h2 { font-size:20px; line-height:24px;}
	.content .product-description .product-detail-description .product-review span { font-size:14px; margin-right:15px;}
	.content .product-description .product-detail-description .product-review ul li { margin-right:2px;}
	.content .product-description { padding-left:20px;}
	.content .product-description .product-detail-description h2 { margin-bottom:10px;}
	.content .product-description .product-detail-description .product-review { margin-bottom:10px;}
	.content .product-description .product-detail-description ul li p { font-size:13px; line-height:20px;}
	.content .product-review-table .product-review-top .left-detail { width:196px;}
	}
@media only screen and (max-width: 640px) {
	.content .top-titlebar h3 { margin-left:30%;}
	.content .data-table .pagination ul li a { width:30px; line-height:30px;}
	.content .top-titlebar .right-filter {width:160px;} 
	}
	.circle canvas {width:32px !important; height:32px !important;vertical-align: top;}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            