* { margin: 0px; padding: 0px; }
body { margin: 0px; padding: 0px; font-family: 'Open Sans', sans-serif; }
.no-padding { padding: 0px; }
.container { max-width: 1140px; }

/*---------------------Header---------------------*/
header { background: url(../images/header-bg.png) left top no-repeat; background-size: cover; min-height: 112px; max-height: 112px; position: fixed; width: 100%; z-index: 99; top: 0px; }
header .logo { padding: 2px 0 0 0; }
header .main-menu { padding: 0; margin-left: -37px; }
header .main-menu ul { margin: 0px; padding: 0px; }
header .main-menu ul li { margin: 0px; padding: 0px; display: inline-block; float: left; }
header .main-menu ul li a { margin: 0px; padding: 0px; font-size: 21px; color: #ffffff; text-decoration: none; text-transform: uppercase; }
header .main-menu ul li a.hunter { background: url(../images/hunter-icon.png) 9px 22px no-repeat; padding: 64px 27px 25px 86px; display: block; line-height: 15px; border-bottom: 8px solid #fc6719; }
header .main-menu ul li a.fisher { background: url(../images/fisherman-icon.png) 19px 25px no-repeat; padding: 64px 11px 25px 91px; display: block; line-height: 15px; border-bottom: 8px solid #0063a8; }
header .main-menu ul li a.hunter:hover,
header .main-menu ul li a.hunter.active { background: url(../images/hunter-icon.png) 9px 22px no-repeat #fc6719; }
header .main-menu ul li a.fisher:hover,
header .main-menu ul li a.fisher.active { background: url(../images/fisherman-icon.png) 19px 25px no-repeat #0063a8; }


/*---------------------Content---------------------*/
.content { background: url(../images/home-bg.png) left top no-repeat; background-size: cover; min-height: 930px; padding: 112px 0 92px 0; margin-top: 112px; background-attachment: fixed; }
.content .content-detail { background: #0b9444; padding: 49px 28px 30px 33px; }
.content .content-detail h1 { text-align: center; margin: 0px; position: relative; margin-bottom: 10px; }
.content .content-detail h1 img { display: inline-block; padding: 0 16px; background: #0b9444; position: relative; z-index: 9; }
.content .content-detail h1:after { height: 1px; display: block; width: 100px; background: #fff; content: ''; position: absolute; top: 0; bottom: 0; margin: auto; width: 100%; z-index: 1; }
.content .content-detail h2 { margin: 0px; padding: 0px; font-size: 21px; color: #ffffff; line-height: 25px; font-weight: bold; text-align: center; margin-bottom: 25px; }
.content .content-detail p { font-size: 13px; color: #fff; line-height: 19px; text-align: center; margin-bottom: 31px; }
.content .content-detail ul { margin: 0 0 16px 0; padding: 0px; text-align: center; }
.content .content-detail ul li { margin: 0 6px 0 0; padding: 0px; display: inline-block; width: 201px; text-align: center; border: 1px solid #48af73; }
.content .content-detail ul li a { display: block; padding: 9px 0px; text-decoration: none; }
.content .content-detail ul li a span { display: block; font-size: 13px; color: #ffffff; margin-bottom: 10px; line-height: 10px; text-transform: uppercase; }
.content .content-detail ul li a:hover { background: rgba(0,0,0,0.15); }
.content .content-detail ul li:last-child { margin: 0px; }
.content .content-detail p:last-child { margin-bottom: 0px; }
.content.hunter-content { background: url(../images/hunter-bg.png) left top no-repeat; background-size: cover; background-attachment: fixed; }
.content.hunter-content.fisher-content { background: url(../images/fisher-bg.png) left top no-repeat; background-size: cover; background-attachment: fixed; }
.content.hunter-content.fisher-content .content-detail { background: #0063a8; margin-bottom: 25px; }
.content.hunter-content.fisher-content .content-detail ul li { border: 1px solid #408abe; }
.content.hunter-content.fisher-content .content-detail h1 img { background: #0063a8; position: relative; z-index: 9; }
.content.hunter-content .content-detail h1 img { background: #ff6b00; position: relative; z-index: 9; }
.content.hunter-content .content-detail { background: #ff6b00; margin-bottom: 25px; }
.content.hunter-content .content-detail h1 { position: relative; }
.content.hunter-content .content-detail h1:after { height: 1px; display: block; width: 100px; background: #fff; content: ''; position: absolute; top: 0; bottom: 0; margin: auto; width: 100%; z-index: 1; }
.content.hunter-content .content-detail strong { font-size: 13px; color: #fff; display: block; text-align: center; margin-bottom: 20px; }
.content.hunter-content .content-detail h2 { margin-bottom: 8px; }
.content.hunter-content .content-detail p { margin-bottom: 8px; }
.content.hunter-content .content-detail ul li { border: 1px solid #ff9040; }
.content.hunter-content .content-detail ul li img { margin-bottom: 10px; }
.content.hunter-content .content-detail ul li img:last-child { margin-bottom: 0; display: block; margin: auto; }
.content.hunter-content.fisher-content .benefits-detail { background: #003459; padding: 30px 40px; text-align: center; }
.content.hunter-content .benefits-detail { background: #a63900; padding: 30px 40px; text-align: center; }
.content.hunter-content .benefits-detail h4 { font-size: 14px; color: #fff; margin: 0 0 25px 0; font-weight: 700; }
.content.hunter-content .benefits-detail ul { margin: 0px; padding: 0px; }
.content.hunter-content .benefits-detail ul li { float: left; margin: 0px; padding: 0; list-style: none; border-right: 1px solid rgba(255, 255, 255, .25); width: 33.33%; min-height: 96px; }
.content.hunter-content .benefits-detail ul li:last-child { border-right: 0px; }
.content.hunter-content .benefits-detail ul li span { display: block; border-bottom: 1px solid rgba(255, 255, 255, .25); font-size: 14px; color: #fff; margin: 0px; font-weight: 400; display: block; line-height: 26px; font-weight: 600; padding: 0 20px; }
.hunter-content .benefits-detail ul li p { display: block; font-size: 14px; color: #fff; margin: 0px; padding: 9px 5px 0 5px; }
.content.terms-detail { background: #fff; text-align: center; min-height: 500px; padding-bottom: 100px; padding-left: 15px; padding-right: 15px; padding-top: 50px; }


/*---------------------Footer---------------------*/
footer { background: #0c0603; text-align: center; padding: 14px 0 22px 0; width: 100%; text-align: center; }
footer ul { margin: 0 0 15px 0; padding: 0px; }
footer ul li { margin: 0px; padding: 0px; display: inline-block; padding: 0 4.5px; font-size: 12.5px; color: #ffffff; }
footer ul li a { display: inline-block; margin: 0px; padding: 0px; font-size: 12.5px; color: #ffffff; text-decoration: none; }
footer ul li a:hover { color: #9c9c9b; text-decoration: none; }
footer p,
footer p a { color: #9c9c9b; font-size: 12px; line-height: 13px; margin: 0px; letter-spacing: -0.3px; }
footer p a:hover { color: #fff; }


@media screen and (max-width: 992px) {
	header .main-menu { margin: 0 0 0 40px; }
}
@media screen and (max-width: 767px) {
	header .main-menu ul li a.hunter { padding-left: 70px; padding-right: 15px; }
	header .main-menu ul li a { font-size: 18px; }
	header .main-menu ul li a.fisher.active,
	header .main-menu ul li a.fisher,
	header .main-menu ul li a.fisher:hover { padding-left: 80px; background: url(../images/fisherman-icon.png) top center no-repeat; 	  	padding-top: 79px; background-size: 55%; padding-left: 10px; padding-bottom: 10px; }
	.content { padding-bottom: 0px; min-height: 0px; padding-top: 200px; background-attachment: scroll; background-size: 100%; }
	header .main-menu ul li a.hunter,
	header .main-menu ul li a.hunter:hover { background: url(../images/hunter-icon.png) top center no-repeat scroll; 
	padding-top: 79px; background-size: 55%; padding-left: 10px; padding-bottom: 10px; }
	header .main-menu ul li a.hunter.active { background: url(../images/hunter-icon.png) top center no-repeat #fc6719; 
	background-size: 55%; }
	header .main-menu ul li a.fisher.active {background: #0063a8 url("../images/fisherman-icon.png") no-repeat scroll top center;		   	background-size: 55%; }
	.content .content-detail ul li { margin: 0 0 20px 0; }
	.content .content-detail h2 { font-size: 16px; }
	.content .content-detail p br { display: none; }
	.content .content-detail ul li { width: 210px; }
	footer { padding: 15px; }
	.content.hunter-content .benefits-detail { padding-left: 10px; padding-right: 10px; }
	.content.hunter-content { background: rgba(0, 0, 0, 0) url("../images/hunter-bg.png") no-repeat scroll left top / 100% auto; }
	.content.hunter-content.fisher-content .benefits-detail { padding-left: 10px; padding-right: 10px; }
	.content.hunter-content.fisher-content { background: rgba(0, 0, 0, 0) url("../images/fisher-bg.png") no-repeat scroll left top / 100% 	auto; }
	.content.terms-detail { padding-top: 10px; }
	.content.terms-detail h1 { font-size:24px;}
	.content.hunter-content .content-detail,.content.hunter-content.fisher-content .content-detail { margin-bottom:0px;}
}
 @media screen and (max-width: 480px) {
	.content { padding-top: 150px; }
	header .main-menu { margin: 0 0 0 20px; }
}
@media screen and (max-width:380px) {
	header .main-menu ul li a { font-size: 14px; }
}
