/*
Error: Undefined variable: "$tablet_Wide".
        on line 4 of sass/sass_files/food_menu.scss

1: @import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');
2: .main_food_menu {
3: 	padding:100px 0 0 0;
4: 	@media ( max-width:$tablet_Wide ) { 
5: 		padding: 50px 0;
6: 	}
7: 	.food_menu_sidebar {
8: 		@extend .col-sm-3;
9: 		.food_menu_list {

Backtrace:
sass/sass_files/food_menu.scss:4
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/script/tree/variable.rb:49:in `_perform'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:542:in `block in run_interp_no_strip'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:540:in `map'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:540:in `run_interp_no_strip'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:547:in `run_interp'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:512:in `visit_media'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:331:in `block in watch'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `call'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `on_change'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
C:/Ruby21/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$tablet_Wide\".\A         on line 4 of sass/sass_files/food_menu.scss\A \A 1: @import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');\A 2: .main_food_menu {\A 3: 	padding:100px 0 0 0;\A 4: 	@media ( max-width:$tablet_Wide ) { \A 5: 		padding: 50px 0;\A 6: 	}\A 7: 	.food_menu_sidebar {\A 8: 		@extend .col-sm-3;\A 9: 		.food_menu_list {"; }
