/* Reset --------------------------------------------------*/
html { margin:0;padding:0;border:0; }
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, dialog, figure, footer, header, hgroup, nav, section, input { margin: 0; padding: 0;border: 0;}
article, aside, dialog, figure, footer, header, hgroup, nav, section { display:block; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }
a img { border: none; }
:focus { outline: 0; }
.row { }
/* Global -------------------------------------------------- */
body { line-height:16px; font-family:Arial, Helvetica, sans-serif; color:#000; font-size:11px; background:#fff;  }
h1, h2, h3, h4, h5, h6 { font-weight: normal; color:#000; text-align:left; padding:0; margin:0; }
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
p { }
ul, ul li, ul ol, ul li ul, ul li ul li { list-style:none; padding:0; margin:0; }
.page-wrapper { width:100%;}
.clear { clear:both; }
ul, li{ list-style:none;}
img{ border:0px none;}
.clearfx { clear:both; }
table td { border-right:none; }
table th { border-right:none; }
/*header-css----------*/
.header { width:1000px; margin:0 auto; border-bottom:1px solid #000000; }
.header-left { width:155px; float:left;  border-right:1px solid #000000; margin-top:20px;}
.header-left span { font-size:12px; line-height:8px; display:inline-block; }
.header-left h1 {  font-size:28px; line-height:25px; color:#000; font-weight:bold; display:inline-block; }
.header-left p {  }
.header-middle { width:700px; float:left; }  
.headermid-left { float:left; padding-left:34px; margin-top:17px; } 
.headermid-left h2 { font-size:18px; line-height:14px; font-weight:bold; padding-bottom:13px; }
.headermid-left h3 { padding-left:14px; background:url(../images/small-arrow.png) left center no-repeat; font-size:12px; }
.headermid-left h3 a { font-size:12px; line-height:8px; color:#000; font-style:italic; text-decoration:none; font-weight:bold; }
.headermid-right { float:right; margin-top:4px; width:107px; padding-right:14px; }
.headermid-right label span { font-size:12px; display:block;  background:url(../images/checkbox.png) left center no-repeat; padding-left:24px; cursor:pointer; line-height:14px; margin-bottom:15px;  }
.headermid-right label input[type="checkbox"] { display:none; }
.headermid-right label input[type="checkbox"]:checked+span { background:url(../images/checkbox2.png) left center no-repeat; }
.header-right { width:144px; float:right; text-align:right; padding-top:7px; }
.header-right span { text-align:right; display:inline-block; font-weight: 600; }
.rightheader-bottom { border-left:1px solid #000; }
.rightheader-bottom p { text-align:center; border-bottom:1px solid #000; line-height:8px; padding:4px 0 6px 0; }
.rightheader-bottom h4 { font-size:22px; line-height:10px; color:#000; font-weight:bold; text-align:center; padding:10px 0; }
/*employee-section------*/
.employee-section {  width:1000px; margin:0 auto;  }
.employeesection-left { width:496px; float:left;  border-right:1px solid #000;  }
.employee-top { border-bottom:1px solid #5f5f5f; width:100%; }
.employee-top.right { border-bottom:1px solid #5f5f5f; }
.employee-top.right h3 { padding-left:53px; }
.employee-top span { background:#000; color:#fff; padding:2px 0 3px; font-weight:bold; font-size:14px; float:left; line-height:12px; min-width:50px; text-align:center; }
.employee-top h3 { color:#000; float:left; font-size:14px; line-height:17px; padding-left:10px; font-weight:bold;  }
.employee-section .inner-content {  }
.employee-section .inner-content td { border-right:1px solid #7f7f7f; border-bottom:1px solid #7f7f7f; padding:0 4px;  }
.employee-section .inner-content td:last-child { border-right:none; }
.employee-section .inner-content td input[type="text"] { width:100%; outline:none; border:none; box-sizing:border-box; padding:2px; color:#000; }
.employeesection-right { width:503px; float:left;  }
/*employee-coverage------*/
.employee-coverage { width:1000px; margin:0 auto; }
.employee-coverage .coverage-top { border-bottom:1px solid #6f6f6f; width:100%; box-sizing:border-box;}
.employee-coverage .coverage-top span { background:#000; color:#fff; padding:2px 6px 3px; font-weight:bold; font-size:14px; float:left; line-height:12px;}
.employee-coverage .coverage-top h3 { color:#000;float:left; font-size:14px; line-height:17px; padding-left:10px; font-weight:bold; }
.employee-coverage .coverage-calender { font-size:10px; color:#000; line-height:15px; line-height:100%; } 
.employee-coverage .coverage-calender .inner-title { padding: 6px 0; }
.employee-coverage .coverage-calender th { border-right:1px solid #000; border-bottom:1px solid #000;  }
.employee-coverage .coverage-calender th:last-child { border-right:none; }
.employee-coverage .coverage-calender td:last-child { border-right:none; }
.employee-coverage .coverage-calender td { border-right:1px solid #000; border-bottom:1px solid #000; padding:2px 0; }
.employee-coverage .coverage-calender td input[type="text"].first-line { height:23px; }
.employee-coverage .coverage-calender td input[type="text"].doller { height:60px; width: 86%; margin-left:10px;  }
.employee-coverage .coverage-calender td input[type="text"] { width:100%; height:100%; padding:0 4px; box-sizing:border-box; }
.employee-coverage .coverage-calender td label { margin-top:25px; margin-left:3px; position: absolute; font-weight:bold; font-size:12px; }
.employee-coverage .coverage-calender td.inner-title { padding:6px 0; }
/*employee-individual------*/
.employee-individual { width:1000px; margin:0 auto; }
.individual-top { border-bottom:1px solid #6f6f6f; width:100%; box-sizing:border-box; padding-bottom:8px; }
.individual-top span {  background:#000; color:#fff; padding:2px 6px 3px; font-weight:bold; font-size:14px; float:left; line-height:12px; }
.individual-top h3 { font-weight:bold; color:#000;float:left; font-size:14px; line-height:17px; padding-left:10px; }
.individual-top p { margin-left:65px; font-size:13px; padding-top:5px;}
.individual-top label.checkbox {  display:inline-block; vertical-align: bottom; margin-left:10px; }
.individual-top label.checkbox span { display:block; background:url(../images/checkbox.png) no-repeat; width:13px; height:13px; cursor:pointer; }
.individual-top label.checkbox input[type="checkbox"] { display:none;}
.individual-top label.checkbox input[type="checkbox"]:checked+span { background:url(../images/checkbox2.png) no-repeat;}
.individual-table th { border-bottom:1px solid #000; border-right:1px solid #000; font-size: 9px; line-height: 11px; padding: 4px 0; font-weight: normal; }
.individual-table th:last-child { border-right:none; }
.individual-table td:last-child { border-right:none; }
.individual-table td { border-bottom:1px solid #000; border-right:1px solid #000; text-align: center; padding:8px 0; }
.individual-table strong.number { margin-top:25px; }
.individual-table input[type="text"] { width:88%; padding: 0 5px; line-height: 28px; }
.individual-table label.checkbox {  display:inline-block; vertical-align: bottom; }
.individual-table label.checkbox span { display:block; background:url(../images/checkbox.png) no-repeat; width:13px; height:13px; cursor:pointer; }
.individual-table label.checkbox input[type="checkbox"] { display:none;}
.individual-table label.checkbox input[type="checkbox"]:checked+span { background:url(../images/checkbox2.png) no-repeat;}
/* Footer section -------------------------------------------------- */
.footer { width:1000px; margin:0 auto; text-align:left; font-family:Arial, Helvetica, sans-serif;  }
.first-title { float:left; font-size:11px; font-weight:bold; width:617px; }
.contact-number { float:left; font-size:11px; width:200px; }
.form-number { float:right; font-size:11px; width:150px; text-align:right; }
.form-number strong { font-size:13px; }