* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

h1 {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    color: #00415e;
    display: inline-block;
    margin: 0 0 0 -7px;
    padding: 0px;
}

h2 {
    font-size: 19px;
    font-weight: bold;
    line-height: 21px;
    text-align: left;
    color: #00415e;
    margin: 0 0 38px 0;
}

input,
select {
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    color: #00415e;
    padding-bottom: 8px;
    border: 0px;
    outline: none;
    width: 100%;
    border-bottom: 1px solid #47768a;
    border-radius: 0px !important;
     -webkit-appearance: none;
}

input[type="submit"] {
    background-color: #46a2e7;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    padding: 17px 0 13px;
    text-align: center;
    color: #ffffff;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
}

input[type="submit"]:focus {
    background-color: #358bc5;
}

.submit-btn {
    margin: 0 -16px;
}

select {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background: url(../images/drop-down.svg)top right no-repeat;
}

::-webkit-input-placeholder {
    color: rgba(0, 65, 94, 0.53);
    ;
}

 ::-moz-placeholder {
    color: rgba(0, 65, 94, 0.53);
    ;
}

 :-ms-input-placeholder {
    color: rgba(0, 65, 94, 0.53);
    ;
}

 :-moz-placeholder {
    color: rgba(0, 65, 94, 0.53);
    ;
}

.form-row {
    position: relative;
    margin-bottom: 43px;
}

.form-row:last-of-type {
    margin-bottom: 0px;
}

form label {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: rgba(0, 65, 94, 0.53);
    -moz-transition: color 0.3s, top 0.3s;
    -o-transition: color 0.3s, top 0.3s;
    -webkit-transition: color 0.3s, top 0.3s;
    transition: color 0.3s, top 0.3s;
    margin: 0px;
}

form label.active {
    position: absolute;
    top: -19px;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #47768a;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.app-container {
    width: 320px;
    margin: 0 auto;
    background-color: #f8f8f8;
    min-height: 100vh;
    position: relative;
}

.no-margin {
    margin: 0px;
}

.alert-red {
    color: #c20430 !important;
}


/*Header*/

header {
    padding: 16px 16px 12px 16px;
    background-color: #46a2e7;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24);
}

header .menu-icon {
    display: inline-block;
    vertical-align: top;
}

header .logo {
    display: inline-block;
    padding: 4px 12px 0 12px;
}

header .logo a img {
    max-width: 107px;
}

header .registration-link {
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
    padding-left: 40px;
    background: url(../images/back-white.svg) left center no-repeat;
    text-decoration: none;
    display: block;
    margin-bottom: 4px;
}


/*Content*/

.content .done-link {
    font-size: 14px;
    font-weight: bold;
    line-height: 48px;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
    display: block;
    background-color: #46a2e7;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.content .client-logo {
    background-color: #ffffff;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.12);
    padding: 16px;
    margin: 0 0 16px 0;
}

.content .client-logo-inner {
    border-radius: 4px;
    background-color: #d8d8d8;
    padding: 21px 0;
    text-align: center;
}

.content .registration-form {
    background-color: #f8f8f8;
    padding: 0 16px 0 16px;
}

.content .registration-form .white-card {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    padding: 16px;
    margin-bottom: 16px;
}

.content .registration-form .white-card p {
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    color: #00415e;
    margin: 4px 0 38px 0;
}

.content .registration-form .white-card p.error {
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    color: #c20430;
    margin: 0;
    padding: 6px 0 0 0;
    position: absolute;
}

.content .registration-form .checkbox-row {
    margin: 24px 0 44px 0;
}

.content .registration-form .checkbox-row:last-of-type {
    margin-bottom: 0px;
}

.content .registration-form .checkbox-row label {
    position: static;
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #47768a;
    margin-bottom: 8px;
}

.content .registration-form .checkbox-row input[type="radio"],
.content .registration-form .checkbox-row input[type="checkbox"] {
    display: none;
}

.content .registration-form .checkbox-row .checkbox {
    margin-bottom: 13px;
}

.content .registration-form .checkbox-row .checkbox:last-of-type {
    margin-bottom: 0;
}

.content .registration-form .checkbox-row input[type="radio"]+span {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #47768a;
    padding: 0 0 0 28px;
    display: block;
    background: url(../images/radio-button.svg)left center no-repeat;
}

.content .registration-form .checkbox-row input[type="radio"]:checked+span {
    background: url(../images/radio-button-selected.svg)left center no-repeat;
    color: #00415e;
}

.content .registration-form .checkbox-row input[type="checkbox"]+span {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #47768a;
    padding: 0 0 0 28px;
    display: block;
    background: url(../images/radio-button.svg)left center no-repeat;
}

.content .registration-form .checkbox-row input[type="checkbox"]:checked+span {
    background: url(../images/checkbox.svg)left center no-repeat;
    color: #00415e;
}

.content .app-status {
    padding: 4px 16px;
    background-color: #00415e;
}

.content .app-status img {
    display: inline-block;
    vertical-align: top;
    opacity: .4;
}

.content .app-status p {
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
    font-weight: bold;
}

.content .app-status p span {
    font-weight: 400;
    display: inline-block;
    margin-left: 6px;
}

.content .thanks-message {
    background-color: #ffffff;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.12);
    padding: 16px 0;
    text-align: center;
    margin-bottom: 17px;
}

.content .thanks-message img {
    width: 31px;
    margin-bottom: 1px;
}

.content .thanks-message h1 {
    margin: 0px;
    font-size: 22px;
    font-weight: bold;
    color: #46a2e7;
    line-height: 25px;
    display: block;
    text-align: center;
}

.news-content {
    padding: 0 16px 84px 16px;
}

.news-content .news-content-inner {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
}

.news-content .news-box {
    border-radius: 5px 5px 0 0;

    padding: 16px;
}

.news-content .news-box.success {
    background-color: #17b694;
}

.news-content .news-box.warning {
    background-color: #ec9c00;
}

.news-content .news-box.error {
    background-color: #c20430;
}

.news-content .news-box h2 {
    font-size: 19px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    margin: 0 0 2px 0;
}

.news-content .news-box p {
    opacity: 0.8;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: #ffffff;
    padding-right: 40px;
}

.news-content .new-content-bottom {
    padding: 16px;
}

.news-content .new-content-bottom h3 {
    font-size: 19px;
    font-weight: bold;
    line-height: 21px;
    text-align: left;
    color: #00415e;
    margin-bottom: 16px;
}

.news-content .new-content-bottom ul {
    margin: 0px;
    padding: 0px;
}

.news-content .new-content-bottom ul li {
    display: block;
    list-style: none;
    margin: 0 0 16px 0;
}

.news-content .new-content-bottom ul li:last-child {
    margin-bottom: 0px;
}

.news-content .new-content-bottom ul li a {
    padding: 9px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    text-align: center;
    color: #00415e;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.news-content .new-content-bottom ul li a:focus {
    background-color: #d7e1e6;
}


.login-wrapper {
    background: url(../images/login-bg.jpg) center top no-repeat;
    min-height: 100vh;
    padding: 95px 16px 24px 16px;
}

.login-wrapper .logo {
    text-align: left;
    padding: 0 56px;
    margin-bottom: 57px;
}

.login-wrapper .logo img {
    max-width: 175.2px;
    vertical-align: bottom;
    margin-bottom: 5.7px;
}

.login-wrapper .logo span {
    display: block;
    opacity: 0.49;
    font-size: 15px;
    color: #ffffff;
}

.login-wrapper .login-form {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    padding: 35px 16px 0 16px;
    margin-bottom: 53px;
}

.login-wrapper .login-form input[type="submit"] {
    border-radius: 0 0 5px 5px;
}

.username,
.password {
    padding-left: 32px;
    position: relative;
}

.username label,
.password label {
    padding-left: 32px;
}

.username:before {
    position: absolute;
    left: 0px;
    content: "";
    background: url(../images/person.svg)center center no-repeat;
    display: inline-block;
    width: 24px;
    top: -3px;
    height: 24px;
}

.password {
    margin-bottom: 29px;
}

.password:before {
    position: absolute;
    left: 0px;
    content: "";
    background: url(../images/lock.svg)center center no-repeat;
    display: inline-block;
    top: -3px;
    width: 24px;
    height: 24px;
}

.remember-me {
    padding-bottom: 21px;
}

.remember-me label {
    position: static;
    font-size: 14px;
    font-weight: 500;
    display: block;
    text-align: left;
    color: #00204e;
    margin: 0px;
}

.remember-row {
    margin-bottom: 1px;
}

.remember-me span {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #47768a;
    display: block;
}

form label.showpassword {
    left: auto;
    top: -2px;
    right: 0;
    cursor: pointer;
    padding: 0px;
}

form label.showpassword span {
    display: inline-block;
    background: url(../images/eye-open-dark.svg) center center no-repeat;
    width: 24px;
    height: 24px;
}

form label.showpassword input[type="checkbox"] {
    display: none;
}

form label.showpassword input[type="checkbox"]:checked+span {
    background: url(../images/eye-open-closed.svg) center center no-repeat;
}

.helper-link ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.helper-link ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.helper-link ul li a {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
}




.toggle-button {
    width: 37px;
    height: 14px;
    background-color: #d7e1e6;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    position: relative;
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    position: absolute;
    right:3px;
    border-radius: 10px;
    bottom:33px;
}

.toggle-button span {
    position: absolute;
    left: 0;
    top: -3px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #f7f9fd;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    float: left;
    transition: left 0.3s;
}

.toggle-button-selected {
    border-radius: 10px;
    background-color: #17b694;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
}

.toggle-button-selected span {
    left: 18px;
    top: -3px;;
    margin: 0;
    border: none;
    width: 20px;
    height: 20px;
    background-color: #f7f9fd;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24);
} 
.leftmenu-bar {
    background-color: #46a2e7;
    position: fixed;
    left: -290px;
    width: 288px;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    z-index: 9;
    transition: all ease 1s;
} 
.leftmenu-bar.active {
    left: 0;
}
.leftmenu-bar .logo {
    padding: 31px 24px 24px; 
}
.leftmenu-bar .logo img {
    max-width: 175.2px;
    vertical-align: bottom;
    margin-bottom: 5.7px;
}
.leftmenu-bar .logo span {
    display: block;
    opacity: 0.49;
    font-size: 15px;
    color: #ffffff;
}
.leftmenu-bar ul {
    margin: 0;
    padding: 0;
}
.leftmenu-bar ul li {
    display: block;
}
.leftmenu-bar ul li a {
    line-height: 48px;
    padding: 0 24px;
    font-size: 14px;
    font-weight: 500; 
    text-align: left;
    color: #ffffff;
    text-decoration: none;
    display: block;
}
.leftmenu-bar ul li.logout {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.leftmenu-bar ul li a.active,.leftmenu-bar ul li a:focus {
    background-color: #63b0ea;
}
.leftmenu-bar ul li a.active:focus {
    background: #81bfee;
}
.leftmenu-bar ul li a img {
    vertical-align: middle;
    margin: 0 16px 0 0;
    opacity: .3;
}
.leftmenu-bar ul li a.active img {
    opacity: 1;
}
.preloader{   
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    text-align: center;
    left: 0;
    right: 0;
}

.preloader span{
    display: block;
    font-size: 14px;
    font-weight: 500; 
    text-align: center;
    color: #ffffff;
    line-height:16px;
}