*{ margin:0px; padding:0px; }
body { margin:0px; padding:0px; font-family: 'Open Sans', sans-serif; background:#fff; }
.wrapper {}
a,button {-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;transition: all ease 0.5s; outline:none;}
img { outline:none; border:0px;}
.clear { clear:both; }
.container { width:100%; max-width:1296px; margin:0 auto; padding:0px; }

/*--------------------------------Fonts--------------------------------*/

@font-face {
	font-family: 'Helvetica LT';
	src: url('../fonts/HelveticaLT-Bold.eot');
	src: url('../fonts/HelveticaLT-Boldd41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaLT-Bold.html') format('woff2'),
		url('../fonts/HelveticaLT-Bold.woff') format('woff'),
		url('../fonts/HelveticaLT-Bold.ttf') format('truetype'),
		url('../fonts/HelveticaLT-Bold.svg#HelveticaLT-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}


/*--------------------------------Header--------------------------------*/

header { padding:18px 21px 10px 18px; background:#fff;border-bottom:2px solid #d9d9d9; margin-bottom:32px; max-height:80px; }
header .logo { float:left; }
header .header-right { float:right; width:752px;  }
header .header-right .main-menu { float:left; }
header .header-right .main-menu ul { margin:0px; padding:0px; }
header .header-right .main-menu ul li { margin:0px; padding:0px; display:inline-block; margin:0 38px 0 0; }
header .header-right .main-menu ul li:last-child { margin:0px;}
header .header-right .main-menu ul li a { font-size:15px; color:#666666; text-decoration:none; font-weight:400; line-height:44px;display:inline-block; }
header .header-right .main-menu ul li a:hover { color:#EE3A39;}
header .header-right .login-links { float:right; }
header .header-right .login-links ul li { margin:0px; padding:0px; display:inline-block; margin:0 32px 0 0; }
header .header-right .login-links ul li:last-child { margin:0;}
header .header-right .login-links ul li a { font-size:15px; color:#666666; text-decoration:none; font-weight:400;line-height:42px; display:inline-block;}
header .header-right .login-links ul li a:hover { color:#EE3A39;}
header .header-right .login-links ul li a.become-member { padding:0 33.5px; border:1px solid #EE3A39; color:#EE3A39; letter-spacing:-0.3px; }
header .header-right .login-links ul li a.become-member:hover { background:#EE3A39; color:#fff;}


/*--------------------------------Content--------------------------------*/
.content { padding-bottom:460px;}
.content .top-progres-bar { padding:0 23px; border-bottom:2px solid #d9d9d9; margin-bottom:63px; }
.content .top-progres-bar .left-arrow { width:10.4%; float:left; }
.content .top-progres-bar .left-arrow.hidden { opacity:0; visibility:hidden;}
.content .top-progres-bar .left-arrow a { background:url(../images/left-arrow.png) left center no-repeat; line-height:53px; font-size:20px; color:#666666; text-decoration:none; display:inline-block; padding-left:45px;letter-spacing:0px;  }
.content .top-progres-bar .left-arrow.active { visibility:visible; opacity:1;}
.content .top-progres-bar .right-arrow { width:7.6%; display:inline-block; float:right; }
.content .top-progres-bar .right-arrow a { background:url(../images/right-arrow.png) right center no-repeat; line-height:53px; font-size:20px; color:#666666; text-decoration:none; display:inline-block; padding-right:45px; letter-spacing:0px;  }
.content .top-progres-bar .middle-bar { width:80.8%; display:inline-block; text-align:center; float:left; }
.content .top-progres-bar .middle-bar span { display:block; font-size:25px; color:#666666; font-weight:400; font-size:25px; margin:0 0 36px 0; padding:0px; line-height:19px;letter-spacing:-0.5px; }
.content .top-progres-bar .middle-bar ul { margin:0 0 5px 0; padding:0px; display:inline-block; }
.content .top-progres-bar .middle-bar ul li { margin:0px; padding:0px; display:inline-block; margin:0 2px 0 0;}
.content .top-progres-bar .middle-bar ul li a { display:inline-block; width:74px; height:19px; background:#facbcd; }
.content .top-progres-bar .middle-bar ul li a.active,.content .top-progres-bar .middle-bar ul li a:hover { background:#ee383a;}
.content .create-account-step { width:100%; margin:0 auto; max-width:1030px; }
.content .create-account-step fieldset { margin:0px; padding:0px; border:0px; }
.content .create-account-step fieldset .one-column { width:288px; margin:0 78px 0 0; float:left; }
.content .create-account-step fieldset .one-column:first-child { margin-right:50px; width:317px;}
.content .create-account-step fieldset .one-column:last-child { margin-right:0;}
.content .create-account-step fieldset .second-column { width:650px; margin:0; float:left; }
.content .create-account-step fieldset .second-column p { letter-spacing:-0.1px;}
.content .create-account-step label { font-size:15px; color:#666666; margin:0 0 34px 0; padding:0px; font-weight:700; display:block;}
.content .create-account-step input[type="text"],.content .create-account-step input[type="tel"],
.content .create-account-step input[type="password"],.content .create-account-step input[type="email"],.content .create-account-step input[type="date"],
.content .create-account-step input[type="url"], .content .create-account-step select{ margin:0px; padding:11px 12px; border:1px solid #cdcdcd; width:100%; outline:none; font-size:15px; color:#CCCCCB; outline:none; -moz-appearance:none;  -webkit-appearance:none; -ms-appearance:none;  -o-appearance:none; box-sizing:border-box; max-width:288px; }
.content .create-account-step .field-outer { margin-bottom:42px; } 
.content .create-account-step .field-outer img { max-width:100%; }
.content .create-account-step strong {font-size:15px; color:#666666; outline:none; font-weight:700;margin-bottom:6px; display:block;}
.content .create-account-step p { width:100%; outline:none; font-size:15px; color:#666666; outline:none; font-weight:300; line-height:36px; letter-spacing:-0.3px; }
.content .create-account-step ul { margin:48px 0 0 0px; padding:0px; }
.content .create-account-step ul li { display:inline-block; margin:0 24px 0 0;}
.content .create-account-step ul li a { line-height:44px; width:135px; text-align:center; font-size:15px; color:#fff; display:inline-block; background:#EE3A39; text-decoration:none; }
.content .create-account-step ul li a:hover { background:#d00403;}
.content .create-account-step .picture-upload label { margin-bottom:5px; text-align:left; width:100%;}
.content .create-account-step .picture-upload p { text-align:left;}
.content .create-account-step .picture-upload { text-align:center;}
.content .create-account-step a { font-size:15px; color:#EE3A39; display:inline-block; margin:0px; padding:0px; text-decoration:none;}
.content .create-account-step .picture-upload label .btn-primary,.btn.active, .btn:active { background:none; margin:0px; padding:0px; font-size:15px; color:#EE3A39; font-weight:300; text-align:center; display:block; border:0px; float:none; box-shadow:none; outline:none; margin:30px 0 0 0; }
.content .create-account-step .picture-upload .input-group { display:block;}
.content .create-account-step .dob-field input{ width:31.2%; display:inline-block; margin:0 5px -2px 0;}
.content .create-account-step .dob-field input:nth-child(3) { margin-right:0px;}
.content .create-account-step .dob-field p { margin-bottom:38px;}
.content .create-account-step .gender-field .gender-label { display:inline-block; font-size:15px; color:#666666; margin:0px; font-weight:300; margin-left:49px; cursor:pointer; }
.content .create-account-step .gender-field .gender-label:last-child { margin-left:39px;}
.content .create-account-step .gender-field .gender-label input[type="radio"] { display:none;}
.content .create-account-step .gender-field .gender-label span {font-size:15px; color:#666666; margin:0px; font-weight:300; padding-right:34px; display:block; background:url(../images/male-radio.png) right center no-repeat; line-height:23px;}
.content .create-account-step .gender-field .gender-label input[type="radio"]:checked  + span { font-size:15px; color:#666666; margin:0px; font-weight:300; padding-right:34px; display:block; background:url(../images/male-radio-check.png) right center no-repeat; line-height:23px;}
.content .create-account-step .inner-field label { margin-bottom:5px; }
.content .create-account-step h4 { margin:0px; padding:0px; font-size:25px; color:#666666; display:block; text-align:center; font-weight:300; margin-bottom:63px; }
.content .create-account-step .card-expiry { text-align:right; margin-bottom:42px;}
.content .create-account-step .card-expiry input { width:90px; margin-left:5px; vertical-align:top;}
.content .create-account-step .card-expiry p { display:inline-block; width:auto; line-height:20px; margin:0px; vertical-align:top; font-weight:400; margin-right:10px; color:#666666;}
.content .create-account-step .card-expiry a { display:inline-block; width:auto; line-height:20px; margin:0px; vertical-align:top; font-weight:400; margin-right:10px; color:#EE3A39;}
.content .create-account-step .address-check { margin-bottom:27px; }
.content .create-account-step .address-check input[type="checkbox"] { display:none;}
.content .create-account-step .address-check span {font-size:15px; color:#666666; margin:0px; font-weight:300; padding-left:34px; display:block; background:url(../images/male-radio.png) left center no-repeat; line-height:23px;}
.content .create-account-step .address-check input[type="checkbox"]:checked  + span { font-size:15px; color:#666666; margin:0px; font-weight:300; padding-left:34px; display:block; background:url(../images/male-radio-check.png) left center no-repeat; line-height:23px;}
.content .create-account-step .field-outer ul { margin:0px; padding:19px 0 0 13px;}
.content .create-account-step .field-outer ul li { display:block; margin-bottom:18px; }
.content .create-account-step .field-outer ul li span { font-size:13px; color:#989898; margin:0px; padding:0px;   font-weight:300; background:url(../images/password-uncheck.png) left center no-repeat; line-height:12px; padding-left:19px; }
.content .create-account-step .field-outer ul li label { margin:0px; cursor:pointer; }
.content .create-account-step .field-outer ul li input[type="checkbox"] { display:none; }
.content .create-account-step .field-outer ul li input[type="checkbox"]:checked + span { background:url(../images/password-checked.png) left center no-repeat; line-height:12px; padding-left:19px;}


.content .create-account-step p label span { font-size:15px; color:#989898; margin:0px; padding:0px;   font-weight:300; background:url(../images/male-radio.png) left center no-repeat; line-height:23px; padding-left:32px; display:block;}
.content .create-account-step p label { margin:0; cursor:pointer; }
.content .create-account-step p label input[type="checkbox"] { display:none; }
.content .create-account-step p label input[type="checkbox"]:checked + span { background:url(../images/male-radio-check.png) left center no-repeat; line-height:23px; padding-left:32px;}
.content .create-account-step .payment-top p { font-size:15px; color:#666666; font-weight:400; margin:0px; padding:0px; margin-top:-20px ; margin-bottom:53px;  }
.content .create-account-step .payment-top p a { font-weight:300; }

/*--------------------------------Footer--------------------------------*/

footer { padding:30px 0 24px 0; border-top: 2px solid #d9d9d9; }
footer .container { max-width:960px; margin:0 auto; }
footer ul { margin:0px; padding:0px; float:left;}
footer ul li { display:inline-block; margin:0px; padding:0px;line-height:10px; margin:0 86px 0 0;}
footer ul li:last-child { margin:0px; }
footer ul li a { font-size:12px; color:#989898; display:inline-block; line-height:10px; text-decoration:none;}
footer ul li a:hover {color:#EE3A39; text-decoration:none;}
footer ul + ul { float:right;}




@media only screen and (max-width: 1200px) {
	header .header-right { width:660px;}
	.content { padding-left:15px;padding-right:15px; padding-bottom:200px; }     
	.content .create-account-step fieldset .one-column ,.content .create-account-step fieldset .one-column:first-child { width:288px; margin-right:40px;}
	.content .create-account-step fieldset .second-column { width:600px; }
	footer ul li { margin:0 60px 0 0; }
}
@media only screen and (max-width:992px) {
	header .header-right .main-menu ul li,header .header-right .login-links ul li { margin:0 15px 0 0;}
	header .header-right { width:550px;}
	header .header-right .login-links ul li a.become-member ,.content .top-progres-bar{ padding:0 10px;}
	.content .top-progres-bar .left-arrow a ,.content .top-progres-bar .right-arrow a { font-size:16px;}
	.content .top-progres-bar .middle-bar span { font-size:18px; letter-spacing:0px; margin-bottom:24px;}
	.content .top-progres-bar .middle-bar ul li a { width:60px;height:10px; }
	.content .top-progres-bar .left-arrow { width:15%;}
	.content .top-progres-bar .right-arrow { width:12%;}
	.content .top-progres-bar .middle-bar { width:72%; }
	.content .create-account-step fieldset .one-column, .content .create-account-step fieldset .one-column:first-child { width:230px; margin-right:20px; }
	.content .create-account-step fieldset .second-column { width:470px; }
	.content .create-account-step .dob-field input { width:30%;}
	.content .create-account-step .gender-field .gender-label { margin-left:10px; }
	.content .create-account-step .card-expiry input { width:65px;}
}





