* { margin:0px; padding:0px;}
body ,html{ margin:0px; padding:0px;font-family: 'proxima_nova_rgregular';height: 100%; background:#f0f6f7; min-height:768px;}
.landing-page { background:#fff;}
a,button {-webkit-transition: all ease 0.7s;-moz-transition: all ease 0.7s;-o-transition: all ease 0.7s;transition: all ease 0.7s; outline:none;}
a:focus { outline:none !important;}
img { outline:none; border:0px;}
.clear { clear:both;}
.wrapper-home { height:100%;}
.wrapper {}
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.html') format('woff2'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold-webfont.html') format('woff2'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/proximanova-semibold-webfont.eot');
    src: url('../fonts/proximanova-semibold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-semibold-webfont.html') format('woff2'),
         url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: 600;
    font-style: normal; }
	
@font-face {font-family: "ProximaNovaAW01-Extrabold";
    src: url("../fonts/aae6e0c9d1f05b7913615c232b114718.eot"); /* IE9*/
    src: url("../fonts/aae6e0c9d1f05b7913615c232b114718d41d.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/aae6e0c9d1f05b7913615c232b114718.html") format("woff2"), /* chrome firefox */
    url("../fonts/aae6e0c9d1f05b7913615c232b114718.woff") format("woff"), /* chrome firefox */
    url("../fonts/aae6e0c9d1f05b7913615c232b114718.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("../fonts/aae6e0c9d1f05b7913615c232b114718-2.html#ProximaNovaAW01-Extrabold") format("svg"); /* iOS 4.1- */
}


/*-------------------Landing page-------------------*/

.landing-content { height:88%; text-align:center;}
.landing-content .landing-left { width:50%;background-blend-mode: multiply;background: url(../images/landing-left.png) #006E78 no-repeat center center;background-size:cover;   float:left; height:100%; -webkit-transition: width 0.7s;-moz-transition: width 0.7s;-ms-transition: width 0.7s;-o-transition: width 0.7s;transition: width 0.7s; position:relative;}
.landing-content .landing-left:hover {background-blend-mode: multiply;background: url(../images/landing-left.png) #EB7819 no-repeat center center;background-size:cover;   float:left; height:100%; width:60%; cursor:pointer;}
.landing-content .landing-left:hover + .landing-right { width:40%;} 
.landing-content .landing-right { width:50%;background-blend-mode: multiply;background: url(../images/landing-right.png) #006E78 no-repeat center center;background-size:cover; float:right; height:100%; -webkit-transition: width 0.7s;-moz-transition: width 0.7s;-ms-transition: width 0.7s;-o-transition: width 0.7s;transition: width 0.7s; position:relative;}
.landing-content .landing-right:hover {background-blend-mode: multiply;background: url(../images/landing-right.png) #EB7819 no-repeat center center;background-size:cover;   float:left; height:100%; width:60%;cursor:pointer;} 
.landing-content .landing-left.right-hover { width:40%;}
.landing-content .overlay { background:rgba(15,90,100,0.65); width:100%; position:absolute; top:0; bottom:0; right:0; left:0; display:none;z-index:9;}
.landing-content .landing-left.right-hover .overlay{ display:block;}
.landing-content .landing-left:hover + .landing-right .overlay{ display:block;}
.landing-content .start-now-detail { top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: -moz-translateY(-50%); position:absolute; width:100%;}
.landing-content .start-now-detail h1 { font-weight:900; color:#fff;font-family: "ProximaNovaAW01-Extrabold"; margin:0 0 11px 0; padding:0px; font-size:45px; line-height:36px;}
.landing-content .start-now-detail p { color:#99C5C9;font-size:19px; font-weight:bold;font-family: 'proxima_nova_rgbold';}
.landing-content .start-now-detail a { line-height:36px; border:1px solid #fff; border-radius:5px; padding:0 22px; box-sizing:border-box; display:inline-block; font-size:13px; text-transform:uppercase;font-family: 'proxima_novasemibold'; color:#fff; text-decoration:none; }
.landing-content .start-now-detail a:hover {color:#F7C9A3;}
.landing-content .landing-left:hover .start-now-detail p { color:#F7C9A3;}
.landing-content .landing-right:hover .start-now-detail p { color:#F7C9A3;}
.landing-content .landing-left.right-hover .start-now-detail a ,.landing-content .landing-left:hover + .landing-right .start-now-detail a { display:none;}
footer { background:#fff; padding:17px 19px;height:95px; box-sizing:border-box;}
footer .copy-right { width:25%; display:inline-block; vertical-align:top;}
footer .copy-right p { font-size:12px; color:#006E78; text-transform:uppercase;font-family: 'proxima_novasemibold'; line-height:60px; margin:0px;}
footer .contact-sales { width:440px; display:inline-block; padding:11px 14px 11px 50px; border:1px solid #C7DFE1; border-radius:5px;vertical-align:top;}
footer .contact-sales p { font-size:14px; color:#006E78; margin:0px; padding:0px; line-height:18px; display:inline-block; vertical-align:top; float:left; }
footer .contact-sales p span {font-family: 'proxima_nova_rgbold'; }
footer .contact-sales a {padding:0 16.2px; line-height:35px; background:#006e78; color:#fff; display:inline-block; border-radius:5px; vertical-align:top; text-decoration:none; margin:0;font-family: 'proxima_novasemibold'; cursor:pointer; float:right; }
footer  .term-use { float:right;vertical-align:top;}
footer  .term-use  ul { margin:0px; padding:0px;}
footer  .term-use  ul li { display:inline-block; line-height:60px; margin:0px; padding:0px;}
footer  .term-use  ul li a {font-size:12px; color:#006E78; text-transform:uppercase;font-family: 'proxima_novasemibold'; line-height:60px; margin:0px; text-decoration:none; margin:0 0 0 18px; display:inline-block;}




/*-------------------Contact Sales-------------------*/

.contact-sales { text-align:center; width:490px; margin:0 auto; background:#fff; border-radius:5px; position:relative; }
.contact-sales .modal-body { padding:0px; padding-bottom:0px;} 
.contact-sales button.close{ position:absolute; top:17px; right:17px; z-index:9; opacity:1; height:21px;}
.contact-sales button.close img { width:18px;}
.modal-open .modal { background:#e5e7e5;}
.contact-sales .modal-dialog { width:490px; border:0px; box-shadow:none; border-radius:0px;}
.contact-sales .modal-content {border:0px; box-shadow:none; border-radius:5px 5px 0 0px;}
.contact-sales .modal.fade:not(.in).bottom .modal-dialog {-webkit-transform: translate3d(0, 125%, 0);transform: translate3d(0, 125%, 0);}
.contact-sales h2 { font-size:25px; color:#EB7819; margin:0px; text-align:center; font-family: 'proxima_nova_rgbold'; margin-bottom:30px; line-height:18px; padding-top:35px;}
.contact-sales h3 { font-size:17px; line-height:14px; color:#4C534C; font-family: 'proxima_nova_rgbold'; text-align:center; margin:0 0 17px 0; line-height:19px;}
.contact-sales p {color:#4C534C; font-size:16px; line-height:19px; margin-bottom:40px;}
.contact-sales form { padding:0;}
form input[type="text"] ,form input[type="email"],form input[type="tel"],form input[type="password"]   { width:100%; padding:10px 0; margin:0 0 40px 0; border:0px; border-bottom:1px solid #808580; outline:none; color:#333B33;font-family: 'proxima_novasemibold'; font-size:16px; position:relative;}
form label {font-size: 13px;font-family: 'proxima_novasemibold';text-transform: uppercase;position: absolute;z-index: 1;    margin: 16px 0 0 0; line-height: 12px; top:0; left:0; color:#006E78;    -moz-transition: color 0.3s, top 0.3s, background-color 0.8s;
-o-transition: color 0.3s, top 0.3s, background-color 0.8s;-webkit-transition: color 0.3s, top 0.3s, background-color 0.8s;transition: color 0.3s, top 0.3s, background-color 0.8s; font-weight:600;}
form input[type="submit"]{ background:#EB7819; text-transform:uppercase; color:#fff; line-height:70px; border:0px; border-radius:0 0 5px 5px; font-family: 'proxima_nova_rgbold'; width:100%; margin:0; outline:none; font-size:20px; }
form .username ,form .email , form .phone , form .organization , form .message ,form .password { position:relative; margin:0 85px;}
form .username:before{background:url(../images/FormUsername.svg) left center no-repeat; background-size:20px 20px; position:absolute; left:-30px; width:20px; height:20px; content:""; display:block; top:10px;}
form .email:before{background:url(../images/FormEmail.svg) left center no-repeat; background-size:20px 20px; position:absolute; left:-30px; width:20px; height:20px; content:""; display:block; top:10px;}
form .phone:before{background:url(../images/FormPhone.svg) left center no-repeat; background-size:20px 20px; position:absolute; left:-30px; width:20px; height:20px; content:""; display:block; top:10px;}
form .organization:before{background:url(../images/FormOrganization.svg) left center no-repeat; background-size:20px 20px; position:absolute; left:-30px; width:20px; height:20px; content:""; display:block; top:10px;}
form .message:before{background:url(../images/FormMessage.svg) left center no-repeat; background-size:20px 20px; position:absolute; left:-30px; width:20px; height:20px; content:""; display:block; top:10px;}
form .password:before{background:url(../images/FormPassword.svg) left center no-repeat; background-size:20px 20px; position:absolute; left:-30px; width:20px; height:20px; content:""; display:block; top:10px;}
form  label.active { position:absolute; top:-22px; color:#80B6BB;} 
form  label.showpassword { left:auto; right:0px; cursor:pointer;  display:none;}
form  label.showpassword.visible { display:block;}
form  label.showpassword input[type="checkbox"] { display:none;}


/*-------------------Login Page-------------------*/

.login-content { background-blend-mode: multiply;background: url(../images/login-bg.png) #006E78 no-repeat center center;background-size:cover;   height:100%; padding:132px 0 0 0; }
.login-content .login-form { background:#fff; width:490px; margin:0 auto; padding:33px 0 0 0; border-radius:5px; font-size:30px; margin-bottom:118px;position:relative;}
.login-content .login-form h2 { text-align:center;padding:0 0 60px 0; margin:0px; font-family: "ProximaNovaAW01-Extrabold"; color:#006E78; display:block; line-height:24px;}
.contact-sales.login-form h2 { padding-bottom:30px;}
.login-content .login-form.reset-form h2 { padding-bottom:28px;}
.login-content .login-form form input[type="submit"] { background:#D9E9EB;}
.login-content .login-form form input[type="submit"].activebtn { background:#EB7819;}
form  label.remember { position:static; margin:-10px 0 32px 0px; display:block; padding:0px; font-size:13px; color:#808580;font-family: 'proxima_novasemibold'; line-height:20px; cursor:pointer; display:inline-block; vertical-align:top;}
form  label.remember span:before {background:url(../images/CheckboxEmpty.svg) left center no-repeat; background-size:20px 20px; position:absolute; left:-30px; width:20px; height:20px; content:""; display:block; padding-left:30px; margin:0px;}
form  label.remember input[type="checkbox"] { display:none;}
form  label.remember input[type="checkbox"]:checked + span { color:#006E78 !important; }
form  label.remember input[type="checkbox"]:checked + span:before {background:url(../images/CheckboxChecked.svg) left center no-repeat;  left:-30px;  width:20px; height:20px; content:""; display:block; padding-left:30px; margin:0px;}
.login-content .forgot-passsword { position:absolute;width:100%; text-align:center; margin:30px 0 0 0; color:#fff; text-transform:uppercase; text-decoration:none;font-family: 'proxima_novasemibold'; font-size:13px;z-index:99; right:0px; left:0px; }
.login-content .forgot-passsword:hover {color:#EB7819;}
.reset-detail{ margin:0 85px; background:#f6fcf8; border:1px solid #7dd796; margin-bottom:36px; border-radius:5px; background:#f6fcf8; }
.reset-detail .tick-arrow { line-height:69px; padding:0 7px; background:#7dd796; width:37px; float:left; border-radius:4px 0 0 4px;}
.reset-detail .reset-description { width:277px; float:right;padding:8px 13px; }
.reset-detail .reset-description h4 { font-size:13px; color:#000A00; margin:0px; padding:0px; font-family: 'proxima_nova_rgbold'; margin-bottom:5px;}
.reset-detail .reset-description p { color:#4D534D; font-size:13px; line-height:17px; margin:0px;}
.login-content footer { background:none; position:absolute; width:100%; bottom:0px;}
.login-content footer .copy-right p , .login-content footer .term-use  ul li a { color:#80B6BB;}
.login-content footer .contact-sales { border:0px; background:rgba(0,0,0,0.1);}
.login-content footer .contact-sales p { color:#fff;}
.login-content footer .contact-sales { padding-left:37px;}
.login-content footer .contact-sales { width:490px;}



/*-------------------Home Page-------------------*/

.main-content { background:#f0f6f7; height:100%;}
.main-content .sidebar { width:185px; background:#006e78; padding:25px 0 24px 0; box-sizing:border-box; position:fixed; height:100%;-webkit-transition: all ease 0.5s;
-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;transition: all ease 0.5s;outline: none;}
.main-content .sidebar .logo { margin-bottom:56px; padding:0 24px;}
.main-content .sidebar .logo a { font-size:25px; color:#FFFFFF; text-transform:uppercase;font-family: "ProximaNovaAW01-Extrabold"; text-decoration:none; line-height:21px; display:inline-block;}
.main-content .sidebar .main-menu {}
.main-content .sidebar .main-menu ul { margin:0px; padding:0px; display:block;}
.main-content .sidebar .main-menu ul li { margin:0 0; padding:0px; display:block;}
.main-content .sidebar .main-menu ul li a { font-size:14px; color:#fff; font-family: 'proxima_nova_rgbold'; text-decoration:none; text-transform:capitalize; padding-left:30px; letter-spacing:0.6px; display:inline-block; padding-top:13px; padding-bottom:13px; padding-left:54px; display:block; border-left:5px solid transparent; height:46px; width:185px; white-space:nowrap;}
.main-content .sidebar .main-menu ul li a:hover ,.main-content .sidebar .main-menu ul li a.active{ color:#eb7819; border-color:#eb7819;}

.main-content .sidebar .main-menu ul li.dataentry a { background:url(../images/MenuDataEntry.svg) 24px center no-repeat; background-size:22px 22px;}
.main-content .sidebar .main-menu ul li.dataentry a:hover { background:url(../images/MenuDataEntry-hover.svg) 24px center no-repeat #0f5a64; background-size:22px 22px;}
.main-content .sidebar .main-menu ul li.dataentry a.active { background:url(../images/MenuDataEntry-hover.svg) 24px center no-repeat #0f5a64; background-size:22px 22px;}
.main-content .sidebar .main-menu ul li.verification a { background:url(../images/MenuVerification.svg) 24px center no-repeat; background-size:22px 22px;}
.main-content .sidebar .main-menu ul li.verification a:hover { background:url(../images/MenuVerification-hover.svg) 24px center no-repeat #0f5a64; background-size:22px 22px;}
.main-content .sidebar .main-menu ul li.verification a.active { background:url(../images/MenuVerification-hover.svg) 24px center no-repeat #0f5a64; background-size:22px 22px;}
.main-content .sidebar .main-menu ul li.clerksubmital a { background:url(../images/MenuCardDrop.svg) 24px center no-repeat; background-size:22px 22px;}
.main-content .sidebar .main-menu ul li.clerksubmital a:hover { background:url(../images/MenuCardDrop-hover.svg) 24px center no-repeat #0f5a64; background-size:22px 22px;}
.main-content .sidebar .main-menu ul li.clerksubmital a.active { background:url(../images/MenuCardDrop-hover.svg) 24px center no-repeat #0f5a64; background-size:22px 22px;}
.main-content .sidebar .main-menu ul li.reports a { background:url(../images/MenuReports.svg) 24px center no-repeat; background-size:22px 22px;}
.main-content .sidebar .main-menu ul li.reports a:hover { background:url(../images/MenuReports-hover.svg) 24px center no-repeat #0f5a64; background-size:22px 22px;}
.main-content .sidebar .main-menu ul li.reports a.active { background:url(../images/MenuReports-hover.svg) 24px center no-repeat #0f5a64; background-size:22px 22px;}
.main-content .sidebar .main-menu ul li.uploads a { background:url(../images/MenuUpload.svg) 24px center no-repeat; background-size:22px 22px;}
.main-content .sidebar .main-menu ul li.uploads a:hover { background:url(../images/MenuUpload-hover.svg) 24px center no-repeat #0f5a64; background-size:22px 22px;}
.main-content .sidebar .main-menu ul li.uploads a.active { background:url(../images/MenuUpload-hover.svg) 24px center no-repeat #0f5a64; background-size:22px 22px;}
.main-content .sidebar .main-menu ul li.setting a { background:url(../images/MenuSettings.svg) 24px center no-repeat; background-size:22px 22px;}
.main-content .sidebar .main-menu ul li.setting a:hover { background:url(../images/MenuSettings-hover.svg) 24px center no-repeat #0f5a64; background-size:22px 22px;}
.main-content .sidebar .main-menu ul li.setting a.active { background:url(../images/MenuSettings-hover.svg) 24px center no-repeat #0f5a64; background-size:22px 22px;}
.main-content .sidebar .main-menu ul li.help a { background:url(../images/MenuHelp.svg) 24px center no-repeat; background-size:22px 22px;}
.main-content .sidebar .main-menu ul li.help a:hover { background:url(../images/MenuHelp-hover.svg) 24px center no-repeat #0f5a64; background-size:22px 22px;}
.main-content .sidebar .main-menu ul li.help a.active { background:url(../images/MenuHelp-hover.svg) 24px center no-repeat #0f5a64; background-size:22px 22px;}
.main-content .sidebar .user-detail {position: absolute;bottom: 0px;width: 100%;box-sizing: border-box; bottom:24px; left:0px; right:0px; padding:0 20px; box-sizing:border-box;}
.main-content .sidebar .user-detail > a { font-size:14px; color:#FFFFFF;font-family: 'proxima_nova_rgbold'; text-decoration:none;display:block; background-size:20px; white-space:nowrap;}
.main-content .sidebar .user-detail > a img { margin:0 8px 0 0;}
.main-content .sidebar .user-detail .user-account .down-arrow { position:absolute; bottom:-12px; left:9px;}
.main-content .sidebar .user-detail .user-account {width:218px;height:97px;background:#fff;position:absolute;top:-102px;border:1px solid #e0e0e0;border-radius:2px;padding:20px;box-sizing:border-box;z-index:1;display:none;-webkit-box-shadow: -1px 3px 20px 0px rgba(0,0,0,0.19);-moz-box-shadow: -1px 3px 20px 0px rgba(0,0,0,0.19);box-shadow: -1px 3px 20px 0px rgba(0,0,0,0.19); display:none;}
.main-content .sidebar .user-detail .user-account.active { display:block;}
.main-content .sidebar .user-detail .user-account ul { margin:0px; padding:0px; }
.main-content .sidebar .user-detail .user-account ul li { display:block;  margin:0 0 24px 0; }
.main-content .sidebar .user-detail .user-account ul li a { display:inline-block;font-size:13px; color:#4B514B; line-height:16px; text-decoration:none; padding-left:26px; background:url(../images/ActionAccount.svg) left center no-repeat; text-transform:uppercase;font-family: 'proxima_novasemibold'; background-size:17px 18px;}
.main-content .sidebar .user-detail .user-account ul li + li a { background:url(../images/ActionLogout.svg) left center no-repeat;} 
.main-content .sidebar .user-detail .logout-action { position:absolute; right:10px; z-index:99;}
.main-content .sidebar .user-detail .logout-action a img { width:20px;}
.main-content .sidebar .toggle-sidebar a { width:10px; position:absolute; right:0px; height:100%; top:0px; bottom:0px; background:#26848c;}
.main-content .sidebar .toggle-sidebar a:hover { background:#eb7819;}
.main-content .sidebar.siderbarsmall {width:77px;}
.main-content .sidebar.siderbarsmall .main-menu ul li a { color:transparent; width:77px; overflow:hidden; background-position:17.5px !important;}
.main-content .sidebar.siderbarsmall .user-detail { font-size:0px; padding:0 18.5px; height:30px;}
.main-content .sidebar.siderbarsmall .user-detail > a { font-size:0px;}
.main-content .sidebar.siderbarsmall .user-detail a img { margin:0px;}
.main-content .sidebar.siderbarsmall .user-detail .logout-action { display:none;}
.main-content .sidebar.siderbarsmall .logo a { width:17px; overflow:hidden; display:block; line-height:23px;}

.main-content .sidebar .toggle-sidebar a:before {content:"";position:absolute; top:32px; right:0px; left:0px; margin:auto;width: 0;height: 0;border-right: 4px solid #fff;border-top: 4.5px solid transparent;border-bottom: 4.5px solid transparent;} 
.main-content .sidebar.siderbarsmall .toggle-sidebar a:before {content:"";position:absolute; top:32px; right:0px; left:0px; margin:auto;width: 0;height: 0;border-left: 4px solid #fff;border-right:0px;border-top: 4.5px solid transparent;border-bottom: 4.5px solid transparent;} 

.compactview .main-content .right-main-content { padding:0 0 0 77px;}
.main-content .right-main-content {padding: 0 0 0 185px;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;transition: all ease 0.5s;   outline: none;}
.main-content .right-main-content h1 { padding:0px; margin:0px; line-height:70px; font-size:25px;font-family: 'proxima_nova_rgbold'; color:#EB7819; display:block; text-align:center; background:#fff; text-transform:uppercase;}
.main-content .right-main-content .content-detail { padding:18px;}
.main-content .right-main-content .content-detail .content-box {width: 32.4%;text-align: center;box-sizing: border-box; background:#fff;-webkit-box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1);-moz-box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1);box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1); border-radius:15px; margin-right:10px; margin-bottom:16px;-webkit-transition: all ease 0.7s;-moz-transition: all ease 0.7s;-o-transition: all ease 0.7s;transition: all ease 0.7s; outline:none; display:inline-block; }
.main-content .right-main-content .content-detail .content-box a { display:block; padding:20px 0 36px 0; text-decoration:none;}
.main-content .right-main-content .content-detail .content-box:hover { background:#E5F0F1;}
.main-content .right-main-content .content-detail .content-box:nth-child(3n+3){ margin-right:0px;}
.main-content .right-main-content .content-detail .content-box img { width:75px; display:inline-block; vertical-align:bottom; font-size:0px;}
.main-content .right-main-content .content-detail .content-box h3 { margin:0px; padding:0px; font-size:19px; color:#EB7819; font-weight:bold;font-family: 'proxima_nova_rgbold'; line-height:18px; padding:12px 0 13px 0;}
.main-content .right-main-content .content-detail .content-box p { font-size:14px; line-height:16px; margin:0px; color:#666C66; margin-bottom:3px; line-height:16px;}
.main-content .right-main-content .content-detail .content-box p span {font-family: 'proxima_nova_rgbold';}
 
.main-content .right-main-content .content-detail .content-box  label { line-height:33px; border:1px solid #CCE2E4; font-size:13px; color:#0F5A64; text-transform:uppercase; text-decoration:none; display:inline-block; border-radius:5px;font-family: 'proxima_novasemibold'; padding:0 16px; margin:13px 0 0 0; background:#fff; cursor:pointer;}


/*-------------------Data Entry Page-------------------*/
.main-content .data-entry-detail {}
.main-content .data-entry-detail .data-entry-top-detail { background:#fff;}
.main-content .top-heading { text-align:center;}
.main-content .top-heading h1  { padding-bottom:15px; border-bottom:1px solid #E6EFEF; padding-top:4px;}
.main-content .top-heading.report-top { background:#fff; position:relative;}
.main-content .top-heading.report-top h1 { border:0px; line-height:18px; padding:30px 0 23px 0;}
.main-content .top-heading.report-top h1 img { margin-right:1px;}
.main-content .top-heading h1 img { width:24px; display:inline-block; margin:-5px 4px 0 0; vertical-align:middle;}

.main-content .top-heading ul { margin:0 0 18px 0; padding:0px; display:inline-block; border:0px solid #cce2e4; border-radius:5px;}
.main-content .top-heading ul li { display:inline-block; width:161px;margin:0 -4px 0 0;}
.main-content .top-heading ul li a { color:#0F5A64; display:block; text-decoration:none; text-transform:uppercase; line-height:33px; border-right:1px solid #CCE2E4; text-align:center;font-family: 'proxima_novasemibold'; border-top:1px solid #cce2e4; border-bottom:1px solid #cce2e4; } 
.main-content .top-heading ul li a.active { background:#006e78; color:#fff; border-color:#006e78;}
.main-content .top-heading ul li:last-child a {border-radius:0 5px 5px 0;}
.main-content .top-heading ul li:first-child a { border-right:0px; border-radius:5px 0 0 5px; border-left:1px solid #cce2e4;}
.main-content .top-heading ul li:first-child a.active { border-color:#006e78;}
.main-content .top-heading ul li:last-child a.active { border-color:#006e78;}



.main-content .data-entry-detail .data-entry-top { padding:0 18px; text-align:center; padding-bottom:40px; margin:-22px 0 0 0;}
.main-content .data-entry-detail .data-entry-top .left-filters { background:#fcfcfc; width:40px; height:40px; border-radius:50%;-webkit-box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1);-moz-box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1);box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1); text-align:center; position:relative; display:inline-block; float:left;}
.main-content .data-entry-detail .data-entry-top .left-filters a { display:block; width:100%;}
.main-content .data-entry-detail .data-entry-top .left-filters img { display:inline-block; width:22px; padding:9px 0;}
.main-content .data-entry-detail .data-entry-top .left-filters span { font-size:11px; color:#fff;font-family: 'proxima_novasemibold'; background:#eb7819; position:absolute; border-radius:50%; padding:2.5px 6.8px; top:-3px;}
.main-content .data-entry-detail .data-entry-top ul { margin:2px 0 0 0; padding:0px; display:inline-block; border:0px solid #cce2e4; border-radius:5px; background:#fff;}
.main-content .data-entry-detail .data-entry-top ul li { display:inline-block; width:161px;margin:0 -4px 0 0;}
.main-content .data-entry-detail .data-entry-top ul li a { color:#0F5A64; display:block; text-decoration:none; text-transform:uppercase; line-height:33px; border-right:1px solid #CCE2E4; text-align:center;font-family: 'proxima_novasemibold'; border-top:1px solid #cce2e4; border-bottom:1px solid #cce2e4;  } 
.main-content .data-entry-detail .data-entry-top ul li:last-child { margin:0;}
.main-content .data-entry-detail .data-entry-top ul li a.active { background:#006e78; color:#fff; border-color:#006e78;}
.main-content .data-entry-detail .data-entry-top ul li:last-child a {border-radius:0 5px 5px 0;}
.main-content .data-entry-detail .data-entry-top ul li:first-child a { border-right:0px; border-radius:5px 0 0 5px; border-left:1px solid #cce2e4;}
.main-content .data-entry-detail .data-entry-top ul li:first-child a.active { border-color:#006e78;}
.main-content .data-entry-detail .data-entry-top ul li:last-child a.active { border-color:#006e78;}
.main-content .data-entry-detail .top-office-action { padding:0 18px; background:#fff;}
.main-content .top-office-action h4 { margin:0px; padding:0px; display:block; font-size:13px; color:#999D99;font-family: 'proxima_novasemibold'; padding-bottom:8px; line-height:10px; text-transform:uppercase;}
.main-content .btn-info ,.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info,.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover { padding:0px; margin:0px; border:0px; appearance:none; -moz-appearance:none; -ms-appearance:none; -webkit-appearance:none; -o-appearance:none; padding-bottom:11px; margin:0 19px 0 0; font-size:16px; color:#333B33;font-family: 'proxima_novasemibold'; border-bottom:1px solid #808580; background:url(../images/ArrowDropDown.svg) left 4px no-repeat; background-size:10px; padding-left:20px; outline:none; line-height:13px; outline:none; box-shadow:none; border-radius:0px;}
.bootstrap-select.btn-group .dropdown-menu li a { font-size:16px; color:#333B33;font-family: 'proxima_novasemibold';}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {width:100%;}
.main-content .data-entry-detail .top-office-action input[type="text"] { padding:0px; margin:0px; border:0px; appearance:none; -moz-appearance:none; -ms-appearance:none; -webkit-appearance:none; -o-appearance:none; padding-bottom:9px; width:250px; margin:17px 22px 0 0; font-size:13px; color:#333B33;font-family: 'proxima_novasemibold'; border-bottom:1px solid #808580; outline:none; line-height:13px; color:#4C534C; text-transform:uppercase; float:none; vertical-align:top;}

.bootstrap-select .dropdown-toggle:focus { outline:none !important;}
.main-content .select-field { width:250px; margin-right:19px; display:inline-block; margin-bottom:21px;}
.main-content .data-entry-detail .top-office-action input[type="text"]::-webkit-input-placeholder {color:#4C534C;}
.main-content .data-entry-detail .top-office-action input[type="text"]::-moz-placeholder {color:#4C534C;}
.main-content .data-entry-detail .top-office-action input[type="text"]:-ms-input-placeholder {color:#4C534C;}
.main-content .data-entry-detail .top-office-action input[type="text"]:-moz-placeholder {color:#4C534C;}
.main-content .data-entry-detail .data-entry-table { background:#fff;-webkit-box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1);-moz-box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1);box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1); border-radius:15px;}
.main-content .data-entry-detail .data-entry-table table { width:100%;}
.main-content .data-entry-detail .data-entry-table table tr { background:#fff;}
.main-content .data-entry-detail .data-entry-table table tr th { padding:13px 0;}
.main-content .data-entry-detail .data-entry-table table tr th a { font-size:12px; color:#989B98; text-transform:uppercase;font-family: 'proxima_novasemibold'; text-decoration:none; text-transform:uppercase; display:inline-block; padding-right:20px; background:url(../images/Sort.svg) right center no-repeat; background-size:7px;} 
.main-content .data-entry-detail .data-entry-table table tr th a.sort-top {background:url(../images/Sort-top.html) right center no-repeat;background-size:7px; color:#EB7819;}
.main-content .data-entry-detail .data-entry-table table tr th a.sort-bottom {background:url(../images/Sort-bottom.html) right center no-repeat;background-size:7px; color:#EB7819;}
.main-content .data-entry-detail .data-entry-table table tr th:first-child { padding-left:18px;border-radius:15px 0 0 0;}
.main-content .data-entry-detail .data-entry-table table tr th:last-child { padding-right:18px;border-radius:0 15px 0 0;}
.main-content .data-entry-detail .data-entry-table table tr:nth-child(even) { background:#f7fbfb;}


.main-content .data-entry-detail .data-entry-table table tr td { padding:19px 0;}
.main-content .data-entry-detail .data-entry-table table tr td { font-size:14px; color:#323A32;}
.main-content .data-entry-detail .data-entry-table table tr td:first-child { padding-left:18px;}
.main-content .data-entry-detail .data-entry-table table tr td:last-child { padding-right:18px;}
.main-content .data-entry-detail .data-entry-table table tr td span { color:#8C918C; background:#ffffff; border:1px solid #8C918C; border-radius:50%; padding:2px 6px; font-size:10px; display:inline-block; text-align:center;}
.main-content .data-entry-detail .data-entry-table table tr:nth-child(even) { background:#f7fbfb;}
.main-content .data-entry-detail .data-entry-table table tr td.status {}
.main-content .data-entry-detail .data-entry-table table tr td.status .closed { border:2px solid #808580; text-decoration:none; line-height:18px; text-decoration:none; background:#f2f3f2; padding:0 9px; display:inline-block; font-size:12px;line-height:18px; color:#7F827F; border-radius:3px; }
.main-content .data-entry-detail .data-entry-table table tr td.status .open { border:2px solid #32be5a; text-decoration:none; line-height:18px; text-decoration:none; background:#ebf9ee; padding:0 9px; display:inline-block; font-size:12px;line-height:18px; color:#32BE5A; border-radius:3px; }
.main-content .data-entry-detail .data-entry-table table tr td.action { position:relative;}
.main-content .data-entry-detail .data-entry-table table tr td .edit-packet {width: 218px;background: #fff;position: absolute;top:0; right:100%; border: 1px solid #e0e0e0;  border-radius: 2px; padding: 20px;box-sizing: border-box;z-index: 1; -webkit-box-shadow: -1px 3px 20px 0px rgba(0,0,0,0.19);-moz-box-shadow: -1px 3px 20px 0px rgba(0,0,0,0.19); box-shadow: -1px 3px 20px 0px rgba(0,0,0,0.19); z-index:999; display:none;}
.main-content .data-entry-detail .data-entry-table table tr td .edit-packet ul { margin:0px; padding:0px; }
.main-content .data-entry-detail .data-entry-table table tr td .edit-packet ul li { display:block;  margin:0 0 20px 0; }
.main-content .data-entry-detail .data-entry-table table tr td .edit-packet ul li a { display:inline-block;font-size:13px; color:#4B514B; line-height:24px; text-decoration:none; padding-left:30px; background:url(../images/ActionEditPacket.svg) left center no-repeat; text-transform:uppercase;font-family: 'proxima_novasemibold'; background-size:24px 24px;}
.main-content .data-entry-detail .data-entry-table table tr td .edit-packet ul li + li a { background:url(../images/ActionAddEditRegCard.svg) left center no-repeat; background-size:24px 24px;} 
.main-content .data-entry-detail .data-entry-table table tr td .edit-packet ul li + li + li a { background:url(../images/ActionClosePacket.svg) left center no-repeat; background-size:24px 24px;} 
.main-content .data-entry-detail .data-entry-table table tr td .edit-packet ul li:last-child { margin-bottom:0px;}
.main-content a.load-more { display:block; width:113px; font-size:13px; color:#fff; text-transform:uppercase; margin:13px auto; text-transform:uppercase;font-family: 'proxima_novasemibold'; background:#006e78; line-height:35px; text-decoration:none; text-align:center; border-radius:5px;}
.bs-caret { display:none;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover { background:none;}
.main-content .program-summary-detail { padding:0 18px; background:#fff;    border-top: 1px solid #E6EFEF; padding-bottom:17px; padding-top:35px; display:none;}
.main-content .program-summary-detail.summary-visible { display:block;}
.main-content .top-left-icon { background:#ffffff; width:40px; height:40px; border-radius:50%;-webkit-box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1);-moz-box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1);box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1); text-align:center; position:relative; display:inline-block; float:left; padding:10px 0; position:absolute; left:18px; bottom:-23px;}
.main-content .top-left-icon a { background:url(../images/Filter.svg) center center no-repeat; display:block; width:100%; height:23px;}
.main-content .top-left-icon a.summary-visible { background:url(../images/Filter-data.svg) center center no-repeat; display:block; width:100%; height:23px;}
.main-content .top-left-icon.nodata { background:#eb7819;}
.main-content .top-left-icon.nodata a { background:url(../images/Filter-data-white.svg) center center no-repeat; display:block; width:100%; height:23px;}
.main-content .top-left-icon span {font-size: 11px;color: #fff; font-family: 'proxima_novasemibold';background: #eb7819;position: absolute;border-radius: 50%;padding: 2.5px 6.8px;top: -3px; right:-12px;}
.main-content .right-download-icon { background:#fcfcfc; width:40px; height:40px; border-radius:50%;-webkit-box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1);-moz-box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1);box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1); text-align:center; position:relative; display:inline-block; float:right; padding:8px 0; position:absolute; right:18px;bottom:-23px;}
.main-content .right-download-icon a { background:url(../images/Download.svg) center center no-repeat; display:block; width:100%; height:23px;}
.main-content .program-summary-detail .select-field { width:31.8%; margin-bottom:33px;}
.main-content .program-summary-detail .select-field:nth-child(3n+3) { margin-right:0px;}
.main-content .program-summary-detail .apply-button {margin:-13px 0 0 0;}
.main-content .program-summary-detail .apply-button button.apply { font-size:13px; color:#fff; line-height:34px; border:0px; background:#eb7819; border-radius:5px; width:78px;font-family: 'proxima_novasemibold'; text-transform:uppercase;border:1px solid #eb7819; margin:0 10px 0 0;}
.main-content .program-summary-detail .apply-button.no-data { opacity:0.3;}
.main-content .program-summary-detail .apply-button button.clear { font-size:13px; color:#919691; line-height:34px; border:0px; background:none; border-radius:5px; width:78px;font-family: 'proxima_novasemibold'; text-transform:uppercase; border:1px solid #cccecc;}
.main-content .voter-program-summary { float:left; padding:32px 0 0 0; width:50%; background:#fff; border-radius:5px;margin:0 18px 0 0;-webkit-box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1);-moz-box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1);box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1); padding-bottom:44px;}
.main-content .voter-program-summary:nth-child(2n) { margin:0px;}
.main-content .voter-program-summary h4 { padding:0px; margin:0 0 28px 0; text-align:center; font-size:15px; color:#333B33;font-family: 'proxima_novasemibold'; line-height:12px;}
.main-content .voter-program-summary ul { margin:0px; padding:0px;}
.main-content .voter-program-summary ul li { display:block; margin:0px; padding:0px; height:44px;}
.main-content .voter-program-summary ul li:nth-child(even) {background:#f7fbfb;} 
.main-content .voter-program-summary ul li span { float:left; width:27%; text-align:right; font-size:16px; color:#4D534D; line-height:44px;font-family: 'proxima_nova_rgbold';}
.main-content .voter-program-summary ul li p { float:left; width:73%; text-align:left; padding:0 18px; box-sizing:border-box; font-size:16px; color:#4D534D; margin:0; line-height:44px;}
.row-eq-height {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
.main-content .right-main-content .content-detail.row-eq-height { padding-top:33px;}


.main-content .detail-graph{ float:left; padding:32px 0 0 0; width:50%; background:#fff; border-radius:5px;margin:0 18px 0 0;-webkit-box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1);-moz-box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1);box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1); padding-bottom:44px; position:relative; margin-bottom:18px;}
.main-content .detail-graph.full-width { width:100%;}
.main-content .detail-graph:nth-child(2n+2) { margin-right:0px;}
.main-content .detail-graph h4 { padding:0px; margin:0 0 28px 0; text-align:center; font-size:15px; color:#333B33;font-family: 'proxima_novasemibold'; line-height:12px; text-transform:uppercase;}
.main-content .detail-graph .right-download-icon { background:#fcfcfc; width:40px; height:40px; border-radius:50%;-webkit-box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1);-moz-box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1);box-shadow: 0px 0px 5px 0.1px rgba(15,110,120,0.1); text-align:center; position:relative; display:inline-block; float:right; padding:8px 0; position:absolute; top:14px; right:20px ;}
.main-content .detail-graph .right-download-icon a { background:url(../images/Download.svg) center center no-repeat; display:block; width:100%; height:23px;}
.main-content .detail-graph .graph-thumbnail{ padding:0 0 0 18px; text-align:center;}
.main-content .detail-graph .graph-thumbnail img { }
.main-content .detail-graph .graph-label { padding:0 18px; margin:22px 0 0 0;}
.main-content .detail-graph .graph-label ul { margin:0px; padding:0px; display:block;}
.main-content .detail-graph .graph-label ul li { margin:0px; padding:0px; display:inline-block; width:48%; margin:0 0 15px 0;}
.main-content .detail-graph .graph-label ul li:last-child{ margin:0;}
.main-content .detail-graph .graph-label ul li:nth-child(even) {background:#fff;}
.main-content .detail-graph .graph-label ul li a { margin:0px; padding:0px; display:inline-block; font-size:13px; color:#333B33; text-decoration:none;}
.main-content .detail-graph .graph-label ul li a img { margin:0 10px 0 0;}
.main-content .detail-graph ul { margin:0px; padding:0px;}
.main-content .detail-graph ul li { display:block; margin:0px; padding:0px;}
.main-content .detail-graph ul li:nth-child(even) {background:#f7fbfb;} 
.main-content .detail-graph ul li span { float:left; width:27%; text-align:right; font-size:16px; color:#4D534D; line-height:44px;font-family: 'proxima_nova_rgbold';}
.main-content .detail-graph ul li p { float:left; width:73%; text-align:left; padding:0 18px; box-sizing:border-box; font-size:16px; color:#4D534D; margin:0; line-height:44px;}

@media screen and (max-width:1280px) {
.main-content .right-main-content .content-detail .content-box { width:32%;}
.main-content .program-summary-detail .select-field { width:31%;}
}
