/* Reset -------------------------------------------------- */
html { margin:0;padding:0;border:0; }
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, dialog, figure, footer, header, hgroup, nav, section, input { margin: 0; padding: 0;border: 0;}
article, aside, dialog, figure, footer, header, hgroup, nav, section { display:block; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }
a img { border: none; }
:focus { outline: 0; }
.row { }

a { text-decoration:none; color:inherit; }
select::-ms-expand {
    display: none;
}
::-webkit-textarea {
   text-align:left;
}

:-moz-textarea { /* Firefox 18- */
    text-align:left;  
}

::-moz-textarea {  /* Firefox 19+ */
    text-align:left; 
}

:-ms-textarea {  
    text-align:left;  
}
.modal-open { padding-right:0 !important; }
textarea, input[type="text"]  {font-family: 'Open Sans', 'sans-serif';}
.fixlogo { position:fixed !important; top:25px !important; }
/* Global -------------------------------------------------- */
body {  color:#000; font-size:14px; line-height:21px; background-color:#fff; font-family: 'Open Sans', sans-serif; font-weight:400; }
h1, h2, h3, h4, h5, h6 { padding:0; margin:0; }
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
p { }
a:focus { outline:none; }
ul, ul li, ul ol, ul li ul, ul li ul li { list-style:none; padding:0; margin:0; }
.wrapper { }
.container { margin:0 auto; width:1005px; }
/* CSS Document */


/* header ------------------------------ */
#header { position:absolute; width:100%; z-index:999999; }
#header .container { width:1105px; }
#header .main-menu { margin:20px 0 0 0; }
#header .navbar-default { background-color:transparent; border:0; }
#header .navbar-default .navbar-nav>li>a { color:#fff; font-size:16px; }
#header .btn-primary { background-color:transparent; border:0; }
#header .btn-primary.focus, .btn-primary:focus { border-color:transparent; }
#header .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { outline:none; }
#header .btn-primary.focus, .btn-primary:focus { background-color:transparent; }
#header .modal-content { border-radius:0; }
#header .modal-dialog h3 { font-size:18px; line-height:22px; font-weight:700; color:#fff; text-align:right; }
#header .modal-dialog { top:245px; width:740px; }
#header .modal-header { border-bottom:0; }
#header .modal-title { text-align:center; font-weight:700; font-size:17px; color:#5D5D5D; }
#header .modal-body { text-align:center; padding:20px 75px 45px 75px; }
#header .modal-body label { display:inline-block; width:100%; text-align:center; font-size:16px; font-weight:700; color:#5D5D5D; line-height:20px; padding:0 0 12px 0; }
#header .modal-body input[type="text"]{ display:inline-block; width:100%; text-align:left; border:1px solid #858585; margin:0 0 25px 0; padding:6px; box-sizing:border-box; }
#header .modal-body a { display:inline-block; width:100%; text-align:center; text-decoration:none; color:#2997CE; font-size:14px; font-weight:400; margin:0 0 30px 0; }
#header .modal-body input[type="submit"] { display:inline-block; width:182px; text-align:center; color:#fff; font-size:20px; line-height:50px; font-weight:400; background:url(../images/banner-button-bg.png); border-radius:11px; }
#header .loginpopup-right { text-align:center; margin:65px 0 0 0; }
#header .loginpopup-facebook a { margin:0 0 45px 0; outline:none; text-decoration:none; }
#header .loginpopup-register { padding:0 0 0 38px; }
#header .loginpopup-register span { float:left; color:#5D5D5D; font-size:17px; line-height:20px; font-weight:400; }
#header .loginpopup-register a { float:left; width:auto; text-decoration:none; color:#2997CE; font-size:17px; line-height:20px; font-weight:400; padding:0 0 0 5px; }
#header .mainnav-innerpages .navbar-default .navbar-nav > li > a:hover { color:#57BBB4 !important; }
#header .modal-content2 { margin-left:-16px; }
#signin-popup .modal-dialog h3 { padding-right:17px; }



/* banner ------------------------------ */
#banner { background:url(../images/main-homebanner.jpg) top center no-repeat; background-size:cover; padding:193px 0 50px 0; }
#banner .banner-detail { width:600px; margin:0 auto; text-align:center; }
#banner .banner-logo { text-align:center; padding:0 0 33px 0; }
#banner .banner-form { margin:0 0 147px 0; }
#banner .banner-form input[type="text"] { float:left; background-color:#fff; width:342px; padding:17px; border-right:1px solid #808080; box-sizing:border-box; font-size:15px; line-height:20px;margin:10px 0 0 0; max-height:53px; }
#banner .banner-form input[type="text"]::-webkit-input-placeholder { color: #888888; }
#banner .banner-form input[type="text"]:-moz-placeholder { /* Firefox 18- */color: #888888; }
#banner .banner-form input[type="text"]::-moz-placeholder {  /* Firefox 19+ */color: #888888; }
#banner .banner-form input[type="text"]:-ms-input-placeholder { color: #888888; }
#banner .banner-form select { float:left; width:170px; font-size:14px; color:#888888; padding:16px 12px; line-height:17px; border:0; -webkit-appearance: none;-moz-appearance: none; appearance: none; background:url(../images/select-arrow.png) 154px center no-repeat #fff; margin:10px 0 0 0; border-radius:0px !important; max-height:53px; }
@media screen and (-webkit-min-device-pixel-ratio:0){
	#banner .banner-form select { padding:18.3px 12px; }
	#banner .banner-form input[type="text"] { padding:18px; }
}
#banner .banner-form input[type="text"]  { padding:16px 0 \0/; /* ie8, ie9, ie10 only */ }
#banner .banner-form input[type="submit"] { float:right; background:url(../images/searchicon.png) center center no-repeat; width:66px; height:66px; border:0; }
#banner .banner-button a { display:inline-block; width:246px; background:url(../images/banner-button-bg.png) left top repeat-x; border-radius:15px; text-align:center; text-decoration:none; color:#fff; font-size:18px; line-height:66px; transition:all 300ms 0s; }
#banner .banner-button a:hover { opacity:.9; }


/* content ------------------------------ */
#content {}
#content .home-tagline { padding:64px 0 55px 0; }
#content .home-tagline h1 { text-align:center; font-size:43px; line-height:52px; padding:0 0 15px 0; color:#808080; font-weight:700; }
#content .home-tagline p { text-align:center; color:#808080; font-size:22px; line-height:26px; }
#content .home-maingallery1 { background-color:#bcbcbc; padding:56px 0 26px 0; }
#content .home-maingallery1 h2 { font-size:26px; line-height:48px; font-weight:700; color:#2C3035; background:url(../images/heading-icon1.png) left center no-repeat; padding:0 0 0 60px; }
#content .home-maingallerydetail { margin:15px 0 0 0; }
#content .home-gallerybox { position:realtive; }
#content .homegallery-thumbnail { position:realtive; }
#content .homegallery-thumbnail img { width:100%; margin:0 0 10px 0; }
#content .home-gallerybox-detail a { text-decoration:none; }
#content .home-gallerybox-detail h3 { font-size:13px; line-height:14px; color:#2C3035; }
#content .gallerybox-detailinner { margin:5px 0 0 0; }
#content .gallerybox-detailinner h4 { float:left; font-size:13px; line-height:14px; color:#2C3035; font-style:italic; }
#content .gallerybox-detailinner span { float:right; font-size:13px; line-height:14px; color:#2C3035; font-style:italic; margin:0 20px 0 0; }
#content .homegallery-thumbnail2 { }
#content .home-maingallery2 { background-color:#2c3035; padding:55px 0 68px 0; }
#content .home-maingallery2 h2 { font-size:26px; line-height:48px; font-weight:700; color:#bcbcbc; background:url(../images/heading-icon2.png) left center no-repeat; padding:0 0 0 60px; }
#content .home-maingallery2 .home-gallerybox-detail h3, #content .home-maingallery2 .gallerybox-detailinner h4, #content .home-maingallery2 .gallerybox-detailinner span { color:#bcbcbc; }
#content .home-gallerybox .ribbon {}
.ribbon {
  position: absolute;
  right: 7px; 
  top: -6px;
  z-index: 1;
  overflow: hidden;
  width: 92px; 
  height: 89px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 27px;
  transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #b25250;
  background: linear-gradient(#cf8187 0%, #b45755 100%);
  position: absolute;
  top: 14px; 
  right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #ae8a8d;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #ae8a8d;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #ae8a8d;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #ae8a8d;
}

/* apuntu 4 ----------------------------- */
.header-innerpages { position:inherit !important; }
.header-innerpages .navbar { margin-bottom:0; }
.header-innerpages .navbar-brand { height:0; }
.header-innerpages .mainnav-innerpages .navbar-default .navbar-nav>li>a { padding-top:0; padding-bottom:0; line-height:20px; }
.header-innerpages .navbar { height:auto; min-height:5px; }
.header-innerpages .mainnav-innerpages .navbar-default .navbar-nav>li>a { color:#5D5D5D !important; }
.header-innerpages .logo {}
.header-innerpages .header-right {}
.header-innerpages .header-right P { float:left; color:#5D5D5D; font-size:14px; line-height:18px; padding:30px 0 0 0; }
.header-innerpages .header-right a { float:right; width:182px; color:#fff; font-size:13px; line-height:16px; line-height:49px; background:url(../images/banner-button-bg.png) left top repeat-x;
border-radius:10px; margin:10px 0 0 0; text-align:center; text-decoration:none; transition:all 300ms 0s; }
.header-innerpages .header-right a:hover { opacity:.7; }
.apuntu4-banner { margin:24px 0 0 0; }
#content .apuntu4-detail { margin:45px 0 48px 0; }
#content .apuntu4detail-left { }
#content .apuntu4detail-left h2 { color:#5d5d5d; font-size:18px; font-weight:600; line-height:22px; padding:15px 0 62px 0; }
#content .apuntu4left-collapse { border-bottom:1px solid #808080; padding:0 0 20px 0; margin:0 0 20px 0; }
#content .apuntu4left-collapse h3 { color:#47C1C8; font-size:15px; line-height:18px; padding:0 0 20px 0; }
#content .drawer-content ul {}
#content .drawer-content ul li { display:inline-block; width:100%; margin:0 0 15px 0; }
#content .drawer-content ul li a { display:inline-block; text-decoration:none; width:100%; color:#5D5D5D; font-size:13px; line-height:19px; transition:all 300ms 0s; }
#content .drawer-content ul li a span { display:inline-block; color:#9F9F9F; }
#content .drawer-content ul li a:hover { background-color:#d7f1f3; }
#content .drawer { border:0; }
#content .drawer-content { border:0; padding:0; background:transparent; }
#content .drawer-item { border:0; }
#content .drawer-header { display:inline-block; width:100%; background:transparent; border:0; min-height:0; height:auto; padding:0; }
#content .drawer-header h1 { color:#5D5D5D; font-size:13px; line-height:19px; }
#content .drawer-header h1 span { color:#9F9F9F; }
#content .apuntu4left-collapse:last-child { border:0; }
#content .apuntu4detail-crossbtn { color:#47C1C8; font-size:15px; line-height:22px; font-weight:600; padding:0 0 0 28px; background:url(../images/apuntu4-crossbtn.png) left top no-repeat; }
#content .apuntu4detail-right { display:inline-block; width:100%; }
#content .apuntu4detail-right .banner-form { display:inline-block; width:485px; margin:0 0 45px 0; }
#content .apuntu4detail-right .banner-form input[type="text"] { float:left; background-color:#fff; width:275px; padding:18px; border-right:1px solid #808080; box-sizing:border-box; font-size:15px; line-height:18px; margin:10px 0 0 0; border:1px solid #808080; }
#content .apuntu4detail-right .banner-form input[type="text"]::-webkit-input-placeholder { color: #888888; }
#content .apuntu4detail-right .banner-form input[type="text"]:-moz-placeholder { /* Firefox 18- */color: #888888; }
#content .apuntu4detail-right .banner-form input[type="text"]::-moz-placeholder {  /* Firefox 19+ */color: #888888; }
#content .apuntu4detail-right .banner-form input[type="text"]:-ms-input-placeholder { color: #888888; }
#content .apuntu4detail-right .banner-form select { float:left; width:138px; font-size:13px; color:#888888; padding:18px; line-height:17px; border:0; -webkit-appearance: none;
-moz-appearance: none; appearance: none; background:url(../images/select-arrow.png) 85% center no-repeat #fff; margin:10px 0 0 0; border:1px solid #808080; border-left:0; }
@media screen and (-webkit-min-device-pixel-ratio:0){
	#content .apuntu4detail-right .banner-form select { padding:18.3px 12px; }
}
#content .apuntu4detail-right .banner-form input[type="submit"] { float:right; background:url(../images/searchicon.png) center center no-repeat; width:66px; height:66px; border:0; margin:0 0 0 5px; }
#content .apuntu4detail-right .banner-button a { display:inline-block; width:246px; background:url(../images/banner-button-bg.png) left top repeat-x; border-radius:15px; text-align:center; text-decoration:none; color:#fff; font-size:18px; line-height:66px; }
#content .apuntu4detail-gallery { }
#content .apuntu4detail-gallery .row { margin-bottom:25px; }


/* apuntu6 ------------------------------------------ */
.apuntu6-outer p { font-size:13px; font-weight:600; line-height:18px; color:#5D5sD5D; text-align:center; padding:0 0 40px 0; }
.apuntu6detail-outer {}
.apuntu6detail-outer .container { width:645px; margin:0 auto; }
.apuntu6detail-outer .apuntu6-accordionouter { border-top:1px solid #808080; padding:20px 0 18px 0; }
.apuntu6detail-outer .apuntu6-accordionouter h3 { color:#47C1C8; font-size:15px; font-weight:600; line-height:18px; padding:0 0 25px 0; }
.apuntu6detail-outer .apuntu6-mainaccordion {}
#content .apuntu6detail-outer .drawer-header h1 { color:#5D5D5D; font-size:13px; line-height:24px; font-weight:400; padding:0 0 20px 0; }
#content .apuntu6detail-outer .drawer-header h1 span { color:#9F9F9F; }
#content .apuntu6-deactive h3, #content .apuntu6-deactive h1 { color:#9F9F9F; }

/* apuntu 7 ---------------------- */
.apuntu7-banner { margin:68px 0 50px 0; }
.apuntu7-banner h2 { text-align:right; color:#5D5D5D; font-size:18px; line-height:21px; font-weight:700; }
.apuntu7-banner h2 a { text-decoration:none; }
.apuntu7-banner .apuntu7-bannerdetail { padding:70px 55px 12px 55px; border:1px solid #7f7f7f; }
.apuntu7-banner .apuntu7-bannerleft { margin:0 0 120px 0; }
.apuntu7-banner .carousel-control.left { background-image:none; left:80px; }
.apuntu7-banner .carousel-control.right { background-image:none; right:80px; }
.apuntu7-banner .carousel-control { top:390px; opacity:1; }
.apuntu7-banner .apuntu7-bannerright {}
.apuntu7-banner .apuntu7-bannerright h2 { text-align:left; color:#4D4D4D; font-size:23px; font-weight:700; line-height:28px; }
.apuntu7-banner .apuntu7-bannerrighttop {}
.apuntu7-banner .apuntu7-bannertopleft { float:left; }
.apuntu7-banner .apuntu7-bannertopleft h3 { color:#808080; font-size:23px; font-weight:700; line-height:28px; }
.apuntu7-banner .apuntu7-bannertopleft p { color:#808080; font-size:18px; line-height:24px; padding:0 0 25px 0; }
.apuntu7-banner .apuntu7-bannertopright { float:right; }
.apuntu7-banner .apuntu7-bannertopright span { display:inline-block; width:100%; text-align:right; font-size:46px; line-height:72px; color:#333; font-weight:700; }
.apuntu7-banner .apuntu7-bannertopright span b { font-size:55px; }
.apuntu7-banner .apuntu7-banneraddress { margin:0 0 40px 0; }
.apuntu7-banner .address-title p { background:url(../images/address-icon.png) left top no-repeat; padding:0 0 15px 23px; color:#009589; font-size:16px; font-weight:300; line-height:19px; }
.apuntu7-banner .address-title p span { color:#808080; }
.apuntu7-banner .address-detail {}
.apuntu7-banner .address-detail p { color:#5D5D5D; font-size:12px; line-height:16px; }
.apuntu7-banner .apuntu7-bannerbottom {}
.apuntu7-banner .apuntu7-btmleft { float:left; }
.apuntu7-banner .apuntu7-bannerbtn { float:right; margin:40px 0 0 0; }
.apuntu7-banner .apuntu7-bannerbtn a { display:inline-block; width:208px; line-height:19px; text-align:center; text-decoration:none; color:#FFFFFF; font-size:16px; background:url(../images/banner-button-bg.png) left top repeat-x; border-radius:11px; background-size:contain; padding:11px 0; transition:all 300ms 0s; }
.apuntu7-banner .apuntu7-bannerbtn a:hover { opacity:.8; }
.apuntu7-banner .apuntu7-bannerbottom > p { color:#5D5D5D; font-size:12px; line-height:16px; padding:20px 0 0 0; text-align:right; }
.apuntu7detail-right { }
.apuntu7detail-right h2 { color:#5D5D5D; font-size:18px; line-height:21px; font-weight:600; padding:0 0 42px 10px; }


/* apuntu8 ----------------------------- */
.apuntu8-modalpopup {}
.apuntu8-modalpopup .modal-header { border:0; }
.apuntu8-modalpopup .modal-title { text-align:left; color:#5D5D5D; font-size:17px; font-weight:700; line-height:19px; padding:60px 0 22px 50px; } 
.apuntu8-modalpopup .modal-body { text-align:center; }
.apuntu8-modalpopup .modal-body input[type="text"] { display:inline-block; width:470px; height:42px; padding:6px; box-sizing:border-box; font-size:13px; margin:0 0 20px 0; border:1px solid #858585; }
.apuntu8-modalpopup .modal-body label { display:inline-block; width:100%; text-align:center; color:#5D5D5D; font-size:16px; line-height:19px; padding:0 0 62px 0; }
.apuntu8-modalpopup .modal-body input[type="submit"] { display:inline-block; background:url(../images/banner-button-bg.png) left top repeat-x; width:182px; height:49px; text-align:center; color:#fff;font-size:20px; text-transform:uppercase; border-radius:11px; margin:0 0 50px 0; transition:all 300ms 0s; }
.apuntu8-modalpopup .modal-body input[type="submit"]:hover { opacity:.8; }
.apuntu7detail-gallery .row { margin:0 0 27px 0; } 


/* apuntu9 ------------------------------ */
.apuntu7-bannerleft h2 { text-align:center; color:#57BBB4; font-size:23px; line-height:28px; font-weight:700; }
.apuntu7-btmleft h3 { font-weight:600; color:#5D5D5D; font-size:15px; line-height:18px; }
.apuntu7-btmleft p { color:#5d5d5d; font-size:18px; line-height:26px; text-align:left; }


/* apuntu11 ----------------------------- */
.apuntu11-banner { margin:62px 0 0 0; }
.apuntu11-banner .apuntu11-bannerdetail {}
.apuntu11-banner .apuntu11-bannerleft {}
.apuntu11-banner .apuntu11-bannerleft h2 { color:#5D5D5D; font-size:18px; line-height:22px; font-weight:600; padding:0 0 28px 0; }
.apuntu11-banner .apuntu11-bannerleft h2 a { text-decoration:none; }
.apuntu11-banner .apuntu11-bannerright { margin:45px 0 0 0; }
.apuntu11-banner .apuntu11-bannerright p { color:#4D4D4D; font-size:22px; line-height:31px; }
.apuntu11-banner .apuntu11-bannerright p > a { display:inline-block; text-decoration:none; color:#4d4d4d; }
.apuntu11-banner .editor-btn { display:inline-block; color:#47C1C8; font-size:21px; line-height:26px; font-weight:600; background:url(../images/editor-icon.png) left top no-repeat; padding:0 0 0 32px; margin:27px 0 0 0; }
.apuntu11-banner .publication-btn { text-align:center; margin:47px 0 0 0; }
.apuntu11-banner .publication-btn a { display:inline-block; width:318px; height:86px; border-radius:11px; background:url(../images/publication-btn.png) left top repeat-x; background-size:cover; text-align:center; color:#fff; text-decoration:none; font-size:25px; line-height:29px; padding:17px 0 0 0; transition:all 300ms 0s; }
.apuntu11-banner .publication-btn a:hover { opacity:.8; }
#content .gallerybox-detailinner .editor-cont { float:left; }
#content .gallerybox-detailinner .editor-cont a { display:inline-block; width:auto; color:#808080; font-size:12px; line-height:14px; background:url(../images/editor-icon2.png) left top no-repeat;
padding:0 0 0 20px; }
#content .gallerybox-detailinner .eliminar-cont { float:right; }
#content .gallerybox-detailinner .eliminar-cont a { display:inline-block; width:auto; color:#808080; font-size:12px; line-height:14px; background:url(../images/cross-btn.png) left top no-repeat;
padding:0 0 0 20px; }


/* apuntu12 ------------------------------- */
.guardar-btn { background:url(../images/guardar-icon.png) left top no-repeat !important	; }


/* apuntu13 ------------------------------- */
.apuntu11-banner .apuntu13-bannerleft h3 { color:#47C1C8; font-size:18px; line-height:22px; font-weight:600; padding:0 0 25px 0; }
.apuntu11-banner .apuntu13-bannerleft h3 a { text-decoration:none; }
.apuntu13top-gallery { margin:0 0 58px 0; }
.apuntu13top-gallery .apuntu13gallery-thumbnail { margin:0 0 13px 0; text-align:center }
.apuntu13top-gallery .apuntu13gallery-thumbnail p { text-align:center; color:#47C1C8; font-size:15px; line-height:19px; font-weight:400px; padding:20px 0 0 0; }
.apuntu13top-gallery .apuntu13gallery-detail { text-align:center; }
.apuntu13top-gallery .apuntu13gallery-detail a { display:inline-block; text-decoration:none; text-align:center; color:#808080; font-size:18px; line-height:22px; font-weight:600; background:url(../images/apuntu13-arrow.png) left top no-repeat; padding:0 0 0 27px; }
#content .apuntu13-detailouter {}
#content .apuntu13-form { margin:0 0 20px 0; }
#content .apuntu13-form label { color:#4D4D4D; font-size:19px; line-height:25px; font-weight:300; }
#content .apuntu13-form input[type="text"] { float:left; width:95%; box-sizing:border-box; padding:6px 12px; height:auto; color:#4d4d4d; font-size:17px; line-height:23px; border:1px solid #8f8f8f; font-weight:400; }
#content .apuntu13-form span { float:right; }
#content .form-text { font-size:19px; line-height:41px; color:#4d4d4d; }
#content .apuntu13-formradiobutton { display:inline-block; margin:0 18px 0 0; }
#content .apuntu13-form textarea { display:inline-block; width:95%; box-sizing:border-box; height:150px; color:#4d4d4d; font-size:17px; line-height:29px; border:1px solid #8f8f8f; font-weight:400; resize:none; padding:10px 15px 28px 15px; }
#content .textarea2 textarea { width:100%; }
#content .apuntu13-formradiobutton input[type=radio].css-checkbox { position: absolute; z-index: -1000; left: -1000px; overflow: hidden; clip: rect(0 0 0 0);height: 1px; width: 1px;margin: -1px;padding: 0; border: 0; }
#content .apuntu13-formradiobutton input[type=radio].css-checkbox + label.css-label { padding-left: 33px; height: 23px; display: inline-block; line-height: 23px; background-repeat: no-repeat;background-position: 0 0; font-size: 18px; vertical-align: middle; cursor: pointer; }
#content .apuntu13-formradiobutton input[type=radio].css-checkbox:checked + label.css-label { background-position: 0 -23px; }
#content .apuntu13-formradiobutton label.css-label { background-image: url(../images/apuntu13-radiobtn.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none;
-moz-user-select: none;	-ms-user-select: none; user-select: none;}
.form-innersection > div { padding:0; }
#content .apuntu13-form input[type="submit"]{ float:right; width:182px; background:url(../images/submit-btnbg.png) left top repeat-x; border-radius:10px; border:0; text-align:center; color:#fff; font-size:19px; line-height:49px; }
#content .apuntu13-submit { margin:47px 0 68px 0; }
#content .apuntu13-submit label { line-height:49px; color:#808080; font-weight:400; }


/* apuntu14 ---------------------------- */
.apuntu14-thumbnail1 {  }
.apuntu14gallery-thumbnail1 a { background:url(../images/apuntu14-cross.png) left top no-repeat !important; }
.apuntu14-formdeactive label { color:#B8B8B8 !important; }
.last-listchild:after { content:"" !important; }


/* apuntu15 ----------------------------- */
.apuntu15-outer { border:5px solid #d91c24; padding:36px 0 0 0; }
.apuntu15-outer h1 { text-align:center; font-size:26px; line-height:31px; font-weight:600; padding:0 0 30px 0; }
.apuntu15-outer .apuntu15-detailouter { border-bottom:3px solid #b8b8b8; margin:0 0 50px 0; display:inline-block; width:100%; }
.apuntu15-outer .apuntu15-detail { margin:0 0 34px 0; }
.apuntu15-outer .apuntu15-pagination { padding:0 0 40px 0; }
.apuntu15-outer .apuntu15-pagination li { float:left; font-size:16px; line-height:27px; font-weight:600; }
.apuntu15-outer .apuntu15-pagination li:after { content:"/"; color:#47C1C8; padding:0 10px; }
.apuntu15-outer .apuntu15-pagination li:first-child:after { content:""; }
.apuntu15-outer .apuntu15-pagination li:last-child::after { content:""; }
.apuntu15-outer .apuntu15-pagination li h3 { display:inline-block; color:#333; padding:0 10px 0 0; }
.apuntu15-outer .apuntu15-pagination li a { display:inline-block; text-decoration:none; color:#47c1c8; font-size:16px; font-weight:600; line-height:20px; } 
.apuntu15-outer .apuntu15-detailform label { color:#4D4D4D; font-size:19px; line-height:41px; font-weight:400; }
.apuntu15-outer .apuntu15form-left form { float:left; width:98%; border:1px solid #808080; margin:0 0 26px 0; }
.apuntu15-outer .apuntu15form-left form input[type="text"]{ display:inline-block; width:100%; font-size:17px; color:#808080; line-height:34px; transition:all 300ms 0s; padding:0 35px; }
.apuntu15-outer .apuntu15form-left form input[type="text"]:hover { background-color:#d7f1f3; }
.apuntu15-outer .apuntu15form-left span { float:right; font-size:19px; line-height:41px; }
.apuntu15-outer .apuntu15form-left2 form { border:0; }


/* apuntu16 ---------------------------- */
.apuntu16-detaileft { padding:43px 0 0 0; }
.apuntu16-detaileft h2 { color:#5D5D5D; font-size:41px; font-weight:700; line-height:49px; padding:0 0 40px 0; }
.apuntu16-detaileft span { display:inline-block; width:100%; color:#4D4D4D; font-size:18px; line-height:26px; padding:0 0 34px 0; }
.apuntu16-detaileft ol { font-family: 'Open Sans', sans-serif; }
.apuntu16-detaileft ol li { display:list-item; color:#808080; font-size:16px; line-height:22px; font-weight:300; padding:0 0 28px 0; list-style:decimal; list-style-position:inside; }
.apuntu16-detaileft p { color:#4D4D4D; font-size:18px; line-height:29px; font-weight:700; }
.apuntu16-detalright { margin:250px 0 0 0; }


/* apuntu17 ---------------------------- */
.apuntu17-detaileft span { color:#47C1C8; }
.apuntu16-detaileft ul li { display:inline-block; color:#808080; font-size:16px; line-height:22px; font-weight:300; padding:0 0 28px 0; list-style:none; }


/* faq-detail -------------------------- */
.faq-detail {}
.faq-detail .faq-question { color:#47C1C8; font-size:18px; line-height:25px; font-weight:600; padding:0 0 17px 0; }
.faq-detail .faq-answer { color:#808080; font-size:16px; line-height:22px; font-weight:300; padding:0 0 28px 0; } 


/* apuntu18 ------------------------------ */
.contact-popup {  }
#header .contact-popup .modal-title { color:#5d5d5d; font-size:41px; line-height:49px; font-weight:700; text-align:left; padding:50px 0 35px 55px; }
#header .contact-popup .modal-body p { color:#5d5d5d; font-size:18px; line-height:26px; font-weight:600; padding:0 0 25px 0; text-align:left; }
#header .contact-popup .modal-body a { display:inline-block; text-decoration:none; color:#47C1C8; font-size:30px; line-height:44px; font-weight:600; text-align:left; }


/* footer ----------------------------- */
#footer { background-color:#2c3035; padding:0 0 12px 0; }
#footer .footerlist { margin:10px 0 0 0; }
#footer .footerlist ul {}
#footer .footerlist ul li { display:inline-block; color:#9F9F9F; font-size:15px; font-weight:300; padding:0 0 0 27px; }
#footer .footerlist ul li:first-child { padding:0; }
#footer .footerlist ul li a { display:inline-block; text-decoration:none; color:#9F9F9F; font-size:15px; font-weight:300; }
#footer .footer-socialicons {}
#footer .footer-socialicons ul li { display:inline-block; padding:0 0 0 14px; }
#footer .footer-socialicons ul li a {  transition:all 300ms 0s; }
#footer .footer-socialicons ul li:first-child { padding:0; }
#footer .footer-socialicons ul li:hover a { opacity:.5; }
.footer-innerpages { background-color:transparent !important; }


/* responsive css ----------------------- */
@media screen and (max-width: 1105px) { 
	#header .container, .container {
		width:970px
	}
	#header .navbar-default .navbar-nav > li > a {
		font-size:14px;
	}
	.header-innerpages .header-right P {
		width:100%;
		text-align:right;
		padding:15px 0 5px 0;
	}
	.apuntu13top-gallery .apuntu13gallery-thumbnail img {
		width:100%;
	}
}

@media screen and (max-width: 995px) { 
	#header .container, .container {
		width:750px
	}
	#content .gallerybox-detailinner h4 {
		font-size:11px;
	}
	#footer .footerlist ul li a {
		font-size:14px;
	}
	.apuntu7-banner .carousel-control {
		top:290px;
	}
	.apuntu7-banner .carousel-control.left {
		left:110px;
	}
	.apuntu7-banner .carousel-control.right {
		right:110px;
	}
	.apuntu7-bannerleft h2 {
		font-size:18px;
	}
	.apuntu7-banner .apuntu7-btmleft {
		width:100%;
	}
	.apuntu7-banner .apuntu7-bannerbtn {
		float:left;
		width:100%;
	}
	.apuntu7-banner .apuntu7-bannerbottom > p {
		text-align:left;
	}
	.apuntu11-banner .apuntu11-bannerright p {
		font-size:16px;
	}
	.apuntu11-banner .publication-btn a {
		font-size:18px;
		line-height:22px;
		width:100%;
		height:75px;
	}
	
}

@media screen and (max-width:767px) {
	#header .container, .container {
		width:auto;
	}
	#content .home-maingallery2 {
		padding-bottom:30px;
	}
	#footer .footer-socialions {
		padding:20px 0;
	}
	#content .home-gallerybox {
		margin-bottom:30px;
		text-align:center;
	}
	#content .home-gallerybox-detail h3 {
		text-align:left;
	}
	#header .nav.navbar-nav.navbar-right {
		background-color:#47c1c8 !important;
	}
	#header .nav > li a:hover {
		background-color:#33a5ac !important;
	}
	#header .navbar-toggle {
		background-color:#47c1c8;
		border:1px solid #33a5ac;
	}
	#header .navbar-default .navbar-toggle .icon-bar {
		background-color:#8cdce1;
	}
	#footer .footer-socialicons {
		margin:25px 0;
	}
	#header .modal-dialog {
		width:auto;
		margin:0 20px;
	}
	#header .loginpopup-right {
		margin:20px 0 0 0;
	}
	#header  .loginpopup-register {
		display:inline-block;
	}
	#header .loginpopup-facebook a {
		margin:0 0 20px 0;
	}
	#header .navbar-default .navbar-nav > li > a.btn-primary {
		text-align:left;
	}
	#header .modal-dialog {
		top:100px;
	}
	.header-innerpages .navbar-toggle {
		margin:20px 0 0 0;
	}
	.header-innerpages .navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-top:30px;
	}
	.header-innerpages .mainnav-innerpages .navbar-default .navbar-nav > li > a {
		color:#fff !important;
		padding:10px 20px;		
	}
	#content .apuntu4detail-left {
		margin:0 0 30px 0;
	}
	.apuntu7-banner .carousel-control {
		top:105%;
	}
	.apuntu7-banner .carousel-control.left {
		left:35%;
	}
	.apuntu7-banner .carousel-control.right {
		right:35%;
	}
	.apuntu7-bannerleft h2 {
		font-size:23px;
	}
	.apuntu11-banner .publication-btn a {
		font-size:22px;
	}
	.carousel-inner > .item > a > img, .carousel-inner > .item > img {
		width:100%;
	}
	.apuntu13top-gallery .apuntu13gallery-thumbnail {
		text-align:center;
	}
	.apuntu13top-gallery .apuntu13gallery-thumbnail img {
		width:auto;
	}
	#content .apuntu13-form label {
		font-size:16px;
	}
	.apuntu13-inputfield {
		margin:10px 0 0 0;
	}
	.apuntu15-outer h1 {
		font-size:20px;
		line-height:25px;
	}
	.apuntu16-detalright { 
		margin:30px 0 0 0; 
	}
	.apuntu6detail-outer .container {
		width:auto;
		margin:0 15px;
	}
	
}

@media screen and (max-width:640px) {
	#banner .banner-detail {
		width:auto;
	}
	#banner .banner-form input[type="text"] {
		width:45%;
		font-size:12px;
	}
	#banner .banner-form select {
		width:35%;
		font-size:12px;
		padding:17px 10px;
		background-position:90% center;
	}
	#content .home-tagline h1 {
		font-size:25px;
		line-height:35px;
	}
	#footer .footerlist ul li a {
		font-size:13px;
	}
	.sub-header {
		position:relative;
	}
	.sub-header > div {
		width:100%;
	}
	.header-innerpages .logo {
		position:absolute;
		top:-50px;
	}
	.header-innerpages .header-right {
		margin:30px 0 0 0;
	}
	.apuntu8-modalpopup .modal-title {
		padding-left:0;
	}
	.apuntu11-banner .publication-btn a {
		width:100%;
		font-size:20px;
	}
	.apuntu11-bannerdetail .row > div {
		width:100%;
		text-align:center;
	}
	.apuntu13-form > div {
		width:100%;
	}
	#content .apuntu13-form label {
		padding:0 0 8px 0;
	}
	.apuntu13top-gallery .apuntu13gallery-thumbnail img {
		width:60%;
	}
	.apuntu15-outer .apuntu15form-left form {
		width:94%;
	}
	@media screen and (-webkit-min-device-pixel-ratio:0){
		#banner .banner-form select { padding:16px 12px; }
	}
	#banner .banner-form select { padding:16px 12px; }
	
}


@media screen and (max-width:520px) {
	#content .apuntu4detail-right .banner-form {
		display:none;
	}
	.apuntu7detail-gallery .row > div {
		width:100%;
	}
	.apuntu8-modalpopup .modal-body input[type="text"] {
		width:100%;
	}
	.home-maingallerydetail > div {
		width:100%;
	}
	#content .homegallery-thumbnail img {
		width:100%;
	}
	#content .gallerybox-detailinner, #content .home-gallerybox-detail h3 {
		width:100%;
	}
	.apuntu11-banner .publication-btn a {
		font-size:17px;
	}
	.apuntu15-outer .apuntu15-pagination li:first-child {
		width:100%;
	}
	.apuntu15-outer .apuntu15-pagination li h3 {
		padding-bottom:10px;
	}
	.apuntu15-outer h1 {
		font-size:18px;
	}

}


@media screen and (max-width:480px) {
	#banner .banner-logo img {
		width:80%;
	}
	#content .homegallery-thumbnail img {
		width:100%;
	}
	#content .gallerybox-detailinner {
		width:100%;
	}
	#content .home-gallerybox-detail h3 {
		width:100%;
	}
	#footer .footerlist ul li {
		padding:0;
		width:100%;
	}
	#header .loginpopup-facebook a img {
		width:100%;
	}
	#header .loginpopup-register {
		padding:0;
	}
	#header .loginpopup-register span, #header .login-popup .loginpopup-register a {
		display:inline-block;
		width:100%;
		text-align:center;
		margin:10px 0 0 0;
	}
	#header .modal-body {
		padding:15px;
	}
	#header .loginpopup-register a {
		width:100%;
	}
	.apuntu7-banner .carousel-control.left {
		left:25%;
	}
	.apuntu7-banner .carousel-control.right {
		right:25%;
	}
	.apuntu7-banner .apuntu7-bannerdetail {
		padding:20px;
	}
	.apuntu7-banner .apuntu7-bannertopright {
		width:100%;
	}
	.apuntu7-banner .apuntu7-bannertopright span {
		text-align:left;
	}
	.apuntu7-banner .apuntu7-bannerbtn {
		width:100%;
	}
	.apuntu11-banner .apuntu11-bannerright .row > div {
		width:100%;
	}
	.apuntu11-banner .publication-btn a {
		width:318px;
		font-size:22px;
	}
	.apuntu16-detaileft h2 {
		font-size:30px;
		line-height:38px;
	}
	#banner .banner-form input[type="text"] {
		width:50%;
		float:left;
		margin:0;
		line-height:17px;
	}
	#banner .banner-form select {
		float:left;
		width:50%;
		margin:0;
		padding:16px 4px;
	}
	#banner .banner-form input[type="submit"] {
		background-size:contain;
		width:55px;
		height:55px;
		margin:10px 0 0 0;
		float:none;
	}
	#banner {
		padding-top:100px;
	}
	#banner .banner-form {
		margin:0 0 35px 0;
	}
	@media screen and (-webkit-min-device-pixel-ratio:0){
		#banner .banner-form select { padding:17px 12px; }
	}
	.apuntu6-outer p {
		padding:0 8px;
	}

}


@media screen and (max-width:380px) {
	#content .home-tagline h1 {
		font-size:22px;
		line-height:28px;
	}
	.apuntu11-banner .publication-btn a {
		width:100%;
	}
	#banner .banner-form select, #banner .banner-form input[type="text"] {
		font-size:11px;
		padding:16px;
	}
	@media screen and (-webkit-min-device-pixel-ratio:0){
		#banner .banner-form select { padding:15px 12px; }
	}
}

/*how its works*/
.howitswork { background: #79cccd;padding: 90px 0; transition:all ease 0.5s; opacity: 0;}
.howitswork .close-pannel { position: absolute;right: 25px; top: 35px; display: none;}
.howitswork .howitswork-detail {text-align: center;position: relative;}
.howitswork .howitswork-detail .howitswork-img { min-height: 158px; }
.howitswork .howitswork-detail .howitswork-img img { margin: 0 auto; position: absolute;right: 0; left: 0; top: 0; bottom: 0; max-height:158px; }
.howitswork .howitswork-detail .howitswork-descrtiption { text-align: center;}
.howitswork .howitswork-detail .howitswork-descrtiption span { font-size: 24px; margin: 25px 0 15px 0; color: #fff; line-height: 20px; display: block;} 
.howitswork .howitswork-detail .howitswork-descrtiption p { font-size: 14px;  color: #fff; line-height: 20px;}
.howitswork .howitswork-detail-bottom  p { font-size: 14px;  color: #fff; line-height: 20px;margin-top: 40px; text-align: center;}
.howitswork .howitswork-detail-bottom  p a { text-decoration: none; font-size: 14px;  color: #fff; line-height: 20px; }

 