/* ------------------------------ Fonts_Start --------------------- */

/*-- Segoe UI Font --*/
@font-face {
    font-family: 'Segoe UI';
    src: url(../fonts/SegoeUI.eot);
    src: url(../fonts/SegoeUI.eot?#iefix) format('embedded-opentype'),
        url(../fonts/SegoeUI.woff2) format('woff2'),
        url(../fonts/SegoeUI.woff) format('woff'),
        url(../fonts/SegoeUI.ttf) format('truetype'),
        url(../fonts/SegoeUI.svg#SegoeUI) format('svg');
    font-weight: normal;
    font-style: normal;
}

/*-- Avenir  Font --*/
@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/Avenir-Medium.eot');
    src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Medium.woff2') format('woff2'),
        url('../fonts/Avenir-Medium.woff') format('woff'),
        url('../fonts/Avenir-Medium.ttf') format('truetype'),
        url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}


/*-- Bodoni  Font --*/

@font-face {
    font-family: 'Bodoni Seventytwo ITC';
    src: url('../fonts/BodoniSevITC-Book.woff2') format('woff2'),
        url('../fonts/BodoniSevITC-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bodoni';
    src: url('../fonts/Bodoni-Bold.woff2') format('woff2'),
        url('../fonts/Bodoni-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
        url('../fonts/FuturaPT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


/*-- Futura  Font --*/
@font-face {
    font-family: 'Futura PT Bold';
    src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
        url('../fonts/FuturaPT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
        url('../fonts/FuturaPT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
/* ------------------------------ Fonts_End--------------------- */




/* Global -------------------------------------------------- */
* {
    transition: 0.5s all ease;
    box-sizing: border-box; 
}
html {
    scroll-behavior: smooth;
}
body { 
    color: #000; 
    font-size: 14px; 
    line-height: 21px; 
    padding: 0; 
    margin: 0; 
    font-family: 'Open Sans', sans-serif;
}
a:hover { 
    text-decoration: none !important; 
}
ul,ul li,ul ol,
ul li ul,
ul li ul li { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}
.clear {
    clear:both;
}


.btn {
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    max-width: 154px;
    line-height: 46px;
    font-family: 'Futura PT Bold';
    text-transform: capitalize;
    padding: 0;
    display: inline-block;
    border-radius: 0;
    border: 2px solid transparent;
}
.btn-danger {
    background: #E3001B;
    border-radius: 0;
    border-color: #E3001B;
    color: #fff;
}
.btn-danger:hover {
    background: transparent;
    color: #E3001B;
}
.btn-outline-danger {
    border: 2px solid #dc3545;
}
.btn-outline-light {
    border: 2px solid #fff;
}
.btn:focus {
    box-shadow: none;
    outline: none;
}

.container{ max-width: 1290px; margin:0 auto; padding:0 15px; }
/*----------------------------Fonts------------------------------*/




/*--- Header CSS Start ---*/
.header {
    background: #fff;
    padding: 35px 0 15px;
    position: relative;
    height: 93px;
    z-index: 100;
    transition: 0.5s all ease;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
}
.header.header-fixed {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 120px;
    transition: 0.5s all ease;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
}
.header:before,
.header:after {
    content: '';
    width: 38%;
    height: 2px;
    background-color: #EB2227;
    display: inline-block;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: 0.5s all ease;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
}
.header:after {
    left: auto;
    right: 0;
}
.header > .container-fluid {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
}
.menu-btn {
    width: 60px;
    height: 36px;
    position: absolute;
    left: 50px;
    top: 35px;
    z-index: 120;
    cursor: pointer;
}
.menu-btn span {
    width: 60px;
    height: 4px;
    background: #000000;
    display: block;
    margin-bottom: 12px;
    border-radius: 3px;
    transition: 0.5s all ease;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
}
.menu-btn span:last-child {
    margin-bottom: 0;
}
.menu-btn.show span {
    background: #ffffff;
}
.menu-btn.show span:nth-child(1) {
    -webkit-transform: rotate(-35deg) translate(-13px, 10px);
    transform: rotate(-35deg) translate(-13px, 10px);
    transition: 0.5s all ease;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
    width: 48px;
}
.menu-btn.show span:nth-child(2) {
    opacity: 0;
    transition: 0.5s all ease;
}
.menu-btn.show span:nth-child(3) {
    -webkit-transform: rotate(35deg) translate(-13px, -10px);
    transform: rotate(35deg) translate(-13px, -10px);
    transition: 0.5s all ease;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
    width: 48px;
}


.nav-wrap {
    background-color: #000000;
    max-width: 450px;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    padding: 35px 0 0 50px;
    left: -500px;
    transition: 0.5s all ease;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
    z-index: 110;
}
body.show .nav-wrap {
    left: 0;
}
.header nav {
    padding-top: 90px;
}
.header nav a {
    font-size: 46px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    line-height: 0.7;
    margin-bottom: 35px;
    display: block;
    width: 100%;
    position: relative;
    transition: 0.5s all ease;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
}
.header nav a:after {
    content: '';
    width: 0;
    height: 1px;
    background-color: #EB2227;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: 0.5s all ease;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
}
.header nav a:hover:after {
    width: 347px;
}



.logo {
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
}
.logo a {
    font-size: 20px;
    font-weight: 400;
    color: #707070;
    font-family: 'Segoe UI';
    position: relative;
}
.header.header-fixed {
    transition: 0.5s all ease;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
}
.header.header-fixed .logo {
    top: 20px;
    left: auto;
    right: 0;
    transform: none;
}
.header.header-fixed .logo img {
    width: 65%;
}
.header.header-fixed .menu-btn {
    top: 42px;
}
.header.header-fixed .logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header.header-fixed:before, 
.header.header-fixed:after {
    width: 50%;
}

/*--- Header CSS End ---*/


/*--- Banner CSS Start ---*/

.banner,
.convers-sec,
.talks-sec,
.speaker-row,
.video-banner,
.contact-wrap {
    overflow: hidden;
}

.banner {
    background: url(../images/home-banner-bg.png) center center no-repeat;
    background-size: cover;
    padding: 150px 0 40px;
    border-bottom: 2px solid #EB2227;
}
.banner-content {
    width: 514px;
    height: 514px;
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 50%;
    margin: 0 auto;
    padding: 120px 0 80px;
}
.banner span {
    font-size: 28px;
    font-weight: 500;
    color: #000000;
    display: block;
    margin-bottom: 35px;
    font-family: 'Avenir-Medium';
    line-height: 1.2;
}
.banner h1 {
    font-size: 80px;
    font-weight: 700;
    color: #E3001B;
    line-height: 1.2;
    margin-bottom: 100px;
}
.banner-wrap .carousel-control-next, 
.banner-wrap  .carousel-control-prev {
    width: 80px;
    height: 80px;
    background: #E3001B;
    position: absolute;
    top: auto;
    left: 0;
    bottom: 105px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-wrap .carousel-control-next {
    left: auto;
    right: 0;
}
.carousel-indicators {
    display: none;
    bottom: -50px;
}
.carousel-indicators li {
    width: 14px;
    height: 14px;
    border: 1px solid #E3001B;
    margin-right: 10px;
    border-radius: 50%;
}
.carousel-indicators li.active {
    background: #E3001B;
}

/* Home 2 CSS  */
.home-two {
    background: url(../images/banner-bg2.png) center top no-repeat;
    background-size: cover;
    padding: 380px 130px 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}   
.home-two .banner-content {
    max-width: 560px;
    border-radius: 0;
    margin: 0;
    height: auto;
    padding: 30px 25px 30px 40px;
}
.home-two .banner-content h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    font-family: 'Avenir-Medium';
    margin-bottom: 30px;
}
.home-two .banner-content h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 0.7;
    margin-bottom: 20px;
}
.home-two .banner-content p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    font-family: 'Avenir-Medium';
    margin-bottom: 50px;
}


/* Home 3 Banner CSS */
.video-banner {
    background-color: #fff;
    padding: 100px 0 0 0;
    border-bottom: 2px solid #EB2227;
}
.video-img img {
    width: 100%;
}
.video-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    position: relative;
    margin-bottom: -20px;
}
.video-banner h2 {
    font-size: 60px;
    line-height: 0.73;
    color: #000;
}
.video-title {
    background: #000000;
    padding: 10px 0;
    width: 430px;
    text-align: center;
    position: relative;
}
.video-content:before {
    content: '';
    width: 70.5%;
    height: 2px;
    background-color: #EB2227;
    display: inline-block;
    position: absolute;
    right: 430px;
    top: 68px;
}
.video-content h5 {
    font-size: 14px;
    font-weight: 700;
    color: #E3001B;
    line-height: 1.3;
    font-family: 'Futura PT Bold';
    margin-bottom: 0;
}
.video-content span {
    color: #fff;
    font-weight: 500;
    font-family: 'Futura PT';
    padding-left: 5px;
    border-left: 1px solid #fff;
    margin-left: 5px;
}
/*--- Banner CSS End ---*/


/*--- Content Start ---*/
.content h2 {
    font-size: 44px;
    font-weight: 400;
    line-height: 0.7;
    margin-bottom: 25px;
}
.art-sec {
    padding: 80px 0 40px;   
}
.art-sec h2 {
    max-width: 565px;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: left;
}
.art-sec h4 {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    line-height: 1.2;
    font-family: 'Segoe UI';
    margin-bottom: 25px;
    position: relative;
}
.art-sec h4:after {
    content: '';
    background: url(../images/quotes.png) center center no-repeat;
    width: 71px;
    height: 67px;
    display: inline-block;
    position: absolute;
    right: -15px;
    top: 28px;
}
.art-sec p {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    max-width: 1060px;
    line-height: 1.5;
    font-family: 'Avenir-Medium';
    margin: 0 auto 30px;
}
.art-sec .btn-outline-danger {
    margin-bottom: 40px;
}
.social-list {
    position: relative;
    padding-top: 30px;
    max-width: 370px;
    margin: 0 auto;
}
.social-list:before {
    content: '';
    width: 250px;
    height: 8px;
    background-color: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    display: inline-block;
}
.social-list span {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Avenir-Medium';
}
.social-list ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.social-list a {
    width: 48px;
    height: 48px;
    line-height: 50px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 25px;
    background-color: #000;
    color: #fff;
    font-size: 32px;
    text-align: center;
    overflow: hidden;
}
.social-list a.fa-facebook,
.footer .social-list a.fa-facebook {
    line-height: 64px;
    text-align: right;
    padding-right: 5px;
    font-size: 40px;
}
.social-list a:hover,
.footer .social-list a:hover {
    background-color: #E3001B;
    transition: 0.5s all ease;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
    color: #fff;
}
/* Art Sec CSS End */

/* Convers CSS Start */
.convers-sec {
    padding: 0 0 75px 0;
    background-color: #fff;
}
.sec-heading {
    position: relative;
    text-align: center;
    margin-bottom: 45px;
}
.sec-heading:before,
.sec-heading:after {
    content: '';
    width: 39.5%;
    height: 2px;
    background-color: #EB2227;
    display: inline-block;
    position: absolute;
    left: -15px;
    top: 20px;
}
.sec-heading:after {
    right: -15px;
    left: auto;
}
.convers-img {
    border-right: 8px solid #000000;
    padding-right: 40px;
}
.convers-img img {
    width: 100%;
}
.convers-sec h3 {
    font-size: 30px;
    font-weight: 400;
    color: #000000;
    line-height: 0.7;
    margin-bottom: 20px;
}
.convers-sec h5 {
    font-size: 14px;
    font-weight: 700;
    color: #E3001B;
    line-height: 1.3;
    font-family: 'Futura PT Bold';
}
.convers-sec h5 span {
    color: #000000;
    font-weight: 500;
    font-family: 'Futura PT';
    padding-left: 5px;
    border-left: 1px solid #000;
    margin-left: 5px;
}
.convers-sec p {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    font-family: 'Futura PT';
    margin-bottom: 25px;
    line-height: 1.6;
}
.convers-info {
    padding-right: 45px;
}

/* Convers CSS End */

/* Talks CSS Start */
.talks-head {
    padding: 25px 0 35px;
    background-color: #000;
}
.talks-sec h2 {
    color: #fff;
    margin-bottom: 7px;
    line-height: 1.3;
}
.talks-head p {
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    line-height: 1;
    font-family: 'Avenir-Medium';
    margin-bottom: 0;
    padding-bottom: 0;
}

.talks-box {
    position: relative;
    text-align: left;
    overflow: hidden;
    transition: 1s all ease;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
    cursor: pointer;
}
.talks-mobile {
    display: none;
}
.talks-box img {
    width: 100%;
}
.info-overlay {
    background-color: rgba(227, 0, 27, 0.7);
    padding: 50px 50px 25px 50px;
    position: absolute;
    left: 0;
    top: 1500px;
    width: 100%;
    height: 100%;
    transition: 1s all ease;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
}
.talks-box:hover .info-overlay {
    top: 0;
}
.talks-box p {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}
.talks-box span {
    display: block;
    position: absolute;
    top: auto;
    left: 50px;
    bottom: 35px;
    font-size: 28px;
    color: #FFFFFF;
    font-weight: 400;
    width: 100%;
}
.talks-box span:after {
    content: '';
    height: 20px;
    width: 100%;
    background-color: #000000;
    display: inline-block;
    margin-top: 10px;
}
.talks-sec .owl-carousel .owl-nav.disabled {
    display: block;
}
.talks-sec .owl-carousel .owl-dots {
    display: none;
}
.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev {
    width: 80px;
    height: 80px;
    background-color: #E3001B !important;
    position: absolute;
    top: auto;
    bottom: 110px;
    opacity: 1;
    padding: 0;
}
.owl-carousel .owl-nav button.owl-next span , 
.owl-carousel .owl-nav button.owl-prev span {
    display: none;
}
.owl-carousel .owl-nav button.owl-prev {
    background: url(../images/prev-arrow.png) center center no-repeat;
    left: 0;
}
.owl-carousel .owl-nav button.owl-next {
    background: url(../images/next-arrow.png) center center no-repeat;
    right: 0;
    left: auto;
}
.owl-carousel .owl-nav button.owl-next:focus, 
.owl-carousel .owl-nav button.owl-prev:focus {
    outline: none;
}
/* Talks CSS End */


/* Sponsors Sec CSS Start */
.sponsor-sec {
    background-color: #E3001B;
    padding: 85px 0 85px;
}
.sponsor-title {
    max-width: 1660px;
    margin: 0 auto 45px;
}
.sponsor-sec h2 {
    color: #fff;
    margin-bottom: 20px;
}
.sponsor-sec p {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
    line-height: 1.5;
}
.sponsor-sec span {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Avenir-Medium';
    color: #000;
    display: block;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.sponsors-list ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sponsors-list {
    max-width: 1120px;
    margin: 0 auto;
}
.sponsors-list ul li {
    margin-right: 140px;
}
.sponsors-list ul li:last-child {
    margin-right: 0;
}
.sponsor-sec .btn-outline-light {
    margin-top: 15px;
}
.sponsor-sec .btn-outline-light:hover {
    color: #E3001B;
}
/* Sponsors Sec CSS End */



/* Speakers Sec CSS Start */
.speakers-wrap {
    padding-top: 40px;
}
.content .speakers-wrap h2 {
    text-align: center;
    margin-bottom: 60px;
}
.speaker-name {
    font-size: 60px;
    color: #000;
    line-height: 1;
    padding-left: 130px;
    text-transform: uppercase;
    display: block;
}
.speakers-wrap .speaker-sec:nth-child(2) .speaker-name {
    line-height: 0.7;
}
.info-strip {
    padding: 40px 110px;
    background: #000;
}
.info-strip p {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 0;
    text-align: right;
}

.speaker-img {
    padding-left: 15px;
}
.speaker-img img {
    width: 100%;
}
.speaker-row {
    padding-top: 80px;
    padding-bottom: 80px;
}
.speaker-info {
    max-width: 820px;
    margin-left: auto;
    position: relative;
    height: 100%;
}
.speaker-info a {
    display: inline-block;
    width: 100%;
    color: #E3001B;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Futura PT Bold';
}
.speaker-info p {
    font-weight: 500;
    line-height: 1.5;
    font-family: 'Avenir-Medium';
    font-size: 16px;
}
.speaker-info h3 {
    font-size: 32px;
    font-weight: 400;
    color: #000;
    line-height: 1.1;
    margin-bottom: 0;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    right: -43px;
}
.speaker-info::after {
    content: '';
    background: url(../images/quotes.png) center center no-repeat;
    width: 71px;
    height: 67px;
    display: inline-block;
    position: absolute;
    right: -15px;
    top: 55%;
}
/* Speakers Sec CSS End */



/* Contact Sec CSS Start */
.contact-wrap {
    max-width: 1300px;
    margin: 0 auto;
    padding: 160px 15px 140px 15px;
}
.contact-wrap h3 {
    font-size: 30px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 15px;
    line-height: 0.8;
    text-align: right;
}
.contact-wrap .contact-left {
    display: flex;
    position: relative;
}
.contact-wrap .img-position {
    position: absolute;
    left: -45px;
    top: 200px;
}
.contact-wrap .contact-img {
    padding-left: 20px;
}
.contact-wrap .social-list span {
    line-height: 1.1;
    margin-bottom: 10px;
}
.contact-wrap .social-list span:nth-child(2) {
    margin-bottom: 25px;
}
.contact-wrap .social-list {
    margin: 0;
    margin-left: 114px;
    width: 100%;
}
.contact-wrap .social-list:before {
    left: 0;
    transform: none;
    top: 74px;
    height: 20px;
    width: 100%;
}
.contact-wrap .contact-img img {
    width: 100%;
}
.contact-wrap .social-list ul {
    justify-content: flex-start;
}


.form-sec {
    max-width: 410px;
    margin: 0 auto;
}
.form-sec h3 {
    text-align: left;
}
.form-sec label {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 1.3;
    margin-bottom: 5px;
}
.form-sec .form-control {
    border: none;
    background-color: #E4E4E4;
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 1.3;
    height: auto;
    padding: 15px 15px;
    height: auto;
}
.form-sec .form-control::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 1.5;
}
.form-sec .form-control:focus {
    box-shadow: none;
    outline: none;
    border: none;
}
.form-sec select.form-control:not([size]):not([multiple]) {
    height: auto;
}
.form-sec select {
    -webkit-appearance: none;
    background: url(../images/down-arrow.png) 97% 57% no-repeat;
}
.form-sec .form-group {
    margin-bottom: 35px;
}
.form-sec .form-group textarea {
    height: 190px;
    line-height: 1.7;
    display: inline-block;
    resize: none;
}
.form-sec .textarea label {
    font-size: 30px;
    font-weight: 400;
    color: #000;
    margin-bottom: 7px;
}
.fixError label,
.form-sec .error {
    color: #E3001B;
    font-family: 'Futura PT Bold';
    font-size: 16px;
}

/*--- Content End ---*/


/*--- Footer CSS Start ---*/
.footer {
    background-color: #000;
    padding: 60px 0 50px;
}
.footer .social-list {
    max-width: 100%;
    position: relative;
}
.footer .social-list ul {
    justify-content: flex-start;
}
.footer .social-list:before {
    left: 0;
    transform: none;
    width: 430px;
    height: 20px;
    background-color: #E3001B;
}
.footer .social-list span {
    color: #fff;
    text-align: left;
    display: block;
}
.footer .social-list a {
    background: #fff;
    color: #000;
    text-align: center;
}



.ftr-newsletter {
    max-width: 410px;
    margin-left: auto;
}
.footer p {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Avenir-Medium';
    color: #fff;
    line-height: 1.7;
}
.ftr-newsletter input {
    width: 100%;
    padding: 10px 20px;
    height: auto;
    border: none;
    border-radius: 0;
    margin-bottom: 25px;
    background-color: #E4E4E4;
}
.ftr-newsletter .btn {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright p {
    margin-bottom: 0;
}
/*--- Footer CSS End ---*/


/*--- Responsive Start ---*/
@media (max-width: 1750px) {
    .sec-heading:before, 
    .sec-heading:after {
        width: 37%;
    }
    .convers-info {
        padding-right: 0;
    }

    .video-content:before {
        width: 61.4%;
    }
    .info-strip p {
        font-size: 18px;
    }
    .speaker-info::after {
        top: 75%;
    }
}


@media (max-width: 1440px) {
    .sec-heading:before, .sec-heading:after {
        width: 34%;
    }
    .header:before, .header:after {
        width: 37%;
    }
    .content h2 {
        font-size: 40px;
    }
    .art-sec h4 {
        font-size: 24px;
    }
    .art-sec h4:after {
        right: 13px;
    }
    .convers-sec h3 {
        font-size: 26px;
    }
    .sponsor-sec p {
        font-size: 22px;
        line-height: 1.3;
    }
    .banner-wrap .carousel-control-next, 
    .banner-wrap .carousel-control-prev,
    .owl-carousel .owl-nav button.owl-next, 
    .owl-carousel .owl-nav button.owl-prev {
        width: 65px;
        height: 65px;
    }
    .art-sec h4 {
        word-break: break-all;
        padding: 0px 60px;
    }
    .sponsors-list ul li {
        margin-right: 50px;
    }
    .art-sec h2 {
        max-width: 515px;
    }
    .sponsors-list ul li {
        margin-bottom: 20px;
    }


    .video-content:before {
        width: 59.4%;
    }
    .speaker-info::after {
        top: 81%;
    }
}

@media (max-width: 1366px) {
    .video-content {
        padding-left: 50px;
    }
    .video-banner h2 {
        font-size: 48px;
    }
    .video-content:before {
        top: 57px;
    }
    .speaker-info h3 {
        bottom: -90px;
        font-size: 28px;
    }
    .info-strip p br {
        display: none;
    }
    .speaker-row {
        padding-bottom: 170px;
    }
    .speaker-info::after {
        top: 96%;
    }
    .info-overlay {
        padding: 15px 15px 25px 15px;
    }
    .talks-box span {
        font-size: 22px;
    }
    .talks-box p {
        font-size: 20px;
    }
    .talks-box span:after {
        height: 12px;
    }
    .contact-wrap .img-position {
        left: 0;
    }
    .contact-wrap .social-list {
        margin-left: 120px;
    }
}


@media (max-width: 1199px){
    .logo {
        text-align: center;
        top: 60px;
    }
    .logo img {
        width: 65%;
        margin: 0 auto;
    }
    .banner-content {
        width: 430px;
        height: 430px;
        padding: 100px 0 50px;
    }
    .banner span {
        margin-bottom: 20px;
    }
    .banner h1 {
        font-size: 60px;
        margin-bottom: 60px;
    }
    .art-sec {
        padding: 50px 0 30px;
    }
    .art-sec h4:after {
        right: -9px;
    }
    .content h2 {
        font-size: 36px;
    }
    .sec-heading:before, 
    .sec-heading:after {
        top: 13px;
    }
    .banner-wrap .carousel-control-next, 
    .banner-wrap .carousel-control-prev,
    .owl-carousel .owl-nav button.owl-next, 
    .owl-carousel .owl-nav button.owl-prev {
        bottom: 15px;
    }
    .art-sec h2 {
        max-width: 475px;
    }
    .info-overlay {
        padding: 15px 15px;
    }

    .speaker-img {
        padding-left: 0;
    }
    .speaker-info::after {
        content: '';
        background: url(../images/quotes-mob.png) center center no-repeat;
        width: 58px;
        height: 55px;
        display: inline-block;
        position: absolute;
        right: -15px;
        top: 96%;
    }
    .speaker-info h3 {
        bottom: -110px;
    }

    .video-banner h2 {
        font-size: 40px;
    }
    .video-title {
        width: 300px;
    }
    .video-content:before {
        right: 300px;
    }
    .video-content:before {
        top: 48px;
    }
    .info-strip {
        padding: 25px 15px;
    }
    .speaker-name {
        font-size: 50px;
        padding-left: 50px;
    }
    .speaker-row {
        padding-top: 50px;
        line-height: 0.8;
    }

    .contact-wrap .img-position {
        top: 140px;
    }
    .img-position img {
        width: 85%;
    }
    .contact-wrap .social-list {
        margin-left: 90px;
    }
    .contact-wrap .social-list:before {
        width: 85%;
    }
}

@media (max-width: 991px){
    .art-sec h2 {
        font-size: 30px;
        max-width: 385px;
        margin-bottom: 15px;
    }
    .art-sec h4:after {
        background: url(../images/quotes-mob.png) center center no-repeat;
        width: 58px;
        height: 55px;
    }
    .art-sec h4 span {
        margin-top: 30px;
        display: block;
    }
    .art-sec h4:after {
        right: 123px;
        top: 62px;
    }
    .sec-heading:before, 
    .sec-heading:after {
        width: 29%;
    }
    .owl-dots {
        display: none;
    }
    .footer .social-list:before {
        width: 350px;   
    }

    .video-banner h2 {
        padding-right: 30px;
    }
    .video-banner h2 {
        font-size: 32px;
    }
    .video-content:before {
        top: 38px;
        width: 54%;
    }

    .speaker-row {
        flex-direction: column-reverse;
    }
    .speaker-img {
        margin-bottom: 30px;
    }
    .video-img img {
        width: 100%;
    }

    .contact-left {
        margin-bottom: 45px;
    }
    .contact-wrap .img-position {
        top: 200px;
    }
    .speaker-info h3 {
        right: 0;
    }
}


@media (max-width: 767px){
    .header nav a:hover:after {
        width: 220px;
    }
    .nav-wrap {
        padding: 25px 0 0 30px;
        width: 320px;
    }

    .header {
        background-color: transparent;
        position: fixed;
        width: 100%;
        z-index: 100;
        height: auto;
        padding: 15px 0;
    }
    .header:after,
    .header:before {
        width: 0;
    }
    .logo {
        left: auto;
        right: 15px;
        top: 27px;
        transform: none;
    }
    .header > .container-fluid {
        padding: 0 15px;
    }
    .menu-btn {
        left: 15px;
    }
    .logo,
    .header.header-fixed .logo {
        text-align: right;
        right: 15px;
    }
    .logo img {
        margin: 0;
        margin-left: auto;
    }

    .header nav a {
        font-size: 36px;
        margin-bottom: 25px;
    }

    .banner {
        padding: 150px 0 55px;
    }
    .home-two {
        padding: 200px 50px 0 0;
    }


    .carousel-indicators {
        display: flex;
        bottom: -45px;
    }
    .banner-wrap .carousel-control-next, 
    .banner-wrap .carousel-control-prev {
        display: none;
    }

    .convers-img {
        margin-bottom: 20px;
    }
    .convers-sec {
        padding: 0 0 20px 0;
    }
    .sponsors-list ul {
        display: block;
    }
    .sponsors-list ul li {
        margin-bottom: 25px;
        margin-right: 0;
    }
    .ftr-newsletter {
        margin: 30px 0 0 0;
    }
    .talks-carousel .owl-carousel {
        display: none !important;
    }
    .talks-mobile {
        display: flex;
        flex-wrap: wrap;
    }
    .talks-mobile .talks-box {
        width: 50%;
    }
    .banner-content {
        width: 317px;
        height: 317px;
        padding: 65px 0 50px;
    }
    .home-two .banner-content {
        height: auto;
        max-width: 480px;
        width: 100%;
    }
    .banner span {
        font-size: 16px;
    }
    .banner h1 {
        font-size: 44px;
    }
    .art-sec {
        padding: 65px 0 30px;
    }
    .sponsors-list li img {
        width: 35%;
    }
    .sponsor-sec {
        padding: 50px 0 50px;
    }
    .talks-sec h2 {
        font-size: 29px;
        text-align: left;
        padding: 0 15px;
    }
    .art-sec h2 {
        max-width: 100%;
        padding: 0;
        line-height: 0.8;
    }

    .sponsor-sec p {
        font-size: 18px;
    }


    .video-banner {
        padding: 160px 0 0 0;
    }
    .video-content {
        flex-wrap: wrap;
        margin-bottom: -3px;
    }
    .video-banner h2 {
        margin-bottom: 20px;
    }
    .video-content:before {
        top: 108px;
        right: 0;
    }
    .speaker-info::after {
        right: 0;
    }
    .content .speakers-wrap h2 {
        margin-bottom: 40px;
    }
    .speaker-name {
        font-size: 40px;
    }
    .speaker-info h3 {
        font-size: 24px;
    }
    .sponsor-sec p br {
        display: none;
    }

    .contact-wrap {
        padding: 200px 15px 50px 15px;
    }
    .contact-left {
        margin-bottom: 75px;
    }
    .contact-wrap .img-position {
        top: 160px;
    }
    .speaker-info,
    .info-strip p {
        text-align: justify !important;
    }

}

@media (max-width: 576px) {
    .header .logo img {
        width: 55%;
    }
    .header.header-fixed .logo img {
        width: 45%;
    }
    .header.header-fixed .logo {
        top: 35px;
    }
    .menu-btn {
        width: 45px;
        height: 25px;
    }
    .menu-btn span {
        width: 45px;
        margin-bottom: 6px;
    }
    .menu-btn.show span:nth-child(1) {
        width: 45px;
        -webkit-transform: rotate(-35deg) translate(-3px, 10px);
        transform: rotate(-35deg) translate(-3px, 10px);
    }
    .menu-btn.show span:nth-child(3) {
        width: 45px;
        -webkit-transform: rotate(35deg) translate(-4px, -10px);
        transform: rotate(35deg) translate(-4px, -10px);
    }

    .sec-heading:before, 
    .sec-heading:after {
        width: 23%;
    }
    .art-sec h4 br {
        display: none;
    }
    .art-sec h4:after {
        content: none;
    }
    .footer .social-list:before {
        width: 280px;
    }
    .banner-content {
        width: 295px;
        height: 300px;
    }
    .art-sec h4 {
        padding: 0;
    }
    .art-sec h4 {
        font-size: 21px;
    }
    .content h2 {
        font-size: 24px;
    }
    .sec-heading:before, 
    .sec-heading:after {
        width: 25%;
        top: 8px;
    }
    .talks-head p {
        font-size: 20px;
    }
    .art-sec h2 br {
        display: none;
    }


    .home-two {
        justify-content: center;
        padding: 200px 0 0 0;
    }
    .home-two .banner-content {
        padding: 15px;
    }
    .speaker-name,
    .video-content {
        padding-left: 15px;
    }
    .contact-img {
        min-height: 200px;
    }
    .contact-img img {
        width: 100%;
        height: 100%;
    }
    .contact-wrap .contact-left {
        flex-wrap: wrap;
    }
    .contact-wrap .social-list {
        margin-top: 100px;
        margin-left: 0;
    }
    .contact-wrap h3 {
        font-size: 24px;
    }

}

@media (max-width: 480px){
    .header nav a {
        font-size: 32px;
    }
    .sec-heading:before, 
    .sec-heading:after {
        width: 19%;
        top: 8px;
    }
    .video-banner h2 {
        font-size: 22px;
    }
    .video-content:before {
        content: none;
    }
    .speaker-name {
        font-size: 34px;
    }
    .info-strip {
        padding: 15px;
    }
    .info-strip p {
        font-size: 16px;
    }
    .speaker-info h3 {
        font-size: 22px;
    }
    .speaker-info::after {
        top: 99%;
    }
    .talks-box p {
        font-size: 14px;
    }
    .talks-box span {
        bottom: 20px;
        font-size: 16px;
    }
    .talks-box span:after {
        height: 7px;
        margin-top: 0;
    }
    .info-overlay {
        padding: 10px 10px;
    }
    .btn {
        font-size: 15px;
        width: 130px;
        line-height: 37px;
    }
    .sponsors-list li img {
        width: 50%;
    }
}
/*--- Responsive End ---*/