*{box-sizing : border-box; margin: 0; padding: 0;}
body{margin: 0; padding: 0;}
.wraper{background: grey; padding-top: 25px;}
.container-wraper{max-width: 1300px; width: 100%; background: white; margin: 0 auto;}
.container{max-width: 1066px; width: 100%; margin-left: 40px;}

.clear{clear: both;}
.social-link{padding: 20px;float: right;}
.social-link a{text-decoration: none; color: black;}
h1{color: #0d0d0e; margin-top: -75px;font-size: 70px;}
h2{font-size: 27px; color: #0949bd; padding: 25px 0 25px 0;}
.personel h3{font-size: 30px;color: #0949bd;}
.skills-wrapper{padding: 25px 0;}
.front-end {max-width: 25%;width: 100%;float: left;}
.front-end h3{color: #0949bd;}
.wordpress{max-width: 25%;width: 100%;float: left; padding: 0 20px;}
.wordpress h3{color: #0949bd;}
.management{max-width: 25%;width: 100%;float: left; padding-right: 20px;}
.management h3{color: #0949bd;}
.others{max-width: 25%;float: left; width: 100%;}
.others h3{color: #0949bd;}

.education{padding-bottom: 25px;}
.education h3{color: #0949bd;}

.experiance h3{color: #0949bd; padding-bottom: 25px;}
.experiance h4{color: #0949bd;}
.freelance-experiance ul{list-style-type: none;margin: 0;padding: 0;}
.freelance-experiance li{max-width: 50%; width: 100%; float: left;}
/*li:nth-child(2) {max-width: 64%;}*/
li:nth-child(2){padding-left: 77px;}
li:nth-child(4){padding: 25px 0 25px 77px;}
li:nth-child(6){padding-left: 77px;}

.professional-exp h3{padding: 30px 0 20px; color: #0949bd;}
.x-compny{width: 20%; float: left;}
.x-work{width: 80%; float: right;padding:0 0 30px 30px; }

