.tracker {
  padding: 96px 0 80px;
  text-align: center; }
  .tracker__title {
    color: #1C232F;
    font-size: 4rem;
    line-height: 47px;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
    margin: 0 0 57px; }
  .tracker .tracker-box__img-wrap {
    display: block;
    max-width: 192px;
    margin: 0 auto 40px; }
  .tracker .tracker-box__img {
    width: 100%; }
  .tracker .tracker-box__count {
    color: #1C232F;
    font-size: 48px;
    line-height: 57px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    margin: 0 0 15px; }
  .tracker .tracker-box__paragraph {
    color: #1C232F;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
    margin: 0; }

.track-points {
  padding-bottom: 122px; }
  .track-points .row {
    padding-bottom: 64px; }
    .track-points .row:last-child {
      padding-bottom: 0; }
    .track-points .row .col-md-6:first-child {
      padding-right: 45px; }
  .track-points__hackers-img {
    max-width: 480px;
    margin: 0 auto; }
  .track-points .points-info {
    padding-top: 56px;
    text-align: left; }
    .track-points .points-info__icon {
      display: block;
      background: #FFEBEB;
      height: 64px;
      width: 64px;
      text-align: center;
      border-radius: 50%;
      margin-bottom: 24px; }
    .track-points .points-info__icon-img {
      font-size: 22px;
      line-height: 64px; }
    .track-points .points-info__title {
      color: #1C232F;
      font-size: 24px;
      line-height: 28px;
      font-weight: 500;
      font-family: "Rubik", sans-serif;
      margin: 0 0 16px; }
    .track-points .points-info__paragraph {
      color: #1C232F;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      font-family: "Rubik", sans-serif;
      margin: 0;
      max-width: 475px; }
  .track-points .points-info--right-aligned {
    text-align: right;
    padding-top: 56px; }
    .track-points .points-info--right-aligned .points-info__icon,
    .track-points .points-info--right-aligned .points-info__paragraph {
      margin-left: auto; }

.truthfinder-wrap {
  background: url(../images/btm-bg.jpeg) center no-repeat;
  background-size: cover;
  padding-top: 87px; }
  .truthfinder-wrap .limited-time {
    padding-bottom: 63px; }
    .truthfinder-wrap .limited-time .row .col-md-6:first-child {
      padding: 0 18px 0 0; }
    .truthfinder-wrap .limited-time .row .col-md-6:last-child {
      padding: 0 0 0 18px; }
    .truthfinder-wrap .limited-time__title {
      color: #fff;
      font-size: 40px;
      line-height: 47px;
      font-weight: 500;
      text-align: center;
      font-family: "Rubik", sans-serif;
      margin: 0 0 49px; }
    .truthfinder-wrap .limited-time__time-box .time-box-top {
      border-radius: 2px 2px 0 0;
      background-color: rgba(20, 40, 81, 0.8);
      padding: 48px 40px 40px;
      text-align: left; }
      .truthfinder-wrap .limited-time__time-box .time-box-top__title {
        color: #fff;
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        font-family: "Rubik", sans-serif;
        margin: 0 0 20px; }
      .truthfinder-wrap .limited-time__time-box .time-box-top__price {
        position: relative;
        margin-bottom: 15px; }
      .truthfinder-wrap .limited-time__time-box .time-box-top__regular-price {
        padding: 12px 24px;
        background: #fff; }
      .truthfinder-wrap .limited-time__time-box .time-box-top__rp-text {
        color: #1C232F;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        font-family: "Rubik", sans-serif;
        margin: 0; }
      .truthfinder-wrap .limited-time__time-box .time-box-top__rp-text-bold {
        color: #1C232F;
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px; }
      .truthfinder-wrap .limited-time__time-box .time-box-top__disconted-price {
        padding: 16px 24px 12px;
        background: #05C469;
        text-align: left; }
      .truthfinder-wrap .limited-time__time-box .time-box-top__off {
        color: #fff;
        font-family: "Rubik", sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: 17px;
        text-transform: uppercase;
        margin: 0; }
      .truthfinder-wrap .limited-time__time-box .time-box-top__rate {
        color: #fff;
        font-family: "Rubik", sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        margin: 0; }
      .truthfinder-wrap .limited-time__time-box .time-box-top__tracking-tech {
        position: absolute;
        right: 0;
        max-width: 186px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 99; }
      .truthfinder-wrap .limited-time__time-box .time-box-top__billed-text {
        color: #A6BAE6;
        font-family: "Rubik", sans-serif;
        font-size: 12px;
        line-height: 14px; }
      .truthfinder-wrap .limited-time__time-box .time-box-top__like {
        font-size: 14px;
        margin-left: 3px; }
    .truthfinder-wrap .limited-time__time-box .time-box-bottom {
      position: relative;
      border-radius: 0 0 2px 2px;
      background: #fff;
      padding: 70px 40px 48px;
      text-align: left; }
      .truthfinder-wrap .limited-time__time-box .time-box-bottom::before {
        content: "";
        position: absolute;
        height: 42px;
        width: 100%;
        top: 0;
        left: 0;
        background: #fff;
        transform: translateY(-50%) skewY(-4.4deg); }
      .truthfinder-wrap .limited-time__time-box .time-box-bottom__title {
        color: #1C232F;
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        font-family: "Rubik", sans-serif;
        margin: 0 0 12px; }
      .truthfinder-wrap .limited-time__time-box .time-box-bottom__info {
        color: #1C232F;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        font-family: "Rubik", sans-serif;
        margin: 0 0 27px; }
      .truthfinder-wrap .limited-time__time-box .time-box-bottom__lists {
        display: block;
        width: 100%;
        margin: 0 0 25px;
        font-size: 0;
        padding: 0;
        min-height: 69px; }
      .truthfinder-wrap .limited-time__time-box .time-box-bottom__list-point {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        text-align: left;
        padding-bottom: 14px; }
      .truthfinder-wrap .limited-time__time-box .time-box-bottom__check {
        display: inline-block;
        vertical-align: top;
        font-size: 16px; }
      .truthfinder-wrap .limited-time__time-box .time-box-bottom__check--green {
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        color: #05C469; }
      .truthfinder-wrap .limited-time__time-box .time-box-bottom__list-info {
        display: inline-block;
        vertical-align: top;
        padding-left: 10px;
        color: #1C232F;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        font-family: "Rubik", sans-serif;
        margin: 0; }
      .truthfinder-wrap .limited-time__time-box .time-box-bottom__get-link {
        display: block;
        max-width: 288px;
        border-radius: 4px;
        background: #05C469;
        color: #fff;
        font-family: "Rubik", sans-serif;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        margin-right: auto;
        transition: 0.2s all ease; }
        .truthfinder-wrap .limited-time__time-box .time-box-bottom__get-link:hover, .truthfinder-wrap .limited-time__time-box .time-box-bottom__get-link:focus {
          text-decoration: none;
          background: #1a9a5d; }

.featured-in {
  padding-bottom: 62px; }
  .featured-in__title {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
    font-family: "Rubik", sans-serif;
    margin: 0 0 48px; }
  .featured-in__tags {
    display: block;
    padding: 0;
    margin: 0; }
  .featured-in__tag {
    max-width: 379px;
    margin: 0 auto;
    padding: 0 18px 28px;
    display: inline-block;
    vertical-align: top;
    min-height: 60px;
    line-height: 60px; }

.magazine {
  background: rgba(20, 40, 81, 0.4);
  padding: 80px 0 75px;
  text-align: center; }
  .magazine .carousel-inner {
    width: 80%;
    margin: 0 auto; }
  .magazine .carousel-caption {
    position: static;
    padding: 0; }
  .magazine_tag {
    max-width: 212px;
    margin: 0 auto 26px; }
  .magazine_info {
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    text-align: center;
    font-family: "Rubik", sans-serif;
    max-width: 775px;
    margin: 0 auto 16px; }
  .magazine_info-red {
    color: #EA1821; }
  .magazine_caption {
    color: #A6BAE6;
    font-style: italic;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    text-align: center;
    font-family: "Rubik", sans-serif;
    margin: 0; }
  .magazine .carousel-control {
    background: none;
    height: 60px;
    width: 60px;
    top: 50%;
    transform: translateY(-50%); }

/*# sourceMappingURL=content.css.map */
