body { background-color:#fff;  font-size:16px; color:#58595b; font-weight:400; line-height:30px; margin:0px; padding:0px;font-family: 'BentonSans'; }
h1, h2, h3, p { padding:0; margin:0; }
ul, li { padding:0; margin:0; }
a { text-decoration:none; transition:all 300ms; }
.clear { clear:both; }
.site-container { width:100%; max-width:830px; margin:0 auto; padding:0 15px; box-sizing:border-box;}

@font-face {
	font-family: 'BentonSans';
	src: url('../fonts/BentonSans-Bold.eot');
	src: url('../fonts/BentonSans-Boldd41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BentonSans-Bold.woff') format('woff'),
		url('../fonts/BentonSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'BentonSans BoldSC';
	src: url('../fonts/BentonSans-BoldSC.eot');
	src: url('../fonts/BentonSans-BoldSCd41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BentonSans-BoldSC.woff') format('woff'),
		url('../fonts/BentonSans-BoldSC.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'BentonSans';
	src: url('../fonts/BentonSans-Regular.eot');
	src: url('../fonts/BentonSans-Regulard41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BentonSans-Regular.woff') format('woff'),
		url('../fonts/BentonSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*----Header---*/
.main-banner {  height:357px; position:relative;}
.main-banner .logo { margin:12px 0 0 22px; max-width:135px; float:left; max-height:135px; }
.main-banner .cross-btn { float:right; margin:5px 18px 0 0;}
.main-banner .tescom-logo { position:absolute; top:140px; right:0px; left:0px; margin:auto; text-align:center; }

/*----Content Tescom---*/
.content { background:#f2f2f2; padding:44px 0 50px 0; }
.content .content-left { width:32%; float:left; position:relative; min-height:527px;}
.content .content-left .tescome-description:first-child { margin-bottom:27px; }
.content .content-left .tescome-description {   border:3px solid #1a171b; background:#fff; border-top:0px; box-sizing:border-box;}
.content .content-left .tescome-description h1 { line-height:28px; background: url(../images/black-corner.png) right 2px no-repeat #1a171b; font-size:12px; color:#fff; text-transform:uppercase; padding:0 15px; letter-spacing:2px;font-family: 'BentonSans BoldSC'; letter-spacing:2px; padding-top:1px; }
.content .content-left .tescome-description p { font-size:12px; line-height:14px; color:#1A171B; padding:11px 15px; text-align:justify;font-family: 'BentonSans';}
.content .content-left .tescome-description-bottom { position:absolute; bottom:0px; width:100%; max-width:257px; box-sizing:border-box; border-top:3px solid #1a171b;}
.content .content-left .tescome-description-bottom h1 { background:#fff;border-bottom:3px solid #1a171b; color:#000000; letter-spacing:2px;}
.content .content-right { width:66.2%; float:right;   border:3px solid #1a171b; height:527px; text-align:center; padding:53px 0; box-sizing:border-box; }
.content .content-right img { max-width:100%; }
.content .top-gif-image { padding:12px 0 50px 0;}
.content .top-gif-image img { max-width:100%;}
.content .site-desktop-content{border:3px solid #1a171b; background:#fff;}
.content .site-desktop-content h1 { border-bottom:3px solid #1a171b; line-height:22px; background: url(../images/white-corener.png) right center no-repeat #fff;border-bottom:3px solid #1a171b; color:#000000; font-size:12px; padding:0 15px;  letter-spacing:2px; text-transform:uppercase; padding-top:1px; }
.content .site-desktop-content  p {font-family: 'BentonSans'; font-size:12px; line-height:14px; color:#1A171B; padding:11px 15px; text-align:justify;} 
.content .site-desktop-content a {border-top:3px solid #1a171b; display:block; font-size:12px; color:#1A171B; text-align:right; padding:0 12px; text-transform:uppercase; letter-spacing:2px; background:url(../images/left-corner.png) left center no-repeat; line-height:22px;font-family: 'BentonSans';  font-weight:bold; padding-top:1px; }
.content .mobile-view { margin-bottom:33px;}
.content .mobile-view .mobile-view-image { width:66.2%; float:left;}
.content .mobile-view .mobile-view-image img { max-width:100%;}
.content .mobile-view .mobile-view-right { float:right; width:32%;}
.content .mobile-view .mobile-view-right .tescome-description { margin:55px 0 62px 0;border:3px solid #1a171b;  background:#fff;}
.content .mobile-view .mobile-view-right .tescome-description h1 {  background:url(../images/white-corener.png) right center no-repeat; font-size:12px; color:#000; text-transform:uppercase; padding:0 15px; letter-spacing:2px;font-family: 'BentonSans BoldSC'; letter-spacing:2px; border-bottom:3px solid #1a171b; line-height:22px; padding-top:1px;}
.content .mobile-view .mobile-view-right .tescome-description p {font-family: 'BentonSans'; font-size:12px; line-height:14px; color:#1A171B; padding:11px 15px; text-align:justify;}
.content .mobile-view .mobile-view-right ul { margin:0px; padding:6px 0 0 0; }
.content .mobile-view .mobile-view-right ul li { display:block; font-size:12px; color:#1A171B;font-family: 'BentonSans BoldSC'; margin-bottom:8px; line-height:16px; text-transform:uppercase; }
.content .mobile-view .mobile-view-right ul li span { display:inline-block; font-size:24px;}
.content .bottom-thumbnail { border:3px solid #000000; margin:33px 0 33px 0;}
.content .bottom-thumbnail img { width:100%; }


/*----Content barns---*/

.content .content-top { width:100%; float:none; min-height:0px;}
.content .newsletter-section { margin:44px 0 0 0;}
.content .newsletter-section .newsletter-detail { width:32%; float:left;}
.content .newsletter-section  .newslatter-slider {width: 66.2%;float: right;}

/*----Content Winter---*/
.content.winter-content { background:#ef82aa; }
.content.winter-content .tescome-description {   border:3px solid #1a171b; background:#fff; border-top:0px;width:100%; margin-bottom:27px; box-sizing:border-box; }
.content.winter-content .tescome-description h1 { line-height:28px; background: url(../images/black-corner.png) right 2px no-repeat #1a171b; font-size:12px; color:#fff; text-transform:uppercase; padding:0 15px; letter-spacing:2px;font-family: 'BentonSans BoldSC'; letter-spacing:2px; padding-top:1px; }
.content.winter-content .tescome-description p { font-size:12px; line-height:14px; color:#1A171B; padding:11px 15px; text-align:justify;font-family: 'BentonSans';}
.content.winter-content .tescome-description a {border-top:3px solid #1a171b; display:block; font-size:12px; color:#1A171B; text-align:right; padding:0 12px; text-transform:uppercase; letter-spacing:2px; background:url(../images/left-corner.png) left center no-repeat , url(../images/fb-icon.png) right center no-repeat; line-height:22px;font-family: 'BentonSans';  font-weight:bold; padding-top:1px; padding-right:36px;}
.content.winter-content .video {border:3px solid #1a171b; margin-bottom:27px; box-sizing:border-box;}

/*----Ambassadeurs---*/

.content.ambassadeurs-content { background:#f2f2f2; }
.content.ambassadeurs-content .video {border:3px solid #1a171b; margin:0 0 27px 0; box-sizing:border-box;}
.content.ambassadeurs-content .print-signature { margin:40px 0 0 0;}
.content.ambassadeurs-content .mobile-view .mobile-view-right ul li span { margin-right:10px; line-height:20px;}
.content.ambassadeurs-content .mobile-view .mobile-view-right ul li span b { font-size:18px;}
.content.ambassadeurs-content .content-left .tescome-description { width:100%;}

/*----Utopik---*/
.content.utopik-content .content-left .tescome-description:first-child { margin-bottom:0px;}
.content.utopik-content .top-gif-image { padding:0px; }
.content.utopik-content .site-desktop-content p { padding-bottom:0px;}
.content.utopik-content .play-store { text-align:right; padding:0 15px;}
.content.utopik-content .play-store span { vertical-align:bottom;  font-family: 'BentonSans BoldSC';font-size: 12px;line-height: 14px;color: #1A171B;text-align: justify; text-transform:uppercase; margin-bottom:10px; display:inline-block; }
.content.utopik-content .play-store ul { margin:0px; padding:0px; display:inline-block; }
.content.utopik-content .play-store ul li { margin:0px; padding:0px; display:inline-block; margin-left:15px;}
.content.utopik-content .play-store ul li a { margin:0px; padding:0px; border:0px; background:none;}

 @media screen and (max-width:800px) {
.cross-btn img { width:80%;}
.logo img { width:80%;}
.main-banner .tescom-logo img { width:50%;}
.main-banner { height:270px;}
.content .content-left .tescome-description h1,.content .site-desktop-content h1,	.content .content-left .tescome-description-bottom h1 ,.content .site-desktop-content a , .content .mobile-view .mobile-view-right .tescome-description h1{ letter-spacing:0px; }
}
@media screen and (max-width:640px) {
.content .content-right { height:auto;}
.content { padding:20px 0 30px 0;}
.content .content-left { width:100%; min-height:0px;}
.content .content-left .tescome-description-bottom { max-width:100%;position:static; margin:20px 0;}
.content .content-right { width:100%;}
.content .mobile-view .mobile-view-image ,.content .mobile-view .mobile-view-right { width:100%;}
.content .mobile-view .mobile-view-right .tescome-description { margin:20px 0;}
.content .mobile-view .mobile-view-right ul li { display:block;}
.content .mobile-view .mobile-view-image { margin-bottom:20px;}
.content .bottom-thumbnail ,.content .mobile-view{ margin:20px 0;}
.content .newsletter-section .newsletter-detail ,.content .newsletter-section  .newslatter-slider { width:100%; float:none; margin:44px 0 0 0; }
.content.utopik-content .play-store span { display:block; text-align:center; padding:10px 0;}
.content.utopik-content .play-store ul { display:block; text-align:center;}
}
@media screen and (max-width:480px) {
.content .site-desktop-content h1 { background:none;}
.main-banner { height:220px;}
}