/*----------------Global----------------*/
*{ margin:0px; padding:0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline:none !important; }
::selection { background: rgba(5,165,240,.25);color: #1a262c;}
body { margin:0px; padding:0px; font-family: 'Source Sans Pro', sans-serif; background:#f5f5f5;-webkit-font-smoothing: antialiased;}
a,button { -webkit-transition: all ease 0.3s; -moz-transition: all ease 0.3s; -o-transition: all ease 0.3s; transition: all ease 0.3s;outline: none; }
img { outline: none; border: 0px; }
.wrapper {}
.container { width:100%; max-width:1176px; margin:0 auto; padding:0px; }
.inner { width:100%; max-width:936px; margin:0 auto; } 

/*----------------Header----------------*/
header { padding:23px 0; position:absolute; width:100%; z-index:10; }
header .logo { float:left; }
header .logo a { text-decoration:none;}
header .logo span { font-size: 21px; text-align: left; color: #ffffff; font-weight:400; line-height:34px; display:inline-block; vertical-align:top; margin-left:9px; }
header .header-right { float:right; }
header .navbar-default .navbar-nav li a { font-size: 17px; text-align: left; color: #ffffff; text-decoration:none; display:inline-block; padding:8px 0 0 0; }
header .navbar-default .navbar-nav li a svg { margin-left:3px; }
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover { color:#00b6ff;}
header .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin:0px; padding:0px; }
header .navbar-default { margin:0px; padding:0px; border:0px; background:none; }
header .container-fluid { padding:0;}
header .navbar-toggle { margin:0px; padding:0px; background:none; border:0; border-radius:0; margin-top:8px; }
header .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header { margin:0px;}
header .navbar-toggle .icon-bar { width:17px; height:2px; }
header .navbar-toggle.collapsed .icon-bar+.icon-bar { margin-top:5px; }
header .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background:none; }
header .navbar-default .navbar-toggle .icon-bar {background-color:#fff;}
header .navbar-toggle {border: none;background: transparent !important; display:none;}
 
/*----------------Banner----------------*/
.banner { position:relative; }
.banner img { max-width:100%; }
.banner .banner-content { position:absolute;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: -moz-translateY(-50%); width:100%; text-align:center; left:0px; right:0px; }
.banner .banner-content h1 { margin:0px;  font-size: 52px; font-weight: 300; letter-spacing: -2.2px; color: #ffffff; line-height:61px; }

/*----------------Content----------------*/
.content {position:relative; top:-84px; z-index:2;}
.content .how-it-works { padding:70px 60px; background-color: #ffffff; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);  margin-bottom:24px; }
.content .how-it-works h2 { margin:0px; padding:0px; font-size: 24px; font-weight: 600; text-align: left; color: #05a5f0; line-height:31px; margin-bottom:20px; }
.content .how-it-works p {  font-size: 16px; line-height:25px; text-align: left; color: #1a262c; opacity:0.5; margin:0px; padding:0 60px 0 0 ;}
.content .how-it-works a { border-radius: 4px; background-color: #05a5f0; display:inline-block; font-size: 16px; font-weight: 600;
  text-align: center; color: #ffffff; line-height:50px; text-decoration:none; padding:0 55px;  font-family: 'Source Sans Pro', sans-serif; }
.content .how-it-works a:hover { background:#4c66d0;}
.content .how-it-works .left-content { float:left; width:640px;}
.content .how-it-works .right-button { float:right; width:175px; padding:33px 0 0 0;} 
.content .documentation-type { margin-bottom:100px;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display:flex;}
.content .documentation-type .developer-box { width: 31.6%; background-color: #ffffff; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); text-align:center; padding:43px 30px; margin:0 24px 0 0; float:left;  }
.content .documentation-type .developer-box:last-child { margin-right:0;}
.content .documentation-type .developer-box img{ margin-bottom:32px; height:55px;}
.content .documentation-type .developer-box h3 { margin:0 0 10px 0; font-size: 20px; line-height:30px; text-align: center; color: #1a262c;}
.content .documentation-type .developer-box p { opacity: 0.5; font-size: 16px; line-height:25px; color: #1a262c; margin:0 0 35px 0; }
.content .documentation-type .developer-box a { font-size: 16px; font-weight: 600; color: #05a5f0; text-decoration:none; }
.content .documentation-type .developer-box a:hover { text-decoration:underline;}
.content .documentation-type .merchant-box a { color:#4c66d0;}
.content .documentation-type .bank-box a { color:#554bc6;}
.content .use-cases { margin-bottom:147px; }
.content .use-cases .use-cases-title {float:left; width:360px; padding:3px 0 0 5px;}
.content .use-cases .use-cases-title h4 { margin:0 0 22px 0; font-size: 24px; font-weight: 600; text-align: left; color: #000000; }
.content .use-cases .use-cases-title p {opacity: 0.75; font-size: 18px; line-height:28px; text-align: left; color: #000000; margin-bottom:20px; padding:0 40px 0 0; }
.content .use-cases .use-cases-title ul { margin:0px; padding:0px; }
.content .use-cases .use-cases-title ul li { display:block; margin:0px; padding:0px; }
.content .use-cases .use-cases-title ul li a { font-size: 18px; font-weight: 600; line-height:40px; text-align: left; color: #05a5f0;  text-decoration:none; }
.content .use-cases .use-cases-title ul li a svg { margin-left:5px; }
.content .use-cases .use-cases-title ul li a:hover { color:#4c66d0; }
.content .use-cases .use-cases-thumbnail { width:570px; float:left; position:relative; }
.content .use-cases .use-cases-thumbnail img { max-width:100%;}
.content .use-cases .use-cases-thumbnail .gif-image { position: absolute; bottom: -47px; right: -8px;}
.content .use-cases .use-cases-thumbnail .gif-image img { width:217px;}
.content .join-us { padding:100px 0; text-align:center; border:1px solid rgba(151,151,151,.3); text-align:center; margin-bottom:16px;  } 
.content .join-us h5 { font-size: 24px; font-weight: 600; text-align: center; color: #1a262c; line-height:30px; max-width:212px;display:block; margin:auto auto 21px auto;font-family: "Source Sans Pro",sans-serif;}
.content .join-us p { opacity: 0.75; font-size: 18px; line-height:28px;text-align: center; color: #1a262c; max-width:337px; display:block; margin:auto auto 30px auto ;}
.content .join-us a { border-radius: 4px; background-color: #05a5f0; display:inline-block; font-size: 16px; font-weight: 600;
  text-align: center; color: #ffffff; line-height:50px; text-decoration:none; padding:0 50px;  font-family: 'Source Sans Pro', sans-serif; }
.content .join-us a:hover { background:#0494d8;}

/*----------------Footer----------------*/
footer {}
footer .footer-top { padding:93px 0; background-color: #1a262c;}
footer .footer-top .footer-top-left { width:632px; float:left; }
footer .footer-top .footer-top-left h6 { font-size: 24px; font-weight: 600; line-height:30px; color: #ffffff; margin:0 0 10px 0; font-family: 'Source Sans Pro', sans-serif;}
footer .footer-top .footer-top-left p { opacity: 0.5; font-size: 16px; line-height: 25px; color: #ffffff; margin:0px;}
footer .subscription-form { width:296px; float:left; position:relative;}
footer .subscription-form input[type="email"]{ background-color: #151f24; border: solid 1px rgba(255, 255, 255, 0.15); line-height:23px; padding:18px 0 17px 20px;font-size: 16px;font-weight: 400; letter-spacing: 0px; font-family: 'Source Sans Pro', sans-serif; color:rgba(255,255,255,.5); outline:none; width:100%; }
footer .subscription-form input[type="email"]::-webkit-input-placeholder { text-transform:uppercase; font-weight: 600; letter-spacing: 1.8px; font-size: 13px;}
footer .subscription-form input[type="email"]::-moz-placeholder {text-transform:uppercase; font-weight: 600; letter-spacing: 1.8px; font-size: 13px;}
footer .subscription-form input[type="email"]:-ms-input-placeholder {text-transform:uppercase; font-weight: 600; letter-spacing: 1.8px; font-size: 13px;}
footer .subscription-form input[type="email"]:-moz-placeholder {text-transform:uppercase; font-weight: 600; letter-spacing: 1.8px; font-size: 13px;}

footer .subscription-form button{ position:absolute; top:10px; right:10px; width:40px; height:40px; border-radius:4px; background:#4c66d0; z-index:1; border:0px;}
footer .footer-bottom { padding:46px 0 38px 0; background:#151f24; }
footer .footer-bottom .footer-logo { padding:21px 0 0 0; width:240px; float:left; }
footer .footer-bottom .footer-menu { width:560px; float:left; }
footer .footer-bottom .footer-menu ul { display:block; margin-bottom:15px; }
footer .footer-bottom .footer-menu ul li { display:inline-block; margin:0 25px 0 0; }
footer .footer-bottom .footer-menu ul li a { opacity: 0.75; font-size: 16px; line-height:25px; color: #ffffff; text-decoration:none; }
footer .footer-bottom .footer-menu ul li a:hover { opacity:1; text-decoration:none;}
footer .footer-bottom .footer-menu p { opacity: 0.5; font-size: 11px; line-height:21px; color: #ffffff ; margin-bottom:0px; }


/*Responsive Media Quries*/
@media only screen and (max-width: 950px) {	
	.inner { padding:0 12px;}
	.content .documentation-type .developer-box { width:31%; }
	.content .how-it-works .left-content { width:400px;}
	.content .documentation-type .developer-box a { font-size:15px;}
	.content .documentation-type .developer-box { padding: 43px 20px; }
	.content .use-cases .use-cases-title{ width:270px; margin-left:85px; }
	.content .use-cases .use-cases-thumbnail { width:246px;margin-right:90px; float:right; }
	.content .use-cases .use-cases-thumbnail .gif-image img { width:155px; }
	.content .use-cases .use-cases-thumbnail .gif-image { right:-90px;bottom: -92px;}
	.content .join-us { margin-left:15px; margin-right:15px;}
	footer .footer-top {    padding: 93px 90px;}
	footer .footer-top .footer-top-left { width:246px; }
	footer .subscription-form { width:256px; float:right;}
	footer .footer-bottom { padding-left:80px; padding-right:80px;}
	footer .footer-bottom .footer-logo { width:170px;}
	footer .footer-bottom .footer-menu { width:336px; }
}
@media only screen and (max-width: 720px) {	
	.banner img { min-height:480px; }
	.banner .banner-content h1 { font-size:32px; letter-spacing:0px;}
	.content .how-it-works { padding:30px; }
	.content .how-it-works .left-content { width:100%; }
	.content .how-it-works p { padding-right:0px; }
	.content .how-it-works .right-button { width:100%; text-align:center; }
	.content .documentation-type .developer-box { margin:0 0 20px 0; width:100%; }
	.content .use-cases .use-cases-title { margin:0 0 25px 0; width:100%; float:none; padding-left:0px;}
	.content .use-cases .use-cases-thumbnail { float:none; margin:0 auto;}
	.content .join-us { padding:70px 30px; }
	footer .footer-top {padding: 70px 10px; } 
	footer .footer-top .footer-top-left {width:100%; float:none;}
	footer .subscription-form { width:100%; float:none; margin:30px 0 0 0;}
	footer .footer-bottom { padding:30px 20px; }
	footer .footer-bottom .footer-logo { padding:0px; width:100%; margin-bottom:36px; }
	footer .footer-bottom .footer-menu { width:100%; }
	.content .use-cases .use-cases-thumbnail { width:220px; float:left;}
	.content .use-cases .use-cases-thumbnail .gif-image { right:-80px; }
	.content .documentation-type .developer-box:last-child  { margin-bottom:0;}
	.content .documentation-type { margin-bottom:50px; }
	.content .join-us { margin-bottom:0px;}
	.content .use-cases .use-cases-title h4 { text-align:center;}
	.content .documentation-type { display:block !important; }
	.content { top:-50px; }
	.banner { overflow:hidden; }
	.banner img { max-width:780px;}
}



navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}