* {
  margin: 0px;
  padding: 0px;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.hidden {
  display: none; }

body {
  background-color: #f0f2f4; }

a,
button {
  text-decoration: none;
  color: inherit;
  transition: all 300ms; }

.show-pass {
  display: inline-block;
  width: 14px;
  height: 12px;
  background: url(../images/icon-watch.svg) center center no-repeat;
  cursor: pointer;
  border: 0;
  outline: none;
  position: absolute;
  right: 14px;
  bottom: 14px; }
  .show-pass.active {
    background: url(../images/icon-hide.svg) center center no-repeat; }

header {
  padding: 12px 0;
  background: #fff;
  text-align: center;
  display: none; }
  @media (max-width: 991px) {
    header {
      display: block; } }
  header a {
    display: inline-block; }
    header a img {
      max-width: 146px; }

.hidden-desktop {
  display: none; }
  @media (max-width: 767px) {
    .hidden-desktop {
      display: block; } }

.hidden-mobile {
  display: block; }
  @media (max-width: 767px) {
    .hidden-mobile {
      display: none; } }

button {
  -webkit-appearance: none;
  Fborder-radius: 0; }

.left-col {
  min-height: 100vh;
  background-color: #f0f2f4;
  width: 50%;
  padding: 150px 60px 0 120px;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; }
  .left-col .vcenter {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    justify-content: flex-start; }
    @media (max-width: 767px) {
      .left-col .vcenter {
        flex-direction: column; } }
  @media (max-width: 1199px) {
    .left-col {
      padding: 150px 60px 0 60px; } }
  @media (max-width: 991px) {
    .left-col {
      width: 100%;
      align-items: center;
      padding: 60px; } }
  @media (max-width: 767px) {
    .left-col {
      width: 100%;
      align-items: center;
      padding: 40px 15px;
      justify-content: center;
      min-width: 320px; } }
  .left-col .wizards-count {
    margin: 0 70px 0 0; }
    @media (max-width: 767px) {
      .left-col .wizards-count {
        margin-bottom: 30px; } }
    .left-col .wizards-count ul {
      margin: 0;
      padding: 0;
      text-align: center; }
      @media (max-width: 767px) {
        .left-col .wizards-count ul {
          font-size: 0; } }
      .left-col .wizards-count ul li {
        display: block;
        padding: 0 0 60px 0;
        position: relative;
        background: #f0f2f4; }
        @media (max-width: 767px) {
          .left-col .wizards-count ul li {
            display: inline-block;
            padding: 0 60px 0 0; } }
        .left-col .wizards-count ul li:last-child {
          padding: 0; }
          .left-col .wizards-count ul li:last-child:after {
            display: none; }
        .left-col .wizards-count ul li.completed span {
          background-color: #eb5c63;
          position: relative; }
        .left-col .wizards-count ul li.completed:after {
          width: 2px;
          height: 60px;
          background: #eb5c63;
          position: absolute;
          bottom: 0;
          left: 12px;
          transform: translateX(-50%);
          content: "";
          opacity: 0.7; }
          @media (max-width: 767px) {
            .left-col .wizards-count ul li.completed:after {
              height: 2px;
              width: 60px;
              left: 24px;
              transform: none; } }
        .left-col .wizards-count ul li.active span {
          background-color: #eb5c63;
          position: relative; }
          .left-col .wizards-count ul li.active span::before {
            border: solid 1px #eb5c63;
            content: "";
            padding: 4px;
            border-radius: 50%;
            position: absolute;
            top: -4px;
            bottom: -4px;
            left: -4px;
            right: -4px;
            z-index: 1; }
        .left-col .wizards-count ul li.active:after {
          height: 56px;
          background: linear-gradient(to bottom, #eb5c63 0%, #eb5c63 50%, #777a7b 50%, #777a7b 100%); }
          @media (max-width: 767px) {
            .left-col .wizards-count ul li.active:after {
              height: 2px;
              width: 60px;
              background: linear-gradient(to right, #eb5c63 0%, #eb5c63 50%, #777a7b 50%, #777a7b 100%); } }
        .left-col .wizards-count ul li:after {
          width: 2px;
          height: 60px;
          background: #777a7b;
          position: absolute;
          bottom: 0;
          left: 12px;
          transform: translateX(-50%);
          content: "";
          opacity: 0.7; }
          @media (max-width: 767px) {
            .left-col .wizards-count ul li:after {
              height: 2px;
              width: 60px;
              left: 24px;
              transform: none;
              top: 50%;
              transform: translateY(-50%); } }
        .left-col .wizards-count ul li span {
          width: 24px;
          height: 24px;
          background-color: #777a7b;
          display: block;
          border-radius: 50%;
          text-align: center;
          font-size: 12px;
          font-weight: 800;
          line-height: 24px;
          letter-spacing: 0.4px;
          color: #f0f2f4; }
  .left-col .steps-wrapper {
    width: 100%;
    max-width: 280px; }
    .left-col .steps-wrapper .form-wrapper h1 {
      font-size: 24px;
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 1px;
      color: #3c3c3b;
      margin: 0 0 32px 0; }
    .left-col .steps-wrapper .form-wrapper .big {
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.5px;
      color: #3c3c3b;
      margin: 0 0 47px 0; }
    .left-col .steps-wrapper .form-wrapper label {
      font-size: 12px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: 0.4px;
      color: #777a7b;
      display: block;
      margin: 0 0 3px 0;
      line-height: 1;
      font-family: "Gothic A1", sans-serif; }
      @media (max-width: 767px) {
        .left-col .steps-wrapper .form-wrapper label {
          font-size: 16px;
          margin-bottom: 5px; } }
    .left-col .steps-wrapper .form-wrapper fieldset {
      border: 0;
      margin: 0 0 21px 0;
      position: relative; }
    .left-col .steps-wrapper .form-wrapper input {
      border-radius: 2px;
      background-color: #ffffff;
      border: solid 1px #e2e3e3;
      outline: none;
      padding: 9px 30px 9px 11px;
      width: 100%;
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.5px;
      color: #3c3c3b;
      font-family: "Gothic A1", sans-serif; }
      @media (max-width: 767px) {
        .left-col .steps-wrapper .form-wrapper input {
          padding: 13px 30px 13px 11px; } }
    .left-col .steps-wrapper .form-wrapper .btn-submit {
      width: auto;
      border-radius: 2px;
      background-color: #eb5c63;
      border: 0;
      padding: 16px 36px 13px 36px;
      line-height: 1;
      margin: 19px 0 0 0;
      min-width: 0;
      font-size: 16px;
      font-weight: 800;
      letter-spacing: 0.4px;
      text-align: center;
      color: #ffffff;
      transition: all ease 0.4s;
      cursor: pointer;
      -webkit-appearance: none; }
      .left-col .steps-wrapper .form-wrapper .btn-submit:hover {
        background-color: #ff7379;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); }
      .left-col .steps-wrapper .form-wrapper .btn-submit:focus {
        background-color: #e62156;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2); }
      .left-col .steps-wrapper .form-wrapper .btn-submit.disabled {
        opacity: 0.4;
        cursor: no-drop;
        pointer-events: none; }
    .left-col .steps-wrapper .form-wrapper p {
      font-size: 12px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.4px;
      color: #3c3c3b;
      margin: 0 0 22px 0; }
    .left-col .steps-wrapper .form-wrapper .checkbox-wrapper {
      margin: 0 0 23px 0; }
      .left-col .steps-wrapper .form-wrapper .checkbox-wrapper label {
        margin: 0; }
        .left-col .steps-wrapper .form-wrapper .checkbox-wrapper label input[type="checkbox"] {
          display: none; }
          .left-col .steps-wrapper .form-wrapper .checkbox-wrapper label input[type="checkbox"]:checked + span:before {
            background: url(../images/checkbox.png) left top no-repeat;
            content: "";
            position: absolute;
            top: 4px;
            width: 16px;
            height: 16px;
            left: 0; }
          @media (max-width: 767px) {
            .left-col .steps-wrapper .form-wrapper .checkbox-wrapper label input[type="checkbox"]:checked + span {
              background-size: 24px; } }
        .left-col .steps-wrapper .form-wrapper .checkbox-wrapper label span {
          font-size: 12px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: 0.4px;
          color: #3c3c3b;
          padding: 0 0 0 33px;
          display: inline-block;
          cursor: pointer; }
          .left-col .steps-wrapper .form-wrapper .checkbox-wrapper label span:before {
            background: url(../images/checkbox.png) left bottom no-repeat;
            content: "";
            position: absolute;
            top: 4px;
            width: 16px;
            height: 16px;
            left: 0; }
          .left-col .steps-wrapper .form-wrapper .checkbox-wrapper label span a {
            text-decoration: underline; }

.footer-links {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0;
  width: 50%; }
  @media (max-width: 991px) {
    .footer-links {
      width: 100%; } }
  @media (max-width: 767px) {
    .footer-links {
      position: static;
      margin-top: 40px;
      margin-bottom: 0;
      text-align: center; } }
  .footer-links a {
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.4px;
    color: #3c3c3b;
    text-decoration: none;
    padding: 0 5px 0 0;
    margin: 0 5px 0 0;
    position: relative;
    display: inline-block;
    text-decoration: none; }
    .footer-links a:hover {
      text-decoration: underline; }
    .footer-links a:last-child {
      padding: 0;
      margin: 0; }
      .footer-links a:last-child:after {
        display: none; }
    .footer-links a:after {
      position: absolute;
      right: 0;
      height: 11px;
      width: 1px;
      background: #858586;
      content: "";
      top: 0;
      bottom: 0;
      margin: auto; }

@media (max-width: 991px) {
  .success-left-col .footer-links {
    width: 50%; } }
@media (max-width: 767px) {
  .success-left-col .footer-links {
    width: 100%; } }

.right-col {
  min-height: 100vh;
  background: url(../images/bg.jpg) center center no-repeat;
  background-size: cover;
  width: 50%;
  text-align: center;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 991px) {
    .right-col {
      display: none; } }
  .right-col .logo {
    display: block;
    margin: 0 0 35px 0; }
  .right-col h2 {
    margin: 0 0 3px 0;
    padding: 0;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff; }
  .right-col p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    opacity: 0.9;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 322px; }

.col-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; }

.success-col-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background: linear-gradient(to right, #f0f2f4 0%, #f0f2f4 50%, #9dd7ef 50%, #9dd7ef 100%); }
  @media (max-width: 767px) {
    .success-col-wrapper {
      background: none; } }
  .success-col-wrapper .success-left-col {
    padding: 100px 30px 100px 30px;
    background-color: #f0f2f4;
    width: 50%;
    min-height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    align-content: center; }
    .success-col-wrapper .success-left-col .vcenter {
      min-height: 616px; }
      @media (max-width: 767px) {
        .success-col-wrapper .success-left-col .vcenter {
          min-height: 0; } }
    @media (max-width: 991px) {
      .success-col-wrapper .success-left-col {
        padding-top: 50px;
        padding-left: 40px;
        padding-bottom: 50px; } }
    @media (max-width: 767px) {
      .success-col-wrapper .success-left-col {
        width: 100%;
        padding: 50px 15px;
        justify-content: flex-start;
        min-height: 0; } }
    .success-col-wrapper .success-left-col .success-art {
      margin: 0 0 40px 0; }
      .success-col-wrapper .success-left-col .success-art img {
        max-width: 70%; }
    .success-col-wrapper .success-left-col h1 {
      margin: 0 0 40px 0;
      font-size: 24px;
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 1px;
      color: #3c3c3b;
      padding-left: 70px;
      background: url(../images/step-indicator-success.svg) left center no-repeat; }
      @media (max-width: 991px) {
        .success-col-wrapper .success-left-col h1 {
          padding-left: 50px; } }
      @media (max-width: 767px) {
        .success-col-wrapper .success-left-col h1 {
          padding-left: 35px; } }
    .success-col-wrapper .success-left-col p {
      max-width: 280px;
      padding: 20px 0;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.4px;
      color: #3c3c3b;
      display: block; }
      @media (max-width: 767px) {
        .success-col-wrapper .success-left-col p {
          font-size: 16px;
          max-width: 100%; } }
    .success-col-wrapper .success-left-col .downloads-btn {
      margin: 0 0 60px 0;
      font-size: 0; }
      .success-col-wrapper .success-left-col .downloads-btn a {
        margin: 0 16px 0 0; }
        @media (max-width: 767px) {
          .success-col-wrapper .success-left-col .downloads-btn a {
            margin: 0 20px 40px 0; } }
        .success-col-wrapper .success-left-col .downloads-btn a:last-child {
          margin: 0; }
  .success-col-wrapper .success-right-col {
    padding: 100px 30px 100px 30px;
    width: 50%;
    min-height: 100vh;
    background-color: #9dd7ef;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    align-content: center; }
    @media (max-width: 991px) {
      .success-col-wrapper .success-right-col {
        padding-top: 50px;
        padding-bottom: 50px; } }
    @media (max-width: 767px) {
      .success-col-wrapper .success-right-col {
        width: 100%;
        padding: 52px 15px;
        justify-content: flex-start;
        min-height: 0; } }
    .success-col-wrapper .success-right-col .question-wrapper {
      margin: 0 0 30px 0; }
      .success-col-wrapper .success-right-col .question-wrapper:last-child {
        margin: 0; }
    .success-col-wrapper .success-right-col h2 {
      font-size: 24px;
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 1px;
      color: #3c3c3b;
      margin: 0 0 40px 0;
      max-width: 380px; }
      .success-col-wrapper .success-right-col h2 + p {
        margin-bottom: 30px; }
    .success-col-wrapper .success-right-col strong {
      font-size: 12px;
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.4px;
      color: #3c3c3b;
      display: block;
      margin: 0 0 10px 0;
      max-width: 380px; }
      @media (max-width: 767px) {
        .success-col-wrapper .success-right-col strong {
          font-size: 16px; } }
    .success-col-wrapper .success-right-col p {
      font-size: 12px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.4px;
      color: #3c3c3b;
      max-width: 380px; }
      @media (max-width: 767px) {
        .success-col-wrapper .success-right-col p {
          font-size: 16px; } }
      .success-col-wrapper .success-right-col p + p {
        margin-top: 20px;
        margin-bottom: 20px; }
      .success-col-wrapper .success-right-col p strong {
        display: inline-block;
        margin: 0;
        font-weight: 800; }
      .success-col-wrapper .success-right-col p a {
        text-decoration: underline; }

.full-col .logo {
  margin: 70px 0;
  text-align: center; }
.full-col .vcenter {
  max-width: 640px;
  margin: 0 auto;
  padding: 70px 30px; }
  @media (max-width: 767px) {
    .full-col .vcenter {
      padding-top: 0; } }
  .full-col .vcenter span {
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    color: #eb5c63;
    display: block; }
  .full-col .vcenter strong {
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    color: #3c3c3b;
    margin: 0 0 20px 0;
    display: block; }
  .full-col .vcenter p {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #3c3c3b; }
    .full-col .vcenter p a {
      color: #3c3c3b;
      text-decoration: underline; }
.full-col .footer-links {
  width: 100%; }

/*# sourceMappingURL=style.css.map */
