/*-------------------Global Css-------------------*/
*{ margin:0px; padding:0px; font-family: 'Open Sans', sans-serif; }
body { margin:0px; padding:0px; background:#fff; }
a,button { -webkit-transition: all ease 0.3s; -moz-transition: all ease 0.3s; -o-transition: all ease 0.3s; transition: all ease 0.3s;outline: none; }
img { outline: none; border: 0px; }
.clear { clear:both; }
.container { width:100%; max-width:1110px;}
.wrapper {}

/*-------------------Header-------------------*/
header { position:absolute; width:100%; top:28px; z-index:9; padding:0 15px; }
header .navbar-default { margin:0px; padding:0px; background:none; border:0px; border-radius:0px; height:auto; min-height:0px;}
header .navbar-default .navbar-brand { padding:0px; margin:0 28px 0 0; height:auto; margin-left:0px;}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left:0px;}
header .navbar-default .navbar-nav li { margin:0 20px 0 0;}
header .navbar-default .navbar-nav li:last-child { margin:0px;}
header .navbar-default .navbar-nav li a { margin:0px; padding:0px; font-size:12px; text-decoration:none; font-weight:600; color:rgba(255,255,255,0.4); padding:4px 0 3px 0;text-transform:uppercase; line-height:20px; position:relative; overflow:hidden; }
header .navbar-default .navbar-nav li a:before { content:""; height:2px ; background:#fff;position:absolute; left:50%; right:50%; bottom:0px; -webkit-transition-property: left, right;transition-property: left, right;-webkit-transition-duration: 0.3s;    transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
header .navbar-default .navbar-nav li a:hover,header .navbar-default .navbar-nav li a:hover:before , header .navbar-default .navbar-nav li a.active,header .navbar-default .navbar-nav li a.active:before ,header .navbar-default .navbar-nav li a.active:hover  { left:0px; right:0px; color:#fff;}

/*-------------------Banner-------------------*/
.banner { background:url(../images/Building%20Illustration.svg) bottom center no-repeat #138ef2; min-height:604px; text-align:center;padding:199px 0 190px 0; background-size:100%; }
.banner .banner-content h1 { margin:0px; padding:0px; font-size:36px; color:#fff; font-weight:400; margin-bottom:19px; }
.banner .banner-content p { font-size:24px; line-height:33px; color:rgba(255,255,255,.9); font-weight:400; margin-bottom:40px; }
.banner .banner-content a { line-height:50px; background:#fff; display:inline-block; padding:0 23.5px; background:#fff; border-radius:3px; text-decoration:none; font-size:18px; font-weight:bold; color:#0078ee; position:relative; }
.banner .banner-content a:hover{ background:#0077d7; color:#fff;}

/*-------------------Content-------------------*/
.content { padding:148px 0 0 0; background:#fff;}
.content .top-content-detail { padding:0 0 0 4px; margin:-8px 0 0 0;}
.content .top-content-detail.bototm-content-detail { padding:0px;}
.content .top-content-detail h2 { margin:0 0 19px 0; padding:0px; font-size:28px; color:#2C3135; font-weight:400; line-height:38px; }
.content .top-content-detail p { font-size:18px; color:#9FABBA; margin:0 0 35px 0; padding:0px; line-height:26px;}
.content .top-content-detail ul { margin:0px; padding:0px;}
.content .top-content-detail ul li:last-child { margin-bottom:0px;}
.content .top-content-detail ul li { margin:0 0 34px 0; padding:0px; display:block;}
.content .top-content-detail ul li .icon{ display:inline-block; vertical-align:top;}
.content .thumbnail-outer { margin-bottom:125px;}
.content .thumbnail-outer-bottom { margin-bottom:137px; text-align:center;}
.content .thumbnail-outer-bottom img { display:inline-block;}
.content .top-content-detail ul li span { font-size:18px; line-height:26px; color:#05A2F5; display:inline-block; vertical-align:top; padding:10px 0 0 11px;}
.content .didyouknow { border-radius:3px; background:#f9fafb; text-align:center; padding:28px 0 25px 0; margin:0 0 162px 0;}
.content .didyouknow p { font-size:18px; color:#9FABBA; margin:0px; padding:0px; line-height:22px;}
.content .didyouknow p a { background:#0487f1; border-radius:10px; font-size:13px; color:#fff; font-weight:600; padding:0 8px; text-decoration:none; margin:0 8px 0 0; display:inline-block;}
.content .didyouknow p a:hover{ background:#0077d7;}
.content .didyouknow p span { font-size:18px; color:#23292F; border-bottom:2px solid #108cf2; display:inline-block; padding-bottom:3px;}
.content .join-company-detail { text-align:center; padding:120px 0 83px 0; text-align:center; border-top:1px solid #eaedf0;border-bottom:1px solid #eaedf0; margin-bottom:140px;}
.content .join-company-detail h3 { color:#2C3135; font-size:28px; line-height:38px; font-weight:400; margin-bottom:30px;}
.content .join-company-detail > a {line-height: 50px;background: #138ef2;display: inline-block;padding: 0 23.5px;border-radius: 3px;text-decoration: none;font-size: 18px;font-weight: bold;color: #fff;position: relative; margin-bottom:40px;}
.content .join-company-detail > a:hover{background: #0077d7;color: #fff;}
.content .join-company-detail ul { margin:0px; padding:0px; }
.content .join-company-detail ul li { margin:0px; padding:0px; float:left; width:16.66%; list-style:none; text-align:center; }
.content .join-company-detail ul li img { display:inline-block; max-width:100%;}
.content .top-heading { text-align:center;}
.content .top-heading h4 { margin:0 0 76px 0; padding:49px 0 0 0; background:url(../images/HowWeGetItDone.svg) top center no-repeat; font-size:14px; letter-spacing:1.9px; text-transform:uppercase; font-weight:400; color:#9FABBA;}
.content .user-management-detail { padding:0 40px; margin-bottom:79px;}
.content .user-management-detail h4 { margin:0px; padding:0px; font-size:28px; color:#000000; margin-bottom:24px; }
.content .user-management-detail p { font-size:18px; color:#9FABBA; margin:0 0 36px 0; padding:0px; }
.content .user-management-detail ul { margin:0px; padding:0px;}
.content .user-management-detail ul li:last-child { margin-bottom:0px;}
.content .user-management-detail ul li { margin:0 0 34px 0; padding:0px; display:block;}
.content .user-management-detail ul li .icon{ display:inline-block; vertical-align:top;}
.content .user-management-detail ul li span { font-size:18px; line-height:26px; color:#05A2F5; display:inline-block; vertical-align:top; padding:10px 0 0 11px;}
.content .user-management-detail.complex-project{ border-left:1px solid #eaedf0; padding:0 49px; margin-left:-15px;}
.content .versioning-detail { padding:65px 0 146px 0; border-top:1px solid #eaedf0; text-align:center; }
.content .versioning-detail h4 { font-size:28px; color:#000000; margin-bottom:24px; margin-top:13px; }
.content .versioning-detail p { font-size:18px; color:#9FABBA; margin:0; padding:0px;}
.content .personal-touch { padding:134px 0 140px 0; background:#138ef2; text-align:center; margin-bottom:144px; }
.content .personal-touch h4 {  font-size:28px; color:#fff; margin-bottom:63px; }
.content .personal-touch span { font-size:18px; color:#fff; margin-top:16px; display:block; }
.content .testimonial-detail { padding-bottom:139px;}
.content .testimonial-detail h4{ font-size:28px; color:#000000; margin:0 0 63px 0; text-align:center;}
.content .testimonial-detail .testimonial-box { padding:33px 30px 29px 30px ; border:1px solid #eaedf0; border-radius:3px; min-height:265px;}
.content .testimonial-detail .testimonial-box img { margin-bottom:28px;}
.content .testimonial-detail .testimonial-box p { font-size:24px; line-height:30px; color:#2C3135; margin-bottom:14px; line-height:33px;}
.content .testimonial-detail .testimonial-box a { font-size:14px; color:#4DB0F4; font-weight:600; text-decoration:none;}
.content .testimonial-detail .testimonial-box a:hover{ color:#0077d7;} 
.content .plan-detail { text-align:center; padding-bottom:220px;}
.content .plan-detail h4 {  font-size:28px; color:#000000; margin:0 0 38px 0; padding-top:136px; border-top:1px solid #eaedf0; line-height:38px; }
.content .plan-detail a {line-height:60px;background: #138ef2;display: inline-block;padding: 0 48px;border-radius: 3px;text-decoration: none;font-size:20px;font-weight: 600;color: #fff;position: relative;}
.content .plan-detail a:hover{background: #0077d7;color: #fff;}

/*-------------------Footer-------------------*/
footer { text-align:center; padding-bottom:90px; }
footer ul { margin:0px; padding:0px; }
footer ul li { margin:0px; padding:0px; display:inline-block; line-height:25px; margin:0 14px 0 0; }
footer ul li:last-child { margin:0px;}
footer ul li img { padding:0 5px;}
footer ul li a { color:#c8c8c8; font-size:12px; text-decoration:none; text-transform:uppercase; letter-spacing:0.1px; }
footer ul li a:hover { color:#000; text-decoration:none;} 

/*-------------------Responsive Media Query-------------------*/
@media screen and (max-width:1024px) {
	.banner { padding:130px 0; min-height:480px;}
	.banner .banner-content h1 { font-size:30px;}
	.banner .banner-content p { font-size:18px; line-height:24px;}
	.content { padding:60px 0 0 0;}
	.content .top-content-detail p br { display:none;}
	.content .top-content-detail h2,.content .join-company-detail h3 ,.content .user-management-detail h4,.content .versioning-detail    h4,.content .testimonial-detail h4,.content .plan-detail h4,.content .personal-touch h4{ font-size:22px; line-height:30px;}
	.content .top-content-detail p,.content .user-management-detail p ,.content .versioning-detail p,.content .personal-touch span
	{ font-size:14px;  line-height:22px; margin-bottom:15px; }
	.content .top-content-detail ul li,.content .user-management-detail ul li { margin-bottom:15px; }
	.content .top-content-detail ul li span,.content .user-management-detail ul li span { font-size:14px; line-height:22px;}
	.content .thumbnail-outer ,.content .thumbnail-outer-bottom{ margin-bottom:110px;}
	.content .didyouknow p { font-size:14px;}
	.content .didyouknow p span { font-size:14px;}
	.content .didyouknow { margin-bottom:80px; }
	.content .user-management-detail { padding:0 10px;}
	.content .join-company-detail { padding:60px 0; margin-bottom:60px;}
	.content .user-management-detail.complex-project{ padding:0 20px;}
	.content .versioning-detail { padding:60px 0;}
	.content .personal-touch { padding:60px 0; margin-bottom:60px; }
	.content .testimonial-detail .testimonial-box p { font-size:18px; line-height:24px;}
	.content .testimonial-detail,.content .plan-detail { padding-bottom:80px;}
	.content .plan-detail h4 { padding:60px 0 0 0;}	
}
@media screen and (max-width:767px) {
	.navbar-toggle ,.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
	{ margin:0px; border:0px; border-radius:0px; background:#fff; }
	.navbar-default .navbar-collapse, .navbar-default .navbar-form { border:0px; background:#fff;}
	.navbar-default .navbar-toggle .icon-bar { background-color:#138ef2;}
	header .navbar-default .navbar-nav li a {  color:#138ef2; padding:5px 0;}
	header .navbar-default .navbar-nav li a.active { color:#138ef2; border:0px;}
	.navbar-nav{ margin:0px;}
	.content .thumbnail-outer, .content .thumbnail-outer-bottom ,.content .didyouknow{ margin-bottom:60px;}
	.content .top-content-detail { margin-bottom:60px; text-align:center;}
	.content .thumbnail-outer { text-align:center;}
	.content .thumbnail-outer img , .content .thumbnail-outer-bottom img { max-width:50%; display:inline-block;}
	.content .join-company-detail h3 { margin-top:0px;}
	.content .top-content-detail ul li span, .content .user-management-detail ul li span { width:180px;}
	.content .top-content-detail ul li span br, .content .user-management-detail ul li span br { display:none;} 
	.content .user-management-detail { text-align:center; }
	.content .user-management-detail { margin-bottom:60px;}
	.content .testimonial-detail .testimonial-box { margin-bottom:20px; }
	.content .testimonial-detail, .content .plan-detail { padding-bottom:40px;}
	.content .join-company-detail ul li { float:none; display:inline-block; width:20%; }
}
@media screen and (max-width:639px) {
	.content .top-content-detail h2, .content .join-company-detail h3, .content .user-management-detail h4, .content .versioning-detail    h4, .content .testimonial-detail h4, .content .plan-detail h4, .content .personal-touch h4{ font-size:18px;}
.content .didyouknow { padding:15px;}
.content .personal-touch span { margin-bottom:30px;}
.content .plan-detail h4 br { display:none;}
.content .testimonial-detail .testimonial-box { padding:20px;  min-height:0px;}
.content .testimonial-detail .testimonial-box p{ font-size:14px;}
.content .personal-touch h4 { margin:0 0 30px 0;}
br { display:none !important;}
.content .join-company-detail ul li { width:24%;}

}
@media screen and (max-width:476px) {
	.content .join-company-detail ul li { width:44%;}
}