/*------------Reset-----------*/

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	background: #988c82;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
}

a,
button {
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
	outline: none;
}

img {
	outline: none;
	border: 0px;
}

.clear {
	clear: both;
}

.container {
	width: 100%;
	max-width: 822px;
	margin: 0 auto;
	padding: 0 10px;
}

.secondary-container {
	max-width: 1100px;
}

.wrapper {
	-webkit-animation: fadein 2s forwards;
	animation: fadein 2s forwards;
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: forwards;
	background: #fff;
}

/*------------Preloader-----------*/

.preloader {
	z-index: 99;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #988c82;
	text-align: center;
	-webkit-animation: fadeOut 0s forwards;
	animation: fadeOut 0s forwards;
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
	-webkit-animation-name: fadeOut;
	-webkit-animation-duration: 0s;
	-webkit-animation-fill-mode: forwards;
}

.preloader span {
	font-size: 18px;
	font-weight: 600;
	line-height: 23px;
	letter-spacing: 1.9px;
	color: #ffffff;
	display: block;
}

.loading-animation {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.preloader .loading-bar {
	width: 219px;
	height: 3px;
	background-color: rgba(255, 255, 255, 0.32);
	position: relative;
	display: inline-block;
}

.preloader img {
	max-width: 100px;
	display: inline-block;
	margin-bottom: 22px;
}

.preloader .loading-bar:before {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	background: #fff;
	-webkit-animation: loadingbar 2s linear infinite forwards;
	animation: loadingbar 2s linear infinite forwards;
	-webkit-animation-name: loadingbar;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes loadingbar {
	from {
		width: 0px;
	}
	to {
		width: 100%;
	}
}

@keyframes loadingbar {
	from {
		width: 0px;
	}
	to {
		width: 100%;
	}
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
		z-index: 2;
	}
	to {
		opacity: 0;
		z-index: -1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		z-index: 2;
	}
	to {
		opacity: 0;
		z-index: -1;
	}
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
		z-index: -1;
	}
	to {
		opacity: 1;
		z-index: 1;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
		z-index: -1;
	}
	to {
		opacity: 1;
		z-index: 1;
	}
}

/*------------HeroSection-----------*/

.hero {
	position: relative;
	max-height: 608px;
	overflow: hidden;
}

.hero .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.29);
	z-index: 1;
}

.hero-icon {
	z-index: 2;
	position: absolute;
	top: 22px;
	left: 28px;
}

.hero .hero-content {
	margin-top: 40px;
	z-index: 2;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
}

.hero .hero-content h1 {
	font-size: 55px;
	font-weight: normal;
	line-height: 82px;
	letter-spacing: 0.1px;
	text-align: center;
	color: #ffffff;
}

.hero .hero-content h2 {
	font-size: 25px;
	font-weight: normal;
	font-style: italic;
	letter-spacing: 2.3px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 67px;
}

.hero .hero-content a {
	/* line-height: 51px;
	border-radius: 8px;
	background-color: #01005c;
	display: inline-block;
	padding: 0 55px;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: -0.6px;
	color: #ffffff;
	text-decoration: none; */
}

.hero video {
	width: 100%;
	vertical-align: bottom;
	height:608px;
	object-fit: cover !important;
}

/*------------Content-----------*/

.video-place { 
}

.video-place.video-place--first {
	max-height: 574px;
	overflow: hidden;
	background: #000;
}

.video-place.video-place--first video {
	object-fit: contain;
	width: 100%;
	max-height: 574px;  
}

.video-place.video-place--second {
	max-height: 608px;
	overflow: hidden;
}

.video-place.video-place--second video {
	object-fit: cover;
	width: 100%;  
	  max-height: 608px;
}

.video-place.video-place--third {
	max-height: 736px;
	overflow: hidden;
}

.video-place.video-place--third video {
	object-fit: cover;
	width: 100%;
	max-height: 736px;
}

.content .explore-content {
	margin: 0 auto;
	padding: 72px 0 111px 0;
	background: #fff;
}

.content .explore-content h3 {
	font-size: 38px;
	font-weight: normal;
	line-height: 72px;
	text-align: left;
	color: #2d2d50;
	text-align: center;
	margin-bottom: 21px;
	letter-spacing: -0.5px;
}

.content .explore-content p {
	font-size: 18px;
	font-weight: normal;
	line-height: 28px;
	letter-spacing: normal;
	text-align: left;
	color: #515151;
	margin-bottom: 28px;
}

.content .explore-content p:last-of-type {
	margin-bottom: 0;
}

.content .contact-form {
	background: url(../images/contact-bg.jpg) center center no-repeat;
	background-size: cover;
	padding: 51px 0;
}

.content .contact-form h4 {
	font-size: 45px;
	font-weight: normal;
	line-height: 60px;
	text-align: left;
	color: #ffffff;
	margin-bottom: 27px;
	letter-spacing: 0.5px;
}

.content .explore-content .steps-outer {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 22px 0 0 0;
}

.content .explore-content .steps-outer .step-content.download {
	max-width: 243px;
}

.content .explore-content .steps-outer .step-content.travel {
	max-width: 280px;
}

.content .explore-content .steps-outer .step-content.find-door {
	max-width: 299px;
}

.content .explore-content .steps-outer .step-content.go-content {
	max-width: 309px;
}

.content .explore-content .steps-outer .step-count {
	position: relative;
}

.content .explore-content .steps-outer .step-count span:before {
	background: rgba(51, 51, 51, 0.2);
	height: 2px;
	position: absolute;
	left: 0;
	width: 38%;
	content: "";
	top: 50%;
	transform: translateY(-50%);
}

.content .explore-content .steps-outer .step-count span:after {
	background: rgba(51, 51, 51, 0.2);
	height: 2px;
	position: absolute;
	right: 0;
	width: 38%;
	content: "";
	top: 50%;
	transform: translateY(-50%);
}

.content .explore-content .steps-outer .step-content:first-child span:before {
	display: none;
}

.content .explore-content .steps-outer .step-content:last-child span:after {
	display: none;
}

.content .explore-content .steps-outer span {
	font-family: 'Playfair Display', serif;
	border: solid 1px rgba(51, 51, 51, 0.2);
	border-radius: 50%;
	width: 36px;
	padding: 4px 0;
	height: 36px;
	display: block;
	margin: 0 auto 42px;
}

.content .explore-content .steps-outer strong {
	display: block;
	font-size: 20px;
	line-height: 28px;
	color: #333333;
	margin-bottom: 17px;
	text-align: center;
	font-weight: 400;
}

.content .explore-content .steps-outer p {
	display: block;
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	margin-bottom: 17px;
	text-align: center;
	padding: 0 15px;
}

.content .contact-form label {
	display: block;
	line-height: 32px;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 0.9px;
	text-align: left;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 3px;
}

.content .contact-form input[type="email"],
.content .contact-form input[type="text"] {
	border-radius: 8px;
	background-color: rgba(216, 216, 216, 0.3);
	border: solid 1px #ffffff;
	font-size: 16px;
	color: #fff;
	padding: 10.5px 15px;
	width: 100%;
	outline: none;
	max-width: 100%;
	margin-bottom: 14px;
}

.content .contact-form input[type="email"].error,
.content .contact-form input[type="text"].error {
	border: 1px solid #d0021b;
}

.content .contact-form textarea {
	margin-bottom: 55px;
	min-height: 88px;
	border-radius: 8px;
	background-color: rgba(216, 216, 216, 0.3);
	border: solid 1px #ffffff;
	font-size: 16px;
	color: #fff;
	padding: 12.2px 15px;
	width: 100%;
	outline: none;
	max-width: 100%;
}

.content .contact-form .form-row .name-field {
	position: relative;
	width: 50%;
	display: inline-block;
}

.content .contact-form .form-row .email-field {
	position: relative;
	width: 46%;
	display: inline-block;
}

.content .contact-form .form-row {
	display: flex;
	justify-content: space-between;
}

.content .contact-form .blue-btn {
	line-height: 51px;
	border-radius: 8px;
	background-color: #01005c;
	display: inline-block;
	padding: 0 55px;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: -0.6px;
	color: #ffffff;
	text-decoration: none;
	border: 0;
	min-width: 220px;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
}

.content .contact-form .message-box {
	text-align: center;
	background: #fff;
	padding: 61px 25px 41px;
	max-width: 585px;
	margin: 0 auto;
}

.content .contact-form .message-box.hidden {
	display: none;
}

.content .contact-form .message-box .icon {
	width: 71px;
	padding: 11.5px 0;
	background-color: #888383;
	border-radius: 50%;
	display: inline-block;
	margin-bottom: 33px;
	text-align: center;
}

.content .contact-form .message-box h4 {
	text-align: center;
	margin: 0;
	font-size: 40px;
	font-weight: normal;
	letter-spacing: 0.6px;
	text-align: center;
	color: #2d2d2d;
	line-height: 53px;
	margin-bottom: 35px;
}

.content .contact-form .message-box h5 {
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 0.6px;
	text-align: center;
	color: #2d2d2d;
	max-width: 313px;
	display: block;
	margin: 0 auto;
	margin-bottom: 26px;
}

.content .contact-form .message-box a {
	line-height: 45px;
	border-radius: 8px;
	background-color: #01005c;
	display: inline-block;
	padding: 0 63px;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: -0.6px;
	color: #ffffff;
	text-decoration: none;
}

.error-message {
	position: absolute;
	bottom: 6px;
	right: 50px;
	line-height: 0;
	border-radius: 4px;
	background-color: #d0021b;
	padding: 9px 15px 11px;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0.9px;
	text-align: left;
	color: #ffffff;
	display: none;
}

input.error+.error-message {
	display: block;
}

/* .error-message.visible {
	display: block;
} */

/*------------Footer-----------*/

footer {
	background-color: #2d2d2d;
	padding: 48px 0 48px 0;
}

footer .container {
	max-width: 1040px;
}

footer .footer-copy {
	float: left;
}

footer .footer-copy p {
	font-size: 14px;
	font-weight: 200;
	line-height: 18px;
	color: #9a9a9a;
}

footer .footer-links {
	float: right;
}

footer .footer-links ul {
	margin: 0;
	padding: 0;
}

footer .footer-links ul li {
	display: inline-block;
	margin: 0 60px 0 0;
}

footer .footer-links ul li:last-child {
	margin: 0;
}

footer .footer-links ul li a {
	font-size: 14px;
	font-weight: 200;
	line-height: 18px;
	color: #9a9a9a;
	text-decoration: none;
}

footer .footer-links ul li a:hover {
	color: #fff;
	text-decoration: underline;
}

/*------------Protected Page-----------*/

.protected .hero {
	max-height: 711px;
}

.protected .hero .hero-content {
	margin-top: 20px;
}

.protected .hero .hero-icon img {
	max-width: 42px;
}

.protected .hero .hero-content h1 {
	font-size: 60px;
}

.protected .hero .hero-content h2 {
	font-size: 30px;
	margin-bottom: 42px;
}

.protected .hero .hero-content a {
	line-height: 60px;
	padding: 0 27px;
	font-size: 20px;
}

.protected .hero .hero-content a small {
	font-size: 13px;
}

.protected .hero>img {
	width: 100%;
	vertical-align: bottom;
	min-height: 240px;
}

.password-outer {
	background-color: #988c82;
	min-height: 100vh;
	text-align: center;
}

.password-outer label {
	font-size: 60px;
	font-weight: 400;
	line-height: 60px;
	text-align: center;
	margin: 0 0 38px 0;
	color: #ffffff;
	display: block;
	font-family: 'Playfair Display', serif;
}

.password-outer input[type="password"] {
	border-radius: 7px;
	border: solid 2px #ffffff;
	padding: 17px;
	width: 100%;
	margin: 0 auto;
	background: transparent;
	font-size: 50px;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
	outline: none;
}

.password-outer .password-form {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 100%;
}

.protected .container {
	max-width: 870px;
}

.protected .content .explore-content {
	max-width: 800px;
	text-align: center;
}

.protected .content .explore-content p {
	font-size: 20px;
	text-align: center;
	color: #212121;
	line-height: 27px;
}

.protected .two-column {
	padding-bottom: 160px;
}

.protected .two-column .container {
	display: flex;
	justify-content: space-around;
}

.protected .two-column .column {
	flex: 0 0 360px;
	text-align: center;
}

.protected .two-column .column img {
	max-width: 187px;
	width: 100%;
}

.protected .two-column .column p {
	font-size: 20px;
	text-align: center;
	color: #212121;
	line-height: 24px;
	margin: 31px 0 0 0;
}

.protected .content .explore-content h3 {
	color: #131313;
}

.protected footer {
	padding: 20px 0;
}

.protected .content .explore-content {
	padding-top: 110px;
}

.protected .password-field {
	position: relative;
	display: inline-block;
}

.error-outer .error-message {
	display: block;
}

.password-outer .error-outer input[type="password"] {
	border-color: #d0021b;
}

.protected .password-field .error-message {
	bottom: -7px;
}

@media only screen and (max-width: 991px) {
	.protected .hero .hero-content h1 {
		font-size: 40px;
		line-height: 60px;
	}
	.protected .hero .hero-content h2 {
		font-size: 22px;
	}
}

@media only screen and (max-width: 767px) {
	.hero .hero-icon {
		display: none;
	}
	.hero {
		max-height: 500px;
	}
	.hero video {
		height: 100%;
		min-height: 260px;
	}
	.hero .hero-content {
		margin-top: 0;
	}
	.content .contact-form .form-row {
		flex-direction: column;
	}
	.content .contact-form .form-row .name-field,
	.content .contact-form .form-row .email-field {
		width: 100%;
	}
	.protected .two-column .container {
		flex-direction: column;
	}
	.protected .two-column .column {
		flex: 0 0 100%;
		margin-bottom: 40px;
	}
	.protected .hero .hero-content h1 {
		font-size: 32px;
	}
	.protected .hero .hero-content h2 {
		margin-bottom: 15px;
	}
	.protected .hero .hero-content a {
		font-size: 16px;
		line-height: 40px;
	}
	.protected .hero .hero-content {
		margin-top: 0;
	}
	.protected .content .explore-content {
		padding: 40px 0;
	}
	.protected .two-column {
		padding-bottom: 40px;
	}
	.protected .content .explore-content h3 {
		text-align: center;
	}
	.password-outer label {
		font-size: 36px;
		margin-bottom: 20px;
	}
	.password-outer .password-form {
		padding: 0 15px;
	}
	.password-outer input[type="password"] {
		padding: 10px 17px;
		font-size: 40px;
	}
	.content .explore-content .steps-outer {
		flex-direction: column;
	}
	.content .explore-content .steps-outer .step-content {
		margin: 0 auto 20px ;
	}
	.content .explore-content .steps-outer .step-content:last-child {
		margin-bottom: 0;
	}
	.content .explore-content .steps-outer .step-count span:after ,.content .explore-content .steps-outer .step-count span::before {
		display: none;
	}
	.content .explore-content .steps-outer span {
		margin-bottom: 15px;
	}
	
}

@media only screen and (max-width: 480px) {
	.hero .hero-content h1 {
		font-size: 24px;
		line-height: 36px;
	}
	.hero .hero-content h2 {
		font-size: 15px;
		margin-bottom: 28px;
	}
	.hero .hero-content a {
		line-height: 39px;
	}
	.content .explore-content h3 {
		font-size: 24px; 
		line-height: 42px;
	}
	.content .explore-content h3 br {
		display: none;
	}
	.content .explore-content p {
		font-size: 14px;
		line-height: 32px;
	}
	.content .contact-form h4 {
		font-size: 24px;
		line-height: 32px;
	}
	.content .contact-form input[type="email"],
	.content .contact-form input[type="text"] {
		margin-bottom: 23px;
	}
	.error-message {
		bottom: 16px;
	}
	footer .footer-links ul li {
		margin: 0 20px 0 0;
	}
	footer .footer-copy {
		float: none;
		text-align: center;
		margin-bottom: 15px;
	}
	footer .footer-links {
		float: none;
		text-align: center;
	}
	.content .explore-content {
		padding: 45px 0;
	}
	.content .contact-form label {
		font-size: 15px;
	}
	.content .contact-form .blue-btn {
		min-width: 0;
	}
	.content .contact-form .message-box h4 {
		font-size: 24px;
		line-height: 32px;
	}
	.content .contact-form .message-box h5 {
		font-size: 15px;
	}
	.content .contact-form .message-box a {
		font-size: 15px;
	}
	.protected .hero .hero-content h1 {
		font-size: 24px;
		line-height: 40px;
	}
	.protected .hero .hero-content h2 {
		font-size: 16px;
	}
	.protected .content .explore-content p,
	.protected .two-column .column p {
		font-size: 16px;
	}
	.password-outer label {
		font-size: 26px;
		margin-bottom: 10px;
	}
	.password-outer input[type="password"] {
		padding: 2px 15px;
	}
}