*{ margin:0px; padding:0px; box-sizing:border-box;}
body { margin:0px; padding:0px;font-family: 'Roboto', sans-serif; background:#f1f1f1;}
.wrapper {}
.container {width:100%; max-width:1140px; margin:0 auto; padding:0px;}
.clear { clear:both;}

/*----------------Header----------------*/

header { margin:0px;padding:0px; background:#37407d;max-height:64px; padding:}
header .header-menu { padding:23px 24px 27px 25px; width:70px; float:left; border-right:1px solid rgba(255,255,255,0.1);} 
header .header-menu a { display:block;}
header .header-menu a span { width:20px; background:#fff;border:0px none; height:2px ; margin:0 0 4px 0; display:block;}
header .header-menu a span:last-child {margin-bottom:0px;}
header .logo {float:left; padding:15px 19px 0 24px;}

/*----------------Navbar----------------*/
.menu-overlay { position:fixed; width:100%; height:100%; z-index:999999;opacity: 0.6;background-color: #000000; display:none; top:0; }      
nav { width: 247px;height: 100%;background-color: #ffffff;box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);position:fixed; top:0; left:-247px; z-index:9999999;-webkit-transition: all ease 0.7s;-moz-transition: all ease 0.7s;-o-transition: all ease 0.7s;transition: all ease 0.7s; outline:none; }
nav.opennav { left:0;} 
nav .nav-logo { padding:16.8px 0 16.8px 18px; background:#37407d; }
nav .nav-logo a.close-menu { float:right; margin:0 18px 0 0; color:rgba(117, 117, 117, 0.3); }
nav .nav-logo a.close-menu .fa { font-size:23px;color:rgba(117, 117, 117, 0.3); line-height:30px; }
nav ul { margin:0px; padding:67px 0 0 0px; }
nav ul li { display:block; margin:0 0 30px 0; padding:0; }
nav ul li a { opacity: 0.8;font-size: 15px;font-weight: normal;text-align: left;color: #000000; text-decoration:none; padding:0 0 0 25px; display:block; text-decoration:none; line-height:21px; }
nav ul li a:hover { text-decoration:none;color: #000000; }
nav ul li a img { vertical-align:middle; margin:0 27px 0 0;}
 

.ppc-merketing-content {}
.ppc-merketing-content .topbar {background-color: #ffffff; border-bottom: 1px solid rgba(0, 0, 0, 0.12); text-align: center;position: relative; margin-bottom: 79px; }
.ppc-merketing-content .topbar ul { margin: 0px; padding: 0px; }
.ppc-merketing-content .topbar ul li { display: inline-block; margin: 0 18px 0 0; }
.ppc-merketing-content .topbar ul li a { font-size: 15px;text-align: left;color: #3f4b86; text-decoration: none;line-height: 18px; padding: 24px 8.5px 20px 8.5px; border-bottom: 2px solid transparent; display: inline-block; }
.ppc-merketing-content .topbar ul li a.active {border-bottom: 2px solid #4cae4f; }
.ppc-merketing-content .topbar .add-keyword { position: absolute; right: 69px; top: 20px;  }
.ppc-merketing-content .topbar .add-keyword a { text-decoration: none; margin-left: 48px; }
.ppc-merketing-content .topbar .add-keyword a img { max-width: 24px;}
.ppc-merketing-content .inner-content { margin-bottom: 30px; display: flex;display: -webkit-flex;display: -moz-flex;display: -ms-flex; display: -o-flex; justify-content: space-between; }
.ppc-merketing-content .left-tabs-detail { width: 48.7%; margin:0;  background-color: #ffffff;box-shadow: -2px 2px 2px 0 rgba(119, 151, 178, 0.16);}
.ppc-merketing-content .left-tabs-detail .top-title {margin-bottom: -3px; padding: 17px 13px 0 20px; }
.ppc-merketing-content .left-tabs-detail .top-title p {  font-size: 12px; color: rgba(0,0,0,.54); margin: 0; padding: 0; }
.ppc-merketing-content .left-tabs-detail .top-title a { text-decoration: none; font-size: 12px; color: rgba(0,0,0,.54); margin: 0; padding: 0; font-weight: 500; text-transform: uppercase; }
.ppc-merketing-content .left-tabs-detail .nav-tabs { padding: 0 20px;    padding-top: 14px; border-bottom: 1px solid #e3e3e3; }
.ppc-merketing-content .left-tabs-detail .nav-tabs>li { margin: 0 28px 0 0; padding: 0;margin-bottom: -1px; }
.ppc-merketing-content .left-tabs-detail .nav-tabs>li>a { padding: 0 9px 8px 10px; margin: 0; border:0; font-size: 14px;font-weight: 500; 
  letter-spacing: 0.5px; text-align: center; text-transform: uppercase; color: #656565; border-bottom: 2px solid transparent; }
.ppc-merketing-content .left-tabs-detail .nav-tabs>li>a:hover { background: none; }
.ppc-merketing-content .left-tabs-detail .nav-tabs>li.active>a, .ppc-merketing-content .left-tabs-detail .nav-tabs>li.active>a:focus, .ppc-merketing-content .left-tabs-detail .nav-tabs>li.active>a:hover { margin: 0; padding: 0 9px 8px 10px; border:0; }
.ppc-merketing-content .left-tabs-detail .nav-tabs li.active a { color: rgba(0,0,0,.87); }
.ppc-merketing-content .left-tabs-detail .nav-tabs li.active.high { border-bottom: 2px solid #c93618; }
.ppc-merketing-content .left-tabs-detail .nav-tabs li.active.medium { border-bottom: 2px solid #ffbe00; }
.ppc-merketing-content .left-tabs-detail .nav-tabs li.active.low { border-bottom: 2px solid #4cae4f; }
.ppc-merketing-content .left-tabs-detail .tab-content {}
.ppc-merketing-content .left-tabs-detail .tab-content ul { padding: 7px 0px 0 0px; margin: 0;  }
.ppc-merketing-content .left-tabs-detail .tab-content ul.scrollable {height: 360px;}
.ppc-merketing-content .left-tabs-detail .tab-content ul li { display: block; margin-bottom: -8px; }
.ppc-merketing-content .left-tabs-detail .tab-content ul li a {border: solid 1px transparent; text-decoration: none; padding: 8px 17.6px 9px 12px; display: block; }
.ppc-merketing-content .left-tabs-detail .tab-content ul strong { margin-bottom: 1px; font-size: 13px; font-weight: 500; line-height: 19px; text-align: left; color: #000000; padding-left: 21px;}
.ppc-merketing-content .left-tabs-detail .tab-content ul span { font-size: 13px; line-height: 19px; color:rgba(0,0,0,.54); }
.ppc-merketing-content .left-tabs-detail .tab-content ul p { max-width: 454px; font-size: 13px; line-height: 19px; color:rgba(0,0,0,.54); margin: 0; padding: 0;}
.ppc-merketing-content .left-tabs-detail .tab-content ul strong.high-alert { background: url(../images/high-alert.png) left center no-repeat; background-size: 12px 11px; }
.ppc-merketing-content .left-tabs-detail .mCSB_inside > .mCSB_container { margin: 0; }
.ppc-merketing-content .mCSB_scrollTools { right:-2px;}
.ppc-merketing-content .mCustomScrollBox { padding: 0 6px 0 7px; }
.ppc-merketing-content .mCS-rounded.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {  width:4px; height: 40px; border-radius: 2px; background-color: #d5d5d5; right:-5px;}
.ppc-merketing-content .mCSB_scrollTools .mCSB_draggerRail {  border-radius: 2px;
  background-color: #f3f3f3; width:4px; }
.ppc-merketing-content .left-tabs-detail .tab-content ul li a:hover {border: solid 1px #e3e3e3; box-shadow: -2px 2px 2px 0 rgba(119, 151, 178, 0.16);}
.filterable-graph{ min-height: 460px; display: flex; align-items: center; width: 48.7%; text-align: center; background-color: #ffffff; box-shadow: -2px 2px 2px 0 rgba(119, 151, 178, 0.16); }
.filterable-graph h4 { opacity: 0.72; font-size: 24px; font-weight: normal; letter-spacing: 0.5px; text-align: center;color: #656565; width: 100%; margin: 0 0 -5px 0;}
.ppc-merketing-content .widgets-row  { padding: 30px; background: #fff; margin-bottom: 30px; }
.ppc-merketing-content .widgets-row ul {justify-content: space-between; margin: 0;padding: 0; display: flex;display: -webkit-flex;display: -moz-flex;display: -ms-flex; display: -o-flex;  }
.ppc-merketing-content .widgets-row ul li { width: 17.78%; text-align: center; padding: 60.7px 5px 59.5px;background-color: #eeeeee; list-style: none;font-size: 14px;font-weight: 500; letter-spacing: 0.5px; color: #656565; }
 { height: auto !Important; }
.ppc-merketing-content .filters { padding: 15px 19px 6px 21px; }
.ppc-merketing-content .filters a { font-size: 13px; font-weight: 500; line-height: 19px; color: #656565; text-decoration: none; padding-right: 20px; background: url(../images/sort-a-icon.svg) right center no-repeat;}
.ppc-merketing-content .left-tabs-detail .tab-content ul.noscroll { padding: 7px 7px 92px 7px; }
.ppc-merketing-content .alerts-detail { padding: 20px; }
.ppc-merketing-content .alerts-detail .alert-assing { padding: 18px 20px 14.2px; background-color: #f1f1f1; margin-bottom: 16px; }
.ppc-merketing-content .alerts-detail .alert-assing ul{ margin: 0 0 9px 0; padding: 0px; } 
.ppc-merketing-content .alerts-detail .alert-assing ul li { margin: 0; padding: 0; display: inline-block; }
.ppc-merketing-content .alerts-detail .alert-assing label { display: block;font-size: 12px; line-height: 14px;
  color:rgba(0,0,0,.54); font-weight: 400; margin-bottom: 2px; }
  .ppc-merketing-content .alerts-detail .alert-assing span {font-size: 13px; line-height: 19px;
  color:rgba(0,0,0,.87) !Important; font-weight: 400; display: inline-block; }
.ppc-merketing-content .alerts-detail p { line-height: 19px; font-size: 13px; margin: 0 0 19px 0; padding: 0; color: rgba(0,0,0,.87); }
.ppc-merketing-content .alerts-detail .alert-assing .security-level { width: 115px; }
.ppc-merketing-content .alerts-detail .alert-assing .security-level span { padding-left: 21px; }
.ppc-merketing-content .alerts-detail .alert-assing .security-level span.high {background: url(../images/high-alert.png) left center no-repeat;
    background-size: 12px 11px;}
.ppc-merketing-content .alerts-detail .alert-assing .alert-type { width: 131px; }
 .ppc-merketing-content .alerts-detail .alert-assing .age { width:91px; }
.ppc-merketing-content .alerts-detail .alert-assing .assigned-to { width: 119px; }
.ppc-merketing-content .alerts-detail .alert-assing .assigned-to .bootstrap-select { max-width: 100%; }
.ppc-merketing-content .alerts-detail .alert-assing a { font-size: 12px; font-weight: 500; letter-spacing: 0.4px; color: #656565; text-transform: uppercase;}

.ppc-merketing-content .alerts-detail  .bootstrap-select { outline: none; border:0px; width: auto; background: none; }
.ppc-merketing-content .alerts-detail .bootstrap-select>.dropdown-toggle {padding-top: 0;padding-bottom: 0; padding-left: 0; box-shadow: none; margin: 0px; border: 0px; background: none; color: #3f4b86; line-height: 18px; font-size: 15px; }
.ppc-merketing-content .alerts-detail .btn-info.active.focus, .ppc-merketing-content .alerts-detail .btn-info.active:focus, .ppc-merketing-content .alerts-detail .btn-info.active:hover, .ppc-merketing-content .alerts-detail .btn-info:active.focus, .ppc-merketing-content .alerts-detail .btn-info:active:focus, .ppc-merketing-content .alerts-detail .btn-info:active:hover,.ppc-merketing-content .alerts-detail .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .ppc-merketing-content .alerts-detail 
.open>.dropdown-toggle.btn-info:hover{background: none;border: 0px;color: #3f4b86;box-shadow: none;outline: none;}
.ppc-merketing-content .alerts-detail .bootstrap-select .dropdown-toggle:focus { outline: none !important; }
.ppc-merketing-content .alerts-detail ul.dropdown-menu{background: none;}
.ppc-merketing-content .alerts-detail div.dropdown-menu {max-height: none !important;padding: 10px 0;border-radius: 2px;background-color: #fafafa; 
width: 200px;left: -10px;right: auto;}
.ppc-merketing-content .alerts-detail div.dropdown-menu  li { display: block; }
.ppc-merketing-content .alerts-detail div.dropdown-menu li.selected a {color: rgba(0, 0, 0, 0.87);background: #eee;outline: none;border: 0px;}
.ppc-merketing-content .alerts-detail div.dropdown-menu  li a {line-height: 32px;color: rgba(0, 0, 0, 0.54);padding: 0 15px;display: block;width: 100%;margin: 0px;}
.ppc-merketing-content .suggested-fixes { padding: 2px 0 0 0; }
.ppc-merketing-content .suggested-fixes strong {   font-size: 13px; font-weight: 500; margin-bottom: 1px; line-height: 19px; display: block; color:rgba(0,0,0,.87); }
.ppc-merketing-content .suggested-fixes ul { margin: 0;padding: 0; }
.ppc-merketing-content .suggested-fixes ul li { display: block; margin: 0  0 1px 0!Important;padding: 0; }
.ppc-merketing-content .suggested-fixes ul li a { padding: 0 !Important; border: 0 !Important; margin: 0 !Important; font-size: 13px; line-height:19px; color: #37407d; }
.ppc-merketing-content .suggested-fixes ul li a:hover { border: 0 !important; box-shadow: none !important; }

/*----------------Footer----------------*/ 
footer { padding:30px 0; text-align:center;}
footer p { margin:0px; padding:0px; opacity: 0.54;font-size: 12px;text-align: center;color:#000000; }  


/*----------------PPC Marketing----------------*/ 

 
@media only screen and (max-width: 1140px) { 
	 
}
@media only screen and (max-width:992px) { 
	
}
@media only screen and (max-width: 640px) { 
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
 