*{ margin:0px; padding:0px; }
body{ margin:0px; padding:0px; font-family: 'Montserrat', sans-serif; }
.wrapper {}
a,button {-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;transition: all ease 0.5s; outline:none;}
img { outline:none; border:0px;}
 
/*------Header------*/
header { padding:17px 0; position:absolute; width:100%; z-index:1;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;transition: all ease 0.5s; outline:none;}
header .navbar-default { margin:0px; padding:0px; height:auto; background:none; border-radius:0px; border:0px;}
header .navbar-default .navbar-nav { margin:0px;}
header .navbar-default .navbar-nav li a { padding:0px; line-height:64px; font-size:15px; color:#111111; text-transform:uppercase; margin:0 30px 0 0;}
header.fixed { position:fixed;width:100%; top:0px; z-index:9; background:#fff; padding:5px 0;-webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.10);
-moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.10);box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.10);}
header.fixed .logo img { width:70%;}
header .navbar-default .navbar-nav li a:hover { color:#9d1f60;}
header .navbar-default .navbar-nav li:last-child a { margin:0px;}
header .navbar-collapse { padding-left:0px; padding-right:0px;}
header .container-fluid { padding-left:0px; padding-right:0px;}
header .getin-touch { margin:8px 0 0 0; text-align:right;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;transition: all ease 0.5s; outline:none;}
header.fixed .navbar-default .navbar-nav li a { line-height:50px;}
header.fixed .getin-touch { margin:0px;}
header .getin-touch a { line-height:44px; font-size:15px; font-weight:bold; color:#9d1f60; text-decoration:none; display:inline-block; border-radius:4px; text-transform:uppercase; border:2px solid #9d1f60; padding:0 14px; }
header .getin-touch a:hover { color:#fff; background:#9d1f60;}

/*------Banner------*/
.banner { position:relative;}
.banner .banner-detail { background:rgba(255,255,255,0.8); padding:33px 36px 40px 30px; position:absolute; top:206px; margin:0 48px 0 0;}
.banner .banner-detail h1 { font-size:50px; line-height:65px; color:#111111; text-transform:uppercase; margin:0 0 32px 0; font-weight:bold; letter-spacing:-0.5px;}
.banner .banner-detail p {font-family: 'Muli', sans-serif; font-size:22px; line-height:36px; font-weight:300; margin:0 0 50px 0;}
.banner .banner-detail a { font-size:15px; color:#fff; text-decoration:none; line-height:48px; padding:0 44px; border-radius:3px; background:#9d1f60; display:inline-block; font-weight:bold; text-transform:uppercase;}
.banner .banner-detail a:hover {color:#9d1f60; background:#fff; }
.banner .search-section { position:absolute; bottom:0px; padding:26px 0; background:rgba(0,0,0,0.3); width:100%;}
.banner .search-section input[type="text"] { line-height:48px; border-radius:3px 0 0 3px; outline:none; border:0px; padding:0 15px; font-size:15px; color:#999999; height:auto;font-family: 'Muli', sans-serif;}
.input-group .form-control:focus { z-index:auto;}
.banner .form-control { box-shadow:none;}
.banner .search-section button { background:#9d1f60; color:#fff; border:0px; line-height:48px; padding:0 30px; margin:0px; border-radius:3px;}
.banner .search-section button:hover { color:#9d1f60; background:#fff;}

/*------Content------*/
.content { padding:81px 0 0 0;}
.content .content-top { text-align:center;}
.content .content-top p { font-size:30px; line-height:50px; color:#000;font-family: 'Muli', sans-serif; font-weight:300; margin:0 0 88px 0;}
.content .who-we-are { background:url(../images/who-we-are-bg.png) center center no-repeat; background-size:cover; text-align:center; padding:104px 0 264px 0; max-height:400px;}
.content .who-we-are h2{ font-size:46px; line-height:36px; color:#fefefe; font-weight:bold; text-transform:uppercase; margin:0px; }
.content .who-we-are-detail { padding-bottom:51px; background:#f3f3f3;}
.content .who-we-are-detail .about-description { margin:-200px 0 0 0; padding:56px 56px 46px 46px; background:url(../images/who-we-are--detail-bg.png) center center no-repeat; background-size:cover; max-height:530px; border-radius:3px;}
.content .who-we-are-detail .about-description h3 { margin:0 0 48px 0; padding:0 0 28px 0; font-size:25px; line-height:40px; font-weight:300;font-family: 'Muli', sans-serif; font-style:italic; color:#9d1f60; background:url(../images/heading-border.png) left bottom no-repeat; }
.content .who-we-are-detail .about-description p { font-size:15px; color:#444444; line-height:28px;font-family: 'Muli', sans-serif;  font-weight:300; padding-bottom:40px; margin:0px;}
.content .who-we-are-detail .learn-more { text-align:center;}
.content .who-we-are-detail .learn-more a { font-size:15px; color:#fff; text-decoration:none; line-height:48px; padding:0 44px; border-radius:3px; background:#9d1f60; display:inline-block; font-weight:bold; text-transform:uppercase;}
.content .who-we-are-detail .learn-more a:hover {color:#9d1f60; background:#fff; }
.content .our-serivce { padding:106px 0 106px 0; background:#fff;}
.content .our-serivce h4 { text-align:center; margin:0 0 53px 0; padding:0px; font-size:46px; line-height:36px; color:#111111; text-transform:uppercase; font-weight:bold;}
.content .our-serivce  p{ font-size:18px; color:#444444; line-height:34px;font-family: 'Muli', sans-serif;  font-weight:300; padding:0 78px 30px 78px; margin:0px; text-align:center;}
.content .our-serivce .service-box { position:relative; margin-bottom:28px; overflow:hidden;}
.content .our-serivce .service-box img { border-radius:3px;}
.content .our-serivce .service-box h4 { font-size:22px; font-weight:400; margin:0 0 0 32px; line-height:20px; text-transform:uppercase; padding:0 0 18px 0; text-align:left; color:#fff; background:url(../images/heading-border-2.png) left bottom no-repeat; position:absolute; bottom:32px;}
.content .our-serivce .service-box .service-box-detail { position:absolute; top:0px; padding:32px 32px; background:rgba(157,31,96,0.9);border-radius:3px; top:400px; height:100%;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.8s;-o-transition: all ease 0.8s;transition: all ease 0.8s; outline:none;}
	.content .our-serivce .service-box:hover h4 { opacity:0;-webkit-transition: all ease 0.5s;-moz-transition: all ease 0.5s;-o-transition: all ease 0.5s;transition: all ease 0.5s; outline:none;}
.content .our-serivce .service-box:hover .service-box-detail{ top:0px}

.content .our-serivce .service-box .service-box-detail h4 { position:static; margin:0 0 16px 0; opacity:1; letter-spacing:-0.5px; }
.content .our-serivce .service-box .service-box-detail p { font-size:14px; line-height:20px; color:#ffffff; margin:0px; padding:0 0 20px 0; text-align:left; }
.content .our-serivce .service-box .service-box-detail a {font-size:16px; margin:0px;  text-decoration:none; color:#fff; font-weight:300;font-family: 'Muli', sans-serif; background:url(../images/plus-icon.png) left center no-repeat; padding:0 0 0 25px; }
.content .stats-detail { text-align:center;  padding:116px 0; max-height:350px;}
.content .stats-detail span { font-size:80px; line-height:56px; color:#ffffff; font-weight:400; margin:0 0 39px 0; padding:0px; display:block;}
.content .stats-detail p { margin:0px; padding:0px; font-size:24px; line-height:18px; color:#fff; text-transform:uppercase; }


/*------Service Page------*/
header.inner-pages { position:static;}
header.inner-pages.fixed { position:fixed;}
.banner-inner {  background-size:cover; padding:103px 0; text-align:center;}
.banner-inner h1 { margin:0 0 30px 0; padding:0px; color:#ffffff; font-size:50px; line-height:36px; font-weight:bold; }
.banner-inner p { margin:0px; padding:0px; font-size:24px; line-height:26px; color:#ffffff;font-family: 'Muli', sans-serif; font-weight:300; }
.content.inner-pages { padding:87px 0 106px 0; }
.content.inner-pages p { margin:0 0 53px 0; padding:0px; text-align:center; font-size:18px; line-height:20px;}
.content.inner-pages .our-serivce { padding:0px;}

/*------Contact Page------*/
.content.contact-form { padding:74px 0 90px 0; background:#f3f3f3; }
.content.contact-form input[type="text"] , .contact-form input[type="email"],.contact-form input[type="tel"],textarea { background:#ffffff; line-height:50px; padding:0 20px; border-radius:3px; font-size:18px; color:#444444;font-family: 'Muli', sans-serif; font-weight:300; margin-bottom:20px; border:0px; box-sizing:border-box; width:100%; resize:none; outline:none; }
.content.contact-form textarea { resize:none; outline:none; min-height:150px;}

/*------Contact Page------*/
.content.career-detail { padding-bottom:126px;}
.content.career-detail .tabs-heading { text-align:center; margin-bottom:40px;}
.content.career-detail .nav-tabs { border-bottom:0px; text-align:center; display:inline-block; }
.content.career-detail .nav-tabs li { width:176px; text-align:center; background:#f2f2f2;height:50px; margin:0px;}
.content.career-detail .nav-tabs li.active a { color:#fff;}
.content.career-detail .nav-tabs li a { font-size:18px; color:#111111; text-decoration:none; border-radius:4px 0 0 4px; margin:0px; height:50px; }
.content.career-detail .nav-tabs li:last-child a { border-radius:0 4px 4px 0;}
.content.career-detail .nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover { border:0px; background:#9d1f60; margin:0px;}
.content.career-detail .job-detail { background:#f2f2f2; border-radius:3px; padding:25px 20px; margin:0 0 28px 0;} 
.content.career-detail .job-detail h2 { margin:0 0 17px 0; padding:0px; font-size:20px; line-height:18px; font-weight:400; color:#222222;}
.content.career-detail .job-detail ul { margin:0px; padding:0px;}
.content.career-detail .job-detail ul li { display:inline-block; font-size:14px; line-height:18px; margin:0 0 10px 0; padding:0 6px; color:#444444; padding-left:0px; border-right:1px solid #555555;}
.content.career-detail .job-detail ul li:last-child { border:0px; }
.content.career-detail .job-detail p { margin:0px; padding:0px;font-family: 'Muli', sans-serif; font-weight:300;font-size:14px; line-height:23px; color:#444444; margin-bottom:15px;}
.content.career-detail .job-detail a { font-size:16px;line-height:20px; color:#9d1f60; text-decoration:none; background:url(../images/plus-icon-2.png) left center no-repeat; padding-left:25px; margin:0px;}

/*------Footer------*/
footer { padding:70px 0; background:#341c28;}
footer p { color:#8c6d7c; margin:0px; padding:0px; font-size:16px; line-height:16px;}
footer ul { margin:0px;padding:0px; text-align:right;}
footer ul li { display:inline-block; margin:0 0 0 36px; list-style:none;}
footer ul li a:hover { opacity:0.5;}




/*------Media Queries------*/
@media only screen and (max-width:1800px) {
	.banner .banner-detail { top:156px;}
	.banner .banner-detail h1 { margin-bottom:10px;}
	.banner .banner-detail p { margin-bottom:30px;}
}
@media only screen and (max-width:1600px) {
	.banner .banner-detail { top:126px;}
	.banner .banner-detail { padding-top:20px; padding-bottom:20px;} 
}
@media only screen and (max-width:1400px) {
	.banner .banner-detail { top:100px;}
	.banner .banner-detail h1 { margin-bottom:12px; font-size:46px; line-height:54px;}
	.banner .banner-detail p { font-size:20px;line-height:28px; margin-bottom:20px;}
	.banner .search-section { padding:16px 0;}
}
@media only screen and (max-width:1200px) {
	header .navbar-default .navbar-nav li a { font-size:13px; margin:0 20px 0 0;}
	.banner .banner-detail h1 { font-size:30px; line-height:30px;}
	.banner .banner-detail { top:100px; padding:20px;}
	.banner .banner-detail p { font-size:18px; line-height:24px;}
	.banner .banner-detail a,.content .who-we-are-detail .learn-more a { font-size:13px; line-height:38px; padding:0 24px;}
	.banner .search-section { padding:16px 0;}
	.banner .search-section input[type="text"] , .banner .search-section button { line-height:40px;}
	.content .who-we-are-detail .about-description p { padding-bottom:20px;}
	.content .our-serivce .service-box h4 { font-size:18px;}
	.content .our-serivce .service-box .service-box-detail { padding:20px 12px; width:100%; box-sizing:border-box;}
	.content .stats-detail span { font-size:70px; line-height:36px;}
	.content .stats-detail p { font-size:20px;}
}

@media only screen and (max-width:991px) {
	header .navbar-default .navbar-nav li a { line-height:34px;}
	header.fixed .navbar-default .navbar-nav li a { line-height:34px;}
	header.fixed .logo img { width:100%;}
	header .getin-touch a { font-size:13px; line-height:34px;}
	.navbar { min-height:0px;}
	header.fixed { padding:15px 0 15px 0;}
	.banner .banner-detail { padding:15px; display:none;}
	.content { padding:30px 0 0 0;}
	.content .content-top p { margin-bottom:30px; font-size:26px; line-height:40px;}
	.content .who-we-are { padding-top:64px;}
	.content .who-we-are-detail .about-description h3 { font-size:20px; line-height:30px; }
	.content .who-we-are-detail .about-description p { font-size:13px; line-height:24px;}
	.content .stats-detail span { font-size:60px;}
	.content .stats-detail { padding:43px 0;}
	.content .stats-detail p { font-size:16px;}
	.content .our-serivce { padding:56px 0;}
	.content .who-we-are h2 { font-size:36px;}
	.content .our-serivce h4 { font-size:36px; margin-bottom:30px;}
	.content .our-serivce .service-box img { max-width:100%;}
	.content .our-serivce .service-box .service-box-detail p { display:none;}
	footer { padding:30px 0;}		
}
@media only screen and (max-width:767px) {
	header { position:static;}
	header.fixed .logo img { width:auto;}
	.content .who-we-are-detail .about-description , .content .stats-detail { max-height:100%;}
	.content .our-serivce .service-box .service-box-detail { display:none;}
	.content .our-serivce .service-box img { width:100%;}
	.content .our-serivce .service-box:hover h4 { opacity:1;}
	.content .stats-detail span { font-size:40px; line-height:20px; margin-bottom:20px;}
	.content .stats-detail p { margin-bottom:30px;}
	.icon { display:block !important;}
	.content .our-serivce p { padding-left:0px; padding-right:0px;}
	.content .who-we-are-detail .about-description { padding-left:15px; padding-right:15px; }
	footer p { text-align:center;}
	footer ul { text-align:center; margin:20px 0 0 0;}
	.content .our-serivce p { font-size:13px; line-height:24px;}
	.content .content-top p { font-size:20px; line-height:30px;}
	.content .who-we-are { padding-top:34px; padding-bottom:224px;}
	.content .who-we-are-detail .about-description { border-radius:0px;}
	footer p { font-size:14px; line-height:20px;}
	.banner-inner { padding:43px 0;}
	.banner-inner h1 { font-size:36px;}
	.banner-inner p { font-size:20px;line-height:26px;}
	.content.inner-pages ,.content.contact-form{ padding:50px 0;}
	.content.career-detail .job-detail ul li { border:0px;}
	.content.career-detail { padding-bottom:50px;}
}
@media only screen and (max-width:480px) {
	.banner { display:none;}
	.content .content-top p br { display:none;}
	.full-width { width:100%;}
	.content.career-detail .nav-tabs li { width:140px; height:40px;}
	.content.career-detail .nav-tabs li a { height:40px; font-size:14px;}
	.content.career-detail .tabs-heading { margin-bottom:25px;}
	.content.career-detail .job-detail h2 { font-size:18px; line-height:24px;}
}