@font-face {
  font-family: 'Alef';
  font-style: normal;
  font-weight: 400;
  src: local('Alef Regular'), local('Alef-Regular'), url(https://fonts.gstatic.com/s/alef/v10/FeVfS0NQpLYgnjVRDw.ttf) format('truetype');
}
@font-face {
  font-family: 'Alef';
  font-style: normal;
  font-weight: 700;
  src: local('Alef Bold'), local('Alef-Bold'), url(https://fonts.gstatic.com/s/alef/v10/FeVQS0NQpLYglo50H55Q3Q.ttf) format('truetype');
}
