* {
	padding:0;
	margin:0;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	color:#414141;
	line-height: 25px;
	font-weight:400;
}
h1, h2, h3, h4, h5, h6, ul, li, p, a {
	padding:0;
	margin:0;
}
a {
	display:inline-block;
	outline:none;
	transition: all 300ms;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	outline:none;
}
.wrapper { 
}
.clearfix {
	clear:both;
}

/* header starts here ----------------------------------- */
.main-header {
	background: rgba(19,47,67,1);
	background: -moz-linear-gradient(top, rgba(19,47,67,1) 0%, rgba(16,43,61,1) 23%, rgba(17,46,64,1) 51%, rgba(12,31,43,1) 71%, rgba(8,21,30,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,47,67,1)), color-stop(23%, rgba(16,43,61,1)), color-stop(51%, rgba(17,46,64,1)), color-stop(71%, rgba(12,31,43,1)), color-stop(100%, rgba(8,21,30,1)));
	background: -webkit-linear-gradient(top, rgba(19,47,67,1) 0%, rgba(16,43,61,1) 23%, rgba(17,46,64,1) 51%, rgba(12,31,43,1) 71%, rgba(8,21,30,1) 100%);
	background: -o-linear-gradient(top, rgba(19,47,67,1) 0%, rgba(16,43,61,1) 23%, rgba(17,46,64,1) 51%, rgba(12,31,43,1) 71%, rgba(8,21,30,1) 100%);
	background: -ms-linear-gradient(top, rgba(19,47,67,1) 0%, rgba(16,43,61,1) 23%, rgba(17,46,64,1) 51%, rgba(12,31,43,1) 71%, rgba(8,21,30,1) 100%);
	background: linear-gradient(to bottom, rgba(19,47,67,1) 0%, rgba(16,43,61,1) 23%, rgba(17,46,64,1) 51%, rgba(12,31,43,1) 71%, rgba(8,21,30,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#132f43', endColorstr='#08151e', GradientType=0 );
	padding:10px 0 145px 0;
}
.main-header .container {
	width:910px;
	margin:0 auto;
}
.main-header .logo {
	float:left;
}
.main-header .nav {
	float:right;
	margin:5px 0 0 0;
}
.main-header .nav ul li {
	display:inline-block;
}
.main-header .nav ul li:last-child {
	padding-left:55px;
}
.main-header .nav ul li a {
	color:#fff;
	font-size:12px;
	text-transform: uppercase;
	font-weight:700;
	letter-spacing:1.3px;
}
.main-header .header-detail {
	text-align:center;
}
.main-header .header-detail h1 {
	color:#fff;
	font-size:30px;
	line-height: 32px;
	padding:34px 0 32px 0;
	font-weight:400;
	text-transform: capitalize;
	letter-spacing: -.8px;
}
.main-header .header-detail embed {
	max-width:160px;
}
.main-header .header-detail h2 {
	color:#fff;
	font-size:18px;
	line-height:22px;
	padding:18px 0 42px 0;
	text-transform:capitalize;
	font-weight:300;
}
.main-header .banner-buttons {
	position:relative;
	z-index:9;

}
.main-header .banner-buttons li {
	display: inline-block;
	width:94px;
	margin:0 12px 0 0;
}
.main-header .banner-buttons li a {
	color:#fff;
	font-size:12px;
	width:100%;
	line-height: 28px;
	background-color:#045da1;
	border:1px solid #fff;
	border-radius:4px;
	text-transform:capitalize;
	-webkit-box-shadow: inset 0px 1px 10px 0px rgba(0, 69, 137, 0.75);
	-moz-box-shadow: inset 0px 1px 10px 0px rgba(0, 69, 137, 0.75);
	box-shadow: inset 0px 1px 10px 0px rgba(0, 69, 137, 0.75);
	cursor: pointer;
}

/* heaer ends here ------------------------------------ */

/* opportunity-outer starts --------------------------- */
.opportunity-outer {
	position: relative;
	z-index: 2;
	background:url(../images/LandingPageDesign.png) left top no-repeat;
	padding:299px 0 272px 0;
	margin: -228px auto 0 auto;
	background-size:100% 100%;
}
.opportunity-outer .container {
	width:560px;
	margin:0 auto;
}
.opportunity-outer .opportunity-detail {
	padding-bottom: 30px;
	text-align: center;
}
.opportunity-outer .opportunity-detail h3 {
	color: #fff;
	font-size:30px;
	font-weight: 300;
	line-height: 32px;
	padding-bottom: 22px;
	text-transform: capitalize;
}
.opportunity-outer .opportunity-detail p {
	color:#fff;
	font-size:13px;
	line-height: 18px;
	padding-bottom:20px;
}

/* opportunity-outer ends ------------------------------ */

/* future solution starts ------------------------------ */
.future-solution-outer {
	position:relative;
	z-index: 1;
	margin-top: -228px;
	padding:140px 0 0 0;
	background-color:#fff;
	-webkit-box-shadow: inset 0px 1px 30px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: inset 0px 1px 30px 0px rgba(50, 50, 50, 0.25);
	box-shadow: inset 0px 1px 30px 0px rgba(50, 50, 50, 0.25);
}
.future-solution-outer .container {
	width:760px;
	margin:0 auto;
}
.future-solution-outer h4 {
	text-align: center;
	color: #364446;
	font-size:24px;
	font-weight: 300;
	padding-bottom: 90px;
	text-transform:capitalize;
}
.future-solution-outer .resp-tabs-list li {
	position:relative;
}
.future-solution-outer .resp-tabs-list li {
	font-size:12px;
	line-height:16px;
}
.future-solution-outer .tabs-detail p {
	float:left;
	width:305px;
	color:#333;
	font-size:12px;
	line-height:18px;
}
.tabs-detail img {
	float:right;
	width:307px;
}
.resp-tab-content h5 {
	color:#4d5959;
	font-size:20px;
	font-weight:600;
	padding-bottom:25px;
	text-transform:capitalize;
}
.resp-tab-content p {
	padding:0 0 30px 0;
  color:#272727;
}
.future-solution-outer .resp-tabs-list:after {
	top:50px;
    border:1px solid #b6b6b6;
}
.future-solution-outer .resp-tabs-list li:before {
	content: "";
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
}
.future-solution-outer .resp-tabs-list li:nth-child(1):before {
	content: "\f155";
    font: normal normal normal 14px/1 FontAwesome;
    border: 2px solid #405357;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    color:#405357;
}
.future-solution-outer .resp-tabs-list li:nth-child(2):before {
	content: "\f10b";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 26px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
}
.future-solution-outer .resp-tabs-list li:nth-child(3):before {
	content: "\f0c5";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 24px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
}
.future-solution-outer .resp-tabs-list li:nth-child(4):before {
	content: "\f0ad";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 24px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
}

/* future solution ends -------------------------------- */


/* team starts here ------------------------------------ */
.team-outer {
	padding:32px 0 70px 0;
	background:url(../images/team_bg.png) center center no-repeat;
	background-size:cover;
}
.team-outer .container {
	width:768px;
	margin:0 auto;
}
.team-outer h4 {
	text-align: center;
	color:#fff;
	font-size:27px;
	font-weight: 400;
	line-height: 25px;
	padding-bottom: 14px;
	text-transform: capitalize;
}
.team-outer span {
	display: inline-block;
	width: 100%;
	text-align: center;
	color:#99a9b3;
	font-size:13px;
	line-height: 18px;
	padding:0 0 38px 0;
}
.team-outer .team-detail-row {
	margin:0 0 84px 0;
}
.team-outer .team-detail-box {
	float:left;
	width:170px;
	margin-left:28px;
	position:relative;
}
.team-outer .team-detail-box:first-child {
	margin-left:0;
}
.team-outer .team-thumbnail {
	position:absolute;
	left:0;
	right:0;
	margin:0 auto;
	top:0;
	width:93px;
	z-index: 2;
}
.team-outer .team-thumbnail img {
	border-radius:60px;
	-webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    -khtml-border-radius:60px;
	border:2px solid #ff9a2a;
	-webkit-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.04);
	-moz-box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.04);
	box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.04);
	max-width:101px;
}
.team-outer .team-detail-inner {
	position:relative;
	background-color:#fff;
	border-radius: 5px;
	min-height:166px;
	border:1px solid #848b91;
	top:45px;
}
.team-outer .team-detail-inner p {
	text-align: center;
	padding:70px 20px 0 20px;
	font-size:12px;
	color:#6f6f6f;
	line-height: 15px;
}
.team-outer .detail-inner-caption {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:32px;
	background-color:rgba( 39, 39, 39, .4 );
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.team-outer .detail-inner-caption a {
	vertical-align:top;
	margin:-12px 0 0 5px;
	font-size:20px;
}
.team-outer .detail-inner-caption a i {
	color:#0273b2;
}


/* team ends here -------------------------------------- */

/* road-map-outer starts ------------------------------- */
.road-map-outer {
	padding:53px 0;
	background: url(../images/roadmap_bg.png) center  center no-repeat #849696;
	background-size:cover;
}
.road-map-outer .container {
	margin:0 auto;
	width:768px;
}
.road-map-outer h4 {
	text-align: center;
    color: #fff;
    font-size: 27px;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 12px;
    text-transform: capitalize;
}
.road-map-outer .subheading {
	display: inline-block;
    width: 100%;
    text-align: center;
    color: #d4dada;
    font-size: 12px;
    line-height: 18px;
    padding: 0 0 49px 0;
}
.road-map-outer .roadmap-timeline {
	position:relative;
}
.road-map-outer .timeline-seperator {
	position: absolute;
    left: 0;
    top: 161px;
    width: 95%;
    height: 7px;
    background-color: #242d34;
    border-radius: 4px;
    margin: 0 auto;
    right: 0;
}
.road-map-outer .timeline-box-inner {
	display: inline-block;
	width:100%;
	height:142px;
	background-color:#fff;
	border-radius: 5px;
	position:relative;
}
.road-map-outer .timeline-box-inner h6 {
	text-transform: capitalize;
	color:#333;
	font-size: 13px;
	text-align: left;
	padding:25px;
}
.road-map-outer .box-inner-caption {
	position:absolute;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color:#17374c;
	height:29px;
	width:100%;
	left:0;
	bottom:0;
}
.road-map-outer .timeline-box-inner:after {
	content:'';
	position:absolute;
	left:0;
	right:0;
	bottom:-12px;
	margin:0 auto;
	width:23px;
	height:12px;
	background:url(../images/timelline-arrow.png) 0 0 no-repeat;
}
.road-map-outer .timeline-mark {
	display: inline-block;
	width:16px;
	height:16px;
	background-color:#fff;
	border-radius:10px;
	-webkit-border-radius:10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
	margin: 14px 0 0 0;
}
.road-map-outer .timeline-box-one {
	float:left;
	width:144px;
	text-align: center;
	position:relative;
	z-index: 2;
}
.road-map-outer .timeline-box-one.two {
	margin-left:165px;
}
.road-map-outer .timeline-box-one.three {
	margin-left:160px;
}
.road-map-outer .timeline-box-one.four {
	margin-left:158px;
	margin-top: 20px;
	position:relative;
}
.road-map-outer .timeline-box-one.five {
	margin-left:170px;
	margin-top: 20px;
	position:relative;
}
.road-map-outer .timeline-box-one.four .box-inner-caption,.road-map-outer .timeline-box-one.five .box-inner-caption {
	top:0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.road-map-outer .timeline-box-inner.four, .road-map-outer .timeline-box-inner.five {
	margin-top:-10px;
}
.road-map-outer .timeline-box-inner.four:after, .road-map-outer .timeline-box-inner.five:after {
	top:-12px;
	-ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg); 
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.road-map-outer .timeline-mark.four, .road-map-outer .timeline-mark.five {
	position: absolute;
    top: -42px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* road-map-outer ends --------------------------------- */

 /* responsive media queries ---------------------------- */
@media ( max-width:991px ) {
	.wrapper {
		width:auto;
	}
	.main-header .container, .team-outer .container, .road-map-outer .container {
	    width: auto;
	    padding: 0 15px;
	}
	.opportunity-outer {
		width:100%;
		padding: 210px 0 180px 0;
		background:url(../images/LandingPageDesignmobile.png) center center no-repeat;
		background-size:cover;
	}
	.opportunity-outer .opportunity-detail p {
		font-size:12px;
	}
	h2.resp-accordion {
    	font-size: 12px;
    	line-height: 16px;
		text-transform: uppercase;
	}
	.team-outer .team-detail-box {
		margin-left:17px;
	}
	.road-map-outer .timeline-box-one.two {
		margin-left:150px;
	}
	.road-map-outer .timeline-box-one.three {
    	margin-left: 148px;
	}
	.resp-tabs-container {
		min-height:200px;
	}

}

@media ( max-width:767px ) {
	.opportunity-outer {
		padding:260px 0 140px 0;
	}
	.opportunity-outer .opportunity-detail {
		padding-bottom: 15px;
	}
	.opportunity-outer .opportunity-detail h3 {
		font-size:22px;
		line-height: 28px;
	}
	.future-solution-outer {
		padding-bottom: 30px;
	}
	.future-solution-outer .container {
		width:auto;
		padding:0 15px;
	}
	.future-solution-outer .tabs-detail p {
		width:auto;
	}
	.future-solution-outer .tabs-detail img {
		float:left;
		width:auto;
	}
	.resp-tabs-container {
		min-height:0;
	}
	.team-outer .team-detail-row {
	    width: 415px;
	    margin: 0 auto;
	}
	.team-outer .team-detail-box {
		margin:0 35px 90px 0;
	}
	.road-map-outer .container {
		width:335px;
	}
	.road-map-outer .timeline-box-one, .road-map-outer .timeline-box-one.three, .road-map-outer .timeline-box-one.four {
		-ms-transform: rotate(-90deg); 
    	-webkit-transform: rotate(-90deg); 
    	-moz-transform: rotate(-90deg); 
    	transform: rotate(-90deg);
	}
	.road-map-outer .timeline-box-one.two, .road-map-outer .timeline-box-one.five {
		-ms-transform: rotate(90deg); 
    	-webkit-transform: rotate(90deg); 
    	-moz-transform: rotate(90deg); 
    	transform: rotate(90deg);
	}
	.road-map-outer .timeline-seperator {
	    top: 40px;
	    width: 7px;
	    height: 93%;
	}
	.road-map-outer .timeline-box-one, .road-map-outer .timeline-box-one.three {
		margin-left:16px;
	}
	.road-map-outer .timeline-box-one.two {
		margin: -26px 0 0 175px;
	}
	 .road-map-outer .timeline-box-one.three {
	 	margin-top: -24px;
	 }
	.road-map-outer .timeline-box-one.four {
		margin:0 0 0 198px;
	}
	.road-map-outer .timeline-box-one.five {
		margin:15px 0 0 -6px;
	}
	.road-map-outer .timeline-box-inner h6 {
		text-align:right;
		-ms-transform: rotate(90deg); 
    	-webkit-transform: rotate(90deg); 
    	-moz-transform: rotate(90deg); 
    	transform: rotate(90deg);
    	padding:0;
    	width: 40px;
	    line-height: 18px;
	    position:absolute;
	    right:10px;
	}
	.road-map-outer .timeline-box-one.two .timeline-box-inner h6, .road-map-outer .timeline-box-one.five .timeline-box-inner h6  {
		-ms-transform: rotate(-90deg); 
    	-webkit-transform: rotate(-90deg); 
    	-moz-transform: rotate(-90deg); 
    	transform: rotate(-90deg);
    	float: left;	    
	    padding-right: 40px;
	    left:0;
	}
	 .road-map-outer .timeline-box-one.four .timeline-box-inner h6 {
	 	bottom:20px;
	 }
	 .road-map-outer .timeline-box-one.five .timeline-box-inner h6 {
	 	top:20px;
	 }

}

@media ( min-width:640px ) and ( max-width:640px ) {
	.opportunity-outer {
		padding-top:160px;
	}
}

@media ( max-width:639px ) {
	.main-header .header-detail {
		padding-bottom: 80px;
	}
	.main-header .header-detail embed {
    	max-width: 110px;
	}
	.opportunity-outer {
		padding:160px 0 180px 0;
	}
	.opportunity-outer .container {
		width:auto;
		padding:0 15px;
	}
	.opportunity-outer .opportunity-detail {
    	padding-bottom: 20px;
    	height:100px;
    	overflow-y: scroll;
	}
	.opportunity-outer .opportunity-detail h3 {
		font-size:18px;
		line-height: 24px;
		padding-bottom: 12px;
	}
	.opportunity-outer .opportunity-detail p {
		font-size: 11px;
	}
	.future-solution-outer {
    	padding: 220px 0 30px 0;
	}
	.future-solution-outer h4 {
		padding-bottom: 30px;
	}
	.team-outer .team-detail-box {
		margin-right:72px;
	}
	.team-outer .team-detail-box:nth-child(even) {
	    margin-right: 0;
	    float: right;
	}
	.team-outer .team-thumbnail {
		width:72px;
	}
	.team-outer .team-thumbnail img {
		width:97%;
	}
	.team-outer .team-detail-inner p {
		padding-top: 50px;
	}

}

@media ( max-width:479px ) {
	.opportunity-outer {
    	padding: 170px 0 130px 0;
    	background-size: cover;
    	background-position: -100px 0;
	}
	.opportunity-outer .opportunity-detail {
		min-height:120px;
	}
	.future-solution-outer {
		padding-top:200px;
	}
	.future-solution-outer .tabs-detail img {
		width: 100%;
	}
	.team-outer .team-detail-box {
    	margin-right: 15px;
	}
	.team-outer .team-detail-row {
		width: 100%;
	}
	.team-outer .team-detail-box {
		width:155px;
	}
	.team-outer .team-detail-inner p {
		padding:50px 15px 0 15px;
	}
	.road-map-outer .container {
		width:auto;
	}
	.road-map-outer .timeline-box-one, .road-map-outer .timeline-box-one.three {
		margin-left:18px;
	}
	.road-map-outer .timeline-box-one.two {
		margin-left:168px;
	}
	.road-map-outer .timeline-box-one.four {
    	margin: 0 0 0 195px;
	}
	.road-map-outer .timeline-box-one.four .timeline-mark {
		margin-top:2px;
	}
	.road-map-outer .timeline-box-one.five {
		margin-left: -9px;
	}	
	.road-map-outer .timeline-box-one.five .timeline-mark {
		margin-top:1px;
	}
	.road-map-outer .timeline-box-one .timeline-mark {
		margin-top:9px;
	}
	.road-map-outer .timeline-box-one.two .timeline-mark {
		margin-top:9px;
	}
	.road-map-outer .roadmap-timeline {
		overflow: hidden;
	}

}

@media ( min-width:412px ) and ( max-width:414px ) {
	.road-map-outer .timeline-box-one, .road-map-outer .timeline-box-one.three {
		margin-left:44px;
	}
	.road-map-outer .timeline-box-one.two {
    	margin-left: 196px;
	}
	.road-map-outer .timeline-box-one.four {
    	margin: 0 0 0 222px;
	}
	.road-map-outer .timeline-box-one.five {
    	margin-left: 19px;
	}

}

@media ( min-width:375px ) and ( max-width:375px ) {
	.road-map-outer .timeline-box-one, .road-map-outer .timeline-box-one.three {
		margin-left:25px;
	}
	.road-map-outer .timeline-box-one.two {
    	margin-left: 176px;
	}
	.road-map-outer .timeline-box-one.four {
    	margin: 0 0 0 204px;
	}
	.road-map-outer .timeline-box-one.five {
    	margin-left: -4px;
	}
}

@media ( max-width:359px ) {
	.main-header .header-detail h1 {
		font-size:24px;
	}
	.opportunity-outer {
    	padding: 140px 0 150px 0;
	}
	.opportunity-outer .opportunity-detail {
		padding:0;
		margin:0 0 15px 0;
	}
	.team-outer .team-detail-inner {
		min-height:145px;
	}
	.team-outer .team-detail-box {
		width:135px;
	}
	.team-outer .team-thumbnail {
		width:68px;
	}
	.team-outer .team-detail-inner p {
		padding:40px 8px 0 8px;
	}
	.road-map-outer .timeline-box-one, .road-map-outer .timeline-box-one.three {
		width:125px;
	}
	.road-map-outer .timeline-box-inner {
		height:120px;
	}
	.road-map-outer .timeline-box-one.two {
    	margin-left: 146px;
	}
	.road-map-outer .timeline-box-one.four {
    	margin: 0 0 0 174px;
	}

}