
body { font-family: 'Muli', sans-serif;}
.wrapper {}
.container {max-width:1030px;}
.clear { clear:both;}
li { list-style:none;}
sub{ position:static;}
/***************Header Css*************/
header {}
header .headertop { background: #989898; padding:10px 0;}
header .headertop .contact-detail-top {}
header .headertop .contact-detail-top span { font-size: 18px; color: #fff; font-weight: bold; display: inline-block; margin: 0px;padding: 0px;}
header .headertop .contact-detail-top p { font-size: 18px; color: #fff;display: inline-block; margin: 0px;padding: 0px;}
header .headertop .contact-detail-top a{ text-decoration: none; font-size: 18px; color: #fff; margin: 0px; padding: 0px;}
header .headertop .contact-detail-top a:hover{ color: #676767;}
header .headertop .social-icon-top {}
header .headertop .social-icon-top ul { margin: 0px; padding: 0px; text-align: right;}
header .headertop .social-icon-top ul li { display: inline-block;}
header .headertop .social-icon-top ul li a { background: url(../images/fb-main-icon.png) left -24px no-repeat; padding: 0px 11px; display: inline-block; height: 24px;}
header .headertop .social-icon-top ul li a:hover{ background: url(../images/fb-main-icon.png) left 2px no-repeat; padding: 0px 11px; display: inline-block; height: 24px;}
header .headertop .social-icon-top ul li + li a { background: url(../images/twitter-main.png) left -23px no-repeat;}
header .headertop .social-icon-top ul li + li a:hover {background: url(../images/twitter-main.png) left 2px no-repeat;}
header .headertop .social-icon-top ul li + li + li a { background:url(../images/linked-main.png) left -24px no-repeat;}
header .headertop .social-icon-top ul li + li + li a:hover { background: url(../images/linked-main.png) left 1px no-repeat;}
header .headertop .social-icon-top ul li + li + li + li a { background: url(../images/instagram-main.png)  left 2px no-repeat;}
header .headertop .social-icon-top ul li + li + li + li a:hover { background: url(../images/instagram-main.png)  left -25px no-repeat;}
header .headermain { padding: 25px 0 33px 0;}
header .navbar { min-height: 60px;}
header .headermain .navbar-default { background: none; border: 0px; border-radius: 0px; margin: 0px; padding: 0px;}
header .headermain .navbar-default .navbar-brand { padding-top: 0px;}
header .headermain .navbar-default .navbar-nav li a { padding:0px; margin: 0 10px; color:#808080;font-size: 13px; text-transform: uppercase;}
header .headermain .navbar-default .navbar-nav li a.contact { color: #0071BC;font-weight: 600; margin-right: 0px; }
header .headermain .navbar-default .navbar-nav li a:hover {color: #56bdde;}
header .headermain .navbar-default .navbar-nav li a.active {color: #56bdde;}
header .headermain .navbar-default .navbar-nav li .caret { border: 0px none; background: url(../images/dropdown-arrow.png) left center no-repeat; padding:5px; margin: 0px;}
header .headermain .navbar-default .navbar-nav li.dropdown-outer:hover .caret { border: 0px none; background: url(../images/up-arrow.png) left center no-repeat; padding:5px; margin: 0px;}
header .headermain .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.dropdown-outer>a:focus, .navbar-default .navbar-nav>.dropdown-outer>a:hover { background: #fff;  }
 
header .headermain .navbar-nav>li>.dropdown-detail2 { margin: 0px; left: 0px; right: auto; box-shadow: none; padding:0px; position:absolute;z-index:1; min-width:200px; background:#fff; display:none;}
header .headermain .navbar-nav li:hover .dropdown-detail2 { display:block; }
header .headermain .navbar-nav>li.dropdown-outer .dropdown-detail2 li a { padding:10px; margin: 0px; color:#808080;font-size: 13px; text-transform: none; z-index:auto; width:100%; text-decoration:none; display:block; box-sizing:border-box;}
header .headermain .navbar-nav>li.dropdown-outer .dropdown-detail2 li a:hover {color: #fff; background: #56bdde;} 


/***************Slider Css*************/
.slider {}
.slider .carousel-inner .item { margin-bottom: 20px;}
.slider .carousel-inner .item img { width: 100%; }
.slider .carousel-inner .carousel-caption { text-align: right; left: 0px; right: 0px;  width: 100%;bottom: -41px; padding: 0px; background: rgba(0, 0, 0, 0.5);padding: 43px 0 70px 0; max-height: 180px;}
.slider .carousel-inner .carousel-caption p { font-size: 31px; text-transform: uppercase; margin: 0px; padding: 0px;} 
.slider .carousel-indicators { bottom:10px; margin-bottom: 0px;}
.slider .carousel-indicators li{ background: #fff; border: 0px none;}
.slider .carousel-indicators .active { background: #3fa9f5; border: 0px none;}

/***************Content Css*************/
.content { padding: 30px 0 60px 0;}
.content .home-products { margin-bottom: 40px;}
.content .home-products:last-child {margin-bottom: 0px;}
.content .home-products img {opacity: 0.40;}
.content .home-products a { font-size: 17px; color: #808080; text-decoration: none; padding-right: 50px;}
.content .home-products .product-detail { cursor: pointer;}
.content .home-products .product-detail:hover a { color: #ccc;}
.content .home-products .product-detail:hover img { opacity:0.20;}


/***************Footer Css*************/
footer .footer-contact { background: #e6e6e6; padding: 15px 0 13px ; text-align: right; margin-bottom: 27px;}
footer .footer-contact p { display: inline-block; margin: 0px; padding: 0px 12px; font-size: 14px; text-transform: uppercase; color: #666; font-weight: bold; font-style: italic;}
footer .footer-contact span{ display: inline-block; margin: 0px; padding: 0px 12px; font-size: 14px; text-transform: uppercase; color: #666; font-weight: bold; }
footer .footer-contact p  a{ display: inline-block; margin: 0px; padding: 0px 12px; font-size: 14px; text-transform: uppercase; color: #666; font-weight: bold; background: none; box-shadow: none;}
footer .footer-contact2 span ,footer .footer-contact2 p { text-transform:none;}
footer .footer-contact p  a:hover { background: none;}
footer .footer-contact .online-chat { margin-left: 50px; display: inline-block;;}
footer .footer-contact .online-chat img { margin-right: 20px; display: inline-block;;}
footer .footer-contact .chat-bottom { float: left; padding: 9px 0; cursor:pointer;} 
footer .footer-contact .chat-bottom  span {background: url(../images/chat-icon-2.png) left center no-repeat; padding-left: 43px; line-height: 30px;}
footer .footer-contact a { display: inline-block; margin: 0px; padding:14px; background: #56bdde; color: #fff; text-transform: uppercase; font-size: 15px; text-decoration: none;-webkit-box-shadow: 2px 2px 0px 0px rgba(0, 113, 188, 0.75);
-moz-box-shadow:    2px 2px 0px 0px rgba(0, 113, 188, 0.75);box-shadow:         2px 2px 0px 0px rgba(0, 113, 188, 0.75); } 
footer .footer-contact a:hover { background: #2a9dc2;}
footer .footer-detail {text-align: center; padding-bottom:50px;}
footer .footer-detail .counter-detail { max-width: 360px;}
footer .footer-detail .counter-detail img { display: block;}
footer .footer-detail .counter-detail a { font-size: 22px; text-decoration: none; color: #5d5d5d; margin-bottom: 63px; display: inline-block;}
footer .footer-detail .counter-detail a span { font-size: 16px; display: block;}
footer .footer-detail .footer-bottom { text-align: center;}
footer .footer-detail .footer-bottom p { display: inline-block; color: #5d5d5d; font-size: 13px;vertical-align: top; padding-top: 10px; padding-right: 10px; margin: 0px; }
footer .footer-detail .footer-bottom p a{ display: inline-block; color: #5d5d5d; font-size: 13px;vertical-align: top; padding-top: 0; margin: 0px; }
footer .footer-detail .footer-bottom ul { display: inline-block; margin: 0px; padding: 0px;}
footer .footer-detail .footer-bottom ul li { display: inline-block;}
footer .footer-detail .footer-bottom ul li a { background: url(../images/fb-footer-main.png) left 0 no-repeat; padding: 0px 18px; display: inline-block; height: 32px;}
footer .footer-detail .footer-bottom ul li a:hover{ background: url(../images/fb-footer-main.png) left -31px no-repeat; padding: 0px 18px; display: inline-block; height: 32px;}
footer .footer-detail .footer-bottom ul li + li a { background:url(../images/twitter-footer-main.png) left 0 no-repeat;}
footer .footer-detail .footer-bottom ul li + li a:hover { background: url(../images/twitter-footer-main.png) left -31px no-repeat;}
footer .footer-detail .footer-bottom ul li + li + li  a { background: url(../images/linkedin-main-footer.png) left 0 no-repeat;}
footer .footer-detail .footer-bottom ul li + li + li  a:hover { background: url(../images/linkedin-main-footer.png)  left -31px no-repeat;}
footer .footer-detail .footer-bottom ul li + li + li + li  a { background:url(../images/instagram-main-footer.png) left 0 no-repeat;}
footer .footer-detail .footer-bottom ul li + li + li + li  a:hover { background:url(../images/instagram-main-footer.png) left -31px no-repeat;}footer .footer-detail .flip-counter.small .digit span {background-color: #54BFE1 !important;}
footer .footer-detail .flip-counter.small .digit-delimiter {color: #54BFE1 !important;}
footer .footer-detail .flip-counter.small .digit .line {border-bottom: 0px solid #959595 !important;box-shadow: 3px 5px 7px -4px #757595 !important;}
footer .footer-detail .CounterWrapper {float: none;margin-bottom: 10px;width: 100%; margin: 0px;}
footer .footer-detail .CounterWrapper:hover {cursor: pointer;cursor: hand;}
footer .footer-detail .flip-counter {list-style-type: none;position: unset !important; display: inline-block; padding: 0px; margin: 0px;}


/***************Report page Css*************/

.content .cotent-volver { background: #e6e6e6; padding: 15px 0 13px ; text-align: left; margin-bottom: 56px;}
.content .cotent-volver a { display: inline-block; margin: 0px; padding:14px; background: #56bdde; color: #fff; text-transform: uppercase; font-size: 15px; text-decoration: none;-webkit-box-shadow: 2px 2px 0px 0px rgba(0, 113, 188, 0.75);
-moz-box-shadow:    2px 2px 0px 0px rgba(0, 113, 188, 0.75);box-shadow:         2px 2px 0px 0px rgba(0, 113, 188, 0.75); } 
.content .cotent-volver a:hover { background: #2a9dc2;}
.content .report-content {}
.content .report-content h2{  font-weight: bold; font-size: 15px; color: #5D5D5D; margin: 0px; padding: 0px 0 25px 0;}
.content .report-content p{font-size: 15px; color: #989898; padding-bottom: 18px; }
.content .report-content p span { font-weight: bold;}
.content .report-content p a { color: #0071BC; text-decoration: none;}
.content .report-content .report-thumbnail {}
.content .report-content .report-thumbnail img { margin-bottom: 20px;}
.content .report-content .report-thumbnail a { color: #989898; text-decoration: none; font-size: 15px;}


/***************Quienes page Css*************/
.content.quienes-content{ padding-top: 0px;}
.content.quienes-content .quienes-detail{ background: #989898; padding: 144px 0 70px 0; margin-top: -93px;}
.content.quienes-content .quienes-detail h3 { font-size: 23px; color: #fff; font-weight: 400; padding-top: 23px; line-height: 36px;margin: 0px; }
.content.quienes-content .quienes-detail p { font-size: 16px; color: #fff; font-weight: 400; line-height: 25px; padding-bottom: 24px; margin: 0px; }
.content.quienes-content .quienes-detail p:last-child {padding-bottom: 0px;}
.content.quienes-content .quienes-team-content { }
.content.quienes-content .quienes-team-detail {padding-top: 60px;}
.content.quienes-content .quienes-team-detail img { border-radius: 62px 62px;}
.content.quienes-content .quienes-team-detail .team-name-detail { height: 57px;}
.content.quienes-content .quienes-team-detail .team-name-detail h3 { font-size: 13px; color: #FFBC00 ; margin: 0px; font-weight: 600; padding-bottom: 7px;}
.content.quienes-content .quienes-team-detail .team-name-detail h4 { font-size: 13px; color: #FFBC00 ; margin: 0px; font-weight: 400; padding-bottom: 7px;}
.content.quienes-content .quienes-team-detail .team-name-detail h5 { color: #4D4D4D; font-size: 13px; text-decoration: none; margin:0px;}
.content.quienes-content .quienes-team-detail p { color: #989898;padding: 0px; margin: 0px; font-size: 13px; padding-top: 10px;}


/***************Instalaciones page Css*************/
.content.instalaciones-content { }
.content.instalaciones-content p { font-size: 18px; color: #5D5D5D; text-transform: uppercase; padding: 0px; margin: 0 0 20px 0;}
.nanogallery_theme_clean .nanoGalleryContainer .nanoGalleryThumbnailContainer { box-shadow:none !important;}
.nanogallery_theme_clean .nanoGalleryContainer { width:100% !important;}
.nanogallery_theme_clean { margin:0 0 50px 0 !important;}


/***************Contact page Css*************/
.content.contact-content {}
.content.contact-content .contact-left {background: #e6e6e6; padding: 27px 36px 27px 15px; text-align: right;-webkit-box-shadow: 2px 2px 0px 0px rgba(179, 179, 179, 0.75);
-moz-box-shadow: 2px 2px 0px 0px rgba(179, 179, 179, 0.75);box-shadow: 2px 2px 0px 0px rgba(179, 179, 179, 0.75);}
.content.contact-content .contact-left p { font-weight: bold; margin-bottom: 40px; font-size: 15px; color: #5D5D5D; line-height: 24px;text-align: left;}
.content.contact-content .contact-left .dato { display: inline-block; float: left; width: 170px;font-size: 17px; color: #5D5D5D; text-align: left; vertical-align: top; padding-top: 3px; }
.content.contact-content .contact-left input[type="text"] { background: #fff; border:0px none; width: 100%; padding: 0 15px; box-sizing:border-box; margin-bottom: 13px;max-width: 290px; display: inline-block; height: 30px;outline: none;}
.content.contact-content .contact-left input[type="submit"] { width: 143px;  display: inline-block;margin: 0px;padding: 14px;
background: #56bdde;color: #fff;text-transform: uppercase;font-size: 15px;text-decoration: none;-webkit-box-shadow: 2px 2px 0px 0px rgba(0, 113, 188, 0.75);
-moz-box-shadow: 2px 2px 0px 0px rgba(0, 113, 188, 0.75);box-shadow: 2px 2px 0px 0px rgba(0, 113, 188, 0.75); border: 0px; none; outline: none;}
.content.contact-content .contact-left input[type="submit"]:hover { background: #2a9dc2;}
.content.contact-content .contact-left span { display: block; margin-top: 23px; font-size: 17px; color: #5D5D5D;}
.content.contact-content .contact-left select{-webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; background: #fff; border:0px none; width: 100%; padding: 0 15px; box-sizing:border-box; margin-bottom: 13px;max-width: 290px; display: inline-block; height: 30px;outline: none; background: url(../images/select-arrow.png) 97% center no-repeat #fff;}
.content.contact-content .contact-left textarea{ background: #fff; border:0px none; width: 100%; padding: 0 15px; box-sizing:border-box; margin-bottom: 13px;max-width: 290px; display: inline-block; height: 107px; resize:none; outline: none; padding: 10px;}
.content.contact-content .contact-right { padding-top: 28px; padding-left:80px; }
.content.contact-content .contact-right p { font-size: 15px; color: #5D5D5D; line-height: 36px;}
.content.contact-content .contact-right p span{ display: block; font-weight: bold; line-height: 12px;}
.content.contact-content .contact-right .map-contact { text-align: center;}
.content.contact-content .contact-right .map-contact img { display: inline;}



/***************Energia solar page Css*************/
.banner-energia { background: url(../images/eneria-solor-banner.png) no-repeat;background-size: cover; min-height: 458px;}
.banner-energia .banner-detail { padding: 220px 0 0 0; }
.banner-energia .banner-detail h1 { text-align: left; text-shadow: 4px 0px 12px #000; font-size: 29px; text-transform: uppercase; font-weight: 400; color: #fff; display: inline-block;margin: 0px; line-height: 36px; background: url(../images/energiabanner-icon.png) left center no-repeat;padding: 18px 0 18px 125px;}
.content .top-contact { background: #e6e6e6; padding: 15px 0 13px ; text-align: right; margin-bottom: 27px;}
.content .top-contact p { display: inline-block; margin: 0px; padding: 0px 12px; font-size: 14px; text-transform: uppercase; color: #666; font-weight: bold; font-style: italic;}
.content .top-contact span{ display: inline-block; margin: 0px; padding: 0px 12px; font-size: 14px; text-transform: uppercase; color: #666; font-weight: bold; }
.content .top-contact p  a{ display: inline-block; margin: 0px; padding: 0px 12px; font-size: 14px; text-transform: uppercase; color: #666; font-weight: bold; background: none; box-shadow: none;}
.content .top-contact p  a:hover { background: none;}
.content .top-contact .online-chat { margin-left: 50px; display: inline-block;;}
.content .top-contact .online-chat img { margin-right: 20px; display: inline-block;;}
.content .top-contact a { display: inline-block; margin: 0px; padding:14px; background: #56bdde; color: #fff; text-transform: uppercase; font-size: 15px; text-decoration: none;-webkit-box-shadow: 2px 2px 0px 0px rgba(0, 113, 188, 0.75);
-moz-box-shadow:    2px 2px 0px 0px rgba(0, 113, 188, 0.75);box-shadow:         2px 2px 0px 0px rgba(0, 113, 188, 0.75); } 
.content .top-contact a:hover { background: #2a9dc2;}
.content.energia-solar-content { padding: 0px;}
.content.energia-solar-content  p{font-size: 15px; color: #989898; padding-bottom: 18px; }
.content.energia-solar-content h2{  font-weight: bold; font-size: 15px; color: #989898; margin: 0px; padding: 0px 0 25px 0;}
.content.energia-solar-content .graph-thumbnail { margin-bottom: 40px;}
.content.energia-solar-content .graph-thumbnail span { font-weight: bold;margin-top: 28px;    font-size: 15px;
    color: #989898; display: inline-block;}
.content.energia-solar-content .graph-thumbnail p { margin: 0px; padding: 0px; }
.content.energia-solar-content .graph-description {}
.content.energia-solar-content .graph-description h3 { color: #989898; font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;}
.content.energia-solar-content .graph-description ul { margin: 0px; padding: 20px 0 0 0; }
.content.energia-solar-content .graph-description ul li { display: inline-block; background: url(../images/list-circle.png) left center no-repeat; padding-left: 28px; font-size: 13px; line-height: 12px;color: #989898; margin-bottom: 16px;}
.content.energia-solar-content .graph-description ul li:last-child { background: url(../images/list-circle-2.png) left center no-repeat;}
.content.energia-solar-content .graph-description p { font-size: 10px; letter-spacing: 0; padding-top: 14px;}
.content.energia-solar-content .pannel-solar-detail { background: #b2b2b2; padding: 41px 0 84px 0; margin-bottom: 60px;}
.content.energia-solar-content .pannel-solar-detail .pannel-solar-left {}
.content.energia-solar-content .pannel-solar-detail h4 { font-size: 16px; font-weight: bold; color: #fff; margin: 0px;}
.content.energia-solar-content .pannel-solar-detail p { line-height: 16px; font-size: 14px;  color: #fff; margin: 0px; letter-spacing: 0px;}
.content.energia-solar-content .pannel-solar-detail  .pannel-inner { padding-bottom: 50px;}
.content.energia-solar-content .pannel-solar-detail .pannel-inner p { padding-bottom: 0px;}
.content.energia-solar-content .pannel-solar-detail .pannel-inner span { font-size: 15px; font-weight: bold; color: #fff; margin: 0px; background: url(../images/circle.png) left center no-repeat; padding-left: 20px;}
.content.energia-solar-content .pannel-solar-detail .pannel-solar-right { padding-top: 54px;}
.content .list-detail-blue {}
.content .list-detail-blue ul { margin: 0px; padding: 0 0 40px 60px; }
.content .list-detail-blue ul li { font-weight: bold; display:block;; background: url(../images/list-icon.png) left 3px no-repeat; padding-left: 40px; margin-bottom: 16px; font-size: 16px; line-height: 30px; color: #989898;}
.content .list-detail-blue ul li:last-child { margin-bottom:0px; }
.content .more-detail { display:none;}
.content .more-detail ul { padding:0px; margin:0px 0 25px 0;}
.content .more-detail ul li { display:inline-block;font-size: 15px;color: #989898; padding-left:15px;}



/***************Energia Elocia page Css*************/
.banner-elocia { background: url(../images/energia-eleocia-banner.png) no-repeat;background-size: cover; min-height: 458px;}
.banner-elocia .banner-detail { padding: 220px 0 0 0; }
.banner-elocia .banner-detail h1 { text-align: left;text-shadow: 4px 0px 12px #000; font-size: 29px; text-transform: uppercase; font-weight: 400; color: #fff; display: inline-block;margin: 0px; line-height: 36px; background: url(../images/energiabanner-icon-2.png) left center no-repeat;padding: 18px 0 18px 125px;}
.content .elocia-product { margin-bottom: 50px;}
.content .elocia-product .product-title { background: #c8e6ed; padding: 24px 0 20px 20px; font-size: 15px; color: #808080; font-weight: bold;height: 65px;}
.content .elocia-product .product-detail{ position: relative; background: #c8e6ed; height: 65px; padding: 12px 46px 14px 46px; margin-left: 6px;}
.content .elocia-product .product-detail h5 {font-size: 15px; color: #808080;  position: absolute;top: 0px; bottom: 0px; margin: auto; height: 20px;}
.content .elocia-product .second-row .product-title { background: #f2f2f2;color: #666666; }
.content .elocia-product .second-row .product-detail{  color: #666666; background: #f2f2f2; }


/***************Agua page Css*************/
.aguacaliente-banner{ background: url(../images/Aguabanner.png) no-repeat;background-size: cover; min-height: 458px;}
.aguacaliente-banner .banner-detail { padding: 220px 0 0 0; }
.aguacaliente-banner .banner-detail h1 { text-align: left;text-shadow: 4px 0px 12px #000; font-size: 29px; text-transform: uppercase; font-weight: 400; color: #fff; display: inline-block;margin: 0px; line-height: 36px; background: url(../images/Aguabanner-icon.png) left center no-repeat;padding: 18px 0 18px 125px;}

/***************termotanques page Css*************/
.termotanques-banner{ background: url(../images/termotanquesbanner.png) no-repeat;background-size: cover; min-height: 458px;}
.termotanques-banner .banner-detail { padding: 220px 0 0 0; }
.termotanques-banner .banner-detail h1 { text-align: left;text-shadow: 4px 0px 12px #000; font-size: 29px; text-transform: uppercase; font-weight: 400; color: #fff; display: inline-block;margin: 0px; line-height: 36px; background: url(../images/termotanquesbanner-icon.png) left center no-repeat;padding: 60px 0 18px 150px;}
.content .termotanquesthumbnail { margin-bottom: 20px;}
.content .termotanquesthumbnail h2 { display: inline-block; vertical-align: top;}
.content .termotanquesthumbnail img { display: inline-block;}

/***************eficiencia page Css*************/
.eficiencia-banner{ background: url(../images/eficiencia-banner.png) no-repeat;background-size: cover; min-height: 458px;}
.eficiencia-banner .banner-detail { padding: 220px 0 0 0; }
.eficiencia-banner .banner-detail h1 { text-align: left;text-shadow: 4px 0px 12px #000; font-size: 29px; text-transform: uppercase; font-weight: 400; color: #fff; display: inline-block;margin: 0px; line-height: 36px; background: url(../images/eficiencia-banner-icon.png) left center no-repeat;padding: 18px 0 18px 150px;}



/***************bombasbanner page Css*************/
.bombasbanner{ background: url(../images/bombasbanner.png) no-repeat;background-size: cover; min-height: 458px;}
.bombasbanner .banner-detail { padding: 220px 0 0 0; }
.bombasbanner .banner-detail h1 { text-align: left;text-shadow: 4px 0px 12px #000; font-size: 29px; text-transform: uppercase; font-weight: 400; color: #fff; display: inline-block;margin: 0px; line-height: 36px; background: url(../images/bombasbanner-icon.png) left center no-repeat;padding: 18px 0 18px 150px;}
.content .bombas-thumbnail { text-align:center; margin-bottom:28px;}
.content .bombas-thumbnail img { display:inline;}

/***************certificacion page Css*************/
.certificacion-banner{ background: url(../images/certificacion-banner.png) no-repeat;background-size: cover; min-height: 458px;}
.certificacion-banner .banner-detail { padding: 220px 0 0 0; }
.certificacion-banner .banner-detail h1 { text-align: left;text-shadow: 4px 0px 12px #000; font-size: 29px; text-transform: uppercase; font-weight: 400; color: #fff; display: inline-block;margin: 0px; line-height: 36px; background: url(../images/certificacion-banner-icon.png) left center no-repeat;padding: 32px 0 18px 150px;}
.content .certificacion-bottom { margin-bottom:38px;}
.content .certificacion-bottom ul { margin:0px; padding:0px;}
.content .certificacion-bottom ul li { float:left; width:25%; list-style:none;text-align:center;}
.content .certificacion-bottom ul li img { display:inline;}
.content .certificacion-bottom ul li h4 { text-transform:uppercase; font-size:12px; color:#000; font-weight:bold; margin:13px 0 10px 0; padding:0px;}
.content .certificacion-bottom ul li span { text-transform:uppercase; font-size:10px; color:#000; font-weight:bold; margin:0px; padding:0px;}

/***************parques solares page Css*************/
.parquessolares-banner{ background: url(../images/parquessolares-banner.png) no-repeat;background-size: cover; min-height: 458px;}
.parquessolares-banner .banner-detail { padding: 220px 0 0 0; }
.parquessolares-banner .banner-detail h1 { text-align: left;text-shadow: 4px 0px 12px #000; font-size: 29px; text-transform: uppercase; font-weight: 400; color: #fff; display: inline-block;margin: 0px; line-height: 36px; background: url(../images/parquessolares-banner-icon.png) left center no-repeat;padding: 32px 0 18px 150px;}
 

/***************Responsive Css*************/

@media screen and (max-width: 992px) { 
header .headertop .contact-detail-top span { font-size: 15px;}
header .headertop .contact-detail-top p { font-size: 15px;}
header .headertop .contact-detail-top p a { font-size: 15px;}
header .navbar-right { float: left !important; width: 100%; text-align: right; margin-top: 20px;}
header .navbar-right li { float: none; display: inline-block;}
.slider .carousel-inner .carousel-caption { padding: 10px 0 40px 0;}
.slider .carousel-inner .carousel-caption p { font-size: 20px;}
.content .home-products { margin-bottom: 0px;}
.content .home-products .product-detail {margin-bottom: 30px;}
footer .footer-detail .footer-bottom p { padding: 0px;  margin-bottom: 10px;}
footer .footer-detail .footer-bottom ul { padding: 0px;  margin-bottom: 10px;}
.content.quienes-content .quienes-detail h3{ font-size: 18px;}
header .headertop .social-icon-top { padding:0px;}
.content .elocia-product .product-detail h5 { font-size:12px;}
.content .elocia-product .product-title { font-size:12px;}
} 

@media screen and (max-width: 767px) {
header .headertop .contact-detail-top { text-align: center;}
header .headertop .social-icon-top{ text-align: center; padding-top: 5px;}
header .headertop {padding: 6px 0 2px 0;} 
header .navbar-right { text-align: left;}
header .navbar-right li { float: none; display: block; padding: 10px 0;}
header .navbar-default .navbar-collapse, .navbar-default .navbar-form { border: 0px none;}
header .navbar-default .navbar-toggle, .navbar-default .navbar-toggle {background: #56bdde; border-radius: 0px;border: 0px none;}
header .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background: #56bdde; border-radius: 0px; border: 0px none;}
header .navbar-default .navbar-toggle .icon-bar {background: #fff;}
header .navbar-nav { margin-left: 0px; margin-right: 0px;}
header .headermain { padding: 25px 0;}
.slider .carousel-inner .carousel-caption { text-align: center;}
.slider .carousel-inner .carousel-caption p { font-size: 16px;}
.slider .carousel-inner .item { margin-bottom: 0px;}
.slider .carousel-indicators { bottom: 0px;}
.content{ padding-bottom: 0px;}
.content .home-products .product-detail {min-height: 120px; text-align: center;}
.content .home-products .product-detail img { display: inline;}
.content .home-products a { display: block; padding: 10px 0 0;}
footer .footer-contact { text-align: center;}
footer .footer-contact p { padding: 10px;}
footer .footer-detail .counter-detail a { font-size: 16px;}
footer .footer-detail .counter-detail a  span{ font-size: 14px;}
.content.quienes-content .quienes-team-detail { text-align: center;}
 .content.quienes-content .quienes-team-detail:last-child   { margin-bottom: 20px;}
.content.quienes-content .quienes-team-detail img { display: inline; margin-bottom: 20px;}
header .headertop .social-icon-top { padding:0 15px; width:100%; text-align:center;}
header .headertop .social-icon-top ul { text-align:center; padding:5px 0;}
.banner-energia ,.banner-elocia ,.aguacaliente-banner ,.termotanques-banner,.eficiencia-banner,.bombasbanner,.certificacion-banner,.parquessolares-banner{ min-height:200px;}
.banner-energia .banner-detail , .banner-elocia .banner-detail,.aguacaliente-banner .banner-detail ,.termotanques-banner .banner-detail,.eficiencia-banner .banner-detail ,.bombasbanner .banner-detail,.certificacion-banner .banner-detail ,.parquessolares-banner .banner-detail  { padding:40px 0 0 0;}
.banner-energia .banner-detail h1 ,.banner-elocia .banner-detail h1,.aguacaliente-banner .banner-detail h1,.termotanques-banner .banner-detail h1,.eficiencia-banner .banner-detail h1,.bombasbanner .banner-detail h1 ,.certificacion-banner .banner-detail h1,.parquessolares-banner .banner-detail h1 { font-size:18px; line-height:34px;}
.content .top-contact { text-align:center;}
.content.energia-solar-content .pannel-solar-detail .pannel-solar-right { padding-top:0px;}
.content .list-detail-blue ul { padding-left:0px; text-align:left;}
.content .elocia-product .product-detail { margin-left:0px;}
.content .elocia-product .product-detail { padding-left:20px;}
 .content .certificacion-bottom ul li { width:50%; margin-bottom:20px;} 
 .content.contact-content .contact-right { padding-left:15px;}
} 

@media screen and (max-width: 640px) { 
footer .footer-contact .chat-bottom { float:none; text-align:center;}
	.content.quienes-content .quienes-team-detail { width: 100%;}
	.content.quienes-content .quienes-detail { text-align: center;}
	.content .report-content {   padding-bottom: 20px;}
}
@media screen and (max-width: 480px) {
header  .navbar-brand { text-align: center;}
header  .navbar-brand > img { display: inline;max-width: 80%; }
header .headermain .navbar-default .navbar-brand { display: block;width: 100%; text-align: center;}
header .headermain { padding-bottom: 0px;}
.slider .carousel-inner .carousel-caption p { font-size: 12px;}
.content .home-products .product-detail { width: 100%;}
footer .footer-detail .counter-detail { max-width: 100%;}
footer .footer-detail .counter-detail a { margin-bottom: 10px;}
 .content .certificacion-bottom ul li  { width:100%;}
 #habla_window_div { right:0px !important;}
}
@media screen and (max-width: 380px) {
header .headertop .contact-detail-top p { display: block;}
header .headertop .contact-detail-top p a{ display: block;}
}



@media (min-width:768px){
.dropdown:hover .dropdown-menu { display:block;}
}

.nanogallery_theme_clean .nanoGalleryBreadcrumb .folder:hover,
.nanogallery_theme_clean .nanoGalleryBreadcrumb .folderHome:hover,
.nanogallery_theme_clean .nanoGalleryBreadcrumb .separator:hover{
	color: #989898;
}